<div class="py-5 px-3 md:p-5 xl:p-4 xl:mt-6">
  <div class="flex align-items-center">
    <h1>{{ currentUser()?.fullName }}</h1>

    @if (isMedium() && showEdit()) {
      <p-button class="ml-auto" [label]="'myProfile.editProfile' | translate" (click)="toProfileSettings()"></p-button>
    }
  </div>

  <div class="flex flex-column gap-4 mt-4 md:gap-5 xl:flex-row xl:justify-content-between">
    <div class="flex flex-column gap-3 xl:gap-4">
      @if (currentUser()?.employment?.length) {
        <p class="font-bold">
          {{ currentUser()?.employment?.[0]?.title }},
          {{ currentUser()?.employment?.[0]?.institution }}
        </p>
      }

      <p class="font-normal">
        {{ 'myProfile.memberSince' | translate }}: {{ currentUser()?.dateRegistered | date: 'MMM d, yyyy' }}
      </p>
    </div>

    <div class="flex flex-column gap-4 xl:align-items-end xl:flex-1 min-w-0">
      <div class="flex flex-column gap-3 md:flex-row xl:gap-4 w-full">
        @if (currentUser()?.social?.orcid) {
          <div class="flex flex-row align-items-center gap-2">
            <img ngSrc="assets/icons/colored/orcid.svg" width="16" height="16" alt="orcid" />
            <a class="font-bold" [href]="'https://orcid.org/' + currentUser()?.social?.orcid">
              https://orcid.org/{{ currentUser()?.social?.orcid }}
            </a>
          </div>
        }

        <div class="flex flex-row align-items-center gap-2">
          <img ngSrc="assets/icons/colored/cos-shield.svg" width="16" height="16" alt="cos-shield" />
          <a class="font-bold" [href]="currentUser()?.link">{{ currentUser()?.link }}</a>
        </div>
      </div>

      @if (isEmploymentAndEducationVisible()) {
        <div class="flex flex-column gap-3 md:flex-row xl:gap-4 w-full">
          @if (currentUser()?.education?.length) {
            <div class="flex flex-row align-items-center gap-2 flex-1 min-w-0">
              <i class="fas fa-landmark"></i>
              <h3 class="font-bold text-overflow-ellipsis overflow-hidden white-space-nowrap">
                {{ currentUser()?.education?.[0]?.institution }}
              </h3>
            </div>
          }

          @if (currentUser()?.employment?.length) {
            <div class="flex flex-row align-items-center gap-2">
              <img ngSrc="assets/icons/colored/cos-shield.svg" width="16" height="16" alt="cos-shield" />
              <h3 class="font-bold">
                {{ currentUser()?.employment?.[0]?.institution }}
              </h3>
            </div>
          }
        </div>
      }

      <div class="flex flex-wrap align-items-center gap-3">
        @for (social of userSocials(); track social.alt) {
          <a class="cursor-pointer custom-light-hover" [href]="social.url" target="_blank" rel="noopener noreferrer">
            <img [ngSrc]="social.icon" width="24" height="24" [alt]="social.alt | translate" />
          </a>
        }
      </div>

      @if (!isMedium() && showEdit()) {
        <div class="btn-full-width">
          <p-button
            class="ml-auto"
            [label]="'myProfile.editProfile' | translate"
            (onClick)="toProfileSettings()"
          ></p-button>
        </div>
      }
    </div>
  </div>
</div>

@if (isEmploymentAndEducationVisible()) {
  <div class="cards flex flex-column gap-4 py-4 px-3 md:px-5 xl:flex-row xl:px-4">
    @if (currentUser()?.employment?.length) {
      <div class="card w-full p-3 md:p-4 xl:w-6">
        <h2 class="mb-3">{{ 'settings.profileSettings.tabs.employment' | translate }}</h2>

        <osf-employment-history [employment]="currentUser()?.employment | sortByDate"></osf-employment-history>
      </div>
    }

    @if (currentUser()?.education?.length) {
      <div class="card w-full p-3 md:p-4 xl:w-6">
        <h2 class="mb-3">{{ 'settings.profileSettings.tabs.education' | translate }}</h2>

        <osf-education-history [education]="currentUser()?.education | sortByDate"></osf-education-history>
      </div>
    }
  </div>
}
