<section class="flex flex-column flex-1">
  <osf-sub-header
    [showButton]="true"
    [buttonLabel]="'project.metadata.addCommunityMetadataRecord.title' | translate"
    (buttonClick)="openAddRecord()"
    [title]="'project.overview.metadata.title' | translate"
  />

  <p-tabView [activeIndex]="activeTabIndex()" (activeIndexChange)="onTabChange($event)" class="flex-1">
    @for (tab of tabs(); track tab.id) {
      <p-tabPanel [header]="tab.label">
        @if (tab.type === 'project') {
          @if (highlightedSubjectsLoading() && currentProjectLoading()) {
            <div class="flex-1 mt-4 md:mt-8 lg:pt-5">
              <osf-loading-spinner />
            </div>
          } @else {
            <div class="flex-column flex flex-1 w-full">
              <div class="p-6 bg-white">
                <div class="grid w-full">
                  <div class="col-12 lg:col-6 flex flex-column gap-4">
                    <p-card>
                      <div class="flex justify-content-between flex-wrap gap-4">
                        <div class="flex flex-column gap-2 flex-1">
                          <h3 class="text-lg font-semibold m-0">
                            {{ 'project.overview.metadata.dateCreated' | translate }}
                          </h3>
                          <p class="m-0 text-color-secondary">
                            {{ currentProject()?.dateCreated | date: 'MMM d, y, h:mm a' }}
                          </p>
                        </div>

                        <div class="flex flex-column gap-2 flex-1">
                          <h3 class="text-lg font-semibold m-0">
                            {{ 'project.overview.metadata.dateUpdated' | translate }}
                          </h3>
                          <p class="m-0 text-color-secondary">
                            {{ currentProject()?.dateModified | date: 'MMM d, y, h:mm a' }}
                          </p>
                        </div>
                      </div>
                    </p-card>

                    <osf-project-metadata-contributors
                      (openEditContributorDialog)="openEditContributorDialog()"
                      [currentProject]="currentProject()"
                    />

                    <osf-project-metadata-description
                      (openEditDescriptionDialog)="openEditDescriptionDialog()"
                      [currentProject]="currentProject()"
                    />

                    <osf-project-metadata-resource-information
                      (openEditResourceInformationDialog)="openEditResourceInformationDialog()"
                      [customItemMetadata]="customItemMetadata()"
                    />

                    <osf-project-metadata-funding
                      (openEditFundingDialog)="openEditFundingDialog()"
                      [currentProject]="currentProject()"
                    />

                    <osf-project-metadata-affiliated-institutions
                      (openEditAffiliatedInstitutionsDialog)="openEditAffiliatedInstitutionsDialog()"
                      [currentProject]="currentProject()"
                    />
                  </div>

                  <div class="col-12 lg:col-6 flex flex-column gap-4">
                    <osf-project-metadata-license
                      (openEditLicenseDialog)="openEditLicenseDialog()"
                      [currentProject]="currentProject()"
                    />

                    <osf-project-metadata-publication-doi
                      (openEditPublicationDoiDialog)="handleEditDoi()"
                      [currentProject]="currentProject()"
                    />

                    <osf-project-metadata-tags
                      (tagsChanged)="onTagsChanged($event)"
                      [currentProject]="currentProject()"
                    />

                    <osf-project-metadata-subjects
                      (subjectsChanged)="onSubjectsChanged($event)"
                      [currentProject]="currentProject()"
                      [subjectsList]="highlightedSubjects()"
                    />
                  </div>
                </div>
              </div>
            </div>
          }
        } @else {
          <div class="p-6">
            @if (selectedCedarTemplate() && selectedCedarRecord()) {
              <osf-cedar-template-form
                [template]="selectedCedarTemplate()!"
                [existingRecord]="selectedCedarRecord()!"
                [readonly]="cedarFormReadonly()"
                [showEditButton]="true"
                (emitData)="onCedarFormSubmit($event)"
                (changeTemplate)="onCedarFormChangeTemplate()"
                (editMode)="onCedarFormEdit()"
              />
            } @else {
              <div class="text-center py-8">
                <p class="text-lg mb-4">{{ 'project.metadata.addMetadata.loadingCedar' | translate }}</p>
                <p class="text-sm text-gray-600">{{ tab.label }}</p>
              </div>
            }
          </div>
        }
      </p-tabPanel>
    }
  </p-tabView>
</section>
