<div class="dialog-container">
  <div [innerHTML]="messageKey() | translate"></div>
  <div class="flex mt-6 gap-3 justify-content-end">
    <p-button
      [label]="'project.overview.dialog.makePublic.cancelButton' | translate"
      severity="info"
      (onClick)="dialogRef.close()"
      [disabled]="isSubmitting()"
    />
    <p-button
      [label]="
        isCurrentlyPublic()
          ? ('project.overview.dialog.makePrivate.confirmButton' | translate)
          : ('project.overview.dialog.makePublic.confirmButton' | translate)
      "
      (onClick)="toggleProjectPublicity()"
      [disabled]="isSubmitting()"
      [loading]="isSubmitting()"
    />
  </div>
</div>
