<div>
  @if (isSubmitting()) {
    <osf-loading-spinner></osf-loading-spinner>
  } @else {
    @if (isInformationStep()) {
      <div [innerHTML]="messageKey() | translate"></div>
    } @else {
      <div>
        <p>{{ 'project.overview.dialog.adjustPrivacySetting' | translate }}</p>
        <p class="mt-4">{{ 'project.overview.dialog.checkedProjects' | translate }}</p>
        <p class="mt-3">{{ 'project.overview.dialog.uncheckedComponents' | translate }}</p>

        <div class="mt-4">
          <osf-components-selection-list
            [(components)]="componentsList"
            [disabledTooltip]="'project.overview.dialog.privacySettingsPermissionTooltip'"
          ></osf-components-selection-list>
        </div>
      </div>
    }
  }

  <div class="flex mt-5 gap-3 justify-content-between md:justify-content-end">
    <p-button
      [label]="'common.buttons.cancel' | translate"
      severity="info"
      (onClick)="dialogRef.close()"
      [disabled]="isSubmitting()"
      styleClass="w-full"
      class="w-full md:w-auto"
    />
    <p-button
      [label]="(isInformationStep() ? 'common.buttons.continue' : 'common.buttons.confirm') | translate"
      (onClick)="toggleProjectPublicity()"
      [disabled]="isSubmitting()"
      styleClass="w-full"
      class="w-full md:w-auto"
    />
  </div>
</div>
