<section [class.desktop]="isDesktop()" class="flex flex-column flex-1">
  <osf-sub-header [title]="'navigation.project.settings' | translate" />

  <div class="flex-column flex flex-1 w-full">
    <p-tabpanels role="tablist" class="flex flex-column gap-4 flex-1 w-full bg-white" [class.mobile]="!isDesktop()">
      <osf-settings-project-form-card
        [formGroup]="projectForm"
        (submitForm)="submitForm()"
        (resetForm)="resetForm()"
      ></osf-settings-project-form-card>

      <osf-settings-storage-location-card
        [location]="'United States'"
        [locationText]="'Storage location cannot be changed after project is created.'"
      ></osf-settings-storage-location-card>

      <osf-settings-view-only-links-card (deleteTableItem)="deleteLinkItem($event)" [tableData]="tableData" />

      <osf-settings-access-requests-card
        (accessRequestChange)="onAccessRequestChange($event)"
        [accessRequest]="accessRequest()"
      />

      <osf-settings-wiki-card
        (wikiChangeEmit)="onWikiRequestChange($event)"
        (anyoneCanEditWikiEmitValue)="onAnyoneCanEditWikiRequestChange($event)"
        [wikiEnabled]="wikiEnabled()"
        [anyoneCanEditWiki]="anyoneCanEditWiki()"
      />

      <osf-settings-commenting-card
        (anyoneCanCommentChange)="onAnyoneCanCommentRequestChange($event)"
        [anyoneCanComment]="anyoneCanComment()"
      />

      <p-card>
        <h3 class="text-xl pb-4">{{ 'myProjects.settings.emailNotifications' | translate }}</h3>

        <p class="pb-4">{{ 'myProjects.settings.emailNotificationsText' | translate }}</p>

        <osf-project-detail-setting-accordion
          [title]="'Project name example'"
          [rightControls]="rightControls['notifications']"
        >
          <div class="flex align-items-baseline gap-2">
            <i class="pi pi-minus text-sm icon-space"></i>
            <span>Sub text</span>
          </div>
        </osf-project-detail-setting-accordion>
      </p-card>

      <osf-settings-redirect-link
        (redirectUrlDataChange)="onRedirectUrlDataRequestChange($event)"
        [redirectUrlDataInput]="redirectUrlData()"
      />

      <p-card>
        <h3 class="text-xl pb-4">{{ 'myProjects.settings.projectAffiliation' | translate }}</h3>

        <p>{{ 'myProjects.settings.projectsCanBeAffiliated' | translate }}</p>

        <ol class="list-disc ml-5" role="list">
          <li class="list-disc">{{ 'myProjects.settings.institutionalLogos' | translate }}</li>
          <li class="list-disc">{{ 'myProjects.settings.publicProjectsToBeDiscoverable' | translate }}</li>
          <li class="list-disc">{{ 'myProjects.settings.singleSignInToTHeOSF' | translate }}</li>
          <li class="list-disc">
            <a href="https://help.osf.io/article/406-faqs-home-page" target="_blank">{{
              'myProjects.settings.faq' | translate
            }}</a>
          </li>
        </ol>

        <div class="flex flex-column gap-3 w-full mt-5">
          @for (affiliation of affiliations; track $index) {
            <div
              class="flex justify-content-between align-items-center w-full border-bottom-1 border-gray-300 pb-2 pr-2 sm:pr-4"
            >
              <div class="flex align-items-center gap-3">
                <img ngSrc="assets/images/cos-shield.svg" alt="cos-shield" width="44" height="44" />

                <p>{{ affiliation.name }}</p>
              </div>

              <p-button ariaLabel="Delete affiliation" class="btn-icon-text form-btn icon-copy-btn button-shadow-none">
                <i class="osf-icon-trash delete-icon"></i>
              </p-button>
            </div>
          }
        </div>
      </p-card>
    </p-tabpanels>
  </div>
</section>
