<section class="flex flex-column flex-1">
  <osf-sub-header [title]="'navigation.settings' | translate" />

  @if (areProjectDetailsLoading() || areNotificationsLoading()) {
    <osf-loading-spinner />
  } @else {
    <div class="flex flex-column flex-1 gap-4 w-full bg-white py-4 px-3 md:px-5 xl:px-4">
      @if (hasWriteAccess()) {
        <osf-settings-project-form-card
          (submitForm)="submitForm($event)"
          (deleteProject)="deleteProject()"
          [projectDetails]="projectDetails()"
          [canDelete]="hasAdminAccess()"
        />

        <osf-settings-storage-location-card
          [location]="projectDetails().region?.name ?? ''"
          [locationText]="'myProjects.settings.storageLocationMessage' | translate"
        ></osf-settings-storage-location-card>

        @if (hasAdminAccess()) {
          <osf-settings-view-only-links-card
            id="view-only-links"
            [tableData]="viewOnlyLinks()"
            [isLoading]="isViewOnlyLinksLoading()"
            (deleteTableItem)="deleteLinkItem($event)"
          />

          <osf-settings-access-requests-card
            (accessRequestChange)="onAccessRequestChange($event)"
            [accessRequest]="accessRequest()"
          />
        }

        <osf-settings-wiki-card
          (wikiChangeEmit)="onWikiRequestChange($event)"
          (anyoneCanEditWikiEmitValue)="onAnyoneCanEditWikiRequestChange($event)"
          [wikiEnabled]="wikiEnabled()"
          [anyoneCanEditWiki]="anyoneCanEditWiki()"
          [title]="projectDetails().title"
          [isPublic]="projectDetails().isPublic"
        />
      }

      <osf-project-setting-notifications
        (notificationEmitValue)="onNotificationRequestChange($event)"
        [title]="projectDetails().title"
        [notifications]="notifications()"
      />

      <osf-settings-project-affiliation
        [canEdit]="hasWriteAccess()"
        [affiliations]="projectDetails().affiliatedInstitutions"
        (removed)="removeAffiliation($event)"
      ></osf-settings-project-affiliation>
    </div>
  }
</section>
