@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

:host {
  @include mix.flex-column;
  flex: 1;
}

.icon-space {
  padding: mix.rem(12px) mix.rem(18px);
}

.input-label {
  color: var.$dark-blue-1;
  margin-bottom: 0;
}

.delete-icon {
  &:before {
    color: var.$red-3;
    cursor: pointer;
  }
}
