@use "assets/styles/variables" as var;

:host {
  background-color: var.$white;

  .container {
    margin-top: 4.5rem;
    padding: 1.7rem;
    color: var.$dark-blue-1;

    h1 {
      margin-bottom: 3.4rem;
    }

    h2 {
      margin-bottom: 0.9rem;
    }

    p {
      margin-bottom: 1.7rem;
    }

    a {
      font-weight: 700;
    }
  }
}
