<section class="registration-card">
  <p-card>
    @if (registrationData()) {
      <div class="flex gap-3 flex-column">
        <div class="flex align-items-center flex-wrap gap-2 w-full">
          <osf-icon [iconClass]="registrationData().public ? 'fas fa-lock-open' : 'fas fa-lock'"></osf-icon>
          <h2 class="align-self-center word-break-word">
            {{ registrationData().title || 'project.registrations.card.noTitle' | translate }}
          </h2>
          @if (!isDraft()) {
            <osf-status-badge [status]="registrationData().status" />
          }
        </div>
        <div
          class="flex flex-wrap flex-column justify-content-between align-items-start gap-5 lg:flex-nowrap lg:flex-row"
        >
          <div class="flex gap-3 flex-column w-full">
            <div class="flex gap-2 mt-1">
              <strong>{{ 'project.registrations.card.registrationTemplate' | translate }}</strong>
              <span>{{ registrationData().registrationTemplate }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.registry' | translate }}</strong>
              <span>{{ registrationData().registry }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.registered' | translate }}</strong>
              <span>{{ registrationData().dateCreated | date: 'medium' }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.lastUpdated' | translate }}</strong>
              <span>{{ registrationData().dateModified | date: 'medium' }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.overview.metadata.contributors' | translate }}:</strong>
              <span class="contributors">
                @for (contributor of registrationData().contributors; track contributor) {
                  <a class="font-bold" [routerLink]="['/user', contributor.userId]">{{ contributor.fullName }}</a>
                  @if (!$last) {
                    <span>, </span>
                  }
                }
              </span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.description' | translate }}</strong>
              <osf-truncated-text
                [text]="registrationData().description || 'project.registrations.card.noDescription' | translate"
              />
            </div>
            <div class="flex gap-2 mt-1">
              @if (isDraft()) {
                @if (hasAdminAccess) {
                  <p-button
                    severity="primary"
                    [label]="'common.buttons.review' | translate"
                    [routerLink]="['/registries/drafts/', registrationData().id, 'review']"
                    routerLinkActive="router-link-active"
                  />
                  <p-button
                    severity="secondary"
                    [label]="'common.buttons.edit' | translate"
                    [routerLink]="['/registries/drafts/', registrationData().id, 'metadata']"
                  />
                  <p-button
                    severity="danger"
                    [label]="'common.buttons.delete' | translate"
                    class="md:ml-auto"
                    (onClick)="deleteDraft.emit(registrationData().id)"
                  />
                }
              } @else {
                <p-button
                  severity="primary"
                  [routerLink]="['/' + registrationData().id, 'overview']"
                  routerLinkActive="router-link-active"
                  [label]="'common.buttons.view' | translate"
                ></p-button>
                @if (showButtons) {
                  @if (isApproved) {
                    <p-button
                      severity="secondary"
                      (onClick)="updateRegistration(registrationData().id)"
                      [label]="'common.buttons.update' | translate"
                    ></p-button>
                  }
                  @if (isInProgress || isUnapproved) {
                    <p-button
                      severity="secondary"
                      (onClick)="continueUpdateRegistration(registrationData().id)"
                      [label]="'common.buttons.continueUpdate' | translate"
                    ></p-button>
                  }
                }
              }
            </div>
          </div>

          @if (isApproved) {
            <div class="flex flex-column min-w-max">
              <h3 class="mb-3">{{ 'shared.resources.title' | translate }}</h3>
              <osf-data-resources
                [vertical]="true"
                [absoluteUrl]="registrationData().id"
                [hasData]="registrationData().hasData"
                [hasAnalyticCode]="registrationData().hasAnalyticCode"
                [hasMaterials]="registrationData().hasMaterials"
                [hasPapers]="registrationData().hasPapers"
                [hasSupplements]="registrationData().hasSupplements"
              ></osf-data-resources>
            </div>
          }
        </div>
      </div>
    }
  </p-card>
</section>
