<section class="registration-card">
  <p-card>
    @if (registrationData()) {
      <div class="flex gap-3 flex-column">
        <div class="flex flex-wrap gap-2 w-full">
          @if (registrationData().public) {
            <i class="osf-icon-padlock-unlock"></i>
          } @else {
            <i class="osf-icon-padlock"></i>
          }
          <h2 class="align-self-center">
            {{ registrationData().title || 'project.registrations.card.noTitle' | translate }}
          </h2>
          <!--
          @if (registrationData().status === RegistrationStatus.InProgress) {
            <p-tag severity="warn" value="Update In Progress" />
          }

          @if (registrationData().status === RegistrationStatus.PendingWithdraw) {
            <p-tag severity="secondary" value="Withdrawn" />
          } 
          -->
          @if (!isDraft()) {
            <osf-status-badge [status]="registrationData().status" />
          }
        </div>
        <div class="flex flex-wrap flex-column lg:flex-nowrap lg:flex-row justify-content-between gap-5">
          <div class="flex gap-3 flex-column w-full">
            <div class="flex gap-2 mt-1">
              <strong>{{ 'project.registrations.card.registrationTemplate' | translate }}</strong>
              <span>{{ registrationData().registrationTemplate }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.registry' | translate }}</strong>
              <span>{{ registrationData().registry }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.registered' | translate }}</strong>
              <span>{{ registrationData().dateCreated | date: 'medium' }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.lastUpdated' | translate }}</strong>
              <span>{{ registrationData().dateModified | date: 'medium' }}</span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.overview.metadata.contributors' | translate }}:</strong>
              <span class="contributors">
                @for (contributor of registrationData().contributors; track contributor) {
                  <a [href]="">{{ contributor.fullName }}</a>
                  @if (!$last) {
                    <span>, </span>
                  }
                }
              </span>
            </div>

            <div class="flex gap-2">
              <strong>{{ 'project.registrations.card.description' | translate }}</strong>
              <p>{{ registrationData().description || 'project.registrations.card.noDescription' | translate }}</p>
            </div>
            <div class="flex gap-2 mt-1">
              @if (isDraft()) {
                <p-button
                  severity="primary"
                  [label]="'common.buttons.review' | translate"
                  [routerLink]="['../drafts/', registrationData().id, 'review']"
                  routerLinkActive="router-link-active"
                ></p-button>
                <p-button
                  severity="secondary"
                  [label]="'common.buttons.edit' | translate"
                  [routerLink]="['../drafts/', registrationData().id, 'metadata']"
                ></p-button>
                <p-button
                  severity="danger"
                  [label]="'common.buttons.delete' | translate"
                  class="md:ml-auto"
                  (click)="deleteDraft.emit(registrationData().id)"
                ></p-button>
              } @else {
                <p-button
                  severity="primary"
                  [routerLink]="['../', registrationData().id, 'overview']"
                  routerLinkActive="router-link-active"
                  [label]="'common.buttons.view' | translate"
                ></p-button>
                @if (registrationData().status === RegistrationStatus.InProgress) {
                  <p-button severity="secondary" [label]="'common.buttons.update' | translate"></p-button>
                }
              }
            </div>
          </div>

          @if (registrationData().revisionState === RevisionReviewStates.Approved) {
            <div class="flex flex-column min-w-max">
              <h3 class="mb-1">{{ 'shared.resources.title' | translate }}</h3>
              <osf-data-resources
                [vertical]="true"
                [resourceId]="registrationData().id"
                [hasData]="registrationData().hasData"
                [hasAnalyticCode]="registrationData().hasAnalyticCode"
                [hasMaterials]="registrationData().hasMaterials"
                [hasPapers]="registrationData().hasPapers"
                [hasSupplements]="registrationData().hasSupplements"
              ></osf-data-resources>
            </div>
          }
        </div>
      </div>
    }
  </p-card>
</section>
