<p-table [value]="isLoading() ? skeletonData : contributors()" [scrollable]="true" class="view-only-table">
  <ng-template #header>
    <tr>
      <th>{{ 'project.contributors.table.headers.name' | translate }}</th>
      <th>
        <div class="flex align-items-center">
          <span>{{ 'project.contributors.table.headers.permissions' | translate }}</span>

          @if (showInfo()) {
            <i class="fas fa-circle-info blue-icon ml-1" [pTooltip]="permissionsTooltip" tooltipPosition="top"></i>
          }
        </div>
      </th>

      <th>
        <div class="flex align-items-center justify-content-center">
          <span>{{ 'project.contributors.table.headers.contributor' | translate }}</span>

          @if (showInfo()) {
            <i class="fas fa-circle-info blue-icon ml-1" [pTooltip]="contributorTooltip" tooltipPosition="top"></i>
          }
        </div>
      </th>

      <th>
        <div class="flex align-items-center justify-content-center">
          <span>{{ 'project.contributors.table.headers.curator' | translate }}</span>

          @if (showInfo()) {
            <i class="fas fa-circle-info blue-icon ml-1" [pTooltip]="curatorTooltip" tooltipPosition="top"></i>
          }
        </div>
      </th>
      @if (showEmployment()) {
        <th>{{ 'project.contributors.table.headers.employment' | translate }}</th>
      }
      @if (showEducation()) {
        <th>{{ 'project.contributors.table.headers.education' | translate }}</th>
      }
      <th></th>
    </tr>
  </ng-template>

  <ng-template #body let-contributor let-index="rowIndex">
    @if (contributor.id) {
      <tr class="select-none">
        <td>
          <p class="flex align-items-center gap-2">
            <span>{{ contributor.fullName }}</span>
          </p>
        </td>
        <td>
          <div class="w-9rem">
            <osf-select
              [options]="permissionsOptions"
              [placeholder]="'project.contributors.permissionFilter'"
              [appendTo]="'body'"
              [noBorder]="true"
              [fullWidth]="true"
              [(selectedValue)]="contributor.permission"
            />
          </div>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center">
            <p-checkbox
              variant="filled"
              binary="true"
              [(ngModel)]="contributor.isBibliographic"
              [ariaLabel]="'project.contributors.table.headers.contributor' | translate"
              [disabled]="contributor.deactivated"
            ></p-checkbox>
          </div>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center">
            <p-checkbox
              variant="filled"
              binary="true"
              [ngModel]="contributor.isCurator"
              [disabled]="true"
              [ariaLabel]="'project.contributors.curatorInfo.heading' | translate"
            ></p-checkbox>
          </div>
        </td>
        @if (showEmployment()) {
          <td>
            @if (contributor.employment?.length) {
              <p-button
                link
                class="link-btn-no-padding"
                [label]="'project.contributors.employment.show' | translate"
                (onClick)="openEmploymentHistory(contributor)"
                (keydown.enter)="openEmploymentHistory(contributor)"
              />
            } @else {
              <span>{{ 'project.contributors.employment.none' | translate }}</span>
            }
          </td>
        }
        @if (showEducation()) {
          <td>
            <div class="flex column-gap-2">
              @if (contributor.education?.length) {
                <p-button
                  link
                  class="link-btn-no-padding"
                  [label]="'project.contributors.education.show' | translate"
                  (onClick)="openEducationHistory(contributor)"
                  (keydown.enter)="openEducationHistory(contributor)"
                />
              } @else {
                <span>{{ 'project.contributors.education.none' | translate }}</span>
              }
            </div>
          </td>
        }
        <td>
          <p-button
            icon="fas fa-check"
            severity="success"
            text
            [ariaLabel]="'common.buttons.accept' | translate"
            (onClick)="acceptContributor(contributor)"
            data-test-accept-contributor-button
          />

          <p-button
            icon="fas fa-xmark"
            severity="danger"
            text
            [ariaLabel]="'common.buttons.reject' | translate"
            (onClick)="rejectContributor(contributor)"
            data-test-reject-contributor-button
          />
        </td>
      </tr>
    } @else {
      <tr class="loading-row">
        <td colspan="7">
          <p-skeleton width="100%" height="3.3rem" borderRadius="0" />
        </td>
      </tr>
    }
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7" class="text-center">{{ 'project.contributors.table.emptyMessage' | translate }}</td>
    </tr>
  </ng-template>
</p-table>

<ng-template #permissionsTooltip>
  <div class="flex flex-column row-gap-3">
    <h2>{{ 'project.contributors.permissionInfo.title' | translate }}</h2>

    <div class="inside-list">
      <p class="font-bold">{{ 'project.contributors.permissions.read' | translate }}</p>
      <ul class="font-normal ml-4">
        <li>
          {{
            (isProject()
              ? 'project.contributors.permissionInfo.viewProjectContent'
              : 'project.contributors.permissionInfo.viewRegistrationContent'
            ) | translate
          }}
        </li>
      </ul>
    </div>

    <div class="inside-list">
      <p class="font-bold">{{ 'project.contributors.permissions.readAndWrite' | translate }}</p>
      <ul class="font-normal ml-4">
        <li>{{ 'project.contributors.permissionInfo.read' | translate }}</li>
        <li>
          {{
            (isProject()
              ? 'project.contributors.permissionInfo.addComponents'
              : 'project.contributors.permissionInfo.editMetadata'
            ) | translate
          }}
        </li>
        <li>
          {{
            (isProject()
              ? 'project.contributors.permissionInfo.editContent'
              : 'project.contributors.permissionInfo.addResourcesLinks'
            ) | translate
          }}
        </li>
      </ul>
    </div>

    <div class="inside-list">
      <p class="font-bold">{{ 'project.contributors.permissions.administrator' | translate }}</p>
      <ul class="font-normal ml-4">
        <li>{{ 'project.contributors.permissionInfo.readWrite' | translate }}</li>
        <li>{{ 'project.contributors.permissionInfo.manageContributors' | translate }}</li>
        <li>
          {{
            (isProject()
              ? 'project.contributors.permissionInfo.deleteRegister'
              : 'project.contributors.permissionInfo.withdrawRegistration'
            ) | translate
          }}
        </li>
        <li>
          {{
            (isProject()
              ? 'project.contributors.permissionInfo.publicPrivate'
              : 'project.contributors.permissionInfo.endEmbargoEarly'
            ) | translate
          }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #contributorTooltip>
  <div class="flex flex-column row-gap-3">
    <h2>{{ 'project.contributors.bibliographicContributorInfo.heading' | translate }}</h2>

    <span>
      {{
        (isProject()
          ? 'project.contributors.bibliographicContributorInfo.projectDescription'
          : 'project.contributors.bibliographicContributorInfo.registrationDescription'
        ) | translate
      }}
    </span>
  </div>
</ng-template>

<ng-template #curatorTooltip>
  <div class="flex flex-column row-gap-3">
    <h2>{{ 'project.contributors.curatorInfo.heading' | translate }}</h2>

    <span>{{
      (isProject()
        ? 'project.contributors.curatorInfo.projectDescription'
        : 'project.contributors.curatorInfo.registrationDescription'
      ) | translate
    }}</span>
  </div>
</ng-template>
