@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.cards {
  background-color: var.$white;
}

.card {
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(12px);
}

:host {
  flex: 1;
}
