<div class="user-info">
  <div class="name-container wide-button">
    <h1>{{ currentUser()?.fullName }}</h1>
    @if (!isMobile()) {
      <p-button label="Edit Profile" class="ml-auto" (click)="toProfileSettings()"></p-button>
    }
  </div>

  <div class="description-container">
    <div class="title-date-wrapper wide-button">
      <h3>
        {{ currentUser()?.employment?.[0]?.title }},
        {{ currentUser()?.employment?.[0]?.institution }}
      </h3>

      <h3 class="font-normal">Member since: {{ currentUser()?.dateRegistered | date: 'MMM d, yyyy' }}</h3>
    </div>

    <div class="data-wrapper">
      <div class="user-fields-wrapper">
        @if (currentUser()?.social?.orcid) {
          <div class="flex flex-row align-items-center gap-2">
            <img ngSrc="assets/icons/colored/orchid.svg" width="16" height="16" alt="orcid" />
            <a class="font-bold" [href]="'https://orcid.org/' + currentUser()?.social?.orcid"
              >https://orcid.org/{{ currentUser()?.social?.orcid }}</a
            >
          </div>
        }

        <div class="flex flex-row align-items-center gap-2">
          <img ngSrc="assets/icons/colored/cos-shield.svg" width="16" height="16" alt="cos-shield" />
          <a class="font-bold" [href]="currentUser()?.link">{{ currentUser()?.link }}</a>
        </div>
      </div>

      <div class="user-fields-wrapper">
        <div class="flex flex-row align-items-center gap-2">
          <i class="osf-icon-institution"></i>
          <h3 class="font-bold">
            {{ currentUser()?.education?.[0]?.institution }}
          </h3>
        </div>

        <div class="flex flex-row align-items-center gap-2">
          <img ngSrc="assets/icons/colored/cos-shield.svg" width="16" height="16" alt="cos-shield" />
          <h3 class="font-bold">
            {{ currentUser()?.employment?.[0]?.institution }}
          </h3>
        </div>
      </div>

      <div class="flex flex-wrap gap-3 align-items-center">
        @if (currentUser()?.social?.github) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.github">
            <img ngSrc="assets/icons/socials/github2.svg" width="24" height="24" alt="github" />
          </a>
        }
        @if (currentUser()?.social?.scholar) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.scholar">
            <img ngSrc="assets/icons/socials/scholar.svg" width="24" height="24" alt="scholar" />
          </a>
        }
        @if (currentUser()?.social?.twitter) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.twitter">
            <img ngSrc="assets/icons/socials/twitter.svg" width="24" height="24" alt="twitter" />
          </a>
        }
        @if (currentUser()?.social?.linkedIn) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.linkedIn">
            <img ngSrc="assets/icons/socials/linkedin2.svg" width="24" height="24" alt="linkedin" />
          </a>
        }
        @if (currentUser()?.social?.impactStory) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.impactStory">
            <img ngSrc="assets/icons/socials/impactstory.png" width="24" height="24" alt="impactstory" />
          </a>
        }
        @if (currentUser()?.social?.baiduScholar) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.baiduScholar">
            <img ngSrc="assets/icons/socials/baidu.png" width="24" height="24" alt="baidu" />
          </a>
        }
        @if (currentUser()?.social?.researchGate) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.researchGate">
            <img ngSrc="assets/icons/socials/researchGate.svg" width="24" height="24" alt="researchGate" />
          </a>
        }
        @if (currentUser()?.social?.researcherId) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.researcherId">
            <img ngSrc="assets/icons/socials/researcherID.png" width="24" height="24" alt="researchId" />
          </a>
        }
        @if (currentUser()?.social?.ssrn) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.researcherId">
            <img ngSrc="assets/icons/socials/ssrn.svg" width="24" height="24" alt="ssrn" />
          </a>
        }
        @if (currentUser()?.social?.academiaProfileID) {
          <a class="cursor-pointer" [href]="currentUser()?.social?.academiaProfileID">
            <img ngSrc="assets/icons/socials/academia.svg" width="24" height="24" alt="academia" />
          </a>
        }
      </div>

      @if (isMobile()) {
        <div class="btn-full-width">
          <p-button label="Edit Profile" class="ml-auto" (click)="toProfileSettings()"></p-button>
        </div>
      }
    </div>
  </div>
</div>

<div class="cards flex flex-column gap-4 py-4 px-3 md:px-5 xl:flex-row xl:px-4">
  <div class="card w-full p-3 md:p-4 xl:w-6">
    <h2 class="mb-3">{{ 'settings.profileSettings.tabs.employment' | translate }}</h2>

    <osf-employment-history [employment]="currentUser()?.employment"></osf-employment-history>
  </div>

  <div class="card w-full p-3 md:p-4 xl:w-6">
    <h2 class="mb-3">{{ 'settings.profileSettings.tabs.education' | translate }}</h2>

    <osf-education-history [education]="currentUser()?.education"></osf-education-history>
  </div>
</div>

<osf-my-profile-search></osf-my-profile-search>
