<div class="user-info">
  <div class="name-container wide-button">
    <h1>{{ currentUser()?.fullName }}</h1>
    @if (!isMobile()) {
      <p-button label="Edit Profile" class="ml-auto" (click)="toProfileSettings()"></p-button>
    }
  </div>

  <div class="description-container">
    <div class="title-date-wrapper wide-button">
      <h3>
        {{ currentUser()?.employment?.[0]?.title }},
        {{ currentUser()?.employment?.[0]?.institution }}
      </h3>
      <h3 class="font-normal">Member since: {{ currentUser()?.dateRegistered | date: 'MMM d, yyyy' }}</h3>
    </div>

    <div class="data-wrapper">
      <div class="user-fields-wrapper">
        @if (currentUser()?.social?.orcid) {
          <div class="flex flex-row align-items-center gap-2">
            <img ngSrc="assets/icons/colored/orchid.svg" width="16" height="16" alt="orcid" />
            <a class="font-bold" [href]="'https://orcid.org/' + currentUser()?.social?.orcid"
              >https://orcid.org/{{ currentUser()?.social?.orcid }}</a
            >
          </div>
        }

        <div class="flex flex-row align-items-center gap-2">
          <img ngSrc="assets/icons/source/cos-shield.svg" width="16" height="16" alt="cos-shield" />
          <a class="font-bold" [href]="currentUser()?.link">{{ currentUser()?.link }}</a>
        </div>
      </div>

      <div class="user-fields-wrapper">
        <div class="flex flex-row align-items-center gap-2">
          <img ngSrc="assets/icons/source/institution.svg" width="16" height="16" alt="institution" />
          <h3 class="font-bold">
            {{ currentUser()?.education?.[0]?.institution }}
          </h3>
        </div>

        <div class="flex flex-row align-items-center gap-2">
          <img ngSrc="assets/icons/source/cos-shield.svg" width="16" height="16" alt="cos-shield" />
          <h3 class="font-bold">
            {{ currentUser()?.employment?.[0]?.institution }}
          </h3>
        </div>
      </div>

      <div class="flex flex-wrap gap-3 align-items-center">
        @if (currentUser()?.social?.github) {
          <a [href]="currentUser()?.social?.github"
            ><img ngSrc="assets/icons/socials/github2.svg" width="24" height="24" alt="github"
          /></a>
        }
        @if (currentUser()?.social?.scholar) {
          <a [href]="currentUser()?.social?.scholar"
            ><img ngSrc="assets/icons/socials/scholar.svg" width="24" height="24" alt="scholar"
          /></a>
        }
        @if (currentUser()?.social?.twitter) {
          <a [href]="currentUser()?.social?.twitter"
            ><img ngSrc="assets/icons/socials/twitter.svg" width="24" height="24" alt="twitter"
          /></a>
        }
        @if (currentUser()?.social?.linkedIn) {
          <a [href]="currentUser()?.social?.linkedIn"
            ><img ngSrc="assets/icons/socials/linkedin2.svg" width="24" height="24" alt="linkedin"
          /></a>
        }
        @if (currentUser()?.social?.impactStory) {
          <a [href]="currentUser()?.social?.impactStory"
            ><img ngSrc="assets/icons/socials/impactstory.png" width="24" height="24" alt="impactstory"
          /></a>
        }
        @if (currentUser()?.social?.baiduScholar) {
          <a [href]="currentUser()?.social?.baiduScholar"
            ><img ngSrc="assets/icons/socials/baidu.png" width="24" height="24" alt="baidu"
          /></a>
        }
        @if (currentUser()?.social?.researchGate) {
          <a [href]="currentUser()?.social?.researchGate"
            ><img ngSrc="assets/icons/socials/researchGate.svg" width="24" height="24" alt="researchGate"
          /></a>
        }
        @if (currentUser()?.social?.researcherId) {
          <a [href]="currentUser()?.social?.researcherId"
            ><img ngSrc="assets/icons/socials/researcherID.png" width="24" height="24" alt="researchId"
          /></a>
        }
        @if (currentUser()?.social?.ssrn) {
          <a [href]="currentUser()?.social?.researcherId"
            ><img ngSrc="assets/icons/socials/ssrn.svg" width="24" height="24" alt="ssrn"
          /></a>
        }
        @if (currentUser()?.social?.academiaProfileID) {
          <a [href]="currentUser()?.social?.academiaProfileID"
            ><img ngSrc="assets/icons/socials/academia.svg" width="24" height="24" alt="ssrn"
          /></a>
        }
      </div>

      @if (isMobile()) {
        <div class="btn-full-width">
          <p-button label="Edit Profile" class="ml-auto" (click)="toProfileSettings()"></p-button>
        </div>
      }
    </div>
  </div>
</div>

<div class="cards">
  <div class="card">
    <h2 class="mb-3">Employment</h2>
    <p-accordion>
      @for (employment of currentUser()?.employment; track $index) {
        <p-accordion-panel value="{{ $index }}" class="accordion-panel">
          <p-accordion-header>
            <div class="title-date">
              <p>{{ employment.institution }}</p>
              <p class="font-normal ml-auto mr-5">
                {{ createDate(employment.startYear, employment.startMonth) | date: 'MMM yyyy' }} -
                @if (employment.ongoing) {
                  ongoing
                } @else {
                  {{ createDate(employment.endYear!, employment.endMonth!) | date: 'MMM yyyy' }}
                }
              </p>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <p>Job title: {{ employment.title }}</p>
            <p>Department / Institute (optional): {{ employment.institution }}</p>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </div>
  <div class="card">
    <h2 class="mb-3">Education</h2>
    <p-accordion>
      @for (education of currentUser()?.education; track $index) {
        <p-accordion-panel value="{{ $index }}" class="accordion-panel">
          <p-accordion-header>
            <div class="title-date">
              <p>{{ education.institution }}</p>
              <p class="font-normal ml-auto mr-5">
                {{ createDate(education.startYear, education.startMonth) | date: 'MMM yyyy' }} -
                @if (education.ongoing) {
                  ongoing
                } @else {
                  {{ createDate(education.endYear!, education.endMonth!) | date: 'MMM yyyy' }}
                }
              </p>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <p>Degree: {{ education.degree }}</p>
            <p>Department / Institute (optional): {{ education.institution }}</p>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </div>
</div>

<osf-my-profile-search></osf-my-profile-search>
