:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contributors {
  background-color: var(--white);
  padding: 1.5rem 1rem 1.5rem 1rem;
  row-gap: 1.5rem;

  .filters-container {
    gap: 0.75rem;
    width: 100%;

    .contributors-filter-container {
      gap: 0.75rem;
    }
  }
}
