<h1 class="py-5 px-3 md:px-5 xl:px-4">{{ 'navigation.contributors' | translate }}</h1>

<section class="contributors flex flex-column align-items-baseline flex-1 w-full p-3 pt-4 md:px-5 xl:px-4">
  @if (hasAdminAccess()) {
    <p-button
      [label]="'project.contributors.addContributor' | translate"
      [disabled]="isContributorsLoading()"
      (onClick)="openAddContributorDialog()"
    ></p-button>
  }

  <div class="filters-container flex flex-column xl:flex-row">
    <div class="xl:w-7">
      <osf-search-input [control]="searchControl" [placeholder]="searchPlaceholder() | translate" />
    </div>

    <div class="contributors-filter-container flex flex-column md:flex-row xl:w-5">
      <div class="w-full md:w-6">
        <p-select
          class="w-full"
          [placeholder]="'project.contributors.permissionFilter' | translate"
          [options]="permissionsOptions"
          optionValue="value"
          [ngModel]="selectedPermission()"
          (ngModelChange)="onPermissionChange($event)"
          showClear="true"
          [disabled]="isContributorsLoading()"
        >
          <ng-template #selectedItem let-selectedOption>
            {{ selectedOption.label | translate }}
          </ng-template>

          <ng-template #item let-item>
            {{ item.label | translate }}
          </ng-template>
        </p-select>
      </div>

      <div class="w-full md:w-6">
        <p-select
          class="w-full"
          [placeholder]="'project.contributors.bibliographyFilter' | translate"
          [options]="bibliographyOptions"
          optionValue="value"
          [ngModel]="selectedBibliography()"
          (ngModelChange)="onBibliographyChange($event)"
          showClear="true"
          [disabled]="isContributorsLoading()"
        >
          <ng-template #selectedItem let-selectedOption>
            {{ selectedOption.label | translate }}
          </ng-template>

          <ng-template #item let-item>
            {{ item.label | translate }}
          </ng-template>
        </p-select>
      </div>
    </div>
  </div>

  <osf-contributors-table
    class="w-full"
    [(contributors)]="contributors"
    [isLoading]="isContributorsLoading()"
    [tableParams]="tableParams()"
    [hasAdminAccess]="hasAdminAccess()"
    [currentUserId]="currentUser()?.id"
    [showCurator]="true"
    [showInfo]="true"
    [resourceType]="resourceType()"
    (remove)="removeContributor($event)"
    (pageChanged)="pageChanged($event)"
  ></osf-contributors-table>

  @if (hasChanges) {
    <div class="flex gap-2 mt-6 w-full">
      <p-button
        class="w-3"
        styleClass="w-full"
        (onClick)="cancel()"
        severity="info"
        [label]="'common.buttons.cancel' | translate"
      >
      </p-button>

      <p-button class="w-3" styleClass="w-full" (onClick)="save()" [label]="'common.buttons.save' | translate">
      </p-button>
    </div>
  }

  @if (showRequestAccessList()) {
    <h1 class="my-4">{{ 'project.requestAccess.requestForAccess' | translate }}</h1>

    <p class="mb-4">{{ 'project.requestAccess.followingUsers' | translate }}</p>

    <osf-request-access-table
      class="w-full"
      [requestAccessList]="requestAccessList()"
      [isLoading]="areRequestAccessListLoading()"
      [resourceType]="resourceType()"
      (accept)="acceptRequest($event)"
      (reject)="rejectRequest($event)"
    ></osf-request-access-table>
  }

  @if (hasAdminAccess()) {
    <div class="flex flex-column row-gap-4 mt-6 w-full">
      <h2>{{ 'project.contributors.viewOnly' | translate }}</h2>

      <p>{{ 'project.contributors.createLink' | translate }}</p>

      <p-button
        class="w-10rem"
        [label]="'project.contributors.createButton' | translate"
        [disabled]="!canCreateViewLink()"
        (onClick)="createViewLink()"
      >
      </p-button>

      <osf-view-only-table
        [isLoading]="isViewOnlyLinksLoading()"
        [tableData]="viewOnlyLinks()"
        (deleteLink)="deleteLinkItem($event)"
      />
    </div>
  }
</section>
