@if (isCurrentResourceLoading() || isResourceConfirming()) {
  <osf-loading-spinner></osf-loading-spinner>
} @else if (isPreviewMode() && currentResource()) {
  <form class="flex flex-column gap-4" [formGroup]="form">
    <p>{{ 'resources.check' | translate }}</p>

    @let resourceType = currentResource()?.type;
    @let iconName = resourceType === 'analytic_code' ? 'code' : resourceType;
    @let icon = `assets/icons/colored/${iconName}-colored.svg`;
    @let resourceName = resourceType === RegistryResourceType.Code ? 'Analytic Code' : resourceType;

    <div class="flex align-content-end gap-3 content">
      <img [src]="icon" alt="resource-type icon" class="align-self-start" />
      <div class="flex flex-column gap-3 mt-1">
        <div class="flex flex-column gap-2">
          <h2>{{ resourceName }}</h2>
          <a [href]="'https://doi/' + currentResource()?.pid">https://doi/{{ currentResource()?.pid }}</a>
        </div>
        <p>{{ currentResource()?.description }}</p>
      </div>
    </div>

    <div class="flex justify-content-between w-full gap-1 btn-full-width">
      <p-button [label]="'common.buttons.edit' | translate" severity="info" (click)="backToEdit()" />
      <p-button [label]="'resources.add' | translate" severity="primary" (onClick)="onAddResource()" />
    </div>
  </form>
} @else {
  <form class="flex flex-column gap-4" [formGroup]="form" (ngSubmit)="previewResource()">
    <!-- add translation-->
    <osf-text-input
      [control]="form.controls['pid']"
      [label]="'DOI'"
      [placeholder]="'https://doi.org/'"
      [maxLength]="inputLimits.name.maxLength"
    >
    </osf-text-input>

    <osf-select
      [fullWidth]="true"
      [options]="resourceOptions()"
      [appendTo]="'body'"
      [(selectedValue)]="selectedResourceType"
      (changeValue)="changeType($event)"
      [placeholder]="'resources.selectAResourceType'"
    />

    <div>
      <label [for]="form.controls['description']">{{ 'resources.descriptionLabel' | translate }}</label>
      <textarea
        class="w-full"
        pTextarea
        id="coi-reason"
        [rows]="3"
        [formControl]="form.controls['description']"
      ></textarea>
    </div>

    <div class="flex justify-content-between w-full gap-1 btn-full-width">
      <p-button [label]="'common.buttons.cancel' | translate" severity="info" (click)="dialogRef.close()" />
      <p-button [label]="'common.buttons.preview' | translate" (onClick)="previewResource()" />
    </div>
  </form>
}
