@use "assets/styles/mixins" as mix;

.advisory-board-section {
  h2 {
    font-size: mix.rem(24px);
    margin-bottom: mix.rem(10px);
  }

  ul {
    margin-left: mix.rem(24px);
    line-height: mix.rem(24px);

    li {
      list-style: disc;
    }
  }
}
