@use "assets/styles/mixins" as mix;

.collections-content {
  background: var(--branding-background-color);
  border-top: none;

  .collections-sub-header {
    margin: mix.rem(48px) mix.rem(28px);

    .collections-logo {
      background: var(--branding-background-color);
    }

    .collections-heading {
      color: var(--branding-secondary-color);
    }

    .collections-heading-btn {
      --p-button-primary-background: var(--branding-primary-color);
      --p-button-primary-border-color: var(--branding-primary-color);
      --p-button-primary-color: var(--branding-secondary-color);
      --p-button-primary-hover-background: var(--branding-primary-color);
      --p-button-primary-hover-border-color: var(--branding-primary-color);
      --p-button-primary-hover-color: var(--branding-secondary-color);
      --p-button-primary-active-background: var(--branding-primary-color);
      --p-button-primary-active-border-color: var(--branding-primary-color);
      --p-button-primary-active-color: var(--branding-secondary-color);
    }
  }

  .search-input-container {
    margin: 0 mix.rem(28px) mix.rem(48px) mix.rem(28px);
    position: relative;

    img {
      position: absolute;
      right: mix.rem(4px);
      top: mix.rem(4px);
      z-index: 1;
    }
  }

  .content-container {
    background: var(--white);
    padding: mix.rem(28px);
  }
}
