<osf-admin-table
  [tableColumns]="tableColumns()"
  [tableData]="tableData()"
  [isLoading]="isLoading()"
  [isNextPreviousPagination]="true"
  [paginationLinks]="preprintsLinks()"
  [reportsLink]="institution().linkToExternalReportsArchive"
  (sortChanged)="onSortChange($event)"
  (linkPageChanged)="onLinkPageChange($event)"
  (downloadClicked)="download($event)"
>
  <div slot="amount">
    <h3 class="title">{{ totalCount() }} {{ 'adminInstitutions.preprints.totalPreprints' | translate | lowercase }}</h3>
  </div>
</osf-admin-table>
