<label [for]="inputId">{{ label() | translate }}</label>
<input
  [id]="inputId"
  pInputText
  [type]="type()"
  [formControl]="control()"
  [attr.aria-describedby]="helpText() ? helpId : null"
  [attr.aria-invalid]="control().invalid && control().touched"
  [minLength]="minLength()"
  [maxLength]="maxLength()"
  [placeholder]="placeholder() | translate"
/>

@if (control().invalid && control().touched) {
  <p-message class="simple-variant" severity="error" variant="simple" size="small">
    {{ getErrorMessage().key | translate: getErrorMessage().params }}
  </p-message>
}

<small [id]="helpId">{{ helpText() | translate }}</small>
