<div class="flex justify-content-between align-items-start pb-3 column-gap-3">
  <div class="flex flex-1 flex-column row-gap-7">
    @if (isMobile()) {
      <osf-select class="text-center" [options]="tabsOptions" [(selectedValue)]="selectedTab"></osf-select>
    }

    @if (searchCount() > 10000) {
      <h3 class="highlight">{{ 'collections.searchResults.10000results' | translate }}</h3>
    } @else if (searchCount() > 0) {
      <h3>{{ searchCount() }} {{ 'collections.searchResults.results' | translate }}</h3>
    } @else {
      <h3 class="highlight">{{ 'collections.searchResults.noResults' | translate }}</h3>
    }
  </div>

  <div class="sorting-container">
    @if (isWeb()) {
      <p>{{ 'collections.filters.sortBy' | translate }}:</p>

      <osf-select
        class="ml-1 font-bold"
        [options]="searchSortingOptions"
        [noBorder]="true"
        appendTo="body"
        [(selectedValue)]="selectedSort"
      ></osf-select>
    } @else {
      @if (isAnyFilterOptions()) {
        <p-button severity="secondary" icon="fas fa-sliders" size="large" (click)="openFilters()"></p-button>
      }

      <p-button class="ml-2" severity="secondary" icon="fas fa-filter" size="large" (click)="openSorting()"></p-button>
    }
  </div>
</div>

@if (isFiltersOpen()) {
  <div class="filter-full-size">
    <osf-resource-filters></osf-resource-filters>
  </div>
} @else if (isSortingOpen()) {
  <div class="flex flex-column p-5 pt-1 row-gap-3">
    @for (option of searchSortingOptions; track option.value) {
      <div
        class="sort-card"
        tabindex="0"
        role="button"
        [class]="{ 'card-selected': selectedSort() === option.value }"
        (click)="selectSort(option.value)"
        (keydown.enter)="selectSort(option.value)"
      >
        {{ option.label }}
      </div>
    }
  </div>
} @else {
  @if (isAnyFilterSelected()) {
    <div class="mb-3">
      <osf-filter-chips></osf-filter-chips>
    </div>
  }

  <div class="flex column-gap-4 filters-resources-web">
    @if (isWeb() && isAnyFilterOptions()) {
      <osf-resource-filters></osf-resource-filters>
    }

    <p-dataView [value]="resources()" class="resources-container" [rows]="10">
      <ng-template #list let-items>
        <div class="resources-list">
          @if (items.length > 0) {
            @for (item of items; track item.id) {
              <osf-resource-card [item]="item" />
            }

            <div class="flex column-gap-2 w-full justify-content-center pt-2">
              @if (first() && prev()) {
                <p-button icon="fas fa-angles-left" severity="contrast" text (click)="switchPage(first())"> </p-button>
              }

              <p-button
                icon="fas fa-angle-left"
                severity="contrast"
                text
                [disabled]="!prev()"
                (click)="switchPage(prev())"
              >
              </p-button>

              <p-button
                icon="fas fa-angle-right"
                severity="contrast"
                text
                [disabled]="!next()"
                (click)="switchPage(!next() ? first() : next())"
              >
              </p-button>
            </div>
          }
        </div>
      </ng-template>
    </p-dataView>
  </div>
}
