<div class="flex justify-content-between align-items-start pb-3 column-gap-3">
  <div class="flex flex-1 flex-column row-gap-7">
    @if (isMobile()) {
      <p-select
        class="text-center"
        [(ngModel)]="selectedTab"
        [options]="tabsOptions"
        optionLabel="label"
        optionValue="value"
      />
    }
    @if (searchCount() > 10000) {
      <h3>10 000+ results</h3>
    } @else if (searchCount() > 0) {
      <h3>{{ searchCount() }} results</h3>
    } @else {
      <h3>0 results</h3>
    }
  </div>

  <div class="sorting-container">
    @if (isWeb()) {
      <p>Sort by:</p>

      <p-select
        class="no-border-dropdown font-bold ml-2"
        [options]="searchSortingOptions"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
        [(ngModel)]="selectedSort"
      ></p-select>
    } @else {
      @if (isAnyFilterOptions()) {
        <img
          class="custom-dark-hover cursor-pointer"
          ngSrc="assets/icons/colored/filter.svg"
          tabindex="0"
          role="button"
          alt="filter by"
          width="44"
          height="44"
          (keydown.enter)="openFilters()"
          (click)="openFilters()"
        />
      }
      <img
        class="custom-dark-hover cursor-pointer ml-2"
        ngSrc="assets/icons/colored/sort.svg"
        tabindex="0"
        role="button"
        alt="sort by"
        width="44"
        height="44"
        (keydown.enter)="openSorting()"
        (click)="openSorting()"
      />
    }
  </div>
</div>

@if (isFiltersOpen()) {
  <div class="filter-full-size">
    <osf-resource-filters></osf-resource-filters>
  </div>
} @else if (isSortingOpen()) {
  <div class="flex flex-column p-5 pt-1 row-gap-3">
    @for (option of searchSortingOptions; track option.value) {
      <div
        class="sort-card"
        tabindex="0"
        role="button"
        [class]="{ 'card-selected': selectedSort() === option.value }"
        (click)="selectSort(option.value)"
        (keydown.enter)="selectSort(option.value)"
      >
        {{ option.label }}
      </div>
    }
  </div>
} @else {
  @if (isAnyFilterSelected()) {
    <div class="mb-3">
      <osf-filter-chips></osf-filter-chips>
    </div>
  }

  <div class="flex column-gap-4 filters-resources-web">
    @if (isWeb() && isAnyFilterOptions()) {
      <osf-resource-filters></osf-resource-filters>
    }

    <p-dataView [value]="resources()" class="resources-container" [rows]="10">
      <ng-template #list let-items>
        <div class="resources-list">
          @if (items.length > 0) {
            @for (item of items; track item.id) {
              <osf-resource-card [item]="item" />
            }

            <div class="flex column-gap-2 w-full justify-content-center pt-2">
              @if (first() && prev()) {
                <p-button icon="fas fa-angles-left" severity="contrast" text (click)="switchPage(first())"> </p-button>
              }

              <p-button
                icon="fas fa-angle-left"
                severity="contrast"
                text
                [disabled]="!prev()"
                (click)="switchPage(prev())"
              >
              </p-button>

              <p-button
                icon="fas fa-angle-right"
                severity="contrast"
                text
                [disabled]="!next()"
                (click)="switchPage(!next() ? first() : next())"
              >
              </p-button>
            </div>
          }
        </div>
      </ng-template>
    </p-dataView>
  </div>
}
