<osf-admin-table
  [tableColumns]="tableColumns"
  [tableData]="tableData()"
  [isLoading]="areResourcesLoading()"
  [isNextPreviousPagination]="true"
  [paginationLinks]="paginationLinks()"
  [reportsLink]="institution().linkToExternalReportsArchive"
  (sortChanged)="onSortChange($event)"
  (pageSwitched)="onLinkPageChange($event)"
  (downloadClicked)="download($event)"
>
  <div slot="amount">
    <h3 class="title">
      {{ resourcesCount() }} {{ 'adminInstitutions.registrations.totalRegistrations' | translate | lowercase }}
    </h3>
  </div>

  <div slot="otherFilters">
    <p-button
      styleClass="grey-border-color"
      icon="fas fa-filter text-primary text-xl"
      [label]="'adminInstitutions.common.filters' | translate"
      outlined
      (onClick)="filtersVisible.set(!filtersVisible())"
    />
  </div>

  <div slot="tableFilters">
    <osf-institution-resource-table-filters [(filtersVisible)]="filtersVisible" />
  </div>
</osf-admin-table>
