<div class="stepper-container">
  <div class="stepper-circles-lines-row">
    @for (step of steps(); track step.value; let i = $index) {
      @if (currentStep()) {
        <button
          class="step-circle"
          [class.active]="i <= currentStep().index"
          [class.invalid]="step.invalid"
          [class.current]="i === currentStep().index"
          (click)="onStepClick(step)"
        >
          @if (step.invalid && i !== currentStep().index) {
            <osf-icon iconClass="fas fa-exclamation" />
          } @else {
            @if (i < currentStep().index) {
              <osf-icon iconClass="fas fa-check" />
            } @else {
              <span>{{ i + 1 }}</span>
            }
          }
        </button>
        @if (i < steps().length - 1) {
          <div class="step-line" [class.active]="i <= currentStep().index"></div>
        }
      }
    }
  </div>
  <div class="stepper-labels-row">
    @for (step of steps(); track step.value) {
      <div class="step-label">{{ step.label | translate }}</div>
    }
  </div>
</div>
