<div class="flex flex-column-reverse justify-content-between align-items-center gap-3 md:flex-row">
  <div class="flex gap-3">
    <p-selectButton
      class="review-state-select flex-wrap"
      [options]="submissionReviewOptions"
      [ngModel]="reviewStatus()"
      (ngModelChange)="changeReviewStatus($event)"
      optionLabel="label"
      optionValue="value"
    >
      <ng-template #item let-item>
        <osf-icon [iconClass]="item.icon" [class]="item.value"></osf-icon>
        <p>{{ item.label | translate }}</p>
      </ng-template>
    </p-selectButton>
  </div>

  <div class="w-full md:w-4">
    <osf-select
      [options]="sortOptions"
      [placeholder]="'project.files.sort.placeholder' | translate"
      [fullWidth]="true"
      [(selectedValue)]="selectedSortOption"
      (changeValue)="changeSort($event)"
    ></osf-select>
  </div>
</div>

@if (!isLoading()) {
  <osf-submissions-list></osf-submissions-list>

  @if (collectionSubmissions().length > pageSize) {
    <osf-custom-paginator
      class="submissions-paginator"
      [totalCount]="totalSubmissions()"
      [rows]="pageSize"
      [first]="firstIndex()"
      (pageChanged)="onPageChange($event)"
    />
  }
} @else {
  <osf-loading-spinner />
}
