<osf-sub-header [title]="'settings.addons.header.title' | translate" [icon]="'settings'" />
<section class="flex-column flex flex-1">
  <p-tabs [value]="selectedTab()" class="flex-1">
    <p-tablist class="pr-5 pl-5 hidden md:flex md:flex-column">
      <p-tab [value]="AddonTabValue.ALL_ADDONS">
        {{ 'settings.addons.tabs.allAddons' | translate }}
      </p-tab>

      <p-tab [value]="AddonTabValue.CONNECTED_ADDONS">
        {{ 'settings.addons.tabs.connectedAddons' | translate }}
      </p-tab>
    </p-tablist>

    <p-tabpanels class="flex-1 p-3 sm:p-5">
      <osf-select
        class="font-bold md:hidden"
        [options]="tabOptions"
        [(selectedValue)]="selectedTab"
        [fullWidth]="true"
      />
      <p-tabpanel [value]="AddonTabValue.ALL_ADDONS" class="flex flex-column mt-4 gap-5">
        <p>
          {{ 'settings.addons.description' | translate }}
        </p>

        <section class="grid">
          <div class="col-12 md:col-6 lg:col-3">
            <osf-select
              [placeholder]="'settings.addons.filters.addonType'"
              [options]="categoryOptions"
              [(selectedValue)]="selectedCategory"
              (changeValue)="onCategoryChange($event)"
              [fullWidth]="true"
            />
          </div>
          <div class="col-12 md:col-6 lg:col-9">
            <osf-search-input
              class="w-full"
              [control]="searchControl"
              [placeholder]="'settings.addons.filters.search' | translate"
            />
          </div>
        </section>

        @if (!isAddonsLoading()) {
          <osf-addon-card-list [cards]="filteredAddonCards()" [showDangerButton]="false" />
        } @else {
          <div class="mt-8">
            <osf-loading-spinner />
          </div>
        }
      </p-tabpanel>

      <p-tabpanel [value]="AddonTabValue.CONNECTED_ADDONS" class="flex flex-column gap-5">
        <osf-search-input
          class="flex-1"
          [control]="searchControl"
          [placeholder]="'settings.addons.filters.search' | translate"
        />

        @if (!isAuthorizedAddonsLoading()) {
          <osf-addon-card-list
            [cards]="allAuthorizedAddons()"
            [cardButtonLabel]="'settings.addons.form.buttons.reconnect' | translate"
            [showDangerButton]="true"
          />
        } @else {
          <div class="mt-8">
            <osf-loading-spinner />
          </div>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</section>
