<osf-sub-header
  [showButton]="false"
  [title]="'settings.addons.header.title' | translate"
  [icon]="'settings'"
/>
<section class="flex-column flex flex-1">
  <p-tabs [value]="selectedTab()" class="flex-1">
    @if (!isMobile()) {
      <p-tablist class="pr-5 pl-5">
        <p-tab [value]="0">
          {{ "settings.addons.tabs.allAddons" | translate }}
        </p-tab>
        <p-tab [value]="1">
          {{ "settings.addons.tabs.connectedAddons" | translate }}
        </p-tab>
      </p-tablist>
    }

    <p-tabpanels class="p-3 sm:p-5 flex-1">
      @if (isMobile()) {
        <p-select
          class="w-full mb-4"
          [options]="tabOptions"
          optionValue="value"
          [ngModel]="selectedTab()"
          (ngModelChange)="selectedTab.set($event)"
        >
          <ng-template #selectedItem let-selectedOption>
            {{ selectedOption.label | translate }}
          </ng-template>
          <ng-template #item let-item>
            {{ item.label | translate }}
          </ng-template>
        </p-select>
      }
      <p-tabpanel [value]="0" class="flex flex-column gap-5">
        <p>
          {{ "settings.addons.description" | translate }}
        </p>
        <section class="grid">
          <div class="col-12 md:col-6 lg:col-3">
            <p-select
              [placeholder]="'settings.addons.filters.addonType' | translate"
              [options]="categoryOptions"
              optionValue="value"
              [ngModel]="selectedCategory()"
              (ngModelChange)="onCategoryChange($event)"
              class="w-full"
            >
              <ng-template #selectedItem let-selectedOption>
                {{ selectedOption.label | translate }}
              </ng-template>
              <ng-template #item let-item>
                {{ item.label | translate }}
              </ng-template>
            </p-select>
          </div>
          <div class="col-12 md:col-6 lg:col-9">
            <osf-search-input
              class="w-full"
              [searchValue]="searchValue()"
              (searchValueChange)="searchValue.set($event || '')"
              [placeholder]="'settings.addons.filters.search' | translate"
            />
          </div>
        </section>

        <osf-addon-card-list
          [cards]="filteredAddonCards()"
          [showDangerButton]="false"
        />
      </p-tabpanel>
      <p-tabpanel [value]="1" class="flex flex-column gap-5">
        <osf-search-input
          class="flex-1"
          [searchValue]="searchValue()"
          (searchValueChange)="searchValue.set($event || '')"
          [placeholder]="'settings.addons.filters.search' | translate"
        />

        <osf-addon-card-list
          [cards]="allAuthorizedAddons()"
          [cardButtonLabel]="
            'settings.addons.form.buttons.reconnect' | translate
          "
          [showDangerButton]="true"
        />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</section>
