<p class="mb-2">{{ 'registries.review.selectComponents.description' | translate }}</p>

<p-tree [value]="components" selectionMode="checkbox" class="w-full md:w-[30rem]" [(selection)]="selectedComponents" />

<div class="flex justify-content-end gap-2 mt-4">
  <p-button
    class="w-12rem btn-full-width"
    [label]="'common.buttons.back' | translate"
    severity="info"
    (click)="dialogRef.close()"
  />
  <p-button class="w-12rem btn-full-width" [label]="'common.buttons.continue' | translate" (click)="continue()" />
</div>
