<div>
  <p class="border-divider pb-3 mb-3">{{ contributor().fullName }}</p>

  <div class="flex align-items-center pb-3">
    <label class="cursor-pointer mb-0 mr-2" [for]="`${contributor().id}-permission`">
      {{ 'project.contributors.table.headers.permissions' | translate }}:
    </label>

    <p-select
      class="no-border-dropdown"
      [placeholder]="'project.contributors.permissionFilter' | translate"
      [options]="permissionsOptions"
      optionValue="value"
      appendTo="body"
      [(ngModel)]="contributor().permission"
    >
      <ng-template #selectedItem let-selectedOption>
        {{ selectedOption.label | translate }}
      </ng-template>

      <ng-template #item let-item>
        {{ item.label | translate }}
      </ng-template>
    </p-select>
  </div>

  <div class="flex align-items-center pb-3">
    <label class="label mr-2" [for]="`${contributor().id}-bibliographic`">
      {{ 'project.contributors.addDialog.bibliographicContributor' | translate }}:
    </label>

    <p-checkbox
      variant="filled"
      [binary]="true"
      [inputId]="`${contributor().id}-bibliographic`"
      [(ngModel)]="contributor().isBibliographic"
    ></p-checkbox>
  </div>
</div>
