<div class="flex flex-column gap-3">
  <p>
    {{ 'settings.accountSettings.deactivateAccount.warning.confirm' | translate }}
  </p>

  <p>
    {{ 'settings.accountSettings.deactivateAccount.warning.description' | translate }}
  </p>
</div>

<div class="flex gap-2 mt-4">
  <p-button
    class="w-full"
    styleClass="w-full"
    (click)="dialogRef.close()"
    [label]="'settings.accountSettings.common.buttons.cancel' | translate"
    severity="info"
  ></p-button>

  <p-button
    class="w-full"
    styleClass="w-full"
    severity="danger"
    (click)="deactivateAccount()"
    [label]="'settings.accountSettings.common.buttons.deactivate' | translate"
  ></p-button>
</div>
