<section class="flex flex-column xl:mt-6">
  @if (isInstitutionLoading()) {
    <div class="h-screen flex flex-column align-items-center">
      <osf-loading-spinner />
    </div>
  } @else {
    <div class="flex flex-column gap-5 p-5">
      <div class="flex align-items-center gap-2">
        <img
          [ngSrc]="institution().assets.logo"
          [alt]="institution().name"
          width="60"
          height="60"
          class="fit-contain"
        />

        <h1>{{ institution().name }}</h1>
      </div>
    </div>

    <div class="px-3 py-4 bg-white md:hidden md:px-5">
      <osf-select
        [options]="resourceTabOptions"
        [(selectedValue)]="selectedTab"
        [fullWidth]="true"
        class="text-center"
        (changeValue)="onTabChange($event)"
      />
    </div>

    <p-tabs [value]="selectedTab" (valueChange)="onTabChange($event)" class="flex-1 px-3 hidden md:px-5 md:inline">
      <p-tablist>
        @for (item of resourceTabOptions; track $index) {
          <p-tab [value]="item.value">{{ item.label | translate }}</p-tab>
        }
      </p-tablist>
    </p-tabs>

    <section class="bg-white p-3 md:p-4">
      <router-outlet></router-outlet>
    </section>
  }
</section>
