<p-card>
  <h2 class="pb-4">{{ 'myProjects.settings.commenting' | translate }}</h2>

  <div class="flex flex-column gap-3">
    <div class="flex gap-3">
      <p-radio-button
        name="contributorsCanPost"
        [value]="false"
        [ngModel]="anyoneCanComment()"
        (ngModelChange)="anyoneCanCommentChange.emit(false)"
      ></p-radio-button>

      <p>{{ 'myProjects.settings.contributorsCanPost' | translate }}</p>
    </div>

    <div class="flex gap-3">
      <p-radio-button
        name="osfUserCanPost"
        [value]="true"
        [ngModel]="anyoneCanComment()"
        (ngModelChange)="anyoneCanCommentChange.emit(true)"
      >
      </p-radio-button>

      <p>{{ 'myProjects.settings.osfUserCanPost' | translate }}</p>
    </div>
  </div>
</p-card>
