<section class="flex flex-column gap-4">
  <osf-search-input
    [placeholder]="'project.overview.dialog.linkProject.searchObjectsPlaceholder' | translate"
    [control]="searchControl"
  ></osf-search-input>

  <p-buttonGroup>
    <p-button
      class="link-project-button w-6 md:w-auto"
      [label]="'project.overview.dialog.linkProject.searchAllObjects' | translate"
      [ngClass]="{ active: searchMode() === ResourceSearchMode.All }"
      (onClick)="onSearchModeChange(ResourceSearchMode.All)"
    ></p-button>

    <p-button
      class="link-project-button w-6 md:w-auto"
      [label]="'project.overview.dialog.linkProject.searchMyObjects' | translate"
      [ngClass]="{ active: searchMode() === ResourceSearchMode.User }"
      (onClick)="onSearchModeChange(ResourceSearchMode.User)"
    ></p-button>
  </p-buttonGroup>

  <p-buttonGroup>
    <p-button
      class="link-project-button w-6 md:w-auto"
      [label]="'project.overview.dialog.linkProject.projects' | translate"
      [ngClass]="{ active: resourceType() === ResourceType.Project }"
      (onClick)="onObjectTypeChange(ResourceType.Project)"
    ></p-button>

    <p-button
      class="link-project-button w-6 md:w-auto"
      [label]="'project.overview.dialog.linkProject.registrations' | translate"
      [ngClass]="{ active: resourceType() === ResourceType.Registration }"
      (onClick)="onObjectTypeChange(ResourceType.Registration)"
    ></p-button>
  </p-buttonGroup>

  <p-table
    class="link-project-table"
    [value]="isCurrentTableLoading() ? skeletonData : currentTableItems()"
    [rows]="tableParams().rows"
    [first]="tableParams().firstRowIndex"
    [paginator]="tableParams().paginator"
    [totalRecords]="tableParams().totalRecords"
    paginatorDropdownAppendTo="body"
    [resizableColumns]="true"
    [autoLayout]="true"
    [scrollable]="tableParams().scrollable"
    [lazy]="true"
    [lazyLoadOnInit]="true"
    (onPage)="onPageChange($event)"
  >
    <ng-template #header>
      <tr>
        <th>
          {{ 'project.overview.dialog.linkProject.table.title' | translate }}
        </th>
        <th>{{ 'project.overview.dialog.linkProject.table.created' | translate }}</th>
        <th>
          {{ 'project.overview.dialog.linkProject.table.modified' | translate }}
        </th>
        <th>
          {{ 'project.overview.dialog.linkProject.table.contributors' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      @if (item.id) {
        <tr>
          <td>
            <p class="flex align-items-center gap-2">
              <p-checkbox
                [disabled]="isNodeLinksSubmitting()"
                [inputId]="item.id"
                [ngModel]="isItemLinked(item.id)"
                [binary]="true"
                (onChange)="handleToggleNodeLink(item)"
              />
              <span class="overflow-ellipsis">{{ item.title }}</span>
            </p>
          </td>
          <td>{{ item.dateCreated | date: 'MMM d, y' }}</td>
          <td>{{ item.dateModified | date: 'MMM d, y' }}</td>
          <td>
            @for (contributor of item.contributors.slice(0, 3); track contributor.id) {
              {{ contributor.fullName }}{{ $last ? '' : ', ' }}
            }
            @if (item.contributors.length > 3) {
              , {{ 'common.labels.and' | translate }} {{ item.contributors.length - 3 }}
              {{ 'common.labels.more' | translate }}
            }
          </td>
        </tr>
      } @else {
        <tr class="loading-row">
          <td colspan="4">
            <p-skeleton width="100%" height="2.5rem" borderRadius="0" />
          </td>
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center">{{ 'common.search.noResultsFound' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-button
    class="btn-full-width md:w-auto md:ml-auto"
    [label]="'common.buttons.done' | translate"
    (onClick)="handleCloseDialog()"
  ></p-button>
</section>
