<osf-sub-header [title]="'navigation.notifications' | translate" [icon]="'fas fa-gear'" />

<div class="flex flex-column p-2 bg-white flex-1 gap-4 md:p-3 xl:p-4">
  @if (!isEmailPreferencesLoading()) {
    <section class="notification-item flex flex-column gap-4 p-3 md:p-4">
      <h2>{{ 'settings.notifications.emailPreferences.title' | translate }}</h2>

      <form [formGroup]="emailPreferencesForm" class="flex flex-column gap-3" (submit)="emailPreferencesFormSubmit()">
        <div class="flex gap-2">
          <p-checkbox
            [formControlName]="EmailPreferencesFormControls.SubscribeOsfGeneralEmail"
            inputId="v1"
            binary="true"
          />

          <div class="flex flex-column gap-1">
            <label for="v1" class="mb-0 font-bold">
              {{ 'settings.notifications.emailPreferences.items.general.title' | translate }}
            </label>

            <p>
              {{ 'settings.notifications.emailPreferences.items.general.description' | translate }}
            </p>
          </div>
        </div>

        <div class="flex gap-2">
          <p-checkbox
            [formControlName]="EmailPreferencesFormControls.SubscribeOsfHelpEmail"
            inputId="v2"
            binary="true"
          />

          <div class="flex flex-column gap-1">
            <label for="v2" class="mb-0 font-bold">
              {{ 'settings.notifications.emailPreferences.items.help.title' | translate }}
            </label>

            <p>
              {{ 'settings.notifications.emailPreferences.items.help.description' | translate }}
            </p>
          </div>
        </div>

        <div class="flex justify-content-end">
          <p-button
            [disabled]="!emailPreferencesForm.dirty"
            type="submit"
            [label]="'common.buttons.save' | translate"
            [loading]="isSubmittingEmailPreferences()"
          />
        </div>
      </form>
    </section>
  } @else {
    <div class="notification-item flex flex-column gap-4 p-3 md:p-4">
      <p-skeleton width="20rem" height="2rem"></p-skeleton>

      <div class="flex flex-column gap-3">
        @for (_ of [1, 2]; track $index) {
          <div class="flex gap-2">
            <p-skeleton width="2rem" height="2rem"></p-skeleton>
            <p-skeleton width="30rem" height="3rem"></p-skeleton>
          </div>
        }
      </div>
      <div class="flex justify-content-end">
        <p-skeleton width="6rem" height="3rem"></p-skeleton>
      </div>
    </div>
  }

  @if (!isNotificationSubscriptionsLoading()) {
    <section class="notification-item flex flex-column gap-4 p-3 md:p-4">
      <div class="flex align-items-baseline gap-1">
        <h2>{{ 'settings.notifications.notificationPreferences.title' | translate }}</h2>

        <osf-info-icon
          [tooltipText]="'settings.notifications.notificationPreferences.tooltipText' | translate"
          tooltipPosition="bottom"
        ></osf-info-icon>
      </div>

      <p>{{ 'settings.notifications.notificationPreferences.note' | translate }}</p>

      <section class="notification-configuration" [formGroup]="notificationSubscriptionsForm">
        @for (subscriptionEvent of SUBSCRIPTION_EVENTS; track $index) {
          <p>{{ subscriptionEvent.labelKey | translate }}</p>
          <p-select
            [formControlName]="subscriptionEvent.event"
            class="dropdown"
            [options]="subscriptionFrequencyOptions"
            optionLabel="label"
            optionValue="value"
            (onChange)="onSubscriptionChange(subscriptionEvent.event, $event.value)"
          />
        }
      </section>
    </section>
  } @else {
    <section class="notification-item flex flex-column gap-4">
      <p-skeleton width="20rem" height="2rem"></p-skeleton>
      <p-skeleton width="30rem" height="1rem"></p-skeleton>

      <section class="notification-configuration">
        @for (_ of [1, 2, 3, 4, 5]; track $index) {
          <p-skeleton width="20rem" height="2rem"></p-skeleton>
          <p-skeleton class="dropdown" height="3rem"></p-skeleton>
        }
      </section>
    </section>
  }
</div>
