@use "styles/variables" as var;

.notification-item {
  border: 1px solid var(--grey-2);
  border-radius: 8px;
}

.notification-configuration {
  display: grid;
  grid-gap: 12px;
  align-items: center;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: repeat(5, 1fr);

  .dropdown {
    width: 50%;
  }

  @media (max-width: var.$breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 0;

    .dropdown {
      width: 100%;
    }
  }
}
