<osf-sub-header [isLoading]="file().isLoading" title="{{ file().data?.name }}" />

<p-tabs [value]="selectedTab" (valueChange)="onTabChange(+$event)" class="flex-1 ml-auto mr-4">
    <p-tablist>
      <p-tab [value]="FileDetailTab.Details">{{ 'project.files.detail.tabs.details' | translate }}</p-tab>
      <p-tab [value]="FileDetailTab.Revisions">{{ 'project.files.detail.tabs.revisions' | translate }}</p-tab>
      <p-tab [value]="FileDetailTab.Keywords">{{ 'project.files.detail.tabs.keywords' | translate }}</p-tab>
    </p-tablist>
</p-tabs>

<div #fileDetailContainer class="flex gap-4 bg-white flex-column h-full flex-1 p-4 h-full">
  <div class="flex">
    <div class="flex align-items-center gap-2 back-navigation font-semibold">
      <i class="pi pi-angle-left text-base"></i>
      <a [routerLink]="['../']" class="font-semibold">
        {{ 'project.files.detail.backToList' | translate }}
      </a>
    </div>

    <div class="flex gap-3 ml-auto sm-round-padding-btn">
      <p-button severity="secondary" [label]="'project.files.detail.actions.addCommunityMetadata' | translate" [routerLink]="['/metadata']"></p-button>

      @if (file().data?.links?.download) {
        <p-button severity="secondary" (click)="downloadFile(file().data?.links?.download!)"><i class="osf-icon-download p-1"></i></p-button>
      }
      @if (file().data?.links?.render) {
        <div class="relative">
          <p-button severity="secondary" (click)="$event.stopPropagation(); embed.toggle($event)"><i class="fa-solid fa-file-import p-1"></i>
          </p-button>
          <p-popover #embed>
            <ul>
              @let embedDynamic = dynamicHtml.replace('ENCODED_URL', file().data?.links?.render ?? '');
              @let embedStatic = staticHtml.replace('ENCODED_URL', file().data?.links?.render ?? '');
              <li
                tabindex="0"
                (click)="copyToClipboard(embedDynamic); embed.hide()"
                (keydown.enter)="copyToClipboard(embedDynamic); embed.hide()"
                class="p-menu-item-link"
              >{{ 'project.files.detail.actions.copyDynamicIframe' | translate }}</li>
              <li
                tabindex="0"
                (click)="copyToClipboard(embedStatic); embed.hide()"
                (keydown.enter)="copyToClipboard(embedStatic); embed.hide()"
                class="p-menu-item-link"
              >{{ 'project.files.detail.actions.copyStaticIframe' | translate }}</li>
            </ul>
          </p-popover>
        </div>
      }
      @if (file().data?.links?.html) {
        <div class="relative">
          <p-button severity="secondary" (click)="$event.stopPropagation(); share.toggle($event)"><i class="osf-icon-share p-1"></i></p-button>
          <p-popover #share>
            <ul>
              @let emailLink = 'mailto:?subject=' + (file().data?.name ?? '') + '&body=' + (file().data?.links?.html ?? '');
              @let twitterLink = 'https://twitter.com/intent/tweet?url=' + (file().data?.links?.html ?? '') + '&text=' + (file().data?.name ?? '') + '&via=OSFramework';
              @let facebookLink = 'https://www.facebook.com/dialog/share?app_id=1022273774556662&display=popup&href=' + (file().data?.links?.html ?? '') + '&redirect_uri=' + (file().data?.links?.html ?? '');
              <li
                tabindex="0"
                (click)="openLink(emailLink); share.hide()"
                (keydown.enter)="openLink(emailLink); share.hide()"
                class="p-menu-item-link"
              >{{ 'project.files.detail.actions.share.email' | translate }}</li>
              <li
                tabindex="0"
                (click)="openLinkNewTab(twitterLink); share.hide()"
                (keydown.enter)="openLinkNewTab(twitterLink); share.hide()"
                class="p-menu-item-link"
              >{{ 'project.files.detail.actions.share.twitter' | translate }}</li>
              <li
                tabindex="0"
                (click)="openLinkNewTab(facebookLink); share.hide()"
                (keydown.enter)="openLinkNewTab(facebookLink); share.hide()"
                class="p-menu-item-link"
              >{{ 'project.files.detail.actions.share.facebook' | translate }}</li>
            </ul>
          </p-popover>

        </div>
      }
      @if (file().data?.links?.delete) {
        <p-button severity="secondary" (click)="confirmDelete(file().data?.links?.delete!)"><i class="osf-icon-trash red-icon p-1"></i></p-button>
      }
    </div>
  </div>


  <div class="flex flex-column lg:flex-row gap-4 flex-1 h-full">
    <div class="w-full h-full lg:w-6">
      @if (safeLink) {
        <iframe
          [src]="safeLink"
          (load)="isIframeLoading = false"
          [hidden]="isIframeLoading"
          title="Rendering of document"
          marginheight="0"
          frameborder="0"
          allowfullscreen=""
          class="full-image"
          height="100%"
          width="100%"
        ></iframe>
      }
      @if (isIframeLoading) {
        <osf-loading-spinner></osf-loading-spinner>
      }
    </div>

    <div class="w-full flex flex-column gap-4 flex-1 lg:w-6 ">
      @if (selectedTab === FileDetailTab.Revisions) {
        <osf-file-revisions></osf-file-revisions>
      }
      @else if (selectedTab === FileDetailTab.Keywords) {
        <osf-file-keywords></osf-file-keywords>
      }
      @else {
        <osf-file-metadata [containerRef]="fileDetailContainer"></osf-file-metadata>
        <osf-file-project-metadata></osf-file-project-metadata>
      }
    </div>
  </div>
</div>
