<osf-sub-header [isLoading]="file().isLoading" title="{{ file().data?.name }}" />

<div class="flex gap-4 bg-white flex-column h-full flex-1 p-4">
  <div class="flex align-items-center gap-2 back-navigation font-semibold">
    <i class="pi pi-angle-left text-base"></i>
    <a [routerLink]="['../']" class="font-semibold">
      {{ 'project.files.detail.backToList' | translate }}
    </a>
  </div>

  <div class="flex xs:flex-column sm:flex-column lg:flex-row gap-4 flex-1">
    @if (safeLink) {
      <iframe
        [src]="safeLink"
        (load)="isIframeLoading = false"
        [hidden]="isIframeLoading"
        width="60%"
        title="Rendering of document"
        scrolling="yes"
        marginheight="0"
        frameborder="0"
        allowfullscreen=""
      ></iframe>
    }
    @if (isIframeLoading) {
      <div class="spinner-container">
        <osf-loading-spinner></osf-loading-spinner>
      </div>
    }

    <div class="flex flex-column gap-4 flex-1">
      <osf-file-metadata></osf-file-metadata>
      <osf-project-metadata></osf-project-metadata>
    </div>
  </div>
</div>
