@use "assets/styles/variables" as var;

:host {
  .back-navigation {
    color: var(--blue-2);
  }

  .metadata {
    color: var(--dark-blue-1);
    border: 1px solid var(--grey-2);
    border-radius: 12px;
  }

  .spinner-container {
    width: 60%;
    height: 100%;
  }
}
