@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

:host {
  .back-navigation {
    color: var(--blue-2);
  }

  .metadata {
    color: var(--dark-blue-1);
    border: 1px solid var(--grey-2);
    border-radius: 12px;
  }

  .spinner-container {
    width: 60%;
    height: 100%;
  }

  .full-image {
    min-height:100vh; min-width:100%
  }

  .share-menu {
    position: absolute;
    left: mix.rem(-48px);
    display: flex;
    flex-direction: column;
    gap: mix.rem(8px);
    padding: mix.rem(4px);
    background: white;
    border: 1px solid var.$grey-2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: mix.rem(8px) mix.rem(12px);
        cursor: pointer;
        white-space: nowrap;
        color: var.$dark-blue-1;

        &:hover {
          background-color: var.$bg-blue-3;
        }
      }
    }
  }

}

