<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.affiliatedInstitutions' | translate }}</h2>

    <p-button
      severity="secondary"
      [label]="'common.buttons.edit' | translate"
      (click)="openEditAffiliatedInstitutionsDialog.emit()"
    ></p-button>
  </div>

  @if (currentProject()?.affiliatedInstitutions?.length) {
    <div class="pt-4">
      @for (institution of currentProject()!.affiliatedInstitutions!; track institution.id) {
        <div class="flex align-items-center gap-3 mb-3">
          @if (institution.logo) {
            <img [src]="institution.logo" [alt]="institution.name" class="w-3rem h-3rem border-round" />
          }
          <div>
            <p class="font-semibold m-0">{{ institution.name }}</p>
            @if (institution.description) {
              <p class="text-sm text-color-secondary m-0">{{ institution.description }}</p>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="pt-4">
      <p class="text-color-secondary">{{ 'project.overview.metadata.noAffiliatedInstitutions' | translate }}</p>
    </div>
  }
</p-card>
