@use "../../account-settings.component.scss" as account-settings;
@use "assets/styles/variables" as var;

:host {
  @extend .account-setting;

  .password-label {
    color: var.$dark-blue-1;
  }

  .password-help {
    color: var.$pr-blue-1;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
