<section class="account-setting">
  <h2 class="account-setting-header">{{ 'settings.accountSettings.changePassword.title' | translate }}</h2>

  <form [formGroup]="passwordForm" class="flex flex-column gap-3">
    <div class="flex flex-column gap-2">
      <label for="old-password">
        {{ 'settings.accountSettings.changePassword.form.oldPassword' | translate }}
      </label>
      <p-password
        class="w-full"
        styleClass="w-full"
        [formControlName]="AccountSettingsPasswordFormControls.OldPassword"
        [toggleMask]="true"
        [feedback]="false"
        [ngClass]="{
          'ng-invalid ng-dirty':
            passwordForm.get(AccountSettingsPasswordFormControls.OldPassword)?.invalid &&
            passwordForm.get(AccountSettingsPasswordFormControls.OldPassword)?.touched,
        }"
      />
      @if (
        passwordForm.get(AccountSettingsPasswordFormControls.OldPassword)?.errors?.['required'] &&
        passwordForm.get(AccountSettingsPasswordFormControls.OldPassword)?.touched
      ) {
        <small class="text-red-500">
          {{ 'settings.accountSettings.changePassword.validation.oldPasswordRequired' | translate }}
        </small>
      }
    </div>

    <div class="flex flex-column gap-2 md:flex-row">
      <div class="flex flex-column flex-1 gap-2">
        <label for="new-password">
          {{ 'settings.accountSettings.changePassword.form.newPassword' | translate }}
        </label>
        <p-password
          class="w-full"
          styleClass="w-full"
          [formControlName]="AccountSettingsPasswordFormControls.NewPassword"
          [toggleMask]="true"
          [feedback]="false"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (passwordForm.get(AccountSettingsPasswordFormControls.NewPassword)?.invalid ||
                passwordForm.errors?.['sameAsOldPassword']) &&
              passwordForm.get(AccountSettingsPasswordFormControls.NewPassword)?.touched,
          }"
        />
        <small class="password-help">
          {{ 'settings.accountSettings.changePassword.form.passwordRequirements' | translate }}
        </small>
        @if (
          passwordForm.get(AccountSettingsPasswordFormControls.NewPassword)?.errors?.['required'] &&
          passwordForm.get(AccountSettingsPasswordFormControls.NewPassword)?.touched
        ) {
          <small class="text-red-500">
            {{ 'settings.accountSettings.changePassword.validation.newPasswordRequired' | translate }}
          </small>
        }
        @if (
          passwordForm.errors?.['sameAsOldPassword'] &&
          passwordForm.get(AccountSettingsPasswordFormControls.NewPassword)?.touched
        ) {
          <small class="text-red-500">
            {{ 'settings.accountSettings.changePassword.validation.sameAsOldPassword' | translate }}
          </small>
        }
      </div>

      <div class="flex flex-column flex-1 gap-2">
        <label for="confirm-password">
          {{ 'settings.accountSettings.changePassword.form.confirmPassword' | translate }}
        </label>
        <p-password
          class="w-full"
          styleClass="w-full"
          [formControlName]="AccountSettingsPasswordFormControls.ConfirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (passwordForm.errors?.['passwordMismatch'] ||
                passwordForm.get(AccountSettingsPasswordFormControls.ConfirmPassword)?.errors?.['required']) &&
              passwordForm.get(AccountSettingsPasswordFormControls.ConfirmPassword)?.touched,
          }"
        />
        @if (
          passwordForm.get(AccountSettingsPasswordFormControls.ConfirmPassword)?.errors?.['required'] &&
          passwordForm.get(AccountSettingsPasswordFormControls.ConfirmPassword)?.touched
        ) {
          <small class="text-red-500">
            {{ 'settings.accountSettings.changePassword.validation.confirmPasswordRequired' | translate }}
          </small>
        }
        @if (
          passwordForm.errors?.['passwordMismatch'] &&
          passwordForm.get(AccountSettingsPasswordFormControls.ConfirmPassword)?.touched
        ) {
          <small class="text-red-500">
            {{ 'settings.accountSettings.changePassword.validation.passwordsDoNotMatch' | translate }}
          </small>
        }
      </div>
    </div>

    <div class="flex flex-column gap-2">
      @if (errorMessage()) {
        <small class="text-red-500">{{ errorMessage() }}</small>
      }
      <div class="account-setting-action">
        <p-button
          [label]="'settings.accountSettings.changePassword.buttons.update' | translate"
          (click)="changePassword()"
          [disabled]="passwordForm.invalid"
        >
        </p-button>
      </div>
    </div>
  </form>
</section>
