<form [formGroup]="projectForm()" class="flex flex-column gap-4">
  <div class="flex flex-column">
    <label for="project-title">
      {{ 'myProjects.createProject.title' | translate }}
    </label>
    <input pInputText id="project-title" type="text" [formControlName]="ProjectFormControls.Title" />
  </div>

  <div class="flex flex-column">
    <label for="storage-location">
      {{ 'myProjects.createProject.storageLocation' | translate }}
    </label>
    <p-select
      id="storage-location"
      [options]="storageLocations()"
      optionLabel="name"
      optionValue="id"
      [loading]="areStorageLocationsLoading()"
      [formControlName]="ProjectFormControls.StorageLocation"
    />
  </div>

  @if (affiliations().length) {
    <div class="flex flex-column gap-2">
      <div class="relative">
        <h3 class="font-normal mb-2">
          {{ 'myProjects.createProject.affiliation.title' | translate }}
        </h3>
        <div class="flex gap-4 absolute top-0 right-0">
          <p-button
            severity="secondary"
            [label]="'myProjects.createProject.affiliation.selectAll' | translate"
            (click)="selectAllAffiliations()"
            (keydown.enter)="selectAllAffiliations()"
          />
          <p-button
            severity="secondary"
            [label]="'myProjects.createProject.affiliation.removeAll' | translate"
            (click)="removeAllAffiliations()"
            (keydown.enter)="removeAllAffiliations()"
          />
        </div>
      </div>

      <div class="flex gap-2" role="group" aria-label="Affiliations">
        @for (affiliation of affiliations(); track affiliation.id) {
          <div class="flex align-items-center relative gap-2">
            <p-checkbox
              class="absolute top-0 affiliation-checkbox"
              [value]="affiliation.id"
              [formControlName]="ProjectFormControls.Affiliations"
              [inputId]="affiliation.id"
            />
            <img class="fit-contain" [ngSrc]="affiliation.assets.logo" alt="OSF Logo" height="44" width="44" />
          </div>
        }
      </div>
    </div>
  }

  <div class="flex flex-column">
    <label for="description">
      {{ 'myProjects.createProject.description.label' | translate }}
    </label>
    <textarea pTextarea id="description" [formControlName]="ProjectFormControls.Description" [rows]="5"></textarea>
  </div>

  <div class="flex flex-column">
    <label for="template">
      {{ 'myProjects.createProject.template.label' | translate }}
    </label>
    <osf-project-selector
      id="template"
      placeholder="myProjects.createProject.template.placeholder"
      [showClear]="hasTemplateSelected()"
      [(selectedProject)]="selectedTemplate"
      (projectChange)="onTemplateChange($event)"
    />
  </div>
</form>
