<p-card>
  <h2 class="pb-4">{{ 'myProjects.settings.redirectLink' | translate }}</h2>

  <form [formGroup]="redirectForm">
    <div class="flex align-items-center w-full">
      <p-checkbox [binary]="true" formControlName="isEnabled" id="redirectLink"></p-checkbox>

      <label for="redirectLink" class="input-label ml-2">
        {{ 'myProjects.settings.redirectLinkText' | translate }}
      </label>
    </div>

    @if (redirectForm.get('isEnabled')?.value) {
      <div class="mt-3 flex flex-column gap-3">
        <osf-text-input
          [control]="redirectForm.controls['url']"
          [label]="'myProjects.settings.url'"
          [placeholder]="'myProjects.settings.redirectUrlPlaceholder'"
          [maxLength]="inputLimits.link.maxLength"
        />

        <osf-text-input
          [control]="redirectForm.controls['label']"
          [label]="'myProjects.settings.label'"
          [maxLength]="inputLimits.name.maxLength"
        />
      </div>

      <div class="flex justify-content-end w-full flex-0 pt-4">
        <p-button
          (onClick)="saveRedirectSettings()"
          [label]="'settings.developerApps.form.buttons.save' | translate"
          class="w-10rem btn-full-width bg-primary-blue-second"
          [disabled]="!redirectForm.valid"
        ></p-button>
      </div>
    }
  </form>
</p-card>
