<div class="resource">
  <p-accordion (onOpen)="handleOpen()">
    <p-accordion-panel value="0">
      <p-accordion-header class="flex flex-row align-items-start gap-3 p-3">
        <div osfStopPropagation class="flex align-items-baseline gap-2 font-normal">
          <osf-icon [class]="reviewStatusIcon[status()].value" [iconClass]="reviewStatusIcon[status()].icon"></osf-icon>

          <div>
            @if (isRejected) {
              <h4>{{ submission().title }}</h4>
            } @else {
              <p-button
                class="link-btn-no-padding"
                link
                styleClass="text-left"
                [label]="submission().title"
                (onClick)="selected.emit()"
              />
            }

            @if (submission().public && !submission().embargoEndDate) {
              <p class="flex flex-wrap gap-1 mt-2">{{ 'registry.overview.statuses.accepted.text' | translate }}</p>
            }

            @if (submission().embargoEndDate) {
              <p class="flex flex-wrap gap-1 mt-2">
                {{ 'moderation.registryEmbargoedWithEndDate' | translate }}
                {{ submission().embargoEndDate | date: 'MMM d, y' }}
              </p>
            }

            @for (action of showAll ? submission().actions : submission().actions.slice(0, limitValue); track $index) {
              <div class="flex flex-wrap gap-1 mt-2">
                <span>{{ registryActionLabel[action.toState] | translate }}</span>
                <span>{{ action.dateModified | dateAgo }}</span>
                <span>{{ 'moderation.submissionReview.by' | translate }}</span>
                <span>{{ action.creator?.name }}</span>

                @if (action.toState === registryActionState.Accepted) {
                  <span>{{ 'moderation.withNoEmbargo' | translate }}</span>
                }

                @if (action.comment.length) {
                  <osf-truncated-text class="font-italic" [text]="action.comment" />
                }
              </div>
            }

            @if (submission().actions.length > 1) {
              <p-button
                class="link-btn-no-padding block mt-2"
                [link]="true"
                [label]="(showAll ? 'common.buttons.hide' : 'moderation.showHistory') | translate"
                (onClick)="toggleHistory()"
              />
            }
          </div>
        </div>
      </p-accordion-header>

      <p-accordion-content>
        <div class="flex align-content-start gap-1 p-3 pt-0 ml-3">
          <p>{{ 'common.labels.contributors' | translate }}:</p>

          <osf-contributors-list
            [contributors]="submission().contributors || []"
            [isLoading]="submission().contributorsLoading || false"
            [hasLoadMore]="hasMoreContributors()"
            (loadMoreContributors)="loadMoreContributors.emit()"
          >
          </osf-contributors-list>
        </div>
        <div>
          <osf-funder-awards-list
            [funders]="submission().funders || []"
            [isLoading]="submission().fundersLoading || false"
            [registryId]="submission().id"
          ></osf-funder-awards-list>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
