<p-card>
  <h2>{{ 'settings.accountSettings.affiliatedInstitutions.title' | translate }}</h2>

  <p class="mt-4">
    {{ 'settings.accountSettings.affiliatedInstitutions.description' | translate }}
  </p>

  @if (institutions().length === 0) {
    <p class="mt-4">
      {{ 'settings.accountSettings.affiliatedInstitutions.noInstitutions' | translate }}
    </p>
  }

  @for (institution of institutions(); track institution.id) {
    <div class="flex mt-3">
      <osf-readonly-input [value]="institution.name" (deleteItem)="deleteInstitution(institution)"></osf-readonly-input>
    </div>
  }
</p-card>
