.date-range-label {
  color: var(--dark-blue-1);
}

.chart {
  border: 1px solid var(--grey-2);
  border-radius: 12px;
  padding: 1rem;
  max-width: 100%;
  height: 460px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

.xl-half-width {
  flex-basis: calc(50% - 0.75rem);
  max-width: calc(50% - 0.75rem);
}
