<osf-sub-header [title]="'navigation.analytics' | translate"></osf-sub-header>

<section class="flex flex-column bg-white flex-1 h-full p-5 gap-4">
  @if (hasViewOnly()) {
    <osf-view-only-link-message />
  }

  <div class="flex align-items-center justify-content-end">
    <label class="date-range-label" for="date-range">{{ 'project.analytics.charts.showAnalytics' | translate }}</label>

    <p-select
      class="ml-3"
      inputId="date-range"
      [options]="rangeOptions"
      optionLabel="dateRange"
      [ngModel]="selectedRange()"
      (ngModelChange)="onRangeChange($event)"
      [disabled]="isMetricsError() || isMetricsLoading()"
    >
      <ng-template #selectedItem let-selectedOption>
        {{ selectedOption.label | translate }}
      </ng-template>

      <ng-template #item let-item>
        {{ item.label | translate }}
      </ng-template>
    </p-select>
  </div>

  <div class="flex flex-column flex-wrap gap-4 xl:flex-row" [class]="{ disabled: isMetricsError() }">
    <osf-line-chart
      class="chart"
      [class.xl-half-width]="IS_X_LARGE()"
      [isLoading]="isMetricsLoading()"
      [title]="'project.analytics.charts.uniqueVisits'"
      [labels]="visitsLabels"
      [datasets]="visitsDataset"
    ></osf-line-chart>

    <osf-bar-chart
      class="chart"
      [class.xl-half-width]="IS_X_LARGE()"
      [isLoading]="isMetricsLoading()"
      [title]="'project.analytics.charts.timeOfDayOfVisits'"
      [labels]="totalVisitsLabels"
      [datasets]="totalVisitsDataset"
      [orientation]="'vertical'"
    ></osf-bar-chart>

    <osf-pie-chart
      class="chart"
      [class.xl-half-width]="IS_X_LARGE()"
      [isLoading]="isMetricsLoading()"
      [title]="'project.analytics.charts.topReferrers'"
      [labels]="topReferrersLabels"
      [datasets]="topReferrersDataset"
      [showLegend]="true"
    ></osf-pie-chart>

    <osf-bar-chart
      class="chart"
      [class.xl-half-width]="IS_X_LARGE()"
      [isLoading]="isMetricsLoading()"
      [title]="'project.analytics.charts.popularPages'"
      [labels]="popularPagesLabels"
      [datasets]="popularPagesDataset"
    ></osf-bar-chart>
  </div>

  <div class="flex flex-column gap-3 mt-6 sm:flex-row sm:justify-content-between sm:gap-4">
    <osf-analytics-kpi
      [isLoading]="isRelatedCountsLoading()"
      [title]="'project.analytics.kpi.forks'"
      [value]="relatedCounts()?.forksCount"
      [showButton]="true"
      [buttonLabel]="'project.analytics.kpi.viewForks'"
      (buttonClick)="navigateToDuplicates()"
    ></osf-analytics-kpi>

    <osf-analytics-kpi
      [isLoading]="isRelatedCountsLoading()"
      [title]="'project.analytics.kpi.linksToThisProject'"
      [value]="relatedCounts()?.linksToCount"
      [showButton]="true"
      [buttonLabel]="'project.analytics.kpi.viewLinks'"
    ></osf-analytics-kpi>

    <osf-analytics-kpi
      [isLoading]="isRelatedCountsLoading()"
      [title]="'project.analytics.kpi.templateCopies'"
      [value]="relatedCounts()?.templateCount"
    ></osf-analytics-kpi>
  </div>
</section>
