<osf-sub-header [title]="'settings.addons.header.title' | translate" [icon]="'fas fa-gear'" />
<section class="flex-column flex flex-1">
  <p-tabs [(value)]="selectedTab" class="flex-1">
    <p-tablist class="pr-5 pl-5 hidden md:flex md:flex-column">
      <p-tab [value]="AddonTabValue.ALL_ADDONS" data-test-addons-tab-all-addons>
        {{ 'settings.addons.tabs.allAddons' | translate }}
      </p-tab>

      <p-tab [value]="AddonTabValue.CONNECTED_ADDONS" data-test-addons-tab-connected-accounts>
        {{ 'settings.addons.tabs.connectedAddons' | translate }}
      </p-tab>
    </p-tablist>

    <p-tabpanels class="flex-1 p-3 sm:p-5">
      <osf-select
        class="font-bold md:hidden"
        [options]="tabOptions"
        [(selectedValue)]="selectedTab"
        [fullWidth]="true"
      />
      <p-tabpanel [value]="AddonTabValue.ALL_ADDONS" class="flex flex-column mt-4 gap-5">
        <p>
          {{ 'settings.addons.description' | translate }}
        </p>

        <osf-addons-toolbar
          [categoryOptions]="categoryOptions"
          [searchControl]="searchControl"
          [(selectedCategory)]="selectedCategory"
        />

        @if (!isAddonsLoading()) {
          <osf-addon-card-list [cards]="filteredAddonCards()" [isConnected]="false" [hasAdminAccess]="true" />
        } @else {
          <div class="mt-8">
            <osf-loading-spinner />
          </div>
        }
      </p-tabpanel>

      <p-tabpanel [value]="AddonTabValue.CONNECTED_ADDONS" class="flex flex-column gap-5">
        <p>
          {{ 'settings.addons.connectedDescription' | translate }}
        </p>
        <osf-addons-toolbar
          [categoryOptions]="categoryOptions"
          [searchControl]="searchControl"
          [(selectedCategory)]="selectedCategory"
        />

        @if (!isAuthorizedAddonsLoading()) {
          <osf-addon-card-list [cards]="allAuthorizedAddons()" [isConnected]="true" [hasAdminAccess]="true" />
        } @else {
          <div class="mt-8">
            <osf-loading-spinner />
          </div>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</section>
