@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

:host {
  display: block;

  .addon-card {
    border: 1px solid var.$grey-2;
    border-radius: mix.rem(12px);
  }

  .addon-image {
    height: 7rem;
    max-width: 60%;
    object-fit: contain;
  }
}
