<div class="addon-card flex flex-column flex-1 gap-3 p-4 text-center">
  <div class="max-h-8rem">
    @if (card()!.externalServiceName) {
      <img
        class="addon-image"
        [src]="'assets/images/addons/' + card()!.externalServiceName + '.svg'"
        alt="Addon card image"
      />
    }
  </div>

  <div class="flex flex-column gap-4">
    <h3>{{ card()?.displayName }}</h3>

    <div class="flex flex-column justify-content-center align-items-center gap-3 md:flex-row md:gap-4">
      @if (showDangerButton()) {
        <p-button
          [label]="'settings.addons.form.buttons.disable' | translate"
          severity="danger"
          (onClick)="showDisableDialog()"
        ></p-button>
      }

      <p-button
        [label]="cardButtonLabel() || ('settings.addons.form.buttons.connect' | translate)"
        severity="secondary"
        (onClick)="onConnectAddon()"
      ></p-button>
    </div>
  </div>
</div>
