<div class="addon-card flex flex-1 gap-4 flex-column p-5">
  <div class="max-h-8rem flex justify-content-center align-items-center">
    @if (card()!.externalServiceName) {
      <img
        class="addon-image"
        alt="Addon card image"
        [src]="'assets/icons/addons/' + card()!.externalServiceName + '.svg'"
        data-test-addon-card-logo
      />
    }
  </div>

  <div class="flex flex-column gap-3">
    <h3 class="text-center" data-test-addon-card-title>{{ card()?.displayName }}</h3>

    <div class="flex justify-content-center align-items-center md:gap-5 md:mt-3 btn-container">
      @if (showDangerButton()) {
        <p-button
          [label]="'settings.addons.form.buttons.disable' | translate"
          severity="danger"
          (onClick)="showDisableDialog()"
          data-test-addon-card-disconnect
        ></p-button>
      }

      <p-button
        [label]="cardButtonLabel() || ('settings.addons.form.buttons.connect' | translate)"
        severity="secondary"
        (onClick)="!isConfiguredAddon() ? onConnectAddon() : onConfigureAddon()"
      ></p-button>
    </div>
  </div>
</div>
