@use "assets/styles/variables" as var;

:host {
  display: block;

  img {
    height: 7rem;
    max-width: 60%;
  }

  .addon-card {
    text-align: center;
    border: 1px solid var.$grey-2;
    border-radius: 1rem;
    padding: 2rem;
  }

  .mobile {
    img {
      max-height: 4rem;
    }

    .btn-container {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }

  .addon-card.mobile {
    gap: 0.5rem;
    padding: 1rem;
  }

  .p-dialog-header-icon {
    background-color: transparent;
    color: var.$grey-1;
    border: none;
    height: 1.1rem;
  }
}
