@use "styles/mixins" as mix;
@use "styles/variables" as var;

.folders-table {
  min-width: 100%;
  border-radius: mix.rem(8px);
  overflow-x: auto;
  border: 1px solid var.$grey-2;

  &-heading {
    height: mix.rem(44px);
    padding: 0 mix.rem(27px);
    align-items: center;
    border-bottom: 1px solid var.$grey-2;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: mix.rem(44px);
    border-bottom: 1px solid var.$grey-2;
    padding: 0 mix.rem(27px);
    min-width: max-content;

    .folder-link {
      color: var.$dark-blue-1;
    }

    .table-cell {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    > .table-cell:first-child {
      min-width: 0;
      max-width: 95%;
    }
  }

  &-row:last-child {
    border-bottom: none;
  }
}
