@use "../../file-detail.component.scss";

.metadata {
  color: var(--dark-blue-1);
  border: 1px solid var(--grey-2);
  border-radius: 12px;
}

:host {
  .action-item {
    font-style: normal;
    margin-left: 0.4rem;
  }
}
