<osf-sub-header
  [title]="'project.analytics.kpi.forks' | translate"
  [showButton]="isAuthenticated()"
  [buttonLabel]="'project.overview.actions.forkProjectLabel' | translate"
  (buttonClick)="handleForkResource()"
/>

<div class="flex flex-column flex-1 bg-white gap-5 p-3 sm:p-4">
  @if (!isDuplicatesLoading()) {
    @if (!duplicates().length) {
      <p class="mt-5 text-center">{{ 'project.overview.dialog.fork.noForksMessage' | translate }}</p>
    } @else {
      <p>{{ 'project.overview.dialog.fork.forksMessage' | translate }}</p>

      @for (duplicate of duplicates(); track duplicate.id) {
        <osf-related-node-card
          [node]="duplicate"
          [menuItems]="duplicate.canShowForkMenu ? forkActionItems : undefined"
          (menuAction)="handleMenuAction($event, duplicate.id)"
        />
      }

      @if (totalDuplicates() > pageSize) {
        <osf-custom-paginator
          [totalCount]="totalDuplicates()"
          [rows]="pageSize"
          [first]="firstIndex()"
          (pageChanged)="onPageChange($event)"
        />
      }
    }
  } @else {
    <osf-loading-spinner />
  }
</div>
