<div class="xl:mt-6 xl:pt-6">
  <div class="search-container mt-5 mx-3 md:mx-4">
    <img
      class="custom-dark-hover cursor-pointer"
      ngSrc="assets/icons/colored/question-mark.svg"
      tabindex="0"
      role="button"
      height="36"
      width="36"
      alt="better-research"
      (click)="currentStep = 1"
      (keydown.enter)="currentStep = 1"
    />
    <osf-search-input [control]="searchControl" placeholder="Enter search term(s) here" />
  </div>

  <div class="flex-column flex w-full resources-tab-panel">
    <p-tabs [value]="selectedTab" (valueChange)="onTabChange(+$event)" class="flex-1">
      @if (!isMobile()) {
        <p-tablist>
          <p-tab [value]="ResourceTab.All">All</p-tab>
          <p-tab [value]="ResourceTab.Projects">Projects</p-tab>
          <p-tab [value]="ResourceTab.Registrations">Registrations</p-tab>
          <p-tab [value]="ResourceTab.Preprints">Preprints</p-tab>
          <p-tab [value]="ResourceTab.Files">Files</p-tab>
          @if (!isMyProfilePage()) {
            <p-tab [value]="ResourceTab.Users">Users</p-tab>
          }
        </p-tablist>
      }

      <p-tabpanels class="p-3 flex-1 sm:p-5">
        <p-tabpanel [value]="ResourceTab.All" class="flex flex-column gap-4 flex-1"> </p-tabpanel>
        <p-tabpanel [value]="ResourceTab.Projects" class="flex flex-column gap-5"> </p-tabpanel>
        <p-tabpanel [value]="ResourceTab.Registrations" class="flex flex-column gap-5"></p-tabpanel>
        <p-tabpanel [value]="ResourceTab.Preprints" class="flex flex-column gap-5"></p-tabpanel>
        <p-tabpanel [value]="ResourceTab.Files" class="flex flex-column gap-5"> </p-tabpanel>
        @if (!isMyProfilePage()) {
          <p-tabpanel [value]="ResourceTab.Users" class="flex flex-column gap-5"> </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>

    <div class="resources py-4 px-3 md:px-5 xl:px-4">
      <osf-resources-wrapper></osf-resources-wrapper>

      @if (currentStep === 1) {
        <div class="stepper first-stepper">
          <h3 class="stepper-title">Improved OSF Search</h3>

          <p>
            Enter any term in the search box and filter by specific object types. More information is available on our
            help guides.
          </p>

          <div class="flex align-items-center mt-4">
            <p>1 of 3</p>

            <div class="flex column-gap-3 ml-auto wide-button">
              <p-button (click)="currentStep = 0" label="Skip" severity="secondary" />
              <p-button (click)="currentStep = currentStep + 1">Next</p-button>
            </div>
          </div>
        </div>
      }

      @if (currentStep === 2) {
        <div class="stepper second-stepper">
          <h3 class="stepper-title">Refine Your Search</h3>

          <p>
            Narrow the source, discipline, and more. For example, find content supported by a specific funder or view
            only datasets.
          </p>

          <div class="flex align-items-center mt-4">
            <p>2 of 3</p>

            <div class="flex column-gap-3 ml-auto wide-button">
              <p-button (click)="currentStep = 0" label="Skip" severity="secondary" />
              <p-button (click)="currentStep = currentStep + 1">Next</p-button>
            </div>
          </div>
        </div>
      }

      @if (currentStep === 3) {
        <div class="stepper third-stepper">
          <h3 class="stepper-title">Add Metadata</h3>

          <p>
            Remember to add metadata and resources to your own work on OSF to make it more discoverable! Learn more in
            our help guides.
          </p>

          <div class="flex align-items-center mt-4">
            <p>3 of 3</p>

            <div class="flex column-gap-3 ml-auto wide-button">
              <p-button (click)="currentStep = currentStep + 1">Done</p-button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
