<div class="flex align-items-center flex-wrap gap-1">
  @if (anonymous()) {
    <p>{{ 'project.overview.metadata.anonymousContributors' | translate }}</p>
  } @else {
    @if (isLoading()) {
      <div class="w-full">
        <p-skeleton height="5rem" />
      </div>
    } @else {
      @for (contributor of contributors(); track contributor.id) {
        <div>
          @if (readonly() || contributor.isUnregisteredContributor || !contributor.id || contributor.deactivated) {
            <span data-test-contributor-name>{{ contributor.fullName }}{{ $last ? '' : ',' }}</span>
          } @else {
            <a
              class="font-bold block line-height-3"
              [routerLink]="['/user', contributor.userId]"
              data-test-contributor-name
            >
              {{ contributor.fullName }}{{ $last ? '' : ',' }}
            </a>
          }
        </div>
      }
    }
  }
</div>

@if (hasLoadMore() && !isLoading()) {
  <div class="flex mt-2">
    <p-button
      (onClick)="loadMoreContributors.emit()"
      severity="secondary"
      [label]="'common.buttons.seeMore' | translate"
    />
  </div>
}
