<div class="flex flex-wrap gap-1">
  @if (anonymous()) {
    <p>{{ 'project.overview.metadata.anonymousContributors' | translate }}</p>
  } @else {
    @for (contributor of contributors(); track contributor.id) {
      <div>
        @if (readonly() || contributor.isUnregisteredContributor || !contributor.id || contributor.deactivated) {
          <span data-test-contributor-name>{{ contributor.fullName }}{{ $last ? '' : ',' }}</span>
        } @else {
          <a class="font-bold" [routerLink]="['/user', contributor.userId]" data-test-contributor-name>
            {{ contributor.fullName }}{{ $last ? '' : ',' }}
          </a>
        }
      </div>
    }
  }
</div>
