<section class="flex flex-column flex-1">
  <osf-sub-header
    [showButton]="true"
    [buttonLabel]="'project.metadata.addCommunityMetadataRecord.title' | translate"
    (buttonClick)="openAddRecord()"
    [title]="'project.overview.metadata.title' | translate"
  />
  <osf-metadata-tabs
    [loading]="isLoading()"
    [tabs]="tabs()"
    [selectedTab]="selectedTab()"
    [selectedCedarTemplate]="selectedCedarTemplate()!"
    [selectedCedarRecord]="selectedCedarRecord()!"
    [cedarFormReadonly]="cedarFormReadonly()"
    (changeTab)="onTabChange($event)"
    (formSubmit)="onCedarFormSubmit($event)"
    (cedarFormChangeTemplate)="onCedarFormChangeTemplate()"
    (cedarFormEdit)="onCedarFormEdit()"
  >
    <osf-shared-metadata
      [hideEditDoi]="hideEditDoi()"
      [selectedSubjects]="selectedSubjects()"
      [isSubjectsUpdating]="isSubjectsUpdating()"
      [metadata]="metadata()"
      [affiliatedInstitutions]="affiliatedInstitutions()"
      [resourceType]="resourceType()"
      [customItemMetadata]="customItemMetadata()!"
      (openEditContributorDialog)="openEditContributorDialog()"
      (openEditDescriptionDialog)="openEditDescriptionDialog()"
      (openEditResourceInformationDialog)="openEditResourceInformationDialog()"
      (showResourceInfo)="onShowResourceInfo()"
      (openEditFundingDialog)="openEditFundingDialog()"
      (openEditAffiliatedInstitutionsDialog)="openEditAffiliatedInstitutionsDialog()"
      (openEditLicenseDialog)="openEditLicenseDialog()"
      (handleEditDoi)="handleEditDoi()"
      (tagsChanged)="onTagsChanged($event)"
      (getSubjectChildren)="getSubjectChildren($event)"
      (searchSubjects)="searchSubjects($event)"
      (updateSelectedSubjects)="updateSelectedSubjects($event)"
    />
  </osf-metadata-tabs>
</section>
