@use "styles/mixins" as mix;

.p-datepicker {
  width: 100%;
  --p-datepicker-input-icon-color: var(--grey-1);

  .p-datepicker-header {
    --p-button-text-primary-color: var(--grey-1);
    --p-datepicker-select-month-color: var(--dark-blue-1);
    --p-datepicker-select-month-padding: 0;
    --p-datepicker-date-hover-background: var(--bg-blue-3);
    --p-datepicker-date-hover-color: var(--dark-blue-1);
    --p-datepicker-select-year-padding: 0;
    --p-datepicker-select-year-hover-background: var(--bg-blue-3);
    --p-datepicker-select-year-hover-color: var(--dark-blue-1);
  }

  .p-datepicker-title {
    .p-datepicker-select-month,
    .p-datepicker-select-year {
      font-size: 1rem;
    }
  }

  .p-datepicker-today > .p-datepicker-day {
    --p-datepicker-today-background: none;
    --p-datepicker-today-color: var(--pr-blue-1);
    font-weight: 700;

    &:hover {
      --p-datepicker-date-hover-background: var(--pr-blue-2);
      --p-datepicker-date-hover-color: var(--white);
    }
  }

  .p-datepicker-day-selected {
    --p-datepicker-date-hover-background: var(--pr-blue-2);
    --p-datepicker-date-hover-color: var(--white);
  }
}

.half-width-datepicker {
  .p-datepicker-panel {
    min-width: mix.rem(350px) !important;
  }
}
