.p-radiobutton {
  --p-radiobutton-checked-background: transparent;
  --p-radiobutton-checked-hover-background: transparent;
  --p-radiobutton-icon-checked-hover-color: var(--pr-blue-1);
  --p-radiobutton-checked-hover-border-color: var(--pr-blue-1);
  --p-radiobutton-icon-checked-color: var(--pr-blue-1);
}
