.files-table {
  .p-tree {
    padding: 0;

    .p-tree-node-toggle-button {
      display: none;
    }

    .p-tree-node-droppoint {
      display: none;
    }

    p-treenode:last-child {
      .file-tables-row {
        border-bottom: none;
      }
    }

    .p-tree-node-dragover {
      .files-table-row {
        background: var(--bg-blue-3);
      }
    }

    .p-tree-root-children {
      padding: 0;
      padding-block: 0;
      gap: 0;

      p-treenode:last-child {
        .files-table-row {
          border: none;
        }
      }
    }

    .p-tree-root {
      overflow: auto;
      min-height: 180px;
    }

    .p-tree-node-content {
      border-radius: unset;
      padding: unset;
      gap: unset;
      display: unset;
    }

    .p-tree-empty-message {
      display: none;
    }

    .p-tree-node-selected {
      .files-table-row {
        color: var(--white);
        background: var(--pr-blue-1);

        .blue-icon {
          color: var(--white);
        }
      }
    }
  }

  .empty-state-container {
    position: absolute;
    inset: 0;
    top: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .drop-text {
      text-align: center;
      margin-bottom: 2.75rem;
    }
  }
}
