<div class="content-body filter dropdown-filter">
  <p class="m-0">Please select the partOfCollection from the dropdown below or start typing for find it</p>
  <p-select
    id="partOfCollection"
    [options]="partOfCollectionsOptions()"
    [(ngModel)]="inputText"
    [placeholder]="'Select part of collection'"
    optionLabel="labelCount"
    optionValue="label"
    styleClass="w-full"
    appendTo="body"
    (onChange)="setPartOfCollections($event)"
    [showClear]="!!inputText()"
    [loading]="loading()"
  ></p-select>
</div>
