@if (isLoading()) {
  <p-skeleton width="100%" height="3.2rem" />
} @else {
  <div class="flex flex-column gap-2">
    <div class="flex gap-4">
      <p-button
        severity="secondary"
        [label]="'myProjects.createProject.affiliation.selectAll' | translate"
        [disabled]="isSelectAllDisabled()"
        (onClick)="selectAll()"
        (keydown.enter)="selectAll()"
      />
      <p-button
        severity="secondary"
        [label]="'myProjects.createProject.affiliation.removeAll' | translate"
        [disabled]="isRemoveAllDisabled()"
        (onClick)="removeAll()"
        (keydown.enter)="removeAll()"
      />
    </div>

    <div class="flex gap-2" role="group" aria-label="Affiliations">
      @for (institution of institutions(); track institution.id) {
        <div class="flex align-items-center relative gap-2">
          <p-checkbox
            [inputId]="institution.id"
            class="absolute top-0 affiliation-checkbox"
            [value]="institution"
            [ngModel]="selectedInstitutions()"
            (onChange)="selectDeselectInstitution(institution)"
          />
          <img class="fit-contain" [ngSrc]="institution.assets.logo" [alt]="institution.name" height="44" width="44" />
        </div>
      }
    </div>
  </div>
}
