<p>{{ 'project.overview.dialog.deleteComponent.message' | translate }}</p>
<br />
<p>
  {{ 'project.overview.dialog.deleteComponent.confirmation' | translate }}
  <strong> {{ selectedScientist() }}</strong>
</p>
<input pInputText class="mt-3" [ngModel]="userInput()" (ngModelChange)="onInputChange($event)" />
<div class="flex pt-5 justify-content-end gap-3">
  <p-button
    class="w-12rem btn-full-width"
    [label]="'project.overview.dialog.deleteComponent.cancelButton' | translate"
    severity="info"
    (click)="dialogRef.close()"
    [disabled]="isSubmitting()"
  />
  <p-button
    class="w-12rem btn-full-width"
    [label]="'project.overview.dialog.deleteComponent.confirmButton' | translate"
    (onClick)="handleDeleteComponent()"
    severity="danger"
    [disabled]="isSubmitting() || !isInputValid()"
    [loading]="isSubmitting()"
  />
</div>
