<div class="metadata p-4 flex flex-column gap-2">
  <div class="flex justify-content-between">
    <h2>{{ 'project.files.detail.keywords.title' | translate }}</h2>
  </div>

  <div class="flex align-items-center gap-2">
    <input pInputText class="flex-1" [formControl]="searchControl">
    <p-button [label]="'common.buttons.add' | translate" (click)="updateTags()" [disabled]="tags().isLoading"></p-button>
  </div>

  @if (!tags().isLoading) {
    <div class="flex flex-wrap gap-1">
      @for(tag of tags().data; track $index){
        <p-chip [label]="tag" removable="true">
          <ng-template pTemplate="removeicon">
            <i
              class="osf-icon-close text-xs font-bold text-align-center"
              tabindex="0"
              role="button"
              (click)="deleteTag(tag)"
              (keydown.enter)="deleteTag(tag)"
            ></i>
          </ng-template>
        </p-chip>
      }
    </div>
  }
  @else{
    <osf-loading-spinner></osf-loading-spinner>
  }
</div>
