@if (validationError) {
  <small class="text-danger font-semibold mt-1">
    @switch (validationError) {
      @case ('required') {
        {{ 'auth.common.password.validation.required' | translate }}
      }
      @case ('minlength') {
        {{ 'auth.common.password.validation.minlength' | translate }}
      }
      @case ('pattern') {
        {{ 'auth.common.password.validation.pattern' | translate }}
      }
    }
  </small>
} @else {
  <small class="hint-text font-semibold mt-1">
    {{ 'auth.common.password.requirements' | translate }}
  </small>
}
