@if (isLoading()) {
  <div class="flex flex-column gap-2">
    <p-skeleton height="2.5rem"></p-skeleton>
    <p-skeleton height="2.5rem"></p-skeleton>
    <p-skeleton height="2.5rem"></p-skeleton>
    <p-skeleton height="2.5rem"></p-skeleton>
  </div>
} @else {
  @for (item of reviews(); track $index) {
    <div class="recent-activity-item flex justify-content-between py-2">
      <div class="flex align-items-center gap-1">
        <osf-icon
          [class]="reviewStatusIcon[item.toState].value"
          [iconClass]="reviewStatusIcon[item.toState].icon"
        ></osf-icon>
        <span>{{ item.creator.name }}</span>
        <span>{{ preprintReviewStatus[item.toState].label | translate: { name: item.preprint.name } }}</span>
        <span>{{ item.provider.name }}</span>
      </div>

      <p class="flex flex-wrap gap-1 mt-2">
        {{ item.dateModified | date: 'MMM d, y h:mm a' }}
      </p>
    </div>
  }

  @if (totalCount() > 10) {
    <osf-custom-paginator
      class="block mt-4"
      [first]="first()"
      [totalCount]="totalCount()"
      (pageChanged)="onPageChange($event)"
    ></osf-custom-paginator>
  }
}
