@use "assets/styles/mixins" as mix;

:host {
  @include mix.flex-center;
  flex: 1;
  background: url("/assets/images/dark-blue-gradient.png") center no-repeat;
  background-size: cover;
}

.reset-password-container,
.message-container {
  @include mix.flex-column;
  padding: 2rem;
  background: var(--white);
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px var(--grey-outline);
  max-width: 32rem;
  flex: 1;
}
