@if (!isFormSubmitted()) {
  <section class="reset-password-container">
    <h2 class="text-center">{{ 'auth.resetPassword.title' | translate }}</h2>

    <form class="flex flex-column gap-3 mt-4" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-column">
        <label for="newPassword">{{ 'auth.common.password.new' | translate }}</label>
        <p-password
          id="newPassword"
          formControlName="newPassword"
          styleClass="w-full"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="new-password"
        ></p-password>

        <osf-password-input-hint [control]="resetPasswordForm.controls['newPassword']" />
      </div>

      <div class="flex flex-column">
        <label for="confirmNewPassword">{{ 'auth.common.password.confirm' | translate }}</label>
        <p-password
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
          styleClass="w-full"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="new-password"
        ></p-password>
        @if (isMismatchError) {
          <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
            {{ 'auth.common.password.mismatch' | translate }}
          </p-message>
        }
      </div>

      <p-button
        class="btn-full-width block mt-6"
        type="submit"
        [label]="'auth.resetPassword.submit' | translate"
        [disabled]="resetPasswordForm.invalid"
      ></p-button>
    </form>
  </section>
} @else {
  <section class="message-container text-center">
    <h2>{{ 'auth.resetPassword.success.title' | translate }}</h2>
    <p class="mt-4">
      {{ 'auth.resetPassword.success.message' | translate }}
    </p>
    <p-button
      class="btn-full-width block mt-6"
      [label]="'auth.resetPassword.success.backToSignin' | translate"
      (onClick)="backToSignIn()"
    />
  </section>
}
