<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.contributors' | translate }}</h2>

    @if (!readonly()) {
      <p-button
        (onClick)="openEditContributorDialog.emit()"
        severity="secondary"
        [label]="'common.buttons.edit' | translate"
        data-test-edit-contributors-button
      ></p-button>
    }
  </div>

  @if (contributors()) {
    <div class="inline-flex flex-wrap gap-1 line-height-2 mt-4">
      <osf-contributors-list [contributors]="contributors()"></osf-contributors-list>
    </div>
  }
</p-card>
