<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.contributors' | translate }}</h2>

    @if (!readonly()) {
      <p-button
        (onClick)="openEditContributorDialog.emit()"
        severity="secondary"
        [label]="'common.buttons.edit' | translate"
        data-test-edit-contributors-button
      ></p-button>
    }
  </div>

  @if (contributors()) {
    <div class="inline-flex gap-1 line-height-2 mt-4">
      @for (contributor of contributors(); track contributor.id) {
        <div>
          <a class="font-bold" [routerLink]="['/user', contributor.userId]" data-test-contributor-name>
            {{ contributor.fullName }}
          </a>
          <span>{{ $last ? '' : ',' }}</span>
        </div>
      }
    </div>
  }
</p-card>
