@use "assets/styles/variables" as var;

:host {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 0.4rem;

  @media (max-width: var.$breakpoint-xl) {
    flex-direction: row;
  }

  @media (max-width: var.$breakpoint-sm) {
    flex-direction: column;
  }
}
