<div
  class="flex justify-content-between align-items-center mb-2 w-full border-bottom-1 border-gray-300 gap-2 flex-column sm:flex-row sm:gap-4"
>
  <div class="flex align-items-center gap-2 cursor-pointer w-full sm:w-5">
    <p-button
      [icon]="expanded() ? 'fas fa-minus' : 'fas fa-plus'"
      variant="text"
      severity="contrast"
      (onClick)="toggle()"
    ></p-button>

    <span class="font-medium text-color">{{ title() }}</span>
  </div>

  @if (rightControls()) {
    <div class="flex flex-wrap gap-2 align-items-center w-full sm:gap-4 sm:w-7">
      @for (control of rightControls(); let index = $index; track index) {
        <div class="flex align-items-center gap-2">
          @if (control.label) {
            <span class="font-medium text-color">
              {{ control.label | translate }}
            </span>
          }

          <osf-select
            [noBorder]="true"
            [options]="control.options"
            [(selectedValue)]="control.value"
            [disabled]="disabledRightControls()"
            (changeValue)="emitValueChange.emit({ index: index, value: control.value })"
          ></osf-select>
        </div>
      }
    </div>
  }
</div>

@if (expanded()) {
  <div class="mt-2 pl-5 border-bottom-1 border-gray-300">
    <ng-content></ng-content>
  </div>
}
