<form [formGroup]="appForm" (ngSubmit)="handleSubmitForm()" class="flex flex-column gap-3">
  <div class="flex flex-column">
    <osf-text-input
      [label]="'settings.developerApps.form.appName'"
      [control]="appForm.controls[DeveloperAppFormFormControls.AppName]"
      [maxLength]="inputLimits.fullName.maxLength"
    ></osf-text-input>
  </div>

  <div class="flex flex-column">
    <osf-text-input
      [label]="'settings.developerApps.form.homepageUrl'"
      type="url"
      [control]="appForm.controls[DeveloperAppFormFormControls.ProjectHomePageUrl]"
      [maxLength]="inputLimits.link.maxLength"
    ></osf-text-input>
  </div>

  <div class="flex flex-column">
    <osf-text-input
      [label]="'settings.developerApps.form.description'"
      [control]="appForm.controls[DeveloperAppFormFormControls.AppDescription]"
      [maxLength]="inputLimits.description.maxLength"
    ></osf-text-input>
  </div>

  <div class="flex flex-column">
    <osf-text-input
      [label]="'settings.developerApps.form.callbackUrl'"
      type="url"
      [control]="appForm.controls[DeveloperAppFormFormControls.AuthorizationCallbackUrl]"
      [maxLength]="inputLimits.link.maxLength"
    ></osf-text-input>
  </div>

  <div class="flex justify-content-end gap-2 mt-3">
    @if (isEditMode()) {
      <div class="w-6 md:w-auto">
        <p-button
          class="btn-full-width"
          [label]="'settings.developerApps.form.buttons.save' | translate"
          type="submit"
          [disabled]="!appForm.dirty || !appForm.valid"
        />
      </div>
    } @else {
      <p-button
        class="w-12rem btn-full-width"
        [label]="'settings.developerApps.form.buttons.cancel' | translate"
        severity="info"
        (click)="dialogRef.close()"
      />
      <p-button
        [label]="'settings.developerApps.form.buttons.create' | translate"
        type="submit"
        [disabled]="!appForm.valid || isLoading()"
        [loading]="isLoading()"
      />
    }
  </div>
</form>
