@if (isWeb()) {
  <div class="layout-desktop">
    <osf-sidenav></osf-sidenav>

    <div class="content-wrapper">
      <osf-header></osf-header>

      <router-outlet />

      <osf-footer></osf-footer>
    </div>
  </div>
} @else {
  <div class="layout-tablet">
    <div class="content-wrapper">
      <osf-topnav></osf-topnav>

      @if (isMedium()) {
        <osf-breadcrumb></osf-breadcrumb>
      }

      <router-outlet />

      <osf-footer></osf-footer>
    </div>
  </div>
}

<p-confirm-dialog styleClass="w-full md:w-6 xl:w-5" />
