@if (isWeb()) {
  <div class="layout-desktop">
    <osf-sidenav></osf-sidenav>

    <div class="content-wrapper">
      <osf-header></osf-header>

      <main class="flex flex-1">
        <router-outlet />
      </main>

      <osf-footer></osf-footer>
    </div>
  </div>
} @else {
  <div class="layout-tablet">
    <div class="content-wrapper">
      <osf-topnav></osf-topnav>

      @if (isMedium()) {
        <osf-breadcrumb></osf-breadcrumb>
      }

      <main class="flex flex-1">
        <router-outlet />
      </main>

      <osf-footer></osf-footer>
    </div>
  </div>
}

<p-confirm-dialog />
