<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.fundingSupport' | translate }}</h2>

    @if (!readonly()) {
      <p-button
        severity="secondary"
        [label]="'common.buttons.edit' | translate"
        (click)="openEditFundingDialog.emit()"
      ></p-button>
    }
  </div>

  @if (funders()?.length) {
    <div class="pt-4">
      @for (funder of funders(); track funder.funderIdentifier) {
        <div class="mb-2 pb-3 border-bottom-1 surface-border flex flex-column gap-2">
          <p>{{ 'files.detail.resourceMetadata.fields.funder' | translate }}: {{ funder.funderName }}</p>

          <p>{{ 'files.detail.resourceMetadata.fields.awardTitle' | translate }}: {{ funder.awardTitle }}</p>

          @if (funder.awardUri) {
            <p>
              {{ 'files.detail.resourceMetadata.fields.awardUri' | translate }}:
              <a [href]="funder.awardUri" target="_blank" class="text-primary text-sm">{{ funder.awardTitle }}</a>
            </p>
          }

          @if (funder.awardNumber) {
            <p>{{ 'files.detail.resourceMetadata.fields.awardNumber' | translate }} : {{ funder.awardNumber }}</p>
          }

          @if (funder.awardUri) {
            <a [href]="funder.awardUri" target="_blank" class="text-primary text-sm">{{ funder.awardUri }}</a>
          }
        </div>
      }
    </div>
  } @else {
    <div class="pt-4">
      <p class="text-color-secondary">{{ 'project.overview.metadata.noSupplements' | translate }}</p>
    </div>
  }
</p-card>
