@for (question of questions(); track question.responseKey) {
  <div [class.mb-4]="!$last">
    <h4 class="mb-2" [class.text-lg]="isOverviewPage()">
      {{ question.displayText }}

      @if (!isOriginalRevision() && updatedKeysMap()[question.responseKey!]) {
        <p-tag styleClass="font-bold" [value]="'common.labels.updated' | translate" severity="warn"></p-tag>
      }
    </h4>

    @if (reviewData()[question.responseKey!]) {
      @switch (question.fieldType) {
        @case (FieldType.Text) {
          <p>{{ reviewData()[question.responseKey!] }}</p>
        }
        @case (FieldType.Checkbox) {
          @for (option of reviewData()[question.responseKey!]; track option) {
            <p class="mb-1">{{ option }}</p>
          }
        }
        @case (FieldType.File) {
          @if (reviewData()[question.responseKey!].length) {
            <div class="flex flex-wrap gap-2">
              @for (file of reviewData()[question.responseKey!]; track file.id) {
                <osf-file-link [file]="file"></osf-file-link>
              }
            </div>
          } @else {
            <p class="font-italic">{{ 'common.labels.noFiles' | translate }}</p>
          }
        }
        @default {
          <p>{{ reviewData()[question.responseKey!] }}</p>
        }
      }
    } @else {
      @if (question.fieldType === FieldType.File) {
        <p class="font-italic">{{ 'common.labels.noFiles' | translate }}</p>
      } @else if (question.fieldType === FieldType.Paragraph) {
        <p>{{ question.paragraphText! | translate }}</p>
      } @else {
        <p class="font-italic">{{ 'common.labels.noData' | translate }}</p>
      }
      @if (question.required && !isOverviewPage()) {
        <p-message class="mt-1" severity="error" variant="simple" size="small">
          {{ INPUT_VALIDATION_MESSAGES.required | translate }}
        </p-message>
      }
    }
  </div>
}
