<div class="flex flex-column my-7">
  <section class="resend-confirmation-container p-3 md:p-4">
    <h2 class="text-center">{{ 'auth.resendConfirmation.title' | translate }}</h2>
    <p>{{ 'auth.resendConfirmation.description' | translate }}</p>

    <form [formGroup]="resendConfirmationForm" (ngSubmit)="onSubmit()">
      <osf-text-input
        [control]="resendConfirmationForm.controls['email']"
        [label]="'common.labels.email'"
        [placeholder]="'common.labels.emailPlaceholder'"
        type="email"
        [maxLength]="emailLimit"
      ></osf-text-input>

      <p-button
        class="btn-full-width block mt-6"
        type="submit"
        [label]="'auth.common.resendConfirmation' | translate"
        [disabled]="!resendConfirmationForm.valid"
      ></p-button>
    </form>
  </section>

  <div class="my-4">
    @if (message(); as msg) {
      <p-message styleClass="w-full" [severity]="msg.severity" closable="true" (onClose)="onCloseMessage()">
        {{ msg.content | translate }}
      </p-message>
    }
  </div>
</div>
