<p-card>
  <osf-subjects
    [areSubjectsUpdating]="isSubjectsUpdating()"
    [selected]="selectedSubjects()"
    (loadChildren)="getSubjectChildren($event)"
    (searchChanged)="searchSubjects($event)"
    (updateSelection)="updateSelectedSubjects($event)"
  ></osf-subjects>

  @if (control().errors?.['required'] && (control().touched || control().dirty)) {
    <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
      {{ INPUT_VALIDATION_MESSAGES.required | translate }}
    </p-message>
  }
</p-card>
