@let haveEducations = educationItems() && educationItems().length > 0;
<form [formGroup]="educationForm">
  <div formArrayName="educations" class="flex flex-column row-gap-4">
    @if (haveEducations) {
      @for (education of educations.controls; track education.value; let index = $index) {
        <div [formGroupName]="index" class="flex flex-column border-1 border-round-lg p-4 grey-border-color row-gap-4">
          <div class="flex flex-row">
            <h2>
              {{ 'settings.profileSettings.education.title' | translate: { index: index + 1 } }}
            </h2>
            @if (index !== 0) {
              <div class="ml-auto remove-button">
                <p-button
                  class="ml-auto"
                  [label]="'settings.profileSettings.education.remove' | translate"
                  (click)="removeEducation(index)"
                >
                </p-button>
              </div>
            }
          </div>

          <div class="flex flex-column row-gap-4">
            <div class="w-full">
              <label for="education-inst-{{ index }}" class="mb-1">
                {{ 'settings.profileSettings.education.institution' | translate }}
              </label>
              <input pInputText [id]="'education-inst-' + index" class="w-full" formControlName="institution" />
            </div>

            <div class="flex w-full column-gap-3 row-gap-4 flex-wrap lg:flex-nowrap">
              <div class="w-full lg:w-6">
                <label for="department-{{ index }}" class="mb-1">
                  {{ 'settings.profileSettings.education.department' | translate }}
                </label>
                <input pInputText [id]="'department-' + index" class="w-full" formControlName="department" />
              </div>
              <div class="w-full lg:w-6">
                <label for="degree-{{ index }}" class="mb-1">
                  {{ 'settings.profileSettings.education.degree' | translate }}
                </label>
                <input pInputText [id]="'degree-' + index" class="w-full" formControlName="degree" />
              </div>
            </div>

            <div
              class="flex gap-5 flex-column align-items-start md:flex-row md:align-items-end lg:align-items-center lg:gap-3"
            >
              <div class="w-full md:w-6 flex column-gap-3 row-gap-4 flex-wrap lg:flex-nowrap">
                <div class="w-full lg:w-6">
                  <label for="start-date-{{ index }}" class="mb-1">
                    {{ 'settings.profileSettings.education.startDate' | translate }}
                  </label>

                  <p-datepicker
                    [id]="'start-date-' + index"
                    formControlName="startDate"
                    dateFormat="mm/dd/yy"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                  ></p-datepicker>
                </div>
                <div class="w-full lg:w-6">
                  <label for="end-date-{{ index }}" class="mb-1">
                    {{ 'settings.profileSettings.education.endDate' | translate }}
                  </label>
                  <p-datepicker
                    [id]="'end-date-' + index"
                    formControlName="endDate"
                    dateFormat="mm/dd/yy"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                  ></p-datepicker>
                </div>
              </div>

              <div class="flex align-items-center w-full md:w-6 md:mb-3 lg:mb-0 lg:mt-4">
                <p-checkbox
                  [binary]="true"
                  formControlName="ongoing"
                  [inputId]="'ongoing-' + index"
                  name="ongoing"
                ></p-checkbox>
                <label [for]="'ongoing-' + index" class="ml-2 mb-0 cursor-pointer">
                  {{ 'settings.profileSettings.education.ongoing' | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
</form>

<p-button
  [label]="'settings.profileSettings.education.addMore' | translate"
  severity="secondary"
  class="ml-auto w-6 btn-full-width md:w-auto"
  (click)="addEducation()"
/>

<div class="flex justify-content-between align-items-end column-gap-2 md:ml-auto h-3rem mt-2">
  <p-button
    class="w-6 btn-full-width md:w-auto"
    [label]="'settings.profileSettings.common.discardChanges' | translate"
    severity="info"
    disabled="true"
  />
  <div class="w-6 btn-full-width wide-m-button md:w-auto">
    <p-button [label]="'settings.profileSettings.common.save' | translate" (onClick)="saveEducation()" />
  </div>
</div>
