<div class="metadata p-4 flex flex-column gap-3">
  <div class="flex justify-content-between">
    <h2>{{ 'project.files.detail.fileMetadata.title' | translate }}</h2>

    <div class="flex gap-2">
      <p-button severity="secondary"><i class="osf-icon-download p-1"></i></p-button>
      <p-button severity="secondary" (click)="editFileMetadataVisible = true">{{
        'project.files.detail.fileMetadata.edit' | translate
      }}</p-button>
    </div>
  </div>

  <div class="flex flex-column gap-2">
    <h3>{{ 'project.files.detail.fileMetadata.fields.title' | translate }}</h3>

    @if (fileMetadata().isLoading) {
      <p-skeleton width="3rem" height="19px"></p-skeleton>
    } @else {
      <span>{{ fileMetadata().data?.title }}</span>
    }
  </div>

  @if (fileMetadata().data?.description) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.fileMetadata.fields.description' | translate }}</h3>

      @if (fileMetadata().isLoading) {
        <p-skeleton width="6rem" height="19px"></p-skeleton>
      } @else {
        <div>
          {{ fileMetadata().data?.description }}
        </div>
      }
    </div>
  }

  @if (fileMetadata().data?.resourceTypeGeneral) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.fileMetadata.fields.resourceType' | translate }}</h3>

      @if (fileMetadata().isLoading) {
        <p-skeleton width="7.5rem" height="19px"></p-skeleton>
      } @else {
        <div>
          <span>{{ fileMetadata().data?.resourceTypeGeneral }}</span>
        </div>
      }
    </div>
  }

  @if (fileMetadata().data?.language) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.fileMetadata.fields.resourceLanguage' | translate }}</h3>

      @if (fileMetadata().isLoading) {
        <p-skeleton width="10rem" height="19px"></p-skeleton>
      } @else {
        <div>
          <span>{{ fileMetadata().data?.language }}</span>
        </div>
      }
    </div>
  }
</div>

<p-dialog
  [header]="'project.files.detail.fileMetadata.edit' | translate"
  [modal]="true"
  [(visible)]="editFileMetadataVisible"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="fileMetadataForm" (ngSubmit)="setFileMetadata()" class="flex flex-column gap-3">
    <div class="flex flex-column gap-1">
      <p>{{ 'project.files.detail.fileMetadata.fields.title' | translate }}</p>
      <input pInputText id="title" [formControl]="titleControl" />
    </div>
    <div class="flex flex-column gap-1">
      <p>{{ 'project.files.detail.fileMetadata.fields.description' | translate }}</p>
      <input pInputText id="description" [formControl]="descriptionControl" />
    </div>
    <div class="flex flex-column gap-1">
      <p>{{ 'project.files.detail.fileMetadata.fields.resourceType' | translate }}</p>
      <p-select
        class="w-full"
        [options]="resourceTypes"
        optionValue="value"
        optionLabel="value"
        appendTo="body"
        [formControl]="resourceTypeControl"
        [showClear]="true"
      ></p-select>
    </div>
    <div class="flex flex-column gap-1">
      <p>{{ 'project.files.detail.fileMetadata.fields.resourceLanguage' | translate }}</p>
      <p-select
        class="w-full"
        [options]="languages"
        optionValue="value"
        optionLabel="label"
        appendTo="body"
        [formControl]="resourceLanguageControl"
        [showClear]="true"
      ></p-select>
    </div>

    <div class="flex btn-full-width gap-2">
      <p-button
        [label]="'common.buttons.cancel' | translate"
        severity="info"
        class="w-full"
        (click)="editFileMetadataVisible = false"
        type="button"
      />
      <p-button
        [label]="'common.buttons.save' | translate"
        class="w-full"
        type="submit"
        [disabled]="!fileMetadataForm.valid"
      />
    </div>
  </form>
</p-dialog>
