<div class="citation-addon-card px-2 pt-2 pb-3 flex flex-column gap-3">
  <h3 class="px-3 pt-3 pb-2">{{ addon().displayName }}</h3>

  @if (!citationItems().length && !collectionItems().length && !isOperationInvocationSubmitting()) {
    <em class="px-3 pb-2">{{ 'project.overview.metadata.noCitations' | translate }}</em>
  } @else {
    <p-select
      class="mx-3"
      [placeholder]="'project.overview.metadata.citationInputPlaceholder' | translate"
      [loading]="isCitationStylesLoading() || isStyleLoading()"
      [options]="citationStylesOptions()"
      [filter]="true"
      (onFilter)="handleCitationStyleFilterSearch($event)"
      optionLabel="label"
      optionValue="value"
      appendTo="body"
      [emptyFilterMessage]="filterMessage() | translate"
      [emptyMessage]="'project.overview.metadata.citationInputPlaceholder' | translate"
      (onChange)="handleCitationStyleChange($event)"
    >
      <ng-template #selectedItem let-selectedOption>
        {{ selectedOption.label }}
      </ng-template>
    </p-select>

    @if ((formattedCitationItems().length || collectionItems().length) && !isOperationInvocationSubmitting()) {
      <div class="citations-container flex flex-column px-3 py-2 gap-3 mt-2">
        @for (item of formattedCitationItems(); track item.item.itemId) {
          <osf-citation-item [citation]="item.formattedCitation" [itemUrl]="item.itemUrl" [level]="0" />
        }
        @for (collection of collectionItems(); track collection.itemId) {
          <osf-citation-collection-item
            [addon]="addon()"
            [collection]="collection"
            [level]="0"
            [selectedCitationStyle]="selectedCitationStyle()"
          />
        }
      </div>
    } @else if (isOperationInvocationSubmitting()) {
      <p-skeleton class="px-3 pb-2" width="100%" height="6rem" />
    }
  }
</div>
