<div class="resource">
  <p-accordion (onOpen)="onOpen()">
    <p-accordion-panel value="0">
      <p-accordion-header class="flex flex-row column-gap-3 align-items-start p-0">
        <div class="flex flex-column row-gap-3">
          @if (item().resourceType && item().resourceType === ResourceType.Agent) {
            <p class="type">{{ 'resourceCard.type.user' | translate }}</p>
          } @else if (item().resourceType) {
            <p class="type">{{ ResourceType[item().resourceType!] }}</p>
          }

          <div class="flex align-items-center column-gap-1">
            @if (item().resourceType === ResourceType.File && item().fileName) {
              <a class="title">{{ item().fileName }}</a>
            } @else {
              <a
                tabindex="0"
                class="title"
                (click)="$event.stopPropagation(); redirectToResource(item())"
                (keydown.enter)="$event.stopPropagation(); redirectToResource(item())"
                >{{ item().title }}</a
              >
            }
            @if (item().orcid) {
              <a [href]="item().orcid" class="orcid-icon">
                <img ngSrc="assets/icons/colored/orcid.svg" width="16" height="16" alt="orcid" />
              </a>
            }
          </div>

          @if (item().creators?.length) {
            <div>
              @for (creator of item().creators!.slice(0, 4); track creator.id; let i = $index) {
                <a [href]="creator.id" target="_blank">{{ creator.name }}</a>
                @if (i < item().creators!.length - 1 && i < 3) {
                  <a>, </a>
                }
              }
              @if (item().creators!.length > 4) {
                <p class="inline">
                  &nbsp;{{ 'resourceCard.more' | translate: { count: item().creators!.length - 4 } }}
                </p>
              }
            </div>
          }

          @if (item().from?.id && item().from?.name) {
            <div>
              <p class="inline mr-1">{{ 'resourceCard.labels.from' | translate }}</p>
              <a class="inline" [href]="item().from?.id">{{ item().from?.name }}</a>
            </div>
          }

          @if (item().dateCreated && item().dateModified) {
            <p class="date">
              @if (!isSmall()) {
                {{ 'resourceCard.labels.dateCreated' | translate }} {{ item().dateCreated | date: 'MMMM d, y' }} |
                {{ 'resourceCard.labels.dateModified' | translate }}
                {{ item().dateModified | date: 'MMMM d, y' }}
              } @else {
                <div class="flex flex-column row-gap-1">
                  <p>
                    {{ 'resourceCard.labels.dateCreated' | translate }} {{ item().dateCreated | date: 'MMMM d, y' }}
                  </p>
                  <p>
                    {{ 'resourceCard.labels.dateModified' | translate }}
                    {{ item().dateModified | date: 'MMMM d, y' }}
                  </p>
                </div>
              }
            </p>
          }

          @if (item().resourceType === ResourceType.Registration) {
            <osf-data-resources
              [resourceId]="item().id"
              [hasData]="item().hasDataResource"
              [hasAnalyticCode]="item().hasAnalyticCodeResource"
              [hasMaterials]="item().hasMaterialsResource"
              [hasPapers]="item().hasPapersResource"
              [hasSupplements]="item().hasSupplementalResource"
            ></osf-data-resources>
          }
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <div class="content">
          <hr class="w-full break-line" />

          @if (item().description) {
            <p class="description">{{ 'resourceCard.labels.description' | translate }} {{ item().description }}</p>
          }

          @if (item().provider?.id) {
            <span>
              <p>{{ 'resourceCard.labels.registrationProvider' | translate }}&nbsp;</p>
              <a [href]="item().provider?.id">{{ item().provider?.name }}</a>
            </span>
          }

          @if (item().license?.id) {
            <span>
              <p>{{ 'resourceCard.labels.license' | translate }}&nbsp;</p>
              <a [href]="item().license?.id">{{ item().license?.name }}</a>
            </span>
          }

          @if (item().registrationTemplate) {
            <p class="description">
              {{ 'resourceCard.labels.registrationTemplate' | translate }} {{ item().registrationTemplate }}
            </p>
          }

          @if (item().provider?.id) {
            <span>
              <p>{{ 'resourceCard.labels.provider' | translate }}&nbsp;</p>
              <a [href]="item().provider?.id">{{ item().provider?.name }}</a>
            </span>
          }

          @if (item().conflictOfInterestResponse && item().conflictOfInterestResponse === 'no-conflict-of-interest') {
            <p class="description">{{ 'resourceCard.labels.conflictOfInterestResponse' | translate }}</p>
          }

          @if (item().resourceType !== ResourceType.Agent && item().id) {
            <span>
              <p>{{ 'resourceCard.labels.url' | translate }}</p>
              <a [href]="item().id">{{ item().id }}</a>
            </span>
          }

          @if (item().doi) {
            <span>
              <p>{{ 'resourceCard.labels.doi' | translate }}&nbsp;</p>
              <a [href]="item().doi">{{ item().doi }}</a>
            </span>
          }

          @if (item().resourceType === ResourceType.Agent) {
            @if (isLoading) {
              <p-skeleton width="8rem" height="19px" />
              <p-skeleton width="10rem" height="19px" />
              <p-skeleton width="9rem" height="19px" />
            } @else {
              <p>{{ 'resourceCard.labels.publicProjects' | translate }} {{ item().publicProjects ?? 0 }}</p>
              <p>{{ 'resourceCard.labels.publicRegistrations' | translate }} {{ item().publicRegistrations ?? 0 }}</p>
              <p>{{ 'resourceCard.labels.publicPreprints' | translate }} {{ item().publicPreprints ?? 0 }}</p>
            }
          }

          @if (item().employment) {
            <p>{{ 'resourceCard.labels.employment' | translate }} {{ item().employment }}</p>
          }

          @if (item().education) {
            <p>{{ 'resourceCard.labels.education' | translate }} {{ item().education }}</p>
          }
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
