<p-card class="w-full card" styleClass="mt-4" (focusout)="onFocusOut()">
  <h2 class="mb-2">{{ 'shared.license.title' | translate }}</h2>

  <p class="mb-1">{{ 'shared.license.description' | translate }}</p>
  <p>
    {{ 'shared.license.helpText' | translate }}
    <a href="https://help.osf.io/article/148-licensing">{{ 'common.links.helpGuide' | translate }}</a
    >.
  </p>
  <osf-license
    [licenses]="licenses()"
    [selectedLicenseId]="selectedLicense()?.id"
    [selectedLicenseOptions]="selectedLicense()?.options"
    (createLicense)="createLicense($event)"
    (selectLicense)="selectLicense($event)"
  />
  @if (control().invalid && (control().touched || control().dirty)) {
    <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
      {{ INPUT_VALIDATION_MESSAGES.required | translate }}
    </p-message>
  }
</p-card>
