<div class="flex flex-column gap-6">
  <div class="flex flex-column gap-1">
    <label for="email">Email</label>
    <input class="" [formControl]="emailControl" pInputText id="email" aria-describedby="email-help" />
  </div>

  <div class="flex gap-2">
    <p-button class="w-full" styleClass="w-full" (onClick)="dialogRef.close()" [text]="true" severity="secondary">
      Cancel
    </p-button>

    <p-button class="w-full" styleClass="w-full" [disabled]="emailControl.invalid"> Add Email </p-button>
  </div>
</div>
