<p-card>
  @if (preprint()) {
    @let preprintValue = preprint()!;
    <div class="flex flex-column gap-4">
      @if (preprintValue.withdrawalJustification) {
        <section class="flex flex-column gap-2">
          <h3>{{ 'preprints.details.reasonForWithdrawal' | translate }}</h3>
          <p>{{ preprintValue.withdrawalJustification }}</p>
        </section>
      }

      <section class="flex flex-column gap-2">
        <h3>{{ 'preprints.preprintStepper.review.sections.metadata.authors' | translate }}</h3>

        <div class="flex flex-column gap-1 line-height-2 md:flex-row">
          <osf-contributors-list [contributors]="bibliographicContributors()"></osf-contributors-list>

          @if (areContributorsLoading()) {
            <p-skeleton width="10rem" height="1.25rem" />
          }
        </div>
      </section>

      <section class="flex flex-column gap-2">
        <h3>{{ 'preprints.preprintStepper.common.labels.abstract' | translate }}</h3>
        <osf-truncated-text [maxVisibleLines]="2" [text]="preprintValue.description" />
      </section>

      <osf-preprint-doi-section
        [preprintProvider]="preprintProvider()"
        (preprintVersionSelected)="preprintVersionSelected.emit($event)"
      />

      <section class="license flex flex-column gap-2">
        <h3>{{ 'preprints.preprintStepper.review.sections.metadata.license' | translate }}</h3>

        <p-accordion>
          <p-accordion-panel value="0">
            <p-accordion-header class="p-0 justify-content-start gap-2">
              <p class="font-normal">{{ license()!.name }}</p>
            </p-accordion-header>
            <p-accordion-content>
              <p class="white-space-pre-line">{{ license()!.text | interpolate: licenseOptionsRecord() }}</p>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </section>

      <section class="flex flex-row gap-4">
        <div class="flex flex-column gap-2">
          <h3>{{ 'common.labels.dateCreated' | translate }}</h3>
          <p>{{ preprintValue.dateCreated | date: 'MMM d, y, hh:mm a' }}</p>
        </div>
        <div class="flex flex-column gap-2">
          <h3>{{ 'common.labels.dateUpdated' | translate }}</h3>
          <p>{{ preprintValue.dateModified | date: 'MMM d, y, hh:mm a' }}</p>
        </div>
      </section>

      <section class="flex flex-column gap-2">
        <h3>{{ 'preprints.preprintStepper.review.sections.metadata.subjects' | translate }}</h3>

        <div class="flex flex-wrap gap-2">
          @for (subject of subjects(); track subject.id) {
            <p-tag [value]="subject.name" severity="info" />
          }

          @if (areSelectedSubjectsLoading()) {
            <p-skeleton width="10rem" height="1.7rem" />
          }
        </div>
      </section>

      <section class="flex flex-column gap-2">
        <h3>{{ 'preprints.preprintStepper.review.sections.metadata.tags' | translate }}</h3>

        <div class="flex flex-wrap gap-2">
          @for (tag of preprintValue.tags; track tag) {
            <p-tag [value]="tag" severity="info" />
          } @empty {
            <p>{{ 'common.labels.none' | translate }}</p>
          }
        </div>
      </section>
    </div>
  }

  @if (isPreprintLoading()) {
    <div class="flex flex-column gap-4">
      @for (i of skeletonData; track $index) {
        <section class="flex flex-column gap-2">
          <p-skeleton width="5rem" height="1.3rem" />
          <p-skeleton width="25rem" height="5rem" />
        </section>
      }
    </div>
  }
</p-card>
