<osf-sub-header [showButton]="false" [title]="'settings.addons.header.title' | translate" [icon]="'settings'" />
<section class="flex-column flex flex-1">
  <p-tabs [value]="selectedTab()" class="hidden md:flex md:flex-1">
    <p-tablist class="pr-5 pl-5">
      <p-tab [value]="AddonTabValue.ALL_ADDONS">
        {{ 'settings.addons.tabs.allAddons' | translate }}
      </p-tab>
      <p-tab [value]="AddonTabValue.CONNECTED_ADDONS">
        {{ 'settings.addons.tabs.connectedAddons' | translate }}
      </p-tab>
    </p-tablist>

    <p-tabpanels class="p-3 sm:p-5 flex-1">
      <p-select
        class="w-full mb-4 md:hidden"
        [options]="tabOptions"
        optionValue="value"
        [ngModel]="selectedTab()"
        (ngModelChange)="selectedTab.set($event)"
      >
        <ng-template #selectedItem let-selectedOption>
          {{ selectedOption.label | translate }}
        </ng-template>
        <ng-template #item let-item>
          {{ item.label | translate }}
        </ng-template>
      </p-select>
      <p-tabpanel [value]="AddonTabValue.ALL_ADDONS" class="flex flex-column gap-5">
        <p>
          {{ 'settings.addons.description' | translate }}
        </p>
        <section class="grid">
          <div class="col-12 md:col-6 lg:col-3">
            <p-select
              [placeholder]="'settings.addons.filters.addonType' | translate"
              [options]="categoryOptions"
              optionValue="value"
              [ngModel]="selectedCategory()"
              (ngModelChange)="onCategoryChange($event)"
              class="w-full"
            >
              <ng-template #selectedItem let-selectedOption>
                {{ selectedOption.label | translate }}
              </ng-template>
              <ng-template #item let-item>
                {{ item.label | translate }}
              </ng-template>
            </p-select>
          </div>
          <div class="col-12 md:col-6 lg:col-9">
            <osf-search-input
              class="w-full"
              [control]="searchControl"
              [placeholder]="'settings.addons.filters.search' | translate"
            />
          </div>
        </section>

        @if (filteredAddonCards().length) {
          <osf-addon-card-list [cards]="filteredAddonCards()" [showDangerButton]="false" />
        } @else {
          <osf-loading-spinner></osf-loading-spinner>
        }
      </p-tabpanel>
      <p-tabpanel [value]="AddonTabValue.CONNECTED_ADDONS" class="flex flex-column gap-5">
        <osf-search-input
          class="flex-1"
          [control]="searchControl"
          [placeholder]="'settings.addons.filters.search' | translate"
        />

        @if (allAuthorizedAddons().length) {
          <osf-addon-card-list
            [cards]="allAuthorizedAddons()"
            [cardButtonLabel]="'settings.addons.form.buttons.reconnect' | translate"
            [showDangerButton]="true"
          />
        } @else {
          <osf-loading-spinner></osf-loading-spinner>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</section>
