@if (files().isLoading || isFilesUpdating()) {
  <div class="w-8rem ml-auto mr-auto">
    <osf-loading-spinner></osf-loading-spinner>
  </div>
} @else {
  <div class="flex flex-column gap-2">
    <div class="flex gap-2">
      <img [ngSrc]="'/assets/images/cos-shield.svg'" width="24" height="24" alt="cost-shield" />
      <h2 class="font-normal">{{ 'project.files.dialogs.moveFile.storage' | translate }}</h2>
    </div>

    <div class="files-table">
      @if (currentFolder()?.relationships?.parentFolderLink) {
        <div class="files-table-row">
          <div class="flex gap-2">
            <div
              tabindex="0"
              (click)="openParentFolder()"
              (keydown.enter)="openParentFolder()"
              class="parent-folder-link"
            >
              <i class="osf-icon-arrow-left"></i>
              <i class="osf-icon-folder"></i>
              {{ currentFolder()?.name ?? '' }}
            </div>
          </div>
        </div>
      }

      @for (file of files().data; track $index) {
        <div class="files-table-row" [class.pl-6]="currentFolder()?.relationships?.parentFolderLink">
          <div class="flex gap-2 table-cell min-w-0">
            @if (file.kind !== 'folder') {
              <i class="osf-icon-doc disabled-icon"></i>
              <div class="filename-link">{{ file?.name ?? '' }}</div>
            } @else if (config.data.file.id === file.id) {
              <i class="osf-icon-folder disabled-icon"></i>
              <div [pTooltip]="'project.files.dialogs.moveFile.cannotMove' | translate" class="filename-link">
                {{ file?.name ?? '' }}
              </div>
            } @else {
              <i class="osf-icon-folder"></i>
              <div tabindex="0" (click)="openFolder(file)" (keydown.enter)="openFolder(file)" class="filename-link">
                {{ file?.name ?? '' }}
              </div>
            }
          </div>
        </div>
      }
      @if (!files().data.length) {
        <div class="flex justify-content-center p-4">
          <h3 class="font-normal text-no-transform">{{ 'project.files.emptyState' | translate }}</h3>
        </div>
      }
    </div>
  </div>
}

<div class="flex gap-2 ml-auto">
  <p-button (click)="dialogRef.close()" text severity="info" [label]="'common.buttons.cancel' | translate"></p-button>

  @if (this.config.data.action === 'move') {
    <p-button
      [disabled]="isFolderSame() || files().isLoading || isFilesUpdating()"
      [label]="'common.buttons.move' | translate"
      (click)="moveFile()"
    ></p-button>
  } @else if (this.config.data.action === 'copy') {
    <p-button
      [disabled]="isFolderSame() || files().isLoading || isFilesUpdating()"
      [label]="'common.buttons.copy' | translate"
      (click)="moveFile()"
    ></p-button>
  }
</div>
