<section class="content-container flex-1 py-4 px-3 md:px-5 xl:px-4">
  <p>
    {{ 'settings.developerApps.list.description' | translate }}
  </p>

  <section class="flex flex-column flex-1 gap-3 mt-4">
    @if (isLoading()) {
      @for (_ of [1, 2, 3]; track $index) {
        <p-card>
          <p-skeleton class="w-full" height="3rem"> </p-skeleton>
        </p-card>
      }
    } @else {
      @for (developerApp of developerApplications(); track $index) {
        <p-card>
          <section class="flex flex-column gap-3 md:flex-row md:align-items-center md:justify-content-between">
            <a [routerLink]="[developerApp.clientId, 'details']" class="app-link">
              <h2>{{ developerApp.name }}</h2>
            </a>

            <div class="align-self-end w-6 md:w-auto">
              <p-button
                class="btn-full-width"
                [label]="'settings.developerApps.list.deleteButton' | translate"
                severity="danger"
                (onClick)="deleteApp(developerApp)"
              />
            </div>
          </section>
        </p-card>
      }
    }
  </section>
</section>
