<div class="flex align-items-center gap-2">
  <p-button
    icon="fas fa-download text-2xl"
    styleClass="px-4"
    [pTooltip]="
      'preprints.details.share.downloadPreprint' | translate: { documentType: preprintProvider()?.preprintWord }
    "
    tooltipPosition="bottom"
    (onClick)="download()"
    [attr.aria-label]="
      'preprints.details.share.downloadPreprint' | translate: { documentType: preprintProvider()?.preprintWord }
    "
  />

  @if (preprint() && preprintProvider()) {
    <osf-socials-share-button
      [resourceId]="preprint()!.id"
      [resourceTitle]="preprint()!.title"
      [resourceType]="resourceType"
      [resourceProvider]="preprintProvider()!.id"
    ></osf-socials-share-button>
  }
</div>
