<section class="home-container" [class.tablet]="isMedium()" [class.small]="isSmall()" [class.mobile]="isXSmall()">
  <div class="better-way-container">
    <div class="text-container">
      <h1 [innerHTML]="'home.loggedOut.hero.title' | translate"></h1>
      <h3 [innerHTML]="'home.loggedOut.hero.subtitle' | translate"></h3>
      <div class="mt-5">
        <p-button
          [label]="'home.loggedOut.hero.signUp' | translate"
          severity="success"
          class="wide-button"
          [class.btn-full-width]="isXSmall() || isSmall() || isMedium()"
        />
      </div>
    </div>
    <div class="image-container">
      <img ngSrc="assets/images/better-research-background.svg" alt="better-research" height="377" width="585" />
    </div>
  </div>

  <div class="discover-research-container">
    <div class="text-container">
      <h1 [innerHTML]="'home.loggedOut.discover.title' | translate"></h1>
      <h3>{{ 'home.loggedOut.discover.subtitle' | translate }}</h3>
    </div>

    <div class="input-search">
      <i class="osf-icon-search"></i>
      <input
        type="text"
        [placeholder]="'home.loggedOut.discover.searchPlaceholder' | translate"
        pInputText
        [(ngModel)]="searchValue"
      />
    </div>
  </div>

  <div class="supports-container">
    <h1 [innerHTML]="'home.loggedOut.support.title' | translate"></h1>
    <div class="content-container">
      <div class="left-bar">
        <div class="info-section">
          <div class="icons-wrapper">
            <img ngSrc="assets/icons/colored/search.svg" alt="search icon" width="48" height="48" />
            <img ngSrc="assets/icons/source/arrow-down.svg" alt="search icon" width="16" height="16" />
          </div>
          <div class="text-wrapper">
            <h2>
              {{ 'home.loggedOut.support.sections.search.title' | translate }}
            </h2>
            <h3>
              {{ 'home.loggedOut.support.sections.search.description' | translate }}
            </h3>
          </div>
        </div>

        <div class="info-section">
          <div class="icons-wrapper">
            <img ngSrc="assets/icons/colored/design.svg" alt="search icon" width="48" height="48" />
            <img ngSrc="assets/icons/source/arrow-down.svg" alt="search icon" width="16" height="16" />
          </div>
          <div class="text-wrapper">
            <h2>
              {{ 'home.loggedOut.support.sections.design.title' | translate }}
            </h2>
            <h3>
              {{ 'home.loggedOut.support.sections.design.description' | translate }}
            </h3>
          </div>
        </div>

        <div class="info-section">
          <div class="icons-wrapper">
            <img ngSrc="assets/icons/colored/collect.svg" alt="search icon" width="48" height="48" />
            <img ngSrc="assets/icons/source/arrow-down.svg" alt="search icon" width="16" height="16" />
          </div>
          <div class="text-wrapper">
            <h2>
              {{ 'home.loggedOut.support.sections.collect.title' | translate }}
            </h2>
            <h3>
              {{ 'home.loggedOut.support.sections.collect.description' | translate }}
            </h3>
          </div>
        </div>

        <div class="info-section">
          <div class="icons-wrapper">
            <img ngSrc="assets/icons/source/arrow-down.svg" alt="search icon" width="48" height="48" />
          </div>
          <div class="text-wrapper">
            <h2>
              {{ 'home.loggedOut.support.sections.publish.title' | translate }}
            </h2>
            <h3>
              {{ 'home.loggedOut.support.sections.publish.description' | translate }}
            </h3>
          </div>
        </div>
      </div>
      <div class="right-bar">
        <iframe
          src="https://www.youtube.com/embed/X07mBq2tnMg?si=jzOBeqyUPGJ6tm86"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="learn-more-container">
      <p-button [label]="'home.loggedOut.support.learnMore' | translate" class="learn-more" />
    </div>
  </div>

  <div class="others-saying-container">
    <h1 [innerHTML]="'home.loggedOut.testimonials.title' | translate"></h1>
  </div>

  <div class="carousel-container">
    <p-carousel [value]="slides" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
      <ng-template let-slide #item>
        <div class="slide">
          <div class="content-container">
            <i class="osf-icon-quotes quote-icon"></i>
            <div class="text-container">
              <div class="title-container">
                <h2>{{ slide.title | translate }}</h2>
              </div>
              <h3 class="author">{{ slide.author }}</h3>
              <h3>{{ slide.facility | translate }}</h3>
            </div>
          </div>
          <img src="{{ slide.img }}" class="user-image" [alt]="slide.name" />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <h1 class="integrations-title" [innerHTML]="'home.loggedOut.integrations.title' | translate"></h1>

  @if (isMedium() || isWeb()) {
    <div class="integrations-main">
      <div class="integrations-container">
        <div class="integrations-bundle">
          <h3>
            {{ 'home.loggedOut.integrations.categories.authentication' | translate }}
          </h3>
        </div>
        <div class="integrations-bundle">
          <h3>
            {{ 'home.loggedOut.integrations.categories.discovery' | translate }}
          </h3>
        </div>
        <div class="integrations-bundle">
          <h3>
            {{ 'home.loggedOut.integrations.categories.references' | translate }}
          </h3>
        </div>
        <div class="integrations-bundle">
          <h3>
            {{ 'home.loggedOut.integrations.categories.storage' | translate }}
          </h3>
        </div>
      </div>

      <div class="integrations-container">
        <div class="integrations-bundle-border">
          <img ngSrc="assets/icons/socials/integrations/incommon.png" alt="incommon" height="36" width="200" />
          <img ngSrc="assets/icons/socials/integrations/sso.png" alt="sso" height="59" width="135" />
        </div>

        <div class="integrations-bundle-border">
          <img
            ngSrc="assets/icons/socials/integrations/google-scholar.png"
            alt="google-scholar"
            height="36"
            width="215"
          />
          <img ngSrc="assets/icons/socials/integrations/orcid.png" alt="orcid" height="34" width="111" />
        </div>

        <div class="integrations-bundle-border">
          <img ngSrc="assets/icons/socials/integrations/mendeley.png" alt="mendeley" height="42" width="214" />
          <img ngSrc="assets/icons/socials/integrations/zotero.png" alt="zotero" height="36" width="152" />
        </div>

        <div class="integrations-bundle">
          <img ngSrc="assets/icons/socials/integrations/dropbox.png" alt="dropbox" height="34" width="175" />
          <img ngSrc="assets/icons/socials/integrations/google-drive.png" alt="google-drive" height="35" width="207" />
        </div>
      </div>
    </div>
  } @else if (isSmall()) {
    <div class="integrations-main-small">
      <div class="integrations-bundle">
        <h3>
          {{ 'home.loggedOut.integrations.categories.authentication' | translate }}
        </h3>
        <img ngSrc="assets/icons/socials/integrations/incommon.png" alt="incommon" height="36" width="200" />
        <img ngSrc="assets/icons/socials/integrations/sso.png" alt="sso" height="59" width="135" />
      </div>

      <div class="integrations-bundle">
        <h3>
          {{ 'home.loggedOut.integrations.categories.discovery' | translate }}
        </h3>
        <img
          ngSrc="assets/icons/socials/integrations/google-scholar.png"
          alt="google-scholar"
          height="36"
          width="215"
        />
        <img ngSrc="assets/icons/socials/integrations/orcid.png" alt="orcid" height="34" width="111" />
      </div>

      <div class="integrations-bundle">
        <h3>
          {{ 'home.loggedOut.integrations.categories.references' | translate }}
        </h3>
        <img ngSrc="assets/icons/socials/integrations/mendeley.png" alt="mendeley" height="42" width="214" />
        <img ngSrc="assets/icons/socials/integrations/zotero.png" alt="zotero" height="36" width="152" />
      </div>

      <div class="integrations-bundle">
        <h3>
          {{ 'home.loggedOut.integrations.categories.storage' | translate }}
        </h3>
        <img ngSrc="assets/icons/socials/integrations/dropbox.png" alt="dropbox" height="34" width="175" />
        <img ngSrc="assets/icons/socials/integrations/google-drive.png" alt="google-drive" height="35" width="207" />
      </div>
    </div>
  } @else {
    <div class="integrations-main-mobile">
      <p-carousel [value]="icons" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
        <ng-template let-icon #item>
          <div class="slide">
            <h3>{{ icon.title | translate }}</h3>
            <img
              ngSrc="{{ icon.first.path }}"
              class="quote-icon"
              alt="search icon"
              width="{{ icon.first.width }}"
              height="{{ icon.first.height }}"
            />
            <img
              ngSrc="{{ icon.second.path }}"
              class="quote-icon"
              alt="search icon"
              width="{{ icon.second.width }}"
              height="{{ icon.second.height }}"
            />
          </div>
        </ng-template>
      </p-carousel>
    </div>
  }
</section>
