<section class="flex flex-column flex-1 bg-white p-5 gap-4 w-full">
  <p-card>
    <h2 class="mb-4">{{ 'navigation.metadata' | translate }}</h2>

    <div class="mb-4">
      <h4 class="mb-2">{{ 'common.labels.title' | translate }}</h4>
      <p data-test-review-response="title">{{ draftRegistration()?.title }}</p>
      @if (!draftRegistration()?.title) {
        <p>{{ 'common.labels.title' | translate }}</p>
        <p class="font-italic">{{ 'common.labels.noData' | translate }}</p>
        <p-message class="mt-1" severity="error" variant="simple" size="small">
          {{ INPUT_VALIDATION_MESSAGES.required | translate }}
        </p-message>
      }
    </div>

    <div class="mb-4">
      <h4 class="mb-2">{{ 'common.labels.description' | translate }}</h4>
      <p data-test-review-response="description">{{ draftRegistration()?.description }}</p>
      @if (!draftRegistration()?.description) {
        <p class="font-italic">{{ 'common.labels.noData' | translate }}</p>
        <p-message class="mt-1" severity="error" variant="simple" size="small">
          {{ INPUT_VALIDATION_MESSAGES.required | translate }}
        </p-message>
      }
    </div>

    <div class="mb-4">
      <h4 class="mb-2">{{ 'common.labels.contributors' | translate }}</h4>

      <osf-contributors-list
        [contributors]="contributors()"
        [isLoading]="areContributorsLoading()"
        [hasLoadMore]="hasMoreContributors()"
        (loadMoreContributors)="loadMoreContributors()"
      ></osf-contributors-list>
    </div>

    <div class="license mb-4">
      <h4 class="mb-2">{{ 'shared.license.title' | translate }}</h4>
      @if (draftRegistration()?.license && license()) {
        <p-accordion>
          <p-accordion-panel value="0">
            <p-accordion-header class="p-0 justify-content-start gap-2">
              <div data-test-review-response="license">{{ license()?.name }}</div>
            </p-accordion-header>
            <p-accordion-content>
              <div>{{ license()!.text | interpolate: licenseOptionsRecord() }}</div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      } @else {
        <p class="font-italic">{{ 'common.labels.noData' | translate }}</p>
        <p-message class="mt-1" severity="error" variant="simple" size="small">
          {{ INPUT_VALIDATION_MESSAGES.required | translate }}
        </p-message>
      }
    </div>

    <div class="mb-4">
      <h4 class="mb-2">{{ 'shared.subjects.title' | translate }}</h4>
      <div class="flex flex-wrap gap-2">
        @for (subject of subjects(); track subject.id) {
          <p-tag data-test-selected-subject [value]="subject.name" severity="info" />
        }
      </div>

      @if (!subjects().length) {
        <p class="font-italic">{{ 'common.labels.noData' | translate }}</p>
        <p-message class="mt-1" severity="error" variant="simple" size="small">
          {{ INPUT_VALIDATION_MESSAGES.required | translate }}
        </p-message>
      }
    </div>

    <div class="mb-4">
      <h4 class="mb-2">{{ 'shared.tags.title' | translate }}</h4>
      <div class="flex flex-wrap gap-2" data-test-tags-widget-tag-input>
        @for (tag of draftRegistration()?.tags; track tag) {
          <p-tag [value]="tag" severity="info" />
        }
      </div>
      @if (!draftRegistration()?.tags?.length) {
        <p class="font-italic">{{ 'common.labels.noData' | translate }}</p>
      }
    </div>
  </p-card>

  @for (page of pages(); track page.id) {
    <p-card class="w-full">
      <h2 class="mb-4">{{ page.title }}</h2>

      @if (page.description) {
        <p class="mb-4 preserve-whitespace">{{ page.description }}</p>
      }

      @if (page.questions?.length) {
        <osf-registration-blocks-data
          [isDraft]="true"
          [questions]="page.questions"
          [reviewData]="stepsData()"
        ></osf-registration-blocks-data>
      }

      @if (page.sections?.length) {
        @for (section of page.sections; track section.id) {
          <div class="mb-4">
            <h3 class="mb-2">{{ section.title }}</h3>
            @if (section.description) {
              <p class="mb-4 preserve-whitespace">{{ section.description }}</p>
            }
            @if (section.questions?.length) {
              <osf-registration-blocks-data
                [isDraft]="true"
                [questions]="section.questions"
                [reviewData]="stepsData()"
              ></osf-registration-blocks-data>
            }
          </div>
        }
      }
    </p-card>
  }

  <div class="flex justify-content-end">
    <p-button
      type="button"
      [label]="'common.buttons.back' | translate"
      severity="info"
      class="mr-2"
      (click)="goBack()"
    ></p-button>
    <p-button
      [label]="'registries.deleteDraft' | translate"
      severity="danger"
      [disabled]="!hasAdminAccess()"
      (click)="deleteDraft()"
      class="mr-2"
    >
    </p-button>
    <p-button
      type="button"
      data-test-goto-register
      [label]="'registries.review.register' | translate"
      [disabled]="registerButtonDisabled()"
      (click)="confirmRegistration()"
    ></p-button>
  </div>
</section>
