<p-card>
  <div class="flex justify-content-between align-items-center">
    <h3 class="text-lg">{{ 'project.overview.metadata.fundingSupport' | translate }}</h3>

    <p-button
      severity="secondary"
      [label]="'project.overview.metadata.editButton' | translate"
      (click)="openEditFundingDialog.emit()"
    ></p-button>
  </div>

  @if (currentProject()?.supplements?.length) {
    <div class="pt-4">
      @for (supplement of currentProject()!.supplements!; track supplement.id) {
        <div class="mb-2">
          <p class="font-semibold">{{ supplement.title }}</p>
          <p class="text-sm text-color-secondary">{{ supplement.dateCreated | date: 'MMM d, y' }}</p>
          @if (supplement.url) {
            <a [href]="supplement.url" target="_blank" class="text-primary">{{ supplement.url }}</a>
          }
        </div>
      }
    </div>
  } @else {
    <div class="pt-4">
      <p class="text-color-secondary">{{ 'project.overview.metadata.noSupplements' | translate }}</p>
    </div>
  }
</p-card>
