<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.fundingSupport' | translate }}</h2>

    <p-button
      severity="secondary"
      [label]="'common.buttons.edit' | translate"
      (click)="openEditFundingDialog.emit()"
    ></p-button>
  </div>

  @if (supplements()) {
    <div class="pt-4">
      @for (supplement of supplements(); track supplement.id) {
        <div class="mb-2 p-3 border-1 border-round surface-border">
          <p class="font-semibold m-0 mb-2">{{ supplement.title }}</p>
          <p class="text-sm text-color-secondary m-0 mb-1">{{ supplement.dateCreated | date: 'MMM d, y' }}</p>
          @if (supplement.url) {
            <a [href]="supplement.url" target="_blank" class="text-primary text-sm">{{ supplement.url }}</a>
          }
        </div>
      }
    </div>
  } @else {
    <div class="pt-4">
      <p class="text-color-secondary">{{ 'project.overview.metadata.noSupplements' | translate }}</p>
    </div>
  }
</p-card>
