@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

:host {
  @include mix.flex-column;
  flex: 1;
  overflow: hidden;
}

.entry-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 100%;
}

.blue-text {
  color: var.$pr-blue-1;
}

.parent-folder-link {
  display: flex;
  gap: 5px;
}

.sorting-container {
  display: flex;
  align-items: center;
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(8px);
  padding: mix.rem(12px);
  height: mix.rem(44px);
}

.outline-button {
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: mix.rem(8px);
  border: 1px solid var.$grey-2;
  padding: mix.rem(12px);
  border-radius: mix.rem(8px);
  height: mix.rem(44px);
  min-height: mix.rem(44px);

  &.blue {
    color: var.$pr-blue-1;
  }

  &.green {
    color: var.$green-1;
  }
}

.filename {
  overflow-wrap: anywhere;
}

.spinner-container {
  width: mix.rem(38px);
}

.upload-dialog {
  width: mix.rem(48px);
}

.action-dialog {
  width: mix.rem(72px);
}

.tree-table {
  .p-tree {
    padding: 0;
  }
}
