<osf-sub-header [title]="'settings.addons.connectAddon.title' | translate" />
<section class="stepper-container flex-column flex flex-1 p-5">
  <p-stepper [value]="!isAuthorized() ? ProjectAddonsStepperValue.TERMS : ProjectAddonsStepperValue.SETUP_NEW_ACCOUNT">
    <p-step-panels>
      <p-step-panel [value]="ProjectAddonsStepperValue.TERMS">
        <ng-template #content let-activateCallback="activateCallback">
          <section class="flex flex-column gap-2">
            <h2>
              {{ addon()?.providerName }}
              {{ 'settings.addons.connectAddon.terms' | translate }}
            </h2>

            <div class="mt-4">
              <osf-addon-terms [addon]="addon()" />
            </div>

            <div class="flex flex-column gap-2 mt-4">
              <p>
                {{ 'settings.addons.connectAddon.termsDescription' | translate }}
              </p>
              @if (addonTypeString() === AddonType.STORAGE) {
                <p>
                  {{ 'settings.addons.connectAddon.storageDescription' | translate }}
                </p>
              }
            </div>

            <div class="flex gap-4 align-self-center md:align-self-end mt-3">
              <p-button
                [label]="'settings.addons.form.buttons.cancel' | translate"
                severity="info"
                class="w-10rem btn-full-width"
                routerLink="/settings/addons"
              ></p-button>
              <p-button
                [label]="'settings.addons.form.buttons.next' | translate"
                class="w-10rem btn-full-width"
                (onClick)="activateCallback(ProjectAddonsStepperValue.SETUP_NEW_ACCOUNT)"
              ></p-button>
            </div>
          </section>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="ProjectAddonsStepperValue.SETUP_NEW_ACCOUNT">
        <ng-template #content let-activateCallback="activateCallback">
          @if (addon() && userReferenceId() && addonTypeString()) {
            <osf-addon-setup-account-form
              [addon]="addon()!"
              [userReferenceId]="userReferenceId()!"
              [addonTypeString]="addonTypeString()"
              [isSubmitting]="isCreatingAuthorizedAddon()"
              [isAuthorized]="isAuthorized()"
              (formSubmit)="handleConnectAuthorizedAddon($event)"
              (backClick)="activateCallback(ProjectAddonsStepperValue.TERMS)"
            />
          }
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="ProjectAddonsStepperValue.AUTH">
        <ng-template #content>
          <div class="flex flex-column gap-4">
            <div class="flex justify-content-between">
              <h2 class="align-self-center inline-block">
                {{ 'settings.addons.connectAddon.setupNewAccount' | translate }}
              </h2>
              <p-button
                [label]="'settings.addons.form.buttons.back' | translate"
                severity="info"
                class="w-7rem btn-full-width"
                routerLink="/settings/addons"
              ></p-button>
            </div>

            <p>
              {{ 'settings.addons.connectAddon.oauthDescription' | translate }}
            </p>
            <a [href]="addonAuthUrl()" target="_blank" rel="noopener noreferrer">
              {{ 'settings.addons.connectAddon.startOauth' | translate }}
            </a>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</section>
