@use "assets/styles/mixins" as mix;

:host {
  position: absolute;
  height: 4.5rem;
  padding: 0 1.7rem;
  width: 100%;
  @include mix.flex-center-between;
  gap: 1rem;

  a {
    border-radius: 0.42rem;
  }
}
