<p-card>
  <h2 class="pb-4">{{ 'myProjects.settings.wiki' | translate }}</h2>

  <div class="flex align-items-center w-full">
    <p-checkbox
      ariaLabel="Checkbox for wiki"
      [binary]="true"
      [ngModel]="wikiEnabled()"
      (ngModelChange)="wikiChangeEmit.emit(wikiEnabled())"
      id="wiki"
      name="ongoing"
    ></p-checkbox>

    <label class="input-label ml-2" for="wiki">
      {{ 'myProjects.settings.wikiText' | translate }}
    </label>
  </div>

  <h2 class="py-4">{{ 'myProjects.settings.wikiConfigureTitle' | translate }}</h2>

  <p class="pb-4">{{ 'myProjects.settings.wikiConfigureText' | translate }}</p>

  <osf-project-detail-setting-accordion
    (emitValueChange)="changeEmittedValue($event)"
    [title]="title()"
    [rightControls]="allAccordionData"
  >
    <div class="flex align-items-baseline gap-2">
      <i class="fas fa-minus text-sm icon-space"></i>
      <span>
        {{ 'myProjects.settings.' + (anyoneCanEditWiki() ? 'enabledForWiki' : 'disabledForWiki') | translate }}
      </span>
    </div>
  </osf-project-detail-setting-accordion>
</p-card>
