<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.fundingSupport' | translate }}</h2>

    @if (!readonly()) {
      <p-button
        severity="secondary"
        [label]="'common.buttons.edit' | translate"
        (click)="openEditFundingDialog.emit()"
      ></p-button>
    }
  </div>

  @if (funders()) {
    <div class="pt-4">
      @for (funder of funders(); track funder.funder_identifier) {
        <div class="mb-2 pb-3 border-bottom-1 surface-border flex flex-column gap-2">
          <p>{{ 'project.files.detail.projectMetadata.fields.funder' | translate }}: {{ funder.funder_name }}</p>

          <p>{{ 'project.files.detail.projectMetadata.fields.awardTitle' | translate }}: {{ funder.award_title }}</p>

          @if (funder.award_uri) {
            <p>
              {{ 'project.files.detail.projectMetadata.fields.awardUri' | translate }}:
              <a [href]="funder.award_uri" target="_blank" class="text-primary text-sm">{{ funder.award_title }}</a>
            </p>
          }

          @if (funder.award_number) {
            <p>
              {{ 'project.files.detail.projectMetadata.fields.awardNumber' | translate }} : {{ funder.award_number }}
            </p>
          }

          @if (funder.award_uri) {
            <a [href]="funder.award_uri" target="_blank" class="text-primary text-sm">{{ funder.award_uri }}</a>
          }
        </div>
      }
    </div>
  } @else {
    <div class="pt-4">
      <p class="text-color-secondary">{{ 'project.overview.metadata.noSupplements' | translate }}</p>
    </div>
  }
</p-card>
