<div class="dialog-container">
  <p>
    {{ 'project.overview.dialog.duplicate.message1' | translate }}
  </p>
  <p>
    {{ 'project.overview.dialog.duplicate.message2' | translate }}
  </p>

  <div class="flex mt-6 gap-3 justify-content-between">
    <p-button
      [label]="'project.overview.dialog.duplicate.cancelButton' | translate"
      severity="info"
      (onClick)="dialogRef.close(false)"
      [disabled]="isSubmitting()"
    />
    <p-button
      [label]="'project.overview.dialog.duplicate.confirmButton' | translate"
      (onClick)="handleDuplicateConfirm()"
      [loading]="isSubmitting()"
    />
  </div>
</div>
