@if (isLoading() || isFilesUpdating()) {
  <div class="w-8rem ml-auto mr-auto">
    <osf-loading-spinner></osf-loading-spinner>
  </div>
} @else {
  <div class="flex flex-column gap-2">
    <h2 class="font-normal">{{ storageName }}</h2>

    <div class="files-table flex flex-column">
      @if (previousFolder()) {
        <div class="files-table-row py-2 px-3">
          <div
            tabindex="0"
            (click)="openParentFolder()"
            (keydown.enter)="openParentFolder()"
            class="flex align-items-center gap-2 cursor-pointer"
          >
            <i class="fas fa-chevron-left fa-sm"></i>
            <i class="fas fa-folder"></i>
            {{ currentFolder()?.name ?? '' }}
          </div>
        </div>
      }

      @for (file of files(); track $index) {
        <div class="files-table-row flex align-items-center py-2" [class]="foldersStack().length ? 'pl-6' : 'px-3'">
          <div class="flex align-items-center gap-2 w-full">
            @if (file.kind !== 'folder') {
              <osf-icon class="disabled-icon" iconClass="fas fa-file disabled-icon"></osf-icon>
              <div class="filename-link overflow-ellipsis disabled">{{ file?.name ?? '' }}</div>
            } @else if (config.data.file.id === file.id) {
              <osf-icon class="disabled-icon" iconClass="fas fa-folder disabled-icon"></osf-icon>

              <div class="filename-link overflow-ellipsis" [pTooltip]="'files.dialogs.moveFile.cannotMove' | translate">
                {{ file?.name ?? '' }}
              </div>
            } @else {
              <p-button
                class="filename-link link-btn-no-padding overflow-ellipsis font-normal"
                icon="fas fa-folder"
                severity="secondary"
                [link]="true"
                [label]="file?.name ?? ''"
                (click)="openFolder(file)"
              />
            }
          </div>
        </div>
      }
      @if (filesTotalCount() > itemsPerPage) {
        <osf-custom-paginator
          class="mt-1 border-top-1 border-200"
          [first]="first"
          [totalCount]="filesTotalCount()"
          (pageChanged)="onFilesPageChange($event)"
        />
      }
      @if (!files().length) {
        <div class="flex justify-content-center p-4">
          <h3 class="font-normal text-no-transform">{{ 'files.emptyState' | translate }}</h3>
        </div>
      }
    </div>
  </div>
}

<div class="flex justify-content-end gap-2 mt-4">
  <p-button severity="info" [label]="'common.buttons.cancel' | translate" (onClick)="dialogRef.close()"></p-button>

  <p-button
    [disabled]="isFolderSame() || isLoading() || isFilesUpdating()"
    [label]="(isMoveAction ? 'common.buttons.move' : 'common.buttons.copy') | translate"
    (onClick)="moveFile()"
  ></p-button>
</div>
