<osf-file-select-destination
  [projectId]="currentProject()?.id!"
  [components]="components()"
  [areComponentsLoading]="areComponentsLoading()"
  [storageProvider]="storageProvider()"
  (selectProject)="onProjectChange($event)"
  (selectStorage)="onStorageChange()"
></osf-file-select-destination>

@if (showFilesLoading()) {
  <div class="w-8rem ml-auto mr-auto">
    <osf-loading-spinner></osf-loading-spinner>
  </div>
} @else {
  <div class="flex flex-column gap-2">
    <div class="files-table flex flex-column relative">
      @if (previousFolder()) {
        <div class="files-table-row py-2 px-3">
          <div
            tabindex="0"
            (click)="openParentFolder()"
            (keydown.enter)="openParentFolder()"
            class="flex align-items-center gap-2 cursor-pointer"
          >
            <i class="fas fa-chevron-left fa-sm"></i>
            <i class="fas fa-folder"></i>
            {{ currentFolder()?.name ?? '' }}
          </div>
        </div>
      }
      @if (files().length) {
        <p-virtualscroller
          [items]="files()"
          [itemSize]="44"
          scrollHeight="250px"
          [lazy]="true"
          (onScrollIndexChange)="onScrollIndexChange($event)"
        >
          <ng-template #item let-item let-options="options">
            <div class="files-table-row flex align-items-center py-2" [class]="foldersStack().length ? 'pl-6' : 'px-3'">
              <div class="flex align-items-center gap-2 w-full">
                @if (item.kind !== 'folder') {
                  <osf-icon class="disabled-icon" iconClass="fas fa-file disabled-icon"></osf-icon>
                  <div class="filename-link overflow-ellipsis disabled">{{ item?.name ?? '' }}</div>
                } @else if (fileIdsInList().has(item.id)) {
                  <osf-icon class="disabled-icon" iconClass="fas fa-folder disabled-icon"></osf-icon>

                  <div
                    class="filename-link overflow-ellipsis"
                    [pTooltip]="'files.dialogs.moveFile.cannotMove' | translate"
                  >
                    {{ item?.name ?? '' }}
                  </div>
                } @else {
                  <p-button
                    class="filename-link link-btn-no-padding overflow-ellipsis font-normal"
                    icon="fas fa-folder"
                    severity="secondary"
                    [link]="true"
                    [label]="item?.name ?? ''"
                    (onClick)="openFolder(item)"
                  />
                }
              </div>
            </div>
          </ng-template>
        </p-virtualscroller>
        @if (isLoadingMore()) {
          <div class="loading-overlay">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
          </div>
        }
      } @else {
        <div class="flex justify-content-center p-4">
          <h3 class="font-normal text-no-transform">{{ 'files.emptyState' | translate }}</h3>
        </div>
      }
    </div>
  </div>
}

<div class="flex justify-content-end gap-2 mt-4">
  <p-button severity="info" [label]="'common.buttons.cancel' | translate" (onClick)="dialogRef.close()"></p-button>

  <p-button
    [disabled]="buttonDisabled()"
    [label]="(isMoveAction ? 'common.buttons.move' : 'common.buttons.copy') | translate"
    (onClick)="moveFiles()"
  ></p-button>
</div>
