@use "styles/variables" as var;
@use "styles/mixins" as mix;

:host {
  @include mix.flex-column;
  flex: 1;
}

.files-table {
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(8px);

  &-row {
    border-bottom: 1px solid var.$grey-2;
    color: var.$dark-blue-1;
  }

  &-row:last-child {
    border-bottom: none;
  }
}

.filename-link {
  min-width: 0;
  max-width: 100%;
  cursor: pointer;

  &.disabled {
    color: var.$grey-1;
    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    text-decoration: underline;
  }
}

.disabled-icon {
  color: var.$grey-1;
}
