@use "styles/mixins" as mix;

:host {
  @include mix.flex-column;
  flex: 1;
}

.loading-overlay {
  @include mix.flex-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.files-table {
  border: 1px solid var(--grey-2);
  border-radius: mix.rem(8px);

  &-row {
    border-bottom: 1px solid var(--grey-2);
    color: var(--dark-blue-1);
    height: mix.rem(44px);
  }

  &-row:last-child {
    border-bottom: none;
  }
}

.filename-link {
  min-width: 0;
  max-width: 100%;
  cursor: pointer;

  &.disabled {
    color: var(--grey-1);
    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    text-decoration: underline;
  }
}

.link-btn-no-padding {
  --p-button-label-font-weight: 400;
  --p-button-link-hover-color: var(--dark-blue-1);
  --p-button-link-color: var(--dark-blue-1);
}

.disabled-icon {
  color: var(--grey-1);
}
