<div class="flex flex-column gap-4">
  @if (licensesLoading()) {
    <osf-loading-spinner></osf-loading-spinner>
  } @else {
    <div class="license-content">
      <h3 class="mb-3">{{ 'project.metadata.license.dialog.chooseLicense.label' | translate }}</h3>

      <osf-license
        #licenseComponent
        [licenses]="licenses()"
        [selectedLicenseId]="selectedLicenseId()"
        [selectedLicenseOptions]="selectedLicenseOptions()"
        [isSubmitting]="isSubmitting()"
        [showInternalButtons]="false"
        [fullWidthSelect]="true"
        (selectLicense)="onSelectLicense($event)"
        (createLicense)="onCreateLicense($event)"
      />
    </div>
  }

  <div class="flex justify-content-end gap-2">
    <p-button severity="info" [label]="'common.buttons.cancel' | translate" (click)="cancel()" />
    <p-button [label]="'common.buttons.create' | translate" (click)="save()" [loading]="isSubmitting()" />
  </div>
</div>
