<div class="flex-column flex flex-1 w-full bg-white lg:flex-row">
  <div class="col-12 lg:col-6 flex flex-column gap-4">
    <p-card>
      <div class="flex justify-content-between flex-wrap gap-4">
        <div class="flex flex-column gap-2 flex-1">
          <h2>
            {{ 'project.overview.metadata.dateCreated' | translate }}
          </h2>

          <p class="m-0 text-color-secondary">
            {{ currentInstance().dateCreated | date: 'MMM d, y, h:mm a' }}
          </p>
        </div>

        <div class="flex flex-column gap-2 flex-1">
          <h2>
            {{ 'project.overview.metadata.dateUpdated' | translate }}
          </h2>

          <p class="m-0 text-color-secondary">
            {{ currentInstance().dateModified | date: 'MMM d, y, h:mm a' }}
          </p>
        </div>
      </div>
    </p-card>

    <osf-project-metadata-contributors
      (openEditContributorDialog)="openEditContributorDialog.emit()"
      [contributors]="currentInstance().contributors!"
    />

    <osf-project-metadata-description
      (openEditDescriptionDialog)="openEditDescriptionDialog.emit()"
      [description]="currentInstance().description!"
    />

    <osf-project-metadata-resource-information
      (openEditResourceInformationDialog)="openEditResourceInformationDialog.emit()"
      [customItemMetadata]="customItemMetadata()"
    />

    <osf-project-metadata-funding
      (openEditFundingDialog)="openEditFundingDialog.emit()"
      [supplements]="currentInstance().supplements!"
    />

    <osf-project-metadata-affiliated-institutions
      (openEditAffiliatedInstitutionsDialog)="openEditAffiliatedInstitutionsDialog.emit()"
      [affiliatedInstitutions]="currentInstance().affiliatedInstitutions!"
    />
  </div>

  <div class="col-12 lg:col-6 flex flex-column gap-4">
    <osf-project-metadata-license
      (openEditLicenseDialog)="openEditLicenseDialog.emit()"
      [license]="currentInstance().license!"
    />

    <osf-project-metadata-publication-doi
      (openEditPublicationDoiDialog)="handleEditDoi.emit()"
      [hideEditDoi]="hideEditDoi()"
      [identifiers]="currentInstance().identifiers!"
    />

    <p-card>
      <div class="flex flex-column gap-3">
        <h2>{{ 'project.overview.metadata.tags' | translate }}</h2>

        <osf-tags-input (tagsChanged)="tagsChanged.emit($event)" [tags]="currentInstance().tags || []"></osf-tags-input>
      </div>
    </p-card>

    <osf-project-metadata-subjects
      (getSubjectChildren)="getSubjectChildren.emit($event)"
      (searchSubjects)="searchSubjects.emit($event)"
      (updateSelectedSubjects)="updateSelectedSubjects.emit($event)"
      [isSubjectsUpdating]="isSubjectsUpdating()!"
      [selectedSubjects]="selectedSubjects()"
    />
  </div>
</div>
