.google-file-picker-container {
  width: 0;

  &.folder-picker {
    width: 100%;
  }

  .action-container {
    width: 100%;

    .authorize-button {
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }
}
