.custom-icon-registries {
  background: url("/assets/icons/colored/registries.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-preprints {
  background: url("/assets/icons/colored/preprints.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-collections {
  background: url("/assets/icons/colored/collections.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-institutions {
  background: url("/assets/icons/colored/institutions.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-projects {
  background: url("/assets/icons/colored/projects.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-meetings {
  background: url("/assets/icons/colored/meetings.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-registries-dark {
  background: url("/assets/icons/colored/registries-dark.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-preprints-dark {
  background: url("/assets/icons/colored/preprints-dark.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-collections-dark {
  background: url("/assets/icons/colored/collections-dark.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-institutions-dark {
  background: url("/assets/icons/colored/institutions-dark.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-projects-dark {
  background: url("/assets/icons/colored/projects-dark.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-meetings-dark {
  background: url("/assets/icons/colored/meetings-dark.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-data {
  background: url("/assets/icons/colored/data-colored.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-code {
  background: url("/assets/icons/colored/code-colored.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-materials {
  background: url("/assets/icons/colored/materials-colored.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-papers {
  background: url("/assets/icons/colored/papers-colored.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-supplements {
  background: url("/assets/icons/colored/supplements-colored.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-data-dark {
  background: url("/assets/icons/colored/data.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-code-dark {
  background: url("/assets/icons/colored/code.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-materials-dark {
  background: url("/assets/icons/colored/materials.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-papers-dark {
  background: url("/assets/icons/colored/papers.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.custom-icon-supplements-dark {
  background: url("/assets/icons/colored/supplements.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.icon-resource-size {
  width: 1.75rem;
  height: 2rem;
}
