@use "assets/styles/variables" as var;

.breadcrumbs {
  color: var(--header-color, var.$dark-blue-1);
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--header-background-color);
  background-image: var(--header-background-image-url);
}
