@let action = currentReviewAction();

@if (action) {
  <div class="flex flex-column gap-4">
    <p class="flex flex-wrap gap-1">
      @switch (action.toState) {
        @case (SubmissionReviewStatus.Pending) {
          <span class="capitalize">{{ 'moderation.submissionReview.submitted' | translate }}</span>
        }
        @case (SubmissionReviewStatus.Accepted) {
          <span class="capitalize">{{ 'moderation.submissionReview.accepted' | translate }}</span>
        }
      }
      <span>{{ action.dateCreated | dateAgo }}</span>
      <span>{{ 'moderation.submissionReview.by' | translate }}</span>
      <span>{{ action.createdBy }}</span>
    </p>

    <form [formGroup]="requestForm" class="flex flex-column gap-3">
      @if (isPendingStatus()) {
        <div class="flex gap-2">
          <p-radioButton
            [formControlName]="ModerationDecisionFormControls.Action"
            [inputId]="ModerationSubmitType.Accept"
            [value]="ModerationSubmitType.Accept"
          ></p-radioButton>
          <label [for]="ModerationSubmitType.Accept" class="m-0 flex gap-2 flex-column">
            <p class="font-bold">{{ 'moderation.makeDecision.acceptRequest' | translate }}</p>
            <p>{{ 'moderation.makeDecision.acceptRequestMessage' | translate }}</p></label
          >
        </div>
      }

      @if (isRejectOptionVisible()) {
        <div class="flex gap-2">
          <p-radioButton
            [formControlName]="ModerationDecisionFormControls.Action"
            [inputId]="ModerationSubmitType.Reject"
            [value]="ModerationSubmitType.Reject"
          ></p-radioButton>
          <label [for]="ModerationSubmitType.Reject" class="m-0 flex gap-2 flex-column">
            <p class="font-bold">{{ 'moderation.makeDecision.rejectRequest' | translate }}</p>
            <p>{{ 'moderation.makeDecision.rejectRequestMessage' | translate }}</p></label
          >
        </div>
      }

      @if (isWithdrawOptionVisible()) {
        <div class="flex gap-2">
          <p-radioButton
            [formControlName]="ModerationDecisionFormControls.Action"
            [inputId]="ModerationSubmitType.Withdraw"
            [value]="ModerationSubmitType.Withdraw"
          ></p-radioButton>
          <label [for]="ModerationSubmitType.Withdraw" class="m-0 flex gap-2 flex-column">
            <p class="font-bold">{{ 'moderation.makeDecision.withdrawRequest' | translate }}</p>
            <p>{{ 'moderation.makeDecision.withdrawRequestMessage' | translate }}</p></label
          >
        </div>
      }

      <div class="flex flex-column gap-1 mt-3">
        <p class="flex justify-content-end">
          {{ requestForm.controls[ModerationDecisionFormControls.Comment].value.length }}/{{ decisionCommentLimit }}
        </p>

        <textarea
          pTextarea
          [formControlName]="ModerationDecisionFormControls.Comment"
          [placeholder]="'moderation.makeDecision.remarksPlaceholder' | translate"
          [rows]="6"
          [maxlength]="decisionCommentLimit"
          class="w-full"
        ></textarea>
      </div>

      <div class="flex pt-3 gap-3 justify-content-between">
        <p-button
          [label]="'common.buttons.cancel' | translate"
          severity="info"
          (onClick)="dialogRef.close(false)"
          [disabled]="isSubmitting()"
          class="btn-full-width"
        />
        <p-button
          [label]="'moderation.makeDecision.submitDecision' | translate"
          (onClick)="handleSubmission()"
          severity="success"
          [loading]="isSubmitting()"
          [disabled]="isSubmitDisabled"
          class="btn-full-width"
        />
      </div>
    </form>
  </div>
}
