<div class="linked-project flex flex-column p-2 pb-4 gap-4">
  <div class="flex align-items-center pt-3 pl-3 pr-3 justify-content-between">
    <h2>{{ 'project.overview.linkedProjects.title' | translate }}</h2>
    <p-button severity="secondary" [label]="'project.overview.components.linkProjectsButton' | translate" />
  </div>
  <div class="linked-project-container pl-3 pr-3 flex flex-column gap-5">
    @if (isLinkedProjectsLoading()) {
      <p-skeleton width="100%" height="7rem" />
    } @else {
      @if (linkedProjects().length) {
        @for (linkedProject of linkedProjects(); track linkedProject.id) {
          <div class="linked-project-wrapper flex flex-column p-3 gap-3">
            <div class="flex justify-content-between align-items-center">
              <h2 class="flex gap-2">
                <i [ngClass]="linkedProject.public ? 'osf-icon-padlock-unlock' : 'osf-icon-padlock'"></i>
                <a class="linked-project-title" [href]="'my-projects/' + linkedProject.id">{{ linkedProject.title }}</a>
              </h2>
              <div>
                <p-button class="btn-icon" (click)="componentActionMenu.toggle($event)">
                  <i class="osf-icon-dots"></i>
                </p-button>

                <p-menu appendTo="body" #componentActionMenu popup>
                  <ng-template #item let-item>
                    <a class="p-menu-item-link">{{ item.label | translate }}</a>
                  </ng-template>
                </p-menu>
              </div>
            </div>

            <div class="component-name flex flex-column gap-2">
              @for (contributor of linkedProject.contributors; track contributor.id) {
                <div>
                  <a class="font-bold"> {{ contributor.fullName }}</a>
                  <span>{{ $last ? '' : ',' }}</span>
                </div>
              }
              <div class="component-description">
                <osf-truncated-text [text]="linkedProject.description" />
              </div>
            </div>
          </div>
        }
      } @else {
        <div [innerHtml]="'project.overview.linkedProjects.noLinkedProjectsMessage' | translate"></div>
      }
    }
  </div>
</div>
