<section class="content-container" [class.mobile]="isXSmall()">
  <nav class="navigation-bar-container">
    <a routerLink="/settings/developer-apps">
      <!-- TODO - Add icon -->
      Back to list of developer apps
    </a>
  </nav>

  <section class="tittle-container" [class.mobile]="isXSmall()">
    <h1>{{ developerApp().appName + developerAppId() }}</h1>
    <p-button
      label="Delete"
      [class.btn-full-width]="isXSmall()"
      severity="danger"
      (click)="deleteApp()"
    />
  </section>

  <section class="cards-container" [class.mobile]="isXSmall()">
    <p-card>
      <section class="card-body">
        <h2>Client ID</h2>

        <p>
          The client ID is the developer app's unique identifier and is safe to
          share publicly.
        </p>

        <div class="inline-block relative">
          <span
            class="copy-notification"
            [class.visible]="clientIdCopiedNotificationVisible()"
          >
            Copied!
          </span>
          <p-iconfield iconPosition="right">
            <input type="text" pInputText readonly [value]="clientId()" />
            <p-inputicon
              [cdkCopyToClipboard]="clientId()"
              (cdkCopyToClipboardCopied)="clientIdCopiedToClipboard()"
            >
              <i class="osf-icon-copy"></i>
            </p-inputicon>
          </p-iconfield>
        </div>
      </section>
    </p-card>

    <p-card>
      <section class="card-body">
        <h2>Client Secret</h2>

        <p>
          The client secret is available only to you. Keep it private and do not
          share it.
        </p>

        <section class="client-secret-container" [class.mobile]="isXSmall()">
          <div class="relative">
            <span
              class="copy-notification"
              [class.visible]="clientSecretCopiedNotificationVisible()"
            >
              Copied!
            </span>
            <p-iconfield iconPosition="right">
              <input
                pInputText
                [value]="
                  isClientSecretVisible()
                    ? clientSecret()
                    : hiddenClientSecret()
                "
                readonly
              />
              <p-inputicon
                [cdkCopyToClipboard]="clientSecret()"
                (cdkCopyToClipboardCopied)="clientSecretCopiedToClipboard()"
              >
                <i class="osf-icon-copy"></i>
              </p-inputicon>
            </p-iconfield>
          </div>

          <p-button
            [label]="
              isClientSecretVisible()
                ? 'Hide client secret'
                : 'Show client secret'
            "
            severity="secondary"
            (click)="isClientSecretVisible.set(!isClientSecretVisible())"
          />
        </section>

        <section class="card-actions">
          <p-button
            label="Reset Secret"
            [class.btn-half-width]="isXSmall()"
            (click)="resetClientSecret()"
          />
        </section>
      </section>
    </p-card>

    <p-card>
      <section class="card-body">
        <h2>Edit app</h2>

        <form
          [formGroup]="editAppForm"
          class="flex flex-column gap-3"
          (ngSubmit)="submitForm()"
        >
          <div class="flex flex-column">
            <label for="app-name">App Name</label>
            <input
              id="app-name"
              type="text"
              autocomplete="off"
              pInputText
              [formControlName]="DeveloperAppFormFormControls.AppName"
            />
          </div>

          <div class="flex flex-column">
            <label for="proj-homepage-url">Project homepage URL</label>
            <input
              id="proj-homepage-url"
              type="url"
              autocomplete="off"
              pInputText
              [formControlName]="
                DeveloperAppFormFormControls.ProjectHomePageUrl
              "
            />
          </div>

          <div class="flex flex-column">
            <label for="app-descr">App description (optional)</label>
            <input
              id="app-descr"
              type="text"
              autocomplete="off"
              pInputText
              [formControlName]="DeveloperAppFormFormControls.AppDescription"
            />
          </div>

          <div class="flex flex-column">
            <label for="auth-callback-url">Authorization callback URL</label>
            <input
              id="auth-callback-url"
              type="url"
              autocomplete="off"
              pInputText
              [formControlName]="
                DeveloperAppFormFormControls.AuthorizationCallbackUrl
              "
            />
          </div>

          <section class="card-actions">
            <p-button
              label="Save"
              type="submit"
              [class.btn-half-width]="isXSmall()"
              [disabled]="!editAppForm.dirty || !editAppForm.valid"
            />
          </section>
        </form>
      </section>
    </p-card>
  </section>
</section>
