<osf-sub-header [title]="'navigation.files' | translate"></osf-sub-header>

@if (!dataLoaded()) {
  <osf-loading-spinner></osf-loading-spinner>
} @else {
  <div class="flex flex-column bg-white gap-4 h-full flex-1 p-4 p-dialog-align-center">
    @if (hasViewOnly()) {
      <osf-view-only-link-message />
    }

    <div class="flex flex-grow-0 w-full sm:w-30rem">
      <p-floatlabel class="w-full md:w-56" variant="in">
        <p-select
          inputId="in_label"
          [options]="rootFoldersOptions()"
          [(ngModel)]="currentRootFolder"
          styleClass="w-full"
          variant="filled"
        >
          <ng-template #selectedItem let-selectedOption>
            <p class="provider-name">{{ selectedOption.label }}</p>
          </ng-template>
          <ng-template #item let-option>
            <p class="provider-name">{{ option.label }}</p>
          </ng-template>
        </p-select>
        <label for="in_label">{{ currentRootFolder()?.label }}</label>
      </p-floatlabel>
    </div>

    <div class="flex flex-column gap-4 md:justify-content-between md:flex-row md:flex-wrap">
      <div class="flex flex-column gap-2 w-full sm:flex-row md:w-max">
        <osf-search-input
          [control]="searchControl"
          class="w-full sm:w-9 xl:w-30rem"
          [placeholder]="'files.searchPlaceholder' | translate"
        />

        <div class="sm:w-3 md:w-max">
          <osf-form-select
            [control]="sortControl"
            [options]="sortOptions"
            [placeholder]="'files.sort.placeholder'"
            [fullWidth]="true"
          ></osf-form-select>
        </div>
      </div>

      <div class="flex flex-column align-items-center w-full gap-2 sm:flex-row md:w-max">
        <p-button
          [disabled]="isButtonDisabled()"
          outlined
          raised
          (onClick)="downloadFolder()"
          [icon]="'fas fa-download'"
          [label]="'files.actions.downloadAsZip' | translate"
        >
        </p-button>

        <p-button icon="fas fa-info-circle blue-icon" severity="secondary" text (onClick)="showInfoDialog()"></p-button>

        @if (canEdit() && !hasViewOnly()) {
          <p-button
            [disabled]="isButtonDisabled()"
            outlined
            raised
            severity="success"
            [icon]="'fas fa-plus'"
            [label]="'files.actions.createFolder' | translate"
            (onClick)="createFolder()"
          >
          </p-button>

          <p-button
            [disabled]="isButtonDisabled()"
            outlined
            raised
            severity="success"
            [icon]="'fas fa-upload'"
            [label]="'files.actions.uploadFile' | translate"
            (onClick)="fileInput.click()"
          >
          </p-button>

          @if (isGoogleDrive()) {
            <p-button
              [disabled]="isButtonDisabled()"
              outlined
              raised
              severity="success"
              [icon]="'fa-brands fa-google-plus-g'"
              [label]="'files.actions.addFromDrive' | translate"
              (onClick)="googleFilePickerComponent()?.createPicker()"
            >
            </p-button>
            <osf-google-file-picker
              [rootFolder]="selectedRootFolder()"
              [accountId]="accountId()"
              [isFolderPicker]="false"
              [handleFolderSelection]="updateFilesList"
            ></osf-google-file-picker>
          }
        }
        <input #fileInput type="file" multiple class="hidden" (change)="onFileSelected($event)" />
      </div>
    </div>

    <div class="flex absolute upload-dialog">
      <p-dialog
        [header]="'files.dialogs.uploadFile.title' | translate"
        [modal]="true"
        [(visible)]="fileIsUploading"
        class="upload-dialog"
      >
        <div class="flex flex-column align-items-center justify-content-center gap-3 w-full">
          <span class="p-text-secondary filename">{{ fileName() }}</span>
          <div class="w-6">
            <osf-loading-spinner></osf-loading-spinner>
          </div>
          <p>{{ progress() }} %</p>
        </div>
      </p-dialog>
    </div>

    <osf-files-tree
      [files]="files()"
      [totalCount]="filesTotalCount()"
      [currentFolder]="currentFolder()"
      [storage]="currentRootFolder()"
      [isLoading]="isFilesLoading()"
      [actions]="filesTreeActions"
      [viewOnly]="!canEdit()"
      [viewOnlyDownloadable]="isViewOnlyDownloadable()"
      [resourceId]="resourceId()"
      [provider]="provider()"
      (folderIsOpening)="folderIsOpening($event)"
      (entryFileClicked)="navigateToFile($event)"
      (uploadFilesConfirmed)="uploadFiles($event)"
      (filesPageChange)="onFilesPageChange($event)"
    >
    </osf-files-tree>
  </div>
}
