@use "styles/variables" as var;
@use "styles/mixins" as mix;

:host {
  @include mix.flex-column;
  flex: 1;
  overflow: hidden;
}

.blue-text {
  color: var.$pr-blue-1;
}

.filename {
  overflow-wrap: anywhere;
}

.upload-dialog {
  width: mix.rem(128px);
}

.provider-name {
  text-transform: capitalize;
}
