@if (isLoading()) {
  <div class="flex flex-column align-items-center">
    <osf-loading-spinner />
  </div>
} @else {
  <div>
    <p-message styleClass="w-full" icon="fas fa-warning" severity="warn">
      <span class="flex flex-wrap">
        {{ 'moderation.preprintSettings.warning' | translate }}
        <p class="mx-1 font-bold">{{ settings()?.supportEmail ?? supportEmail }}</p>
        {{ 'moderation.preprintSettings.warningForAssistance' | translate }}
      </span>
    </p-message>

    <form [formGroup]="settingsForm" class="flex flex-column gap-4 mt-4">
      @for (section of sections; track $index) {
        <p-card>
          <h2>{{ section.title | translate }}</h2>

          @if (section.description) {
            <p class="mt-4">{{ section.description | translate }}</p>
          }

          <div class="flex flex-column gap-3 mt-4">
            @for (option of section.options; track $index) {
              <div class="flex align-items-start gap-2">
                <p-radioButton
                  [name]="section.control"
                  [value]="option.value"
                  [formControlName]="section.control"
                  [inputId]="section.control + '-' + option.value"
                />
                <div>
                  <label [for]="section.control + '-' + option.value" class="font-bold">
                    {{ option.label | translate }}
                  </label>
                  <p>
                    {{ option.description | translate }}
                  </p>
                </div>
              </div>
            }
          </div>
        </p-card>
      }
    </form>
  </div>
}
