<div class="content-body filter dropdown-filter">
  <p class="m-0">
    Please select the subject from the dropdown below or start typing for find
    it
  </p>
  <p-select
    id="subject"
    [options]="subjectsOptions()"
    [(ngModel)]="inputText"
    [placeholder]="'Select subject'"
    [editable]="true"
    optionLabel="labelCount"
    optionValue="label"
    styleClass="w-full"
    appendTo="body"
    (onChange)="setSubject($event)"
    [showClear]="!!inputText()"
    [loading]="loading()"
  ></p-select>
</div>
