@use "assets/styles/variables" as var;

:host {
  h3 {
    color: var.$pr-blue-1;
  }

  .sorting-container {
    display: flex;
    align-items: center;

    h3 {
      color: var.$dark-blue-1;
      font-weight: 400;
      text-wrap: nowrap;
      margin-right: 0.5rem;
    }
  }

  .filters-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    row-gap: 0.8rem;
  }

  .resources-container {
    width: 70%;

    .resources-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.85rem;
    }

    .switch-icon {
      &:hover {
        cursor: pointer;
      }
    }

    .icon-disabled {
      opacity: 0.5;
      cursor: none;
    }

    .icon-active {
      fill: var.$grey-1;
    }
  }
}
