<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.license' | translate }}</h2>

    <p-button
      severity="secondary"
      [label]="'common.buttons.edit' | translate"
      (click)="openEditLicenseDialog.emit()"
    ></p-button>
  </div>

  @if (license()) {
    <div class="pt-4">
      <p class="m-0">{{ license().name }}</p>
    </div>
  } @else {
    <div class="pt-4">
      <p class="text-color-secondary m-0">{{ 'project.overview.metadata.noLicense' | translate }}</p>
    </div>
  }
</p-card>
