<osf-sub-header
  [title]="'project.analytics.kpi.forks' | translate"
  [showButton]="true"
  [buttonLabel]="'project.overview.actions.forkProjectLabel' | translate"
  (buttonClick)="handleForkResource()"
/>

<div class="flex flex-column flex-1 bg-white gap-5 p-3 sm:p-4">
  @if (!isForksLoading() && currentResource()) {
    @if (!forks().length) {
      <h3 class="mt-5 text-center">{{ 'project.overview.dialog.fork.noForksMessage' | translate }}</h3>
    } @else {
      <p>{{ 'project.overview.dialog.fork.forksMessage' | translate }}</p>

      @for (fork of forks(); track fork.id) {
        @if (fork.currentUserPermissions.includes(UserPermissions.Read)) {
          <div class="fork-wrapper flex flex-column gap-3 p-3 sm:p-4">
            <div class="flex justify-content-between align-items-center">
              <h2 class="flex gap-2">
                <i [ngClass]="fork.public ? 'osf-icon-padlock-unlock' : 'osf-icon-padlock'"></i>
                {{ fork.title }}
              </h2>
              <div>
                @if (fork.currentUserPermissions.includes(UserPermissions.Write)) {
                  <p-button
                    severity="contrast"
                    icon="fas fa-ellipsis-vertical"
                    raised
                    variant="outlined"
                    (click)="componentActionMenu.toggle($event)"
                  >
                  </p-button>
                }

                <p-menu appendTo="body" #componentActionMenu [model]="forkActionItems(fork.id)" popup>
                  <ng-template #item let-item>
                    <a class="p-menu-item-link">{{ item.label | translate }}</a>
                  </ng-template>
                </p-menu>
              </div>
            </div>

            <div class="component-name flex flex-column gap-2">
              <div class="flex flex-wrap align-items-center gap-1">
                <span class="font-bold">{{ 'common.labels.forked' | translate }}:</span>
                <p>{{ fork.dateCreated | date: 'MMM d, y, h:mm a' }}</p>
              </div>

              <div class="flex flex-wrap align-items-center gap-1">
                <span class="font-bold">{{ 'common.labels.lastUpdated' | translate }}:</span>
                <p>{{ fork.dateModified | date: 'MMM d, y, h:mm a' }}</p>
              </div>

              @for (contributor of fork.contributors; track contributor.id) {
                <div class="flex flex-wrap align-items-center gap-1">
                  <span class="font-bold">{{ 'common.labels.contributors' | translate }}:</span>
                  <div>
                    <a [href]="contributor.id" target="_blank" class="font-bold"> {{ contributor.fullName }}</a>
                    <span>{{ $last ? '' : ',' }}</span>
                  </div>
                </div>
              }

              <div class="component-description">
                <div class="flex flex-wrap align-items-center gap-1">
                  <span class="font-bold">{{ 'common.labels.description' | translate }}:</span>
                  <osf-truncated-text [text]="fork.description" />
                </div>
              </div>
            </div>
            <p-button
              [label]="'common.buttons.view' | translate"
              severity="secondary"
              [routerLink]="'/project/' + fork.id"
            />
          </div>
        }
      }

      @if (totalForks() > pageSize) {
        <osf-custom-paginator
          [totalCount]="totalForks()"
          [rows]="pageSize"
          [first]="firstIndex()"
          (pageChanged)="onPageChange($event)"
        />
      }
    }
  } @else {
    <osf-loading-spinner></osf-loading-spinner>
  }
</div>
