@use "styles/variables" as var;

.width-25 {
  width: calc(25% - 1.5rem);

  @media (max-width: var.$breakpoint-sm) {
    width: calc(50% - 0.5rem);
  }
}

.width-33 {
  width: calc(33% - 1rem);

  @media (max-width: var.$breakpoint-lg) {
    width: calc(50% - 1rem);
  }

  @media (max-width: var.$breakpoint-sm) {
    width: 100%;
  }
}
