<p-accordion class="accordion-border p-4 py-4 no-padding w-full">
  <p-accordion-panel value="0">
    <p-accordion-header class="flex flex-row column-gap-3 align-items-center">
      {{ 'registry.overview.updates' | translate }}
    </p-accordion-header>
    <p-accordion-content>
      <div class="flex flex-column gap-2 pt-4 align-items-center justify-content-center">
        @if (revisions().length > 0) {
          @for (revision of revisions(); track $index; let last = $last) {
            <p-button
              severity="info"
              class="w-full"
              [class.current-revision]="selectedRevisionIndex() === $index"
              styleClass="w-full"
              [label]="revision.label | translate: { version: $index + 1 }"
              (click)="emitOpenRevision($index)"
            />
          }
          @if (registryAcceptedUnapproved) {
            <p-button
              class="w-full"
              styleClass="w-full"
              [label]="'registry.overview.reviewUpdate' | translate"
              [routerLink]="['/registries/revisions/', unApprovedRevisionId, 'review']"
            />
          }
          @if (registryApproved) {
            <p-button
              class="w-full"
              styleClass="w-full"
              (click)="updateRegistration.emit(registry()?.id!)"
              [label]="'common.buttons.update' | translate"
            />
          }
          @if (registryInProgress) {
            <p-button
              class="w-full"
              styleClass="w-full"
              (click)="continueUpdateHandler()"
              [label]="'common.buttons.continueUpdate' | translate"
            />
          }
        }
      </div>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
