@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.search-container {
  position: relative;

  .osf-icon-search {
    position: absolute;
    left: mix.rem(12px);
    color: var.$grey-1;
    font-size: mix.rem(16px);
  }

  .search-input {
    color: var.$dark-blue-1;
    padding-left: mix.rem(40px);
    width: 100%;

    &::placeholder {
      color: var.$grey-1;
    }
  }
}
