@use "styles/mixins" as mix;

.search-container {
  position: relative;

  .search-icon {
    position: absolute;
    left: mix.rem(12px);
    color: var(--grey-1);
  }

  .search-input {
    color: var(--dark-blue-1);
    padding-left: mix.rem(40px);
    width: 100%;

    &::placeholder {
      color: var(--grey-1);
    }
  }

  .help-icon {
    position: absolute;
    right: mix.rem(6px);
  }
}
