@use "assets/styles/variables" as var;

.delete-icon {
  &:before {
    color: var.$red-1;
    cursor: pointer;
  }
}

.icon-copy-btn {
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  cursor: pointer;
}