@if (tableData().items && tableData().items.length) {
  <p-table [value]="tableData().items" class="view-only-table">
    <ng-template #header>
      <tr>
        <th>
          {{ 'myProjects.settings.viewOnlyTable.linkName' | translate }}
        </th>
        <th>
          {{ 'myProjects.settings.viewOnlyTable.sharedComponents' | translate }}
        </th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.createdDate' | translate }}
        </th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.createdBy' | translate }}
        </th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.anonymous' | translate }}
        </th>

        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-item>
      <tr>
        <td class="flex align-items-center gap-2">
          <span class="w-3 min-w-max">{{ item.name }}</span>

          <div class="relative flex align-items-center">
            <input
              [id]="item.link"
              [attr.aria-label]="'Link for ' + item.link"
              pInputText
              class="h-auto text-base w-max py-2 px-3"
              type="text"
              [value]="item.link"
            />

            <p-button
              [ariaLabel]="'Copy link'"
              type="button"
              class="absolute btn-icon-text form-btn icon-copy-btn button-shadow-none"
              (click)="copy(item.link)"
            >
              <i class="osf-icon-copy"></i>
            </p-button>
          </div>
        </td>
        <td>{{ item.sharedComponents }}</td>
        <td>{{ item.dateCreated | date: 'MMM d, y h:mm a' }}</td>
        <td>{{ item.creator.fullName }}</td>
        <td>{{ item.anonymous ? 'Yes' : 'No' }}</td>
        <td>
          <p-button
            ariaLabel="Delete link"
            class="btn-icon-text form-btn icon-copy-btn button-shadow-none"
            (click)="deleteLink.emit(item.id)"
          >
            <i class="osf-icon-trash delete-icon"></i>
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
