<p-table [value]="tableData()" class="view-only-table">
  <ng-template #header>
    <tr>
      <th>
        {{ 'myProjects.settings.viewOnlyTable.linkName' | translate }}
      </th>
      <th>
        {{ 'myProjects.settings.viewOnlyTable.sharedComponents' | translate }}
      </th>

      <th>
        {{ 'myProjects.settings.viewOnlyTable.createdDate' | translate }}
      </th>

      <th>
        {{ 'myProjects.settings.viewOnlyTable.createdBy' | translate }}
      </th>

      <th>
        {{ 'myProjects.settings.viewOnlyTable.anonymous' | translate }}
      </th>

      <th></th>
    </tr>
  </ng-template>

  <ng-template #body let-item>
    <tr>
      <td class="flex align-items-center gap-2">
        <span class="w-3 min-w-max">{{ item.linkName }}</span>

        <div class="relative flex align-items-center">
          <input pInputText class="h-auto text-base w-max py-2 px-3" type="text" [value]="item.link" />

          <p-button class="absolute btn-icon-text form-btn icon-copy-btn button-shadow-none" (click)="copy(item.link)">
            <i class="osf-icon-copy"></i>
          </p-button>
        </div>
      </td>
      <td>{{ item.sharedComponents }}</td>
      <td>{{ item.createdDate | date: 'MMM d, y h:mm a' }}</td>
      <td>{{ item.createdBy }}</td>
      <td>{{ item.anonymous }}</td>
      <td>
        <i class="osf-icon-trash delete-icon"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
