@if (isLoading() || tableData().items.length) {
  <p-table [value]="isLoading() ? skeletonData : tableData().items" class="view-only-table">
    <ng-template #header>
      <tr>
        <th>
          {{ 'myProjects.settings.viewOnlyTable.linkName' | translate }}
        </th>

        <th></th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.sharedComponents' | translate }}
        </th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.createdDate' | translate }}
        </th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.createdBy' | translate }}
        </th>

        <th>
          {{ 'myProjects.settings.viewOnlyTable.anonymous' | translate }}
        </th>

        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-item>
      @if (item.id) {
        <tr>
          <td>
            {{ item.name }}
          </td>
          <td>
            <div class="relative flex align-items-center">
              <input
                [id]="item.link"
                [attr.aria-label]="'Link for ' + item.link"
                pInputText
                class="h-auto text-base w-max py-2 pl-3 pr-5"
                type="text"
                [value]="item.link"
              />

              <osf-copy-button class="icon-copy-btn absolute" [copyItem]="item.link"></osf-copy-button>
            </div>
          </td>
          <td>
            <div class="flex flex-column gap-1">
              @for (node of item.nodes; track node.id) {
                <span>{{ node.title }}</span>
              }
            </div>
          </td>
          <td>{{ item.dateCreated | date: 'MMM d, y h:mm a' }}</td>
          <td>{{ item.creator.fullName }}</td>
          <td>{{ (item.anonymous ? 'common.buttons.yes' : 'common.buttons.no') | translate }}</td>
          <td>
            <p-button
              class="danger-icon-btn"
              icon="fas fa-trash"
              severity="danger"
              text
              [ariaLabel]="'common.buttons.delete' | translate"
              (onClick)="deleteLink.emit(item)"
            />
          </td>
        </tr>
      } @else {
        <tr class="loading-row">
          <td colspan="7">
            <p-skeleton width="100%" height="3.3rem" borderRadius="0" />
          </td>
        </tr>
      }
    </ng-template>
  </p-table>
}
