<div [class.wiki-list-expanded]="expanded()" class="wiki-list">
  @if (expanded()) {
    <p-panel showHeader="false">
      <div class="flex aign-items-center justify-content-between mt-3 mb-2">
        <p-button
          label="Add new Wiki page"
          icon="pi pi-plus"
          class="btn-icon-text-success"
          (click)="openAddWikiDialog()"
        />
        <p-button class="btn-icon" icon="fas fa-backward" (click)="collapseNavigation()"> </p-button>
      </div>
      <div class="flex justify-center">
        <p-panelmenu [model]="items" [multiple]="true" class="w-full" />
      </div>
    </p-panel>
  } @else {
    <div class="mb-2">
      <p-button class="btn-icon" (click)="collapseNavigation()">
        <i class="fas fa-list-ul"></i>
        <i class="fas fa-forward"></i>
      </p-button>
    </div>
    <p-button icon="pi pi-plus" class="btn-icon-text-success" (click)="openAddWikiDialog()" />
  }
</div>
