<section>
  <div class="flex flex-column gap-3">
    @let formArrayControls = formArray().controls;
    @for (control of formArrayControls; track $index) {
      <div class="flex flex-row gap-2 align-items-center">
        <osf-text-input class="w-full" [control]="control" [placeholder]="inputPlaceholder()" [maxLength]="255" />
        @if (formArrayControls.length > 1) {
          <p-button class="danger-icon-btn" icon="fas fa-trash" severity="danger" text (click)="remove($index)" />
        }
      </div>
    }
  </div>

  <section class="m-t-24 flex flex-row justify-content-end">
    <p-button label="Add One More" severity="secondary" (click)="add()" />
  </section>
</section>
