<p-accordion class="card-accordion">
  @for (education of education(); track $index) {
    <p-accordion-panel value="{{ $index }}" class="accordion-panel">
      <p-accordion-header>
        <div class="flex flex-row w-full">
          <p>{{ education.institution }}</p>

          <p class="font-normal ml-auto mr-5">
            {{ education.startMonth | monthYear: education.startYear }} -
            @if (education.ongoing) {
              {{ 'settings.profileSettings.education.ongoing' | translate }}
            } @else {
              {{ education.endMonth | monthYear: education.endYear }}
            }
          </p>
        </div>
      </p-accordion-header>

      <p-accordion-content>
        <p>{{ 'settings.profileSettings.education.degree' | translate }}: {{ education.degree }}</p>
        <p>{{ 'settings.profileSettings.education.department' | translate }} : {{ education.department }}</p>
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
