@if (userInstitutions().length) {
  <p-card>
    <div>
      <h2>{{ 'preprints.preprintStepper.metadata.affiliatedInstitutionsTitle' | translate }}</h2>
      <p
        class="mt-3"
        [innerHTML]="
          'preprints.preprintStepper.metadata.affiliatedInstitutionsDescription'
            | translate: { preprintWord: provider()?.preprintWord }
        "
      ></p>

      <div class="mt-4">
        <osf-affiliated-institution-select
          [institutions]="userInstitutions()"
          [isLoading]="
            areUserInstitutionsLoading() || areResourceInstitutionsLoading() || areResourceInstitutionsSubmitting()
          "
          [selectedInstitutions]="selectedInstitutions()"
          (selectedInstitutionsChange)="onInstitutionsChange($event)"
        />
      </div>
    </div>
  </p-card>
}
