<section class="flex flex-column bg-white flex-1 p-5 gap-4 w-full">
  @if (currentPage()) {
    <h2>{{ currentPage().title }}</h2>

    @let questions = currentPage().questions || [];

    @if (currentPage().sections?.length) {
      @for (section of currentPage().sections; track section.id) {
        questions = section.questions;
        <p-card>
          <h3 class="mb-2">{{ section.title }}</h3>
          @if (section.description) {
            <p class="mb-3">{{ section.description }}</p>
          }
          <ng-container *ngTemplateOutlet="questionList"></ng-container>
        </p-card>
      }
    } @else {
      <ng-container *ngTemplateOutlet="questionList"></ng-container>
    }

    <ng-template #questionList>
      @for (question of questions; track question.id) {
        <form [formGroup]="stepForm">
          <p-card>
            <label [for]="question.groupKey">
              <h3 class="mb-2">
                {{ question.displayText }}
                @if (question.required) {
                  <span class="text-red-500">*</span>
                }
              </h3>
              @if (question.helpText) {
                <p class="mb-3">{{ question.helpText }}</p>
              }
              @if (question.paragraphText) {
                <p class="mb-3">{{ question.paragraphText }}</p>
              }
            </label>
            @if (question.exampleText) {
              <p-inplace #inplaceRef styleClass="mb-4">
                <ng-template #display>
                  <span class="text-primary">{{ 'common.links.showExample' | translate }} </span>
                </ng-template>
                <ng-template #content>
                  <div class="p-inplace-display">
                    <button
                      class="text-primary border-none cursor-pointer bg-transparent text-sm"
                      tabindex="0"
                      role="button"
                      (click)="inplaceRef.deactivate()"
                      (keyup.enter)="inplaceRef.deactivate()"
                      (keyup.space)="inplaceRef.deactivate()"
                    >
                      {{ 'common.links.hideExample' | translate }}
                    </button>
                  </div>
                  <p class="m-0">{{ question.exampleText }}</p>
                </ng-template>
              </p-inplace>
            }

            @switch (question.fieldType) {
              @case (FieldType.TextArea) {
                <textarea
                  id="{{ question.groupKey }}"
                  class="w-full"
                  rows="5"
                  cols="30"
                  pTextarea
                  [formControlName]="question.responseKey!"
                ></textarea>
                @if (
                  stepForm.controls[question.responseKey!].errors?.['required'] &&
                  (stepForm.controls[question.responseKey!].touched || stepForm.controls[question.responseKey!].dirty)
                ) {
                  <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
                    {{ INPUT_VALIDATION_MESSAGES.required | translate }}
                  </p-message>
                }
              }
              @case (FieldType.Radio) {
                <div class="flex flex-column gap-2">
                  @for (option of question.options; track option) {
                    <div class="flex align -items-center gap-2">
                      <p-radioButton
                        [formControlName]="question.responseKey!"
                        [inputId]="option.value"
                        [value]="option.value"
                      ></p-radioButton>
                      <label [for]="option.value" class="ml-2">{{ option.label }}</label>
                      @if (option.helpText) {
                        <osf-info-icon [tooltipText]="option.helpText"></osf-info-icon>
                      }
                    </div>
                  }
                </div>
                @if (
                  stepForm.controls[question.responseKey!].errors?.['required'] &&
                  (stepForm.controls[question.responseKey!].touched || stepForm.controls[question.responseKey!].dirty)
                ) {
                  <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
                    {{ INPUT_VALIDATION_MESSAGES.required | translate }}
                  </p-message>
                }
              }
              @case (FieldType.Checkbox) {
                <div class="flex flex-column gap-2">
                  @for (option of question.options; track option) {
                    <div class="flex align-items-center gap-2">
                      <p-checkbox
                        [inputId]="option.value"
                        [formControlName]="question.responseKey!"
                        [value]="option.value"
                      ></p-checkbox>
                      <label [for]="option.value" class="ml-2">{{ option.label }}</label>
                    </div>
                  }
                </div>
                @if (
                  stepForm.controls[question.responseKey!].errors?.['required'] &&
                  (stepForm.controls[question.responseKey!].touched || stepForm.controls[question.responseKey!].dirty)
                ) {
                  <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
                    {{ INPUT_VALIDATION_MESSAGES.required | translate }}
                  </p-message>
                }
              }

              @case (FieldType.Text) {
                <input
                  [formControlName]="question.responseKey!"
                  type="text"
                  class="w-full"
                  [placeholder]="question.exampleText"
                  pInputText
                />
                @if (
                  stepForm.controls[question.responseKey!].errors?.['required'] &&
                  (stepForm.controls[question.responseKey!].touched || stepForm.controls[question.responseKey!].dirty)
                ) {
                  <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
                    {{ INPUT_VALIDATION_MESSAGES.required | translate }}
                  </p-message>
                }
              }
              @case (FieldType.File) {
                <h3 class="mb-2">{{ 'project.files.actions.uploadFile' | translate }}</h3>
                <p class="mb-1">
                  {{ 'shared.files.limitText' | translate }}
                </p>
                <p>
                  {{ 'shared.files.description' | translate }}
                </p>
                <div class="flex flex-wrap gap-2 mt-3 mb-3">
                  @for (file of attachedFiles[question.responseKey!] || []; track file) {
                    <p-chip
                      [label]="file.name"
                      severity="info"
                      removable="true"
                      (onRemove)="removeFromAttachedFiles(file, question.responseKey!)"
                    />
                  }
                </div>
                <div class="-ml-3 -mr-3">
                  <osf-files-control
                    [attachedFiles]="attachedFiles[question.responseKey!]"
                    (attachFile)="onAttachFile($event, question.responseKey!)"
                  ></osf-files-control>
                </div>
              }
            }
          </p-card>
        </form>
      }
    </ng-template>
  }
  <div class="flex justify-content-end">
    <p-button
      type="button"
      [label]="'common.buttons.back' | translate"
      severity="info"
      class="mr-2"
      (click)="goBack()"
    ></p-button>
    <p-button type="button" [label]="'common.buttons.next' | translate" (click)="goNext()"></p-button>
  </div>
</section>
