@use "assets/styles/mixins" as mix;

.resource-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  border: 1px solid var(--grey-2);
  border-radius: mix.rem(12px);
}
