<osf-sub-header [title]="'project.analytics.viewRelated.linkedProjectsTitle' | translate" [showButton]="false" />

<div class="flex flex-column flex-1 bg-white gap-5 p-3 sm:p-4">
  @if (!isLoading()) {
    @if (!linkedProjects().length) {
      <p class="mt-5 text-center">{{ 'project.analytics.viewRelated.noLinkedProjectsMessage' | translate }}</p>
    } @else {
      <p>{{ 'project.analytics.viewRelated.linkedProjectsMessage' | translate }}</p>

      @for (linkedProject of linkedProjects(); track linkedProject.id) {
        <osf-related-node-card [node]="linkedProject" />
      }

      @if (totalLinkedProjects() > pageSize) {
        <osf-custom-paginator
          [totalCount]="totalLinkedProjects()"
          [rows]="pageSize"
          [first]="firstIndex()"
          (pageChanged)="onPageChange($event)"
        />
      }
    }
  } @else {
    <osf-loading-spinner></osf-loading-spinner>
  }
</div>
