@if (!isRegistryLoading() && !isSubjectsLoading() && !isInstitutionsLoading() && !isSchemaBlocksLoading()) {
  <div
    class="flex flex-column justify-content-center flex-wrap md:flex-row md:gap-4 md:justify-content-between md:align-items-center"
  >
    <osf-sub-header
      [title]="registry()!.title"
      [showButton]="true"
      [buttonSeverity]="'success'"
      [buttonLabel]="'moderation.makeDecision.header' | translate"
      (buttonClick)="handleOpenMakeDecisionDialog()"
    />

    <!-- <p-button severity="success" [label]="'moderation.makeDecision.header' | translate" (onClick)="handleOpenMakeDecisionDialog()"></p-button> -->

    @if (!registry()?.archiving) {
      <div class="pb-5 pl-3 md:pr-5">
        <osf-overview-toolbar
          [currentResource]="toolbarResource()"
          [visibilityToggle]="false"
          [showViewOnlyLinks]="false"
        />
      </div>
    }
  </div>
  @if (registry()?.archiving) {
    <div class="flex flex-column bg-white flex-1 p-4 gap-4">
      <osf-archiving-message [registration]="registry()!"></osf-archiving-message>
    </div>
  } @else {
    <div class="flex flex-column bg-white flex-1 p-4 gap-4">
      <osf-data-resources
        [resourceId]="registry()?.id"
        [hasData]="registry()?.hasData"
        [hasAnalyticCode]="registry()?.hasAnalyticCode"
        [hasMaterials]="registry()?.hasMaterials"
        [hasPapers]="registry()?.hasPapers"
        [hasSupplements]="registry()?.hasSupplements"
      ></osf-data-resources>

      <div class="flex flex-column gap-4 xl:flex-row">
        <div class="left-section">
          <div class="flex flex-column gap-4 md:flex-row resource">
            <osf-registry-statuses [registry]="registry()"></osf-registry-statuses>
            <osf-registry-revisions
              [registry]="registry()"
              [selectedRevisionIndex]="selectedRevisionIndex()"
              (openRevision)="openRevision($event)"
            >
            </osf-registry-revisions>
          </div>
          <div class="blocks-section p-4">
            @for (block of mappedSchemaBlocks(); track $index) {
              @if (block.type === 'file-input' && block.files) {
                <ul class="flex flex-column gap-4 ml-5">
                  @for (file of block.files; track $index) {
                    <li class="list-disc">
                      <a [routerLink]="['/files', file.id]">{{ file.name }}</a>
                    </li>
                  }
                </ul>
              } @else if (block.type === 'multi-select-input' && block.values) {
                <div class="flex flex-column gap-4 p-4">
                  @for (value of block.values; track $index) {
                    @if (value) {
                      <p class="text-no-transform">{{ value }}</p>
                    }
                  }
                </div>
              } @else if (block.type === 'page-heading' && block.value) {
                <h1 class="pb-4 text-no-transform" [class.mt-4]="$index !== 0">{{ block.value }}</h1>
              } @else if ((block.type === 'subsection-heading' || block.type === 'question-label') && block.value) {
                <h3 class="pb-4 text-no-transform">{{ block.value }}</h3>
              } @else if (block.value && block.value !== 'select-input-option') {
                <p class="pb-4 text-no-transform">{{ block.value }}</p>
              }
            }
          </div>
        </div>
        <div class="flex flex-column right-section p-4">
          <osf-resource-metadata
            [currentResource]="resourceOverview()"
            (customCitationUpdated)="onCustomCitationUpdated($event)"
          />
        </div>
      </div>
    </div>
  }
} @else {
  <div class="flex-1">
    <osf-loading-spinner />
  </div>
}
