@use "/assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.icon-container {
  color: var.$dark-blue-1;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  &:hover {
    text-decoration: none;
    color: var.$pr-blue-1;
  }
}

.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.accordion-border {
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(12px);
  height: max-content !important;
}

.blocks-section {
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(12px);
  height: max-content;
}

.right-section {
  flex: 1;
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(12px);
}

.no-padding {
  --p-accordion-header-padding: 0;
}
