@if (!isLoading()) {
  <div
    class="flex flex-column justify-content-center flex-wrap md:flex-row md:justify-content-between md:align-items-center"
  >
    <osf-sub-header
      [title]="registry()!.title"
      [showButton]="canMakeDecision()"
      [buttonSeverity]="'success'"
      [buttonLabel]="'moderation.makeDecision.header' | translate"
      [isButtonDisabled]="!isRootRegistration()"
      [isSubmitting]="areReviewActionsLoading()"
      (buttonClick)="handleOpenMakeDecisionDialog()"
    />

    @if (showToolbar()) {
      <div class="pb-5 pl-4 ml-auto w-full md:pr-4">
        <osf-overview-toolbar
          [currentResource]="toolbarResource()"
          [showViewOnlyLinks]="false"
          [canEdit]="hasWriteAccess()"
        />
      </div>
    }
  </div>
  @if (registry()?.archiving) {
    <div class="flex flex-column bg-white flex-1 p-4 gap-4">
      <osf-archiving-message [registration]="registry()!"></osf-archiving-message>
    </div>
  } @else if (registry()?.withdrawn) {
    <div class="flex flex-column bg-white flex-1 p-4 gap-4">
      <osf-withdrawn-message [registration]="registry()!"></osf-withdrawn-message>
    </div>
  } @else {
    <div class="flex flex-column bg-white flex-1 p-4 gap-4">
      @if (!schemaResponse()?.isOriginalResponse && !isInitialState) {
        <p-message class="overview-message w-full" severity="warn">
          <ng-template #container>
            <div>
              <h4 class="mb-1">
                {{ 'registry.overview.updatedRevisionDescription' | translate }}
                {{ schemaResponse()?.dateCreated | date }}.
              </h4>
              <p>
                {{ 'registry.overview.updateReason' | translate }}
              </p>
              <p>
                {{ schemaResponse()?.revisionJustification }}
              </p>
            </div>
          </ng-template>
        </p-message>
      }

      @if (hasViewOnly()) {
        <osf-view-only-link-message />
      }

      <osf-data-resources
        [absoluteUrl]="registry()?.id"
        [hasData]="registry()?.hasData"
        [hasAnalyticCode]="registry()?.hasAnalyticCode"
        [hasMaterials]="registry()?.hasMaterials"
        [hasPapers]="registry()?.hasPapers"
        [hasSupplements]="registry()?.hasSupplements"
      ></osf-data-resources>

      <div class="flex flex-column gap-4 xl:flex-row">
        <div class="left-section">
          @if (!isAnonymous()) {
            <div class="flex flex-column gap-4 md:flex-row resource">
              <osf-registry-statuses
                [registry]="registry()"
                [canEdit]="hasAdminAccess()"
                [isModeration]="isModeration"
              ></osf-registry-statuses>

              <osf-registry-revisions
                [registry]="registry()"
                [selectedRevisionIndex]="selectedRevisionIndex()"
                (openRevision)="openRevision($event)"
                (updateRegistration)="onUpdateRegistration($event)"
                (continueUpdate)="onContinueUpdateRegistration()"
                [isModeration]="isModeration"
                [isSubmitting]="isSchemaResponseLoading()"
                [canEdit]="hasAdminAccess()"
              >
              </osf-registry-revisions>
            </div>
          }

          <div class="blocks-section p-4">
            @for (page of schemaBlocks(); track page.id) {
              <h2 class="mb-4 text-xl">{{ page.title }}</h2>

              @if (page.description) {
                <p class="mb-4">{{ page.description }}</p>
              }

              @if (page.sections?.length) {
                @for (section of page.sections; track section.id) {
                  <div class="mb-4">
                    <h3 class="mb-2">{{ section.title }}</h3>
                    @if (section.description) {
                      <p class="mb-4">{{ section.description }}</p>
                    }
                    @if (section.questions?.length) {
                      <osf-registration-blocks-data
                        [class.mb-4]="!$last"
                        [questions]="section.questions"
                        [reviewData]="schemaResponse()?.revisionResponses || {}"
                        [isOverviewPage]="true"
                        [updatedFields]="updatedFields()"
                        [isOriginalRevision]="schemaResponse()?.isOriginalResponse!"
                      ></osf-registration-blocks-data>
                    }
                  </div>
                }
              } @else {
                @if (page.questions?.length) {
                  <osf-registration-blocks-data
                    [class.mb-4]="!$last"
                    [questions]="page.questions"
                    [reviewData]="schemaResponse()?.revisionResponses || {}"
                    [isOverviewPage]="true"
                    [updatedFields]="updatedFields()"
                    [isOriginalRevision]="schemaResponse()?.isOriginalResponse!"
                  ></osf-registration-blocks-data>
                }
              }
            }
          </div>
        </div>
        <div class="flex flex-column right-section p-4">
          <osf-resource-metadata
            [currentResource]="resourceOverview()"
            (customCitationUpdated)="onCustomCitationUpdated($event)"
            [canEdit]="hasWriteAccess()"
          />
        </div>
      </div>
    </div>
  }
} @else {
  <div class="flex-1">
    <osf-loading-spinner />
  </div>
}
