@let project = currentProject();
@let status = submissionReviewStatus();

@if (!isLoading() && project) {
  <div class="flex justify-content-between">
    <osf-sub-header
      [title]="project.title"
      [showButton]="showDecisionButton()"
      [buttonSeverity]="'success'"
      [buttonLabel]="'moderation.makeDecision.header' | translate"
      (buttonClick)="handleOpenMakeDecisionDialog()"
    />
  </div>

  @if (currentProject()) {
    <div class="px-3 pb-5 flex flex-column sm:px-5">
      <osf-overview-toolbar
        [isCollectionsRoute]="isCollectionsRoute()"
        [currentResource]="currentResource()!"
        [projectDescription]="project.description"
        [canEdit]="hasAdminAccess()"
      />
    </div>
  }

  <div class="flex flex-wrap gap-4 bg-white h-full p-3 flex-column sm:p-4 lg:flex-row">
    @if (isCollectionsRoute()) {
      <p-button
        link
        [label]="'moderation.makeDecision.goBackLink' | translate"
        class="link-btn-no-padding font-bold"
        (onClick)="goBack()"
      />

      @if (status && isCollectionsRoute() && collectionProvider()) {
        @let submissionOption = SubmissionReviewStatusOptions[status];

        <p-message class="overview-message w-full" icon="fas fa-circle-exclamation" severity="warn">
          {{ submissionOption.label | translate }}
          <a class="cursor-pointer" [routerLink]="['/collections/', collectionProvider()?.id]">
            {{ collectionProvider()?.name }}
          </a>
        </p-message>
      }
    }

    @if (hasViewOnly()) {
      <osf-view-only-link-message />
    }

    <div class="flex flex-column gap-4 left-section flex-order-2 lg:flex-order-1">
      @if (isWikiEnabled()) {
        <osf-overview-wiki [resourceId]="currentProject()!.id" />
      }

      <osf-files-widget
        [rootOption]="filesRootOption()"
        [components]="components()"
        [areComponentsLoading]="areComponentsLoading()"
      />

      @if (parentProject()) {
        <osf-overview-parent-project
          [project]="parentProject()!"
          [isLoading]="isParentProjectLoading()"
          [anonymous]="isAnonymous()"
        />
      }

      <osf-project-components [canEdit]="hasWriteAccess() && !isCollectionsRoute()" [anonymous]="isAnonymous()" />

      @if (!hasViewOnly()) {
        <osf-linked-resources [canEdit]="hasWriteAccess() && !isCollectionsRoute()" />
      }

      @if (configuredCitationAddons().length) {
        @for (addon of configuredCitationAddons(); track addon.id) {
          <osf-citation-addon-card [addon]="addon" />
        }
      }

      <osf-recent-activity-list [pageSize]="activityPageSize" />
    </div>

    <div class="flex flex-column right-section p-4 flex-order-1 lg:flex-order-2">
      <osf-resource-metadata
        [currentResource]="resourceOverview()"
        (customCitationUpdated)="onCustomCitationUpdated($event)"
        [isCollectionsRoute]="isCollectionsRoute()"
        [canEdit]="hasAdminAccess()"
        [showEditButton]="hasWriteAccess()"
      />
    </div>
  </div>
} @else {
  <osf-loading-spinner />
}
