@let project = currentProject();

@if (!isProjectLoading() && project) {
  <div class="flex justify-content-between">
    <osf-sub-header [title]="project.title" />
  </div>

  <osf-overview-toolbar />

  <div class="flex gap-4 bg-white h-full p-3 flex-column-reverse sm:p-4 lg:flex-row">
    <div class="flex flex-column gap-4 left-section">
      <osf-project-wiki />
      <osf-project-components />
      <osf-linked-projects />
      <osf-recent-activity />
    </div>

    <div class="flex flex-column right-section p-4">
      <osf-overview-metadata />
    </div>
  </div>
} @else {
  <osf-loading-spinner />
}
