<div class="search-container mt-5 mx-3 md:mx-5 xl:mt-6 xl:mx-4">
  <osf-search-input
    [control]="searchControl"
    [showHelpIcon]="true"
    [placeholder]="'collections.searchInput.placeholder' | translate"
    (helpClicked)="showTutorial()"
  />
</div>

<div class="flex-column flex flex-1 w-full pt-6">
  <p-tabs class="flex-1 px-4" [value]="selectedTab" (valueChange)="onTabChange(+$event)">
    @if (!isMobile()) {
      <p-tablist>
        <p-tab [value]="ResourceTab.All">All</p-tab>
        <p-tab [value]="ResourceTab.Projects">Projects</p-tab>
        <p-tab [value]="ResourceTab.Registrations">Registrations</p-tab>
        <p-tab [value]="ResourceTab.Preprints">Preprints</p-tab>
        <p-tab [value]="ResourceTab.Files">Files</p-tab>
      </p-tablist>
    }
  </p-tabs>

  <div class="resources py-4 px-3 md:px-5 xl:px-4">
    <osf-my-profile-resources></osf-my-profile-resources>

    <osf-search-help-tutorial [(currentStep)]="currentStep"></osf-search-help-tutorial>
  </div>
</div>
