<p-card>
  <div class="flex justify-content-between align-items-center">
    <h3 class="text-lg">{{ 'project.overview.metadata.resourceInformation' | translate }}</h3>

    <p-button severity="secondary" [label]="'project.overview.metadata.editButton' | translate"></p-button>
  </div>

  <div class="flex-column flex gap-2">
    <p class="inline-block font-bold">
      <span> {{ 'project.overview.metadata.resourceType' | translate }}: </span>

      <span>
        {{ currentProject()?.category }}
      </span>
    </p>

    <p class="inline-block font-bold">
      <span> {{ 'project.overview.metadata.resourceLanguage' | translate }}: </span>

      <span>
        {{ currentProject()?.category }}
      </span>
    </p>
  </div>
  <!--  @if (currentProject().)-->
</p-card>
