@if (files().isLoading) {
  <div class="w-8rem ml-auto mr-auto">
    <osf-loading-spinner></osf-loading-spinner>
  </div>
} @else {
  <div class="files-table">
    <p-tree
      [value]="nodes()"
      styleClass="w-full md:w-[30rem]"
      class="tree-table"
      (onNodeDrop)="dropNode($event)"
      [draggableNodes]="!readonly()"
      [droppableNodes]="!readonly()"
      draggableScope="self"
      droppableScope="self"
    >
      <ng-template let-file pTemplate="default">
        @if (file.previousFolder) {
          <div class="files-table-row" tabindex="0" (click)="openParentFolder()" (keydown.enter)="openParentFolder()">
            <div class="flex gap-2">
              <div class="parent-folder-link">
                <i class="osf-icon-arrow-left"></i>
                <i class="osf-icon-folder"></i>
                {{ file.name ?? '' }}
              </div>
            </div>
          </div>
        } @else {
          <div
            class="files-table-row"
            [class.files-table-readonly]="readonly()"
            [class.files-table-editable]="!readonly()"
          >
            <div
              class="flex gap-2 table-cell"
              tabindex="0"
              [class.pl-6]="currentFolder()?.relationships?.parentFolderLink"
              (click)="openEntry(file)"
              (keydown.enter)="openEntry(file)"
            >
              @if (file.kind !== 'folder') {
                <div class="flex gap-2 min-w-0">
                  <i class="osf-icon-doc blue-icon"></i>
                  <span class="entry-title blue-text">{{ file?.name ?? '' }}</span>
                </div>
              } @else {
                <i class="osf-icon-folder"></i>
                <div class="table-cell entry-title">
                  {{ file?.name ?? '' }}
                </div>
              }
            </div>

            <div class="files-table-cell">
              {{ file.kind === 'file' ? file.extra.downloads + ' ' + ('common.labels.downloads' | translate) : '' }}
            </div>

            <div class="files-table-cell">
              {{ file.size | fileSize }}
            </div>
            <div class="files-table-cell">
              {{ file.dateModified | date: 'MMM d, y hh:mm a' }}
            </div>
            @if (!readonly()) {
              <div class="relative ml-auto">
                <p-menu #menu [model]="items" popup appendTo="body">
                  {{ 'project.files.menu.download' | translate }}
                  <ng-template #item let-item>
                    @switch (item.label) {
                      @case (FileMenuItems.Download) {
                        @if (file.kind === 'file') {
                          <a
                            role="button"
                            tabindex="0"
                            class="p-menu-item-link"
                            (click)="downloadFile(file.links.download)"
                            (keydown.enter)="downloadFile(file.links.download)"
                          >
                            {{ 'common.buttons.download' | translate }}
                          </a>
                        } @else {
                          <a
                            role="button"
                            tabindex="0"
                            class="p-menu-item-link"
                            (click)="downloadFolder(file.id, false)"
                            (keydown.enter)="downloadFolder(file.id, false)"
                          >
                            {{ 'common.buttons.download' | translate }}
                          </a>
                        }
                      }
                      @case (FileMenuItems.Delete) {
                        <a
                          role="button"
                          tabindex="0"
                          class="p-menu-item-link"
                          (click)="confirmDelete(file)"
                          (keydown.enter)="confirmDelete(file)"
                        >
                          {{ 'common.buttons.delete' | translate }}
                        </a>
                      }
                      @case (FileMenuItems.Share) {
                        @if (file.kind === 'file') {
                          <div>
                            <a
                              role="button"
                              tabindex="0"
                              class="p-menu-item-link"
                              (click)="$event.stopPropagation(); share.show($event)"
                              (keydown.enter)="$event.stopPropagation(); share.show($event)"
                            >
                              {{ 'common.buttons.share' | translate }}
                            </a>
                          </div>
                        }
                      }
                      @case (FileMenuItems.Embed) {
                        @if (file.kind === 'file') {
                          <div class="relative">
                            <a
                              role="button"
                              tabindex="0"
                              class="p-menu-item-link"
                              (click)="$event.stopPropagation(); embed.toggle($event)"
                              (keydown.enter)="$event.stopPropagation(); embed.toggle($event)"
                            >
                              {{ 'common.buttons.embed' | translate }}
                            </a>
                          </div>
                        }
                      }
                      @case (FileMenuItems.Rename) {
                        <a
                          role="button"
                          tabindex="0"
                          class="p-menu-item-link"
                          (click)="confirmRename(file)"
                          (keydown.enter)="confirmRename(file)"
                        >
                          {{ 'common.buttons.rename' | translate }}
                        </a>
                      }
                      @case (FileMenuItems.Move) {
                        <a
                          role="button"
                          tabindex="0"
                          class="p-menu-item-link"
                          (click)="moveFile(file, 'move')"
                          (keydown.enter)="moveFile(file, 'move')"
                        >
                          {{ 'common.buttons.move' | translate }}
                        </a>
                      }
                      @case (FileMenuItems.Copy) {
                        <a
                          role="button"
                          tabindex="0"
                          class="p-menu-item-link"
                          (click)="moveFile(file, 'copy')"
                          (keydown.enter)="moveFile(file, 'copy')"
                        >
                          {{ 'common.buttons.copy' | translate }}
                        </a>
                      }
                    }
                  </ng-template>
                </p-menu>

                <p-button
                  size="small"
                  severity="secondary"
                  class="btn-icon-text"
                  icon="pi pi-ellipsis-v"
                  (click)="$event.stopPropagation(); menu.toggle($event)"
                ></p-button>

                <p-popover #share>
                  <ul>
                    @let emailLink = 'mailto:?subject=' + file.name + '&body=' + file.links.html;
                    @let twitterLink =
                      'https://twitter.com/intent/tweet?url=' +
                      file.links.html +
                      '&text=' +
                      file.name +
                      '&via=OSFramework';
                    @let facebookLink =
                      'https://www.facebook.com/dialog/share?app_id=1022273774556662&display=popup&href=' +
                      file.links.html +
                      '&redirect_uri=' +
                      file.links.html;
                    <li
                      tabindex="0"
                      (click)="$event.stopPropagation(); share.hide(); menu.hide(); openLink(emailLink)"
                      (keydown.enter)="$event.stopPropagation(); share.hide(); openLink(emailLink); menu.hide()"
                      class="p-menu-item-link"
                    >
                      {{ 'project.files.detail.actions.share.email' | translate }}
                    </li>
                    <li
                      tabindex="1"
                      (click)="$event.stopPropagation(); share.hide(); menu.hide(); openLinkNewTab(twitterLink)"
                      (keydown.enter)="$event.stopPropagation(); share.hide(); menu.hide(); openLinkNewTab(twitterLink)"
                      class="p-menu-item-link"
                    >
                      {{ 'project.files.detail.actions.share.twitter' | translate }}
                    </li>
                    <li
                      tabindex="2"
                      (click)="$event.stopPropagation(); share.hide(); menu.hide(); openLinkNewTab(facebookLink)"
                      (keydown.enter)="
                        $event.stopPropagation(); share.hide(); menu.hide(); openLinkNewTab(facebookLink)
                      "
                      class="p-menu-item-link"
                    >
                      {{ 'project.files.detail.actions.share.facebook' | translate }}
                    </li>
                  </ul>
                </p-popover>

                <p-popover #embed>
                  <ul>
                    @let embedDynamic = dynamicHtml.replace('ENCODED_URL', file.links.render);
                    @let embedStatic = staticHtml.replace('ENCODED_URL', file.links.render);
                    <li
                      tabindex="0"
                      (click)="$event.stopPropagation(); embed.hide(); menu.hide(); copyToClipboard(embedDynamic)"
                      (keydown.enter)="
                        $event.stopPropagation(); embed.hide(); menu.hide(); copyToClipboard(embedDynamic)
                      "
                      class="p-menu-item-link"
                    >
                      {{ 'project.files.detail.actions.copyDynamicIframe' | translate }}
                    </li>
                    <li
                      tabindex="0"
                      (click)="$event.stopPropagation(); embed.hide(); menu.hide(); copyToClipboard(embedStatic)"
                      (keydown.enter)="
                        $event.stopPropagation(); embed.hide(); menu.hide(); copyToClipboard(embedStatic)
                      "
                      class="p-menu-item-link"
                    >
                      {{ 'project.files.detail.actions.copyStaticIframe' | translate }}
                    </li>
                  </ul>
                </p-popover>
              </div>
            }
          </div>
        }
      </ng-template>
    </p-tree>

    @if (!files().data.length) {
      <div class="flex justify-content-center p-4">
        <h3 class="font-normal text-no-transform">{{ 'project.files.emptyState' | translate }}</h3>
      </div>
    }
  </div>
}
