<osf-files-drop-zone class="flex flex-1" [enabled]="canUpload()" (filesDropped)="onDropFiles($event)">
  @if (isLoading() && !isLoadingMore()) {
    <div class="flex flex-1">
      <osf-loading-spinner></osf-loading-spinner>
    </div>
  } @else {
    <div class="files-table flex">
      <p-tree
        class="tree-table w-full"
        [draggableNodes]="canUpload()"
        [droppableNodes]="canUpload()"
        [lazy]="true"
        [loading]="isLoadingMore()"
        [selection]="selectedNodes()"
        [selectionMode]="selectionMode()"
        [scrollHeight]="scrollHeight()"
        [value]="nodes()"
        [virtualScroll]="true"
        [virtualScrollItemSize]="virtualScrollItemSize"
        (onLazyLoad)="onLazyLoad($event)"
        (onNodeSelect)="onNodeSelect($event)"
        (onNodeUnselect)="onNodeUnselect($event)"
        (onNodeDrop)="onNodeDrop($event)"
      >
        <ng-template let-file pTemplate="default">
          <osf-files-tree-row
            [file]="file.data"
            [hasFoldersStack]="foldersStack().length > 0"
            [showMenu]="canShowMenu()"
            [allowedMenuActions]="allowedMenuActions()"
            (openParentFolder)="openParentFolder()"
            (openEntry)="openEntry($event)"
            (menuAction)="onFileMenuAction($event, file.data)"
          ></osf-files-tree-row>
        </ng-template>
      </p-tree>

      @if (!files().length) {
        <div class="empty-state-container p-4">
          @if (!canUpload()) {
            <h3 class="font-normal mb-4 text-no-transform">{{ 'files.emptyState' | translate }}</h3>
          } @else {
            <div class="drop-text">
              <i class="fa-solid fa-cloud-arrow-up text-5xl"></i>
              <p class="text-xl">{{ 'files.dropText' | translate }}</p>
            </div>
          }
        </div>
      }
    </div>
  }
</osf-files-drop-zone>
