@if (isLoading()) {
  <div class="w-8rem ml-auto mr-auto">
    <osf-loading-spinner></osf-loading-spinner>
  </div>
} @else {
  <div class="files-table">
    <p-tree
      [value]="nodes()"
      styleClass="w-full md:w-[30rem]"
      class="tree-table"
      (onNodeDrop)="dropNode($event)"
      [draggableNodes]="!viewOnly()"
      [droppableNodes]="!viewOnly()"
      draggableScope="self"
      droppableScope="self"
    >
      <ng-template let-file pTemplate="default">
        @if (file.previousFolder) {
          <div class="files-table-row" tabindex="0" (click)="openParentFolder()" (keydown.enter)="openParentFolder()">
            <div class="flex gap-2">
              <div class="flex align-items-center gap-1">
                <i class="osf-icon-arrow-left"></i>
                <i class="osf-icon-folder"></i>
                {{ file.name ?? '' }}
              </div>
            </div>
          </div>
        } @else {
          <div
            class="files-table-row"
            [class.files-table-readonly]="viewOnly()"
            [class.files-table-editable]="!viewOnly()"
          >
            <div
              class="flex gap-2 table-cell"
              tabindex="0"
              [class.pl-6]="currentFolder()?.relationships?.parentFolderLink"
              (click)="openEntry(file)"
              (keydown.enter)="openEntry(file)"
            >
              @if (file.kind !== 'folder') {
                <div class="flex gap-2 min-w-0">
                  <i class="fas fa-file blue-icon"></i>
                  <span class="entry-title blue-text">{{ file?.name ?? '' }}</span>
                </div>
              } @else {
                <i class="fas fa-folder"></i>
                <div class="table-cell entry-title">
                  {{ file?.name ?? '' }}
                </div>
              }
            </div>

            <div class="files-table-cell">
              {{ file.kind === 'file' ? file.extra.downloads + ' ' + ('common.labels.downloads' | translate) : '' }}
            </div>

            <div class="files-table-cell">
              {{ file.size | fileSize }}
            </div>

            <div class="files-table-cell">
              {{ file.dateModified | date: 'MMM d, y hh:mm a' }}
            </div>
            @if (!viewOnly()) {
              <div class="relative ml-auto">
                <osf-file-menu (action)="onFileMenuAction($event, file)"></osf-file-menu>
              </div>
            }
          </div>
        }
      </ng-template>
    </p-tree>

    @if (!files().length) {
      <div class="flex justify-content-center p-4">
        <h3 class="font-normal text-no-transform">{{ 'project.files.emptyState' | translate }}</h3>
      </div>
    }
  </div>
}
