@use "styles/mixins" as mix;

:host {
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

.files-table {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  overflow-x: auto;
  min-width: 100%;
  min-height: 180px;

  &-row {
    color: var(--dark-blue-1);
    display: grid;
    align-items: center;
    grid-template-columns:
      minmax(mix.rem(200px), 32rem) minmax(mix.rem(150px), 0.7fr) minmax(mix.rem(100px), 100px)
      minmax(mix.rem(150px), 1fr) minmax(mix.rem(50px), 50px);
    grid-template-rows: mix.rem(44px);
    border-bottom: 1px solid var(--grey-2);
    padding: 0 mix.rem(12px);
    cursor: pointer;

    &:hover {
      background: var(--bg-blue-3);
    }

    &:active {
      background: var(--bg-blue-2);
    }

    .table-cell {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    > .table-cell:first-child {
      min-width: 300px;
      max-width: 95%;
    }
  }
}

.entry-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 100%;
}

.tree-table {
  .p-tree {
    padding: 0;
  }
}

.drop-zone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
  pointer-events: none;
  background: transparent;

  &.active {
    backdrop-filter: blur(0.3rem);
    background: rgba(132, 174, 210, 0.5);
    pointer-events: all;
  }
}
