<div class="contributors-dialog flex flex-column gap-4">
  <div class="flex justify-content-between align-items-center">
    <h3>{{ 'project.contributors.addContributor' | translate }}</h3>

    @if (isCurrentUserAdminContributor()) {
      <p-button
        [label]="'project.contributors.addContributor' | translate"
        [disabled]="isLoading()"
        (onClick)="openAddContributorDialog()"
        data-test-add-button
      />
    }
  </div>

  <div class="filters-container flex flex-column gap-3">
    <osf-search-input [control]="searchControl" [placeholder]="'project.contributors.searchPlaceholder' | translate" />
  </div>

  <osf-contributors-list
    class="w-full"
    [contributors]="contributors()"
    [showEducation]="false"
    [showEmployment]="false"
    [isLoading]="isLoading()"
    [isCurrentUserAdminContributor]="isCurrentUserAdminContributor()"
    [currentUserId]="currentUser()?.id"
    (remove)="removeContributor($event)"
  ></osf-contributors-list>

  @if (hasChanges) {
    <div class="flex gap-2 w-full">
      <p-button
        class="w-3"
        styleClass="w-full"
        (onClick)="cancel()"
        severity="info"
        [label]="'common.buttons.cancel' | translate"
        data-test-cancel-button
      >
      </p-button>

      <p-button
        class="w-3"
        styleClass="w-full"
        [label]="'common.buttons.save' | translate"
        (onClick)="onSave()"
        data-test-save-button
      ></p-button>
    </div>
  }

  <div class="flex justify-content-end gap-2 pt-3">
    <p-button
      [label]="'common.buttons.close' | translate"
      (onClick)="onClose()"
      [disabled]="isLoading()"
      data-test-close-button
    ></p-button>
  </div>
</div>
