<osf-sub-header [title]="'project.files.title' | translate"></osf-sub-header>

<div class="flex flex-column bg-white gap-4 h-full flex-1 p-4">
  <div class="flex flex-grow-0 w-full sm:w-30rem">
    <p-floatlabel class="w-full md:w-56" variant="in">
      <p-select
        inputId="in_label"
        [options]="['Storage Location: United State', 'Another Storage']"
        styleClass="w-full"
        variant="filled"
      />
      <label for="in_label">{{ 'project.files.storageLocation' | translate }}</label>
    </p-floatlabel>
  </div>

  <div class="flex flex-column gap-4 md:justify-content-between md:flex-row md:flex-wrap">
    <div class="flex flex-column gap-2 w-full sm:flex-row md:w-max">
      <osf-search-input
        [control]="searchControl"
        class="w-full sm:w-9 xl:w-30rem"
        [placeholder]="'project.files.searchPlaceholder' | translate"
      />

      <div class="sm:w-3 md:w-max">
        <div class="sorting-container no-border-dropdown select-font-normal">
          <p-select
            [options]="sortOptions"
            [formControl]="sortControl"
            [placeholder]="'project.files.sort.placeholder' | translate"
            optionLabel="label"
            optionValue="value"
          >
            <ng-template #selectedItem let-selectedOption>
              {{ selectedOption.label | translate }}
            </ng-template>
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template></p-select
          >
        </div>
      </div>
    </div>

    <div class="flex flex-column w-full gap-2 sm:flex-row md:w-max">
      @let id = currentFolder()?.id ?? '';
      @let rootFolder = !currentFolder()?.relationships?.parentFolderLink;
      <p-button
        [disabled]="fileIsUploading"
        outlined
        raised
        (click)="downloadFolder(id, rootFolder)"
        [icon]="'fas fa-download'"
        [label]="'project.files.actions.downloadAsZip' | translate"
      >
      </p-button>

      <p-button
        [disabled]="fileIsUploading"
        outlined
        raised
        severity="success"
        [icon]="'fas fa-plus'"
        [label]="'project.files.actions.createFolder' | translate"
        (click)="createFolderVisible = true"
      >
      </p-button>

      <p-button
        [disabled]="fileIsUploading"
        outlined
        raised
        severity="success"
        [icon]="'fas fa-upload'"
        [label]="'project.files.actions.uploadFile' | translate"
        (click)="fileInput.click()"
      >
      </p-button>

      <input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
    </div>
  </div>

  <div class="absolute">
    <p-dialog
      [header]="'project.files.dialogs.uploadFile.title' | translate"
      [modal]="true"
      [(visible)]="fileIsUploading"
      class="upload-dialog"
    >
      <div class="flex flex-column align-items-center justify-content-center gap-3 w-full">
        <span class="p-text-secondary filename">{{ fileName() }}</span>
        <div class="w-6">
          <osf-loading-spinner></osf-loading-spinner>
        </div>
        <p>{{ progress() }} %</p>
      </div>
    </p-dialog>

    <p-dialog
      [header]="'project.files.dialogs.createFolder.title' | translate"
      [modal]="true"
      [(visible)]="createFolderVisible"
      class="action-dialog"
    >
      <div class="flex flex-column items-center mb-4">
        <label for="folderName" class="font-semibold w-24">{{
          'project.files.dialogs.createFolder.folderName' | translate
        }}</label>
        <div [formGroup]="folderForm">
          <input
            pInputText
            formControlName="name"
            id="folderName"
            class="flex-auto"
            autocomplete="off"
            [placeholder]="'project.files.dialogs.createFolder.folderNamePlaceholder' | translate"
          />
        </div>
      </div>
      <div class="flex justify-content-end gap-2">
        @if (!isFolderCreating) {
          <p-button
            [label]="'common.buttons.cancel' | translate"
            severity="secondary"
            (click)="createFolderVisible = false"
          />
          <p-button [label]="'common.buttons.save' | translate" (click)="createFolder()" />
        } @else {
          <div class="spinner-container">
            <osf-loading-spinner></osf-loading-spinner>
          </div>
        }
      </div>
    </p-dialog>

    <p-dialog
      [header]="'project.files.dialogs.renameFile.title' | translate"
      [modal]="true"
      [(visible)]="renameFileVisible"
      class="action-dialog"
    >
      <div class="flex flex-column items-center mb-4">
        <label for="folderName" class="font-semibold w-24">{{
          'project.files.dialogs.renameFile.renameLabel' | translate
        }}</label>
        <div [formGroup]="renameForm">
          <input pInputText formControlName="name" id="folderName" class="flex-auto" autocomplete="off" />
        </div>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          [label]="'common.buttons.cancel' | translate"
          severity="secondary"
          (click)="createFolderVisible = false"
        />
        <p-button [label]="'common.buttons.save' | translate" (click)="renameEntry()" />
      </div>
    </p-dialog>
  </div>

  @if (files().isLoading || isFilesUpdating()) {
    <div class="w-8rem ml-auto mr-auto">
      <osf-loading-spinner></osf-loading-spinner>
    </div>
  } @else {
    <div class="files-table">
      @if (currentFolder()?.relationships?.parentFolderLink) {
        <div class="files-table-row">
          <div class="flex gap-2">
            <div
              tabindex="0"
              (click)="openParentFolder()"
              (keydown.enter)="openParentFolder()"
              class="parent-folder-link"
            >
              <i class="osf-icon-arrow-left"></i>
              <i class="osf-icon-folder"></i>
              {{ currentFolder()?.name ?? '' }}
            </div>
          </div>

          <div class="files-table-cell"></div>
          <div class="files-table-cell"></div>
          <div class="files-table-cell"></div>
          <div class="files-table-cell"></div>
        </div>
      }
      @for (file of files().data; track $index) {
        <div class="files-table-row">
          <div class="flex gap-2 table-cell" [class.pl-6]="currentFolder()?.relationships?.parentFolderLink">
            @if (file.kind !== 'folder') {
              <div class="flex gap-2 min-w-0">
                <i class="blue-icon" class="osf-icon-doc icon-link"></i>
                <a class="flex min-w-0" [routerLink]="[file.guid]">
                  <div class="filename-link min-w-0">{{ file?.name ?? '' }}</div>
                </a>
              </div>
            } @else {
              <i class="osf-icon-folder"></i>
              <div
                tabindex="0"
                (click)="openFolder(file)"
                (keydown.enter)="openFolder(file)"
                class="table-cell filename-link min-w-0"
              >
                {{ file?.name ?? '' }}
              </div>
            }
          </div>

          <div class="files-table-cell">
            {{ file.kind === 'file' ? file.extra.downloads + ' ' + ('common.labels.downloads' | translate) : '' }}
          </div>

          <div class="files-table-cell">
            {{ file.size | fileSize }}
          </div>
          <div class="files-table-cell">
            {{ file.dateModified | date: 'MMM d, y hh:mm a' }}
          </div>
          <div class="relative ml-auto">
            <p-menu #menu [model]="items" popup appendTo="body">
              {{ 'project.files.menu.download' | translate }}
              <ng-template #item let-item>
                @switch (item.label) {
                  @case (FileMenuItems.Download) {
                    @if (file.kind === 'file') {
                      <a
                        role="button"
                        tabindex="0"
                        class="p-menu-item-link"
                        (click)="downloadFile(file.links.download)"
                        (keydown.enter)="downloadFile(file.links.download)"
                      >
                        {{ 'common.buttons.download' | translate }}
                      </a>
                    } @else {
                      <a
                        role="button"
                        tabindex="0"
                        class="p-menu-item-link"
                        (click)="downloadFolder(file.id, false)"
                        (keydown.enter)="downloadFolder(file.id, false)"
                      >
                        {{ 'common.buttons.download' | translate }}
                      </a>
                    }
                  }
                  @case (FileMenuItems.Copy) {
                    <a
                      role="button"
                      tabindex="0"
                      class="p-menu-item-link"
                      (click)="moveFile(file, 'copy')"
                      (keydown.enter)="moveFile(file, 'copy')"
                    >
                      {{ 'common.buttons.copy' | translate }}
                    </a>
                  }
                  @case (FileMenuItems.Move) {
                    <a
                      role="button"
                      tabindex="0"
                      class="p-menu-item-link"
                      (click)="moveFile(file, 'move')"
                      (keydown.enter)="moveFile(file, 'move')"
                    >
                      {{ 'common.buttons.move' | translate }}
                    </a>
                  }
                  @case (FileMenuItems.Rename) {
                    <a
                      role="button"
                      tabindex="0"
                      class="p-menu-item-link"
                      (click)="
                        renameFileVisible = true;
                        selectedFileIndex = $index;
                        renameForm.get('name')!.setValue(file.name)
                      "
                      (keydown.enter)="renameFileVisible = true; selectedFileIndex = $index"
                    >
                      {{ 'common.buttons.rename' | translate }}
                    </a>
                  }
                  @case (FileMenuItems.Delete) {
                    <a
                      role="button"
                      tabindex="0"
                      class="p-menu-item-link"
                      (click)="deleteEntry(file.links.delete)"
                      (keydown.enter)="deleteEntry(file.links.delete)"
                    >
                      {{ 'common.buttons.delete' | translate }}
                    </a>
                  }
                }
              </ng-template>
            </p-menu>

            <p-button
              size="small"
              severity="secondary"
              class="btn-icon-text"
              icon="pi pi-ellipsis-v"
              (click)="menu.toggle($event)"
            ></p-button>
          </div>
        </div>
      }
      @if (!files().data.length) {
        <div class="flex justify-content-center p-4">
          <h3 class="font-normal text-no-transform">{{ 'project.files.emptyState' | translate }}</h3>
        </div>
      }
    </div>
  }
</div>
