@if (!isPortrait()) {
  <div class="layout-desktop">
    <osf-sidenav></osf-sidenav>
    <main class="content">
      <div class="content-wrapper">
        <osf-header></osf-header>
        <osf-main-content></osf-main-content>
        <osf-footer></osf-footer>
      </div>
    </main>
  </div>
} @else {
  <div class="layout-tablet">
    <main class="content">
      <div class="content-wrapper">
        <osf-topnav></osf-topnav>
        <osf-main-content></osf-main-content>
        <osf-footer></osf-footer>
      </div>
    </main>
  </div>
}
