@if (summaryMetricsLoading()) {
  <div class="flex-1 mt-4 md:mt-8 lg:pt-5">
    <osf-loading-spinner />
  </div>
} @else {
  <div class="w-full">
    <div class="flex flex-wrap mt-4 gap-3 md:gap-4">
      @for (item of statisticsData; track $index) {
        <osf-statistic-card class="width-25" [label]="item.label | translate" [value]="item.value" />
      }
    </div>

    <div class="flex flex-wrap mt-4 gap-3 md:gap-4">
      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-doughnut-chart
          [isLoading]="departmentsLoading()"
          [datasets]="departmentDataset"
          [labels]="departmentLabels"
          [showExpandedSection]="true"
          [title]="'adminInstitutions.summary.totalUsersByDepartment' | translate"
        />
      </div>

      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-doughnut-chart
          [isLoading]="summaryMetricsLoading()"
          [datasets]="projectDataset"
          [labels]="projectsLabels"
          [showExpandedSection]="true"
          [title]="'adminInstitutions.summary.publicPrivateProjects' | translate"
        />
      </div>

      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-doughnut-chart
          [isLoading]="summaryMetricsLoading()"
          [datasets]="registrationsDataset"
          [labels]="registrationsLabels"
          [showExpandedSection]="true"
          [title]="'adminInstitutions.summary.publicEmbargoedRegistrations' | translate"
        />
      </div>

      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-doughnut-chart
          [isLoading]="summaryMetricsLoading()"
          [datasets]="osfProjectsDataset"
          [labels]="osfProjectsLabels"
          [showExpandedSection]="true"
          [title]="'adminInstitutions.summary.totalOsfObjects' | translate"
        />
      </div>

      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-bar-chart
          [isLoading]="storageRegionSearchLoading()"
          [datasets]="licenceDataset"
          [labels]="licenceLabels"
          [showTicks]="false"
          [showExpandedSection]="true"
          [orientation]="'vertical'"
          [title]="'adminInstitutions.summary.topTenLicenses' | translate"
        />
      </div>

      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-bar-chart
          [isLoading]="storageRegionSearchLoading()"
          [datasets]="addonDataset"
          [labels]="addonLabels"
          [showTicks]="false"
          [showExpandedSection]="true"
          [orientation]="'vertical'"
          [title]="'adminInstitutions.summary.topTenAddons' | translate"
        />
      </div>

      <div class="grey-border-color border-round-lg border-1 p-3 md:p-4 width-33">
        <osf-doughnut-chart
          [isLoading]="storageRegionSearchLoading()"
          [datasets]="storageDataset"
          [labels]="storageLabels"
          [showExpandedSection]="true"
          [title]="'adminInstitutions.summary.topStorageRegions' | translate"
        />
      </div>
    </div>
  </div>
}
