@if (!isFormSubmitted()) {
  <section class="reset-password-container" [class.mobile]="isXSmall()">
    <h2>Reset Password</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="newPassword">New Password</label>
        <p-password
          id="newPassword"
          formControlName="newPassword"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="new-password"
        ></p-password>

        <osf-password-input-hint
          [isError]="
            resetPasswordForm.get('newPassword')?.errors &&
            resetPasswordForm.get('newPassword')?.touched
          "
        />
      </div>

      <div class="field">
        <label for="confirmNewPassword">Confirm New Password</label>
        <p-password
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="new-password"
        ></p-password>
        @if (
          resetPasswordForm.get("confirmNewPassword")?.errors?.[
            "passwordMismatch"
          ] && resetPasswordForm.get("confirmNewPassword")?.touched
        ) {
          <small class="text-danger">Passwords must match</small>
        }
      </div>

      <p-button
        class="btn-full-width"
        type="submit"
        label="Reset Password"
        [disabled]="resetPasswordForm.invalid"
      ></p-button>
    </form>
  </section>
} @else {
  <section class="message-container">
    <h2>Thank You!</h2>
    <p class="message-text">You have successfully reset your password</p>
    <p-button
      class="btn-full-width"
      label="Back to Sign In"
      [routerLink]="['/sign-up']"
    />
  </section>
}
