@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  @include mix.flex-center;
  flex: 1;
  background: url("/assets/images/auth-background.png") center no-repeat;
  background-size: cover;

  .reset-password-container,
  .message-container {
    @include mix.flex-column;
    color: var.$dark-blue-1;
    max-width: 32rem;
    flex: 1;
    gap: 1.2rem;
    padding: 2rem;
    background: white;
    border-radius: 0.6rem;
    box-shadow: 0 2px 4px var.$grey-outline;

    h2,
    .message-text {
      text-align: center;
    }

    .message-text {
      margin-bottom: 1.5rem;
    }

    form {
      @include mix.flex-column;
      flex: 1;

      .field {
        margin-bottom: 1rem;

        .text-danger {
          color: var.$red-1;
          font-weight: 600;
        }
      }

      small {
        color: var.$pr-blue-1;
        font-weight: 600;
      }

      .btn-full-width {
        margin-top: 1.5rem;
      }
    }
  }

  .mobile {
    max-width: 24.5rem;
  }
}
