@if (!isFormSubmitted()) {
  <section class="reset-password-container" [class.mobile]="isMobile()">
    <h2>{{ "auth.resetPassword.title" | translate }}</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="newPassword">{{
          "auth.common.password.new" | translate
        }}</label>
        <p-password
          id="newPassword"
          formControlName="newPassword"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="new-password"
        ></p-password>

        <osf-password-input-hint
          [isError]="
            resetPasswordForm.get('newPassword')?.errors &&
            resetPasswordForm.get('newPassword')?.touched
          "
        />
      </div>

      <div class="field">
        <label for="confirmNewPassword">{{
          "auth.common.password.confirm" | translate
        }}</label>
        <p-password
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="new-password"
        ></p-password>
        @if (
          resetPasswordForm.get("confirmNewPassword")?.errors?.[
            "passwordMismatch"
          ] && resetPasswordForm.get("confirmNewPassword")?.touched
        ) {
          <small class="text-danger">{{
            "auth.common.password.mismatch" | translate
          }}</small>
        }
      </div>

      <p-button
        class="btn-full-width"
        type="submit"
        [label]="'auth.resetPassword.submit' | translate"
        [disabled]="resetPasswordForm.invalid"
      ></p-button>
    </form>
  </section>
} @else {
  <section class="message-container">
    <h2>{{ "auth.resetPassword.success.title" | translate }}</h2>
    <p class="message-text">
      {{ "auth.resetPassword.success.message" | translate }}
    </p>
    <p-button
      class="btn-full-width"
      [label]="'auth.resetPassword.success.backToSignin' | translate"
      [routerLink]="['/sign-up']"
    />
  </section>
}
