<p-card class="w-full">
  <h2>{{ 'project.overview.metadata.contributors' | translate }}</h2>

  <div class="warning-message mt-4 mb-3">
    <p-message icon="fas fa-circle-exclamation" severity="error">
      {{ 'preprints.preprintContributorsWarning' | translate }}
    </p-message>
  </div>

  <osf-contributors-table
    class="w-full"
    [(contributors)]="contributors"
    [tableParams]="tableParams()"
    [isLoading]="isContributorsLoading()"
    (remove)="removeContributor($event)"
    (pageChanged)="pageChanged($event)"
  />
  <div class="flex justify-content-end mt-3">
    @if (hasChanges) {
      <div class="flex gap-2 mr-4">
        <p-button (onClick)="cancel()" severity="info" [label]="'common.buttons.cancel' | translate" />
        <p-button (onClick)="save()" [label]="'common.buttons.save' | translate" />
      </div>
    }
    <p-button
      class="w-full md:w-auto"
      styleClass="w-full"
      [label]="'preprints.addContributorBySearch' | translate"
      type="submit"
      (onClick)="openAddContributorDialog()"
    />
  </div>
</p-card>
