@use "assets/styles/mixins" as mix;

.name-container {
  border: 1px solid var(--grey-2);
  border-radius: 0.5rem;

  label {
    font-weight: 300;
    color: var(--dark-blue-1);
  }

  .name-input {
    width: 100%;
    border: 1px solid (--grey-2);
    border-radius: 0.5rem;
  }

  .styles-container {
    column-gap: 8.5rem;

    .style-wrapper {
      row-gap: 0.85rem;
    }
  }
}
