<osf-name-form [form]="form"></osf-name-form>

<osf-citation-preview [currentUser]="previewUser()"></osf-citation-preview>

<div class="flex justify-content-between align-items-end column-gap-2 h-3rem mt-2 md:ml-auto">
  <p-button
    class="w-6 btn-full-width md:w-auto"
    [label]="'common.buttons.discardChanges' | translate"
    severity="info"
    (onClick)="discardChanges()"
  />

  <p-button
    class="w-6 btn-full-width md:w-auto"
    [label]="'common.buttons.save' | translate"
    [disabled]="form.invalid"
    (onClick)="saveChanges()"
  />
</div>
