<section [class.desktop]="isDesktop()" class="flex flex-column flex-1">
  <osf-sub-header
    [showButton]="true"
    [buttonLabel]="'Create Project'"
    [title]="'My Projects'"
    [icon]="'my-projects'"
    (buttonClick)="createProject()"
  />

  <div class="flex-column flex flex-1 w-full">
    <p-tabs
      [value]="selectedTab()"
      (valueChange)="onTabChange(+$event)"
      class="flex-1"
    >
      @if (!isMobile()) {
        <p-tablist class="pr-5 pl-5">
          <p-tab [value]="0">My Projects</p-tab>
          <p-tab [value]="1">My Registrations</p-tab>
          <p-tab [value]="2">My Preprints</p-tab>
          <p-tab [value]="3">Bookmarks</p-tab>
        </p-tablist>
      }

      <p-tabpanels class="p-3 sm:p-5 flex-1">
        @if (isMobile()) {
          <p-select
            class="w-full mb-4"
            [class.mobile]="isMobile()"
            [options]="tabOptions"
            optionLabel="label"
            optionValue="value"
            [ngModel]="selectedTab()"
            (ngModelChange)="selectedTab.set($event)"
          ></p-select>
        }
        <!--My projects-->
        <p-tabpanel [value]="0" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="projects()"
            [tableParams]="tableParams()"
            [searchValue]="searchValue()"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (searchValueChange)="onSearchChange($event)"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <!--My registrations-->
        <p-tabpanel [value]="1" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="registrations()"
            [tableParams]="tableParams()"
            [searchValue]="searchValue()"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (searchValueChange)="onSearchChange($event)"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <!--My preprints-->
        <p-tabpanel [value]="2" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="preprints()"
            [tableParams]="tableParams()"
            [searchValue]="searchValue()"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (searchValueChange)="onSearchChange($event)"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <!--Bookmarks-->
        <p-tabpanel [value]="3" class="flex flex-column gap-4 flex-1">
          @if (!bookmarks().length && !isLoading()) {
            <p>
              You don't have any bookmarks. Click the bookmark icon on projects
              or registrations to add them here.
            </p>
          } @else {
            <osf-my-projects-table
              [items]="bookmarks()"
              [tableParams]="tableParams()"
              [searchValue]="searchValue()"
              [sortColumn]="sortColumn()"
              [sortOrder]="sortOrder()"
              [isLoading]="isLoading()"
              (searchValueChange)="onSearchChange($event)"
              (pageChange)="onPageChange($event)"
              (sort)="onSort($event)"
              (itemClick)="navigateToProject($event)"
            />
          }
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
