<section class="flex flex-column flex-1 xl:mt-6">
  <osf-sub-header
    [showButton]="true"
    [buttonLabel]="'myProjects.header.createProject' | translate"
    [title]="'myProjects.header.title' | translate"
    [icon]="'my-projects'"
    (buttonClick)="createProject()"
  />

  <div class="flex-column flex flex-1 w-full">
    <p-tabs [value]="selectedTab()" (valueChange)="onTabChange(+$event)" class="flex-1">
      @if (!isMobile()) {
        <p-tablist class="pr-5 pl-5">
          <p-tab [value]="0">{{ 'myProjects.tabs.myProjects' | translate }}</p-tab>
          <p-tab [value]="1">{{ 'myProjects.tabs.myRegistrations' | translate }}</p-tab>
          <p-tab [value]="2">{{ 'myProjects.tabs.myPreprints' | translate }}</p-tab>
          <p-tab [value]="3">{{ 'myProjects.tabs.bookmarks' | translate }}</p-tab>
        </p-tablist>
      }

      <p-tabpanels class="p-3 sm:p-5 flex-1">
        @if (isMobile()) {
          <p-select
            class="w-full mb-4"
            [class.mobile]="isMobile()"
            [options]="tabOptions"
            optionLabel="label"
            optionValue="value"
            [ngModel]="selectedTab()"
            (ngModelChange)="selectedTab.set($event)"
          >
            <ng-template #selectedItem let-selectedOption>
              {{ selectedOption.label | translate }}
            </ng-template>
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-select>
        }
        <!--My projects-->
        <p-tabpanel [value]="0" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="projects()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <!--My registrations-->
        <p-tabpanel [value]="1" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="registrations()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <!--My preprints-->
        <p-tabpanel [value]="2" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="preprints()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <!--Bookmarks-->
        <p-tabpanel [value]="3" class="flex flex-column gap-4 flex-1">
          @if (!bookmarks().length && !isLoading()) {
            <p>{{ 'myProjects.bookmarks.emptyState' | translate }}</p>
          } @else {
            <osf-my-projects-table
              [items]="bookmarks()"
              [tableParams]="tableParams()"
              [searchControl]="searchControl"
              [sortColumn]="sortColumn()"
              [sortOrder]="sortOrder()"
              [isLoading]="isLoading()"
              (pageChange)="onPageChange($event)"
              (sort)="onSort($event)"
              (itemClick)="navigateToProject($event)"
            />
          }
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
