<section class="flex flex-column flex-1 xl:mt-6">
  <osf-sub-header
    [showButton]="true"
    [buttonLabel]="'myProjects.header.createProject' | translate"
    [title]="'myProjects.header.title' | translate"
    [icon]="'custom-icon-projects-dark'"
    (buttonClick)="createProject()"
  />

  <div class="flex-column flex flex-1 w-full">
    <p-tabs [value]="selectedTab()" (valueChange)="onTabChange(+$event)" class="flex-1">
      @if (isMedium()) {
        <p-tablist class="pr-5 pl-5">
          @for (tab of tabOptions; track $index) {
            <p-tab [value]="tab.value">{{ tab.label | translate }}</p-tab>
          }
        </p-tablist>
      }

      <p-tabpanels class="p-3 sm:p-5 flex-1">
        @if (!isMedium()) {
          <osf-select
            class="block mb-4"
            [options]="tabOptions"
            [(selectedValue)]="selectedTab"
            [fullWidth]="true"
          ></osf-select>
        }

        <p-tabpanel [value]="tabOption.Projects" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="projects()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <p-tabpanel [value]="tabOption.Registrations" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="registrations()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToRegistry($event)"
          />
        </p-tabpanel>

        <p-tabpanel [value]="tabOption.Preprints" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="preprints()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>

        <p-tabpanel [value]="tabOption.Bookmarks" class="flex flex-column gap-4 flex-1">
          <osf-my-projects-table
            [items]="bookmarks()"
            [tableParams]="tableParams()"
            [searchControl]="searchControl"
            [sortColumn]="sortColumn()"
            [sortOrder]="sortOrder()"
            [isLoading]="isLoading()"
            (pageChange)="onPageChange($event)"
            (sort)="onSort($event)"
            (itemClick)="navigateToProject($event)"
          />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
