<div class="flex flex-column my-7">
  <section class="forgot-password-container p-3 md:p-4">
    <h2 class="text-center">{{ 'auth.forgotPassword.title' | translate }}</h2>
    <p>{{ 'auth.forgotPassword.description' | translate }}</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <osf-text-input
        [control]="forgotPasswordForm.controls['email']"
        [label]="'auth.common.email'"
        [placeholder]="'auth.common.emailPlaceholder'"
        type="email"
        [maxLength]="emailLimit"
      ></osf-text-input>

      <p-button
        class="btn-full-width block mt-6"
        type="submit"
        [label]="'auth.forgotPassword.submit' | translate"
        [disabled]="!forgotPasswordForm.valid"
      ></p-button>
    </form>
  </section>

  <div class="my-4">
    @if (message()) {
      <p-message
        styleClass="w-full"
        [severity]="message()?.severity"
        closable="true"
        [text]="message()!.content | translate"
        (onClose)="onCloseMessage()"
      />
    }
  </div>
</div>
