@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  @include mix.flex-center;
  flex: 1;
  background: url("/assets/images/auth-background.png") center no-repeat;
  background-size: cover;

  .forgot-password-container {
    position: relative;
    @include mix.flex-column;
    color: var.$dark-blue-1;
    max-width: 32rem;
    flex: 1;
    gap: 1.2rem;
    padding: 2rem;
    background: var.$white;
    border-radius: 0.6rem;
    box-shadow: 0 2px 4px var.$grey-outline;

    h2 {
      text-align: center;
    }

    .email-input {
      margin-bottom: 2.5rem;
    }

    .message-container {
      width: 100%;
      position: absolute;
      bottom: -4.5rem;
      left: 0;
    }
  }

  .mobile {
    max-width: 24.5rem;
  }
}
