<div [class.wiki-list-expanded]="expanded()" class="wiki-list w-full lg:w-auto">
  @if (isLoading()) {
    <p-skeleton width="100%" height="3.5rem" class="mb-4 flex" />
    <p-skeleton width="100%" height="2.5rem" class="mb-2 flex" />
    <p-skeleton width="100%" height="1.5rem" class="mb-2 flex" />
    <p-skeleton width="100%" height="1.5rem" class="mb-4 flex" />

    <p-skeleton width="100%" height="2.5rem" class="mb-2 flex" />
    <p-skeleton width="100%" height="1.5rem" class="mb-2 flex" />
    <p-skeleton width="100%" height="1.5rem" class="mb-2 flex" />
  } @else {
    @if (expanded()) {
      <p-panel showHeader="false">
        <div
          class="flex aign-items-center mt-3 mb-2"
          [class]="showAddBtn() ? 'justify-content-between' : 'justify-content-end'"
        >
          @if (showAddBtn()) {
            <p-button
              [label]="'project.wiki.addNewWiki' | translate"
              icon="fas fa-plus"
              severity="success"
              outlined
              [disabled]="viewOnly()"
              (onClick)="openAddWikiDialog()"
            />
          }

          <p-button
            class="btn-icon-only"
            icon="fas fa-backward"
            severity="contrast"
            raised
            outlined
            (onClick)="collapseNavigation()"
          />
        </div>
        @if (!viewOnly()) {
          @if (!isHomeWikiSelected() || !list().length) {
            <p-button
              icon="fas fa-trash"
              [label]="'common.buttons.delete' | translate"
              severity="danger"
              outlined
              (onClick)="openDeleteWikiDialog()"
              class="mb-2 flex"
            />
          }
        }
        <div class="flex flex-column justify-center mt-4 flex-1">
          <p-panelmenu [model]="wikiMenu()" [multiple]="true" class="w-full flex flex-1 flex-column">
            <ng-template #item let-item>
              <div class="flex align-items-center p-2 cursor-pointer" [class.active]="item.id === currentWikiId()">
                @switch (item.type) {
                  @case (wikiItemType.Folder) {
                    <i [class]="item.expanded ? 'fa-minus' : 'fa-plus'" class="fas text-xs mr-1"></i>
                    <i [class]="item.expanded ? 'fas fa-folder-open' : 'fas fa-folder'"></i>
                    <h4 class="ml-2">{{ item.label | translate }}</h4>
                  }
                  @case (wikiItemType.Component) {
                    <i [class]="item.expanded ? 'fa-minus' : 'fa-plus'" class="fas text-xs mr-1"></i>
                    <i class="fa-solid fa-file-lines"></i>
                    <span class="ml-2">{{ item.label | translate }}</span>
                  }
                  @default {
                    <div>
                      <i class="far fa-file"></i>
                      <span class="ml-2">{{ item.label | translate }}</span>
                    </div>
                  }
                }
              </div>
            </ng-template>
          </p-panelmenu>
        </div>
      </p-panel>
    } @else {
      <div class="mb-2">
        <p-button class="btn-icon-only" raised outlined severity="contrast" (onClick)="collapseNavigation()">
          <i class="fas fa-list-ul"></i>
          <i class="fas fa-forward"></i>
        </p-button>
      </div>

      @if (showAddBtn()) {
        <p-button
          class="btn-icon-only"
          icon="fas fa-plus"
          raised
          outlined
          severity="success"
          (onClick)="openAddWikiDialog()"
        />
      }
    }
  }
</div>
