.back-navigation {
  color: var(--blue-2);
}

.metadata {
  color: var(--dark-blue-1);
  border: 1px solid var(--grey-2);
  border-radius: 12px;
}

.full-image {
  min-height: 100vh;
  min-width: 100%;
}
