@use "styles/variables" as var;
@use "styles/mixins" as mix;

h4 {
  color: var.$pr-blue-1;
}

.sorting-container {
  display: flex;
  align-items: center;
  gap: mix.rem(6px);

  h4 {
    color: var.$dark-blue-1;
    font-weight: 400;
    text-wrap: nowrap;
  }
}

.sort-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: mix.rem(44px);
  border: 1px solid var.$grey-2;
  border-radius: mix.rem(12px);
  padding: 0 mix.rem(24px) 0 mix.rem(24px);
  cursor: pointer;
}

.card-selected {
  background: var.$bg-blue-2;
}

.icon-disabled {
  opacity: 0.5;
  cursor: none;
}

.icon-active {
  fill: var.$grey-1;
}
