@if (!dataLoaded()) {
  <osf-loading-spinner></osf-loading-spinner>
} @else {
  <div class="flex flex-column bg-white gap-4 h-full flex-1 p-4 p-dialog-align-center">
    <div class="flex flex-grow-0 w-full sm:w-30rem"></div>
    @if (!filesViewOnly()) {
      <div class="flex flex-column gap-4 md:justify-content-between md:flex-row md:flex-wrap">
        <div class="flex flex-column w-full gap-2 sm:flex-row md:w-max">
          <p-button
            [disabled]="fileIsUploading() || isFilesLoading()"
            outlined
            raised
            severity="success"
            [icon]="'fas fa-plus'"
            [label]="'files.actions.createFolder' | translate"
            (click)="createFolder()"
          >
          </p-button>

          <p-button
            [disabled]="fileIsUploading() || isFilesLoading()"
            outlined
            raised
            severity="success"
            [icon]="'fas fa-upload'"
            [label]="'files.actions.uploadFile' | translate"
            (click)="fileInput.click()"
          >
          </p-button>

          <input osfClearFile #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
        </div>
      </div>
    }

    <osf-file-upload-dialog
      [(visible)]="fileIsUploading"
      [fileName]="fileName()"
      [progress]="progress()"
    ></osf-file-upload-dialog>

    <osf-files-tree
      [files]="files()"
      [selectionMode]="null"
      [totalCount]="filesTotalCount()"
      [storage]="null"
      [currentFolder]="currentFolder()!"
      [isLoading]="isFilesLoading()"
      [viewOnly]="filesViewOnly()"
      [resourceId]="projectId()"
      [provider]="provider()"
      (entryFileClicked)="selectFile($event)"
      (uploadFilesConfirmed)="uploadFiles($event)"
      (loadFiles)="onLoadFiles($event)"
      (setCurrentFolder)="setCurrentFolder($event)"
    >
    </osf-files-tree>
  </div>
}
