@if (!dataLoaded()) {
  <osf-loading-spinner></osf-loading-spinner>
} @else {
  <div class="flex flex-column bg-white gap-4 h-full flex-1 p-4 p-dialog-align-center">
    <div class="flex flex-grow-0 w-full sm:w-30rem"></div>
    @if (!filesViewOnly()) {
      <div class="flex flex-column gap-4 md:justify-content-between md:flex-row md:flex-wrap">
        <div class="flex flex-column w-full gap-2 sm:flex-row md:w-max">
          <p-button
            [disabled]="fileIsUploading() || isFilesLoading()"
            outlined
            raised
            severity="success"
            [icon]="'fas fa-plus'"
            [label]="'files.actions.createFolder' | translate"
            (click)="createFolder()"
          >
          </p-button>

          <p-button
            [disabled]="fileIsUploading() || isFilesLoading()"
            outlined
            raised
            severity="success"
            [icon]="'fas fa-upload'"
            [label]="'files.actions.uploadFile' | translate"
            (click)="fileInput.click()"
          >
          </p-button>

          <input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
        </div>
      </div>
    }

    <div class="flex absolute">
      <p-dialog
        [header]="'files.dialogs.uploadFile.title' | translate"
        [modal]="true"
        [(visible)]="fileIsUploading"
        class="upload-dialog"
      >
        <div class="flex flex-column align-items-center justify-content-center gap-3 w-full">
          <span class="p-text-secondary filename">{{ fileName() }}</span>
          <div class="w-6">
            <osf-loading-spinner></osf-loading-spinner>
          </div>
          <p>{{ progress() }} %</p>
        </div>
      </p-dialog>
    </div>

    <osf-files-tree
      [files]="files()"
      [totalCount]="filesTotalCount()"
      [storage]="null"
      [currentFolder]="currentFolder()"
      [isLoading]="isFilesLoading()"
      [actions]="filesTreeActions"
      [viewOnly]="filesViewOnly()"
      [viewOnlyDownloadable]="true"
      [resourceId]="projectId()"
      [provider]="provider()"
      (folderIsOpening)="folderIsOpening($event)"
      (entryFileClicked)="selectFile($event)"
      (uploadFilesConfirmed)="uploadFiles($event)"
    >
    </osf-files-tree>
  </div>
}
