@use "../../../../../assets/styles/variables" as var;

:host {
  border: 1px solid var.$grey-2;
  border-radius: 12px;
  padding: 0 1.7rem 0 1.7rem;
  width: 30%;
  height: fit-content;

  .content-body {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-bottom: 1.5rem;

    p {
      font-weight: 300;
    }
  }
}
