<div class="flex flex-column gap-4">
  <div>
    <osf-text-input
      [label]="'myProjects.settings.linkName'"
      [control]="linkName"
      [placeholder]="'myProjects.settings.typeLinkName'"
      [maxLength]="inputLimits.name.maxLength"
    ></osf-text-input>
  </div>

  <hr class="break-line" />

  <div class="flex column-gap-2">
    <p-checkbox variant="filled" binary="true" [(ngModel)]="anonymous"></p-checkbox>
    <p>
      {{ 'myProjects.settings.anonymizeContributorList' | translate }}
      <span class="font-italic">
        {{ 'myProjects.settings.ensureNoInformation' | translate }}
      </span>
    </p>
  </div>

  <hr class="break-line" />

  <p>
    {{ 'myProjects.settings.whichComponentLink' | translate }}
    <span class="font-italic">
      {{ 'myProjects.settings.anyonePrivateLink' | translate }}
    </span>
  </p>

  @if (isLoading()) {
    <osf-loading-spinner />
  } @else {
    <div class="flex flex-column gap-2">
      @for (item of allComponents; track item.id) {
        <div class="flex gap-1">
          <p-checkbox
            variant="filled"
            binary="true"
            [class.pl-4]="!isCurrentProject(item)"
            [ngModel]="selectedComponents()[item.id]"
            (ngModelChange)="onCheckboxToggle(item.id, $event)"
            [disabled]="isCurrentProject(item)"
          >
          </p-checkbox>
          <p>
            {{ item.title }}
            @if (isCurrentProject(item)) {
              <span>
                {{ 'myProjects.settings.viewOnlyLinkCurrentProject' | translate }}
              </span>
            }
          </p>
        </div>
      }
      @if (allComponents.length > 1) {
        <div class="flex gap-2 justify-content-end">
          <p-button
            severity="secondary"
            size="small"
            [label]="'myProjects.createProject.affiliation.selectAll' | translate"
            (click)="selectAllComponents()"
          />
          <p-button
            severity="secondary"
            size="small"
            [label]="'myProjects.createProject.affiliation.removeAll' | translate"
            (click)="deselectAllComponents()"
          />
        </div>
      }
    </div>
  }

  <div class="flex gap-2">
    <p-button
      class="w-full"
      styleClass="w-full"
      (onClick)="dialogRef.close()"
      severity="info"
      [label]="'project.contributors.addDialog.cancel' | translate"
    ></p-button>

    <p-button
      class="w-full"
      styleClass="w-full"
      (onClick)="addLink()"
      [disabled]="!isFormValid"
      [label]="'project.contributors.addDialog.next' | translate"
    ></p-button>
  </div>
</div>
