@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.contributors {
  background-color: var.$white;
  padding: mix.rem(24px) mix.rem(16px) mix.rem(16px);
  row-gap: mix.rem(24px);

  .filters-container {
    gap: mix.rem(12px);
    width: 100%;

    .contributors-filter-container {
      gap: mix.rem(12px);
    }
  }
}
