<div>
  @if (label().length) {
    <label [for]="selectId">{{ label() | translate }}</label>
  }

  <p-select
    [id]="selectId"
    [class.w-full]="fullWidth()"
    [options]="options()"
    [formControl]="control()"
    optionLabel="label"
    optionValue="value"
    [appendTo]="appendTo()"
    [placeholder]="placeholder() | translate"
  >
    <ng-template #selectedItem let-selectedOption>
      {{ selectedOption.label | translate }}
    </ng-template>

    <ng-template #item let-item>
      {{ item.label | translate }}
    </ng-template>
  </p-select>
</div>
