<osf-sub-header [showButton]="false" [title]="'settings.profileSettings.title' | translate" [icon]="'settings'" />

<div class="flex-column flex flex-1 w-full">
  <p-tabs [value]="selectedTab" (valueChange)="onTabChange(+$event)" class="flex-1">
    @if (!isMobile()) {
      <p-tablist class="pr-5 pl-5">
        <p-tab [value]="0">{{ 'settings.profileSettings.tabs.name' | translate }}</p-tab>
        <p-tab [value]="1">{{ 'settings.profileSettings.tabs.social' | translate }}</p-tab>
        <p-tab [value]="2">{{ 'settings.profileSettings.tabs.employment' | translate }}</p-tab>
        <p-tab [value]="3">{{ 'settings.profileSettings.tabs.education' | translate }}</p-tab>
      </p-tablist>
    }

    <p-tabpanels class="p-3 sm:p-5 flex-1">
      @if (isMobile()) {
        <p-select
          class="w-full mb-4"
          [class.mobile]="isMobile()"
          [options]="tabOptions"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="selectedTab"
        ></p-select>
      }
      <!--NAME-->
      <p-tabpanel [value]="0" class="">
        <osf-name />
      </p-tabpanel>

      <!--SOCIAL-->
      <p-tabpanel [value]="1">
        <osf-social />
      </p-tabpanel>

      <!--Employment-->
      <p-tabpanel [value]="2">
        <osf-employment />
      </p-tabpanel>

      <!--Education-->
      <p-tabpanel [value]="3">
        <osf-education />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
