<osf-sub-header [title]="'settings.profileSettings.title' | translate" [icon]="'fas fa-gear'" />

<div class="flex-column flex flex-1 w-full">
  <p-tabs [value]="selectedTab" (valueChange)="onTabChange(+$event)" class="flex-1">
    @if (isMedium()) {
      <p-tablist class="pr-5 pl-5">
        @for (item of tabOptions; track $index) {
          <p-tab [value]="item.value">{{ item.label | translate }}</p-tab>
        }
      </p-tablist>
    }

    <p-tabpanels class="p-3 flex-1 md:p-5 xl:p-4">
      @if (!isMedium()) {
        <osf-select
          class="block w-full text-center mb-4"
          [options]="tabOptions"
          [fullWidth]="true"
          [(selectedValue)]="selectedTab"
        ></osf-select>
      }

      <p-tabpanel [value]="tabOption.Name">
        <osf-name />
      </p-tabpanel>

      <p-tabpanel [value]="tabOption.Social">
        <osf-social />
      </p-tabpanel>

      <p-tabpanel [value]="tabOption.Employment">
        <osf-employment />
      </p-tabpanel>

      <p-tabpanel [value]="tabOption.Education">
        <osf-education />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
