<osf-sub-header
  [showButton]="false"
  [title]="'Profile Settings'"
  [icon]="'settings'"
/>

<div class="flex-column flex flex-1 w-full">
  <p-tabs [value]="defaultTabValue" class="flex-1">
    <p-tablist class="pr-5 pl-5">
      <p-tab [value]="0">Name</p-tab>
      <p-tab [value]="1">Social</p-tab>
      <p-tab [value]="2">Employment</p-tab>
      <p-tab [value]="3">Education</p-tab>
    </p-tablist>

    <p-tabpanels class="p-3 sm:p-5 flex-1">
      <!--NAME-->
      <p-tabpanel [value]="0" class="flex flex-column gap-4 flex-1">
        <div class="border-1 border-round-lg p-3 sm:p-5 name-container">
          <h3 class="font-normal">
            Your full name is the name that will be displayed in your profile.
            To control the way your name will appear in citations, you can use
            the "Auto-fill" button to automatically infer your first name, last
            name, etc., or edit the fields directly below.
          </h3>
          <div class="flex flex-column row-gap-4 mt-4">
            <div
              class="flex flex-column row-gap-2 xl:flex-row xl:align-items-end xl:column-gap-3 w-full mb-3"
            >
              <div class="w-full xl:w-6">
                <label for="full-name" class="font-normal xl:font-light"
                  >Full Name</label
                >
                <input pInputText id="full-name" class="name-input" />
              </div>
              <div class="ml-auto sm:m-0 xl:w-6 high-m-button">
                <p-button label="Auto-Fill" severity="secondary" />
              </div>
            </div>

            <div
              class="flex flex-column row-gap-2 xl:flex-row xl:align-items-end xl:column-gap-3"
            >
              <div class="w-full xl:w-6">
                <label for="given-name" class="font-normal xl:font-light"
                  >Given Name</label
                >
                <input pInputText id="given-name" class="name-input" />
              </div>
              <div class="w-full xl:w-6">
                <label for="middle-name" class="font-normal xl:font-light"
                  >Middle Name(S) (Optional)</label
                >
                <input pInputText id="middle-name" class="name-input" />
              </div>
            </div>

            <div
              class="flex flex-column row-gap-2 xl:flex-row xl:align-items-end xl:column-gap-3"
            >
              <div class="w-full xl:w-6">
                <label for="family-name" class="font-normal xl:font-light"
                  >Family Name</label
                >
                <input pInputText id="family-name" class="name-input" />
              </div>
              <div class="w-full xl:w-6">
                <label for="suffix" class="font-normal xl:font-light"
                  >Suffix (Optional)</label
                >
                <input pInputText id="suffix" class="name-input" />
              </div>
            </div>
          </div>
        </div>
        <div class="border-1 border-round-lg p-3 sm:p-5 name-container">
          <div class="flex flex-column row-gap-5">
            <h2>Citation Preview</h2>
            <div
              class="flex flex-column row-gap-4 sm:flex-row styles-container"
            >
              <div class="flex flex-row column-gap-5">
                <div class="flex flex-column style-wrapper">
                  <h3>Style:</h3>
                  <h3>Citation format:</h3>
                </div>
                <div class="flex flex-column style-wrapper">
                  <h3 class="font-bold">APA</h3>
                  <h3>Doe, J. T.</h3>
                </div>
              </div>

              <div class="flex flex-row column-gap-5">
                <div class="flex flex-column style-wrapper">
                  <h3>Style:</h3>
                  <h3>Citation format:</h3>
                </div>
                <div class="flex flex-column style-wrapper">
                  <h3 class="font-bold">MLA</h3>
                  <h3>Doe, John T.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="flex flex-row align-items-end column-gap-2 ml-auto h-3rem mt-2"
        >
          <p-button label="Discard Changes" severity="info" disabled="true" />
          <div class="wide-m-button">
            <p-button label="Save" disabled="true" />
          </div>
        </div>
      </p-tabpanel>

      <!--SOCIAL-->
      <p-tabpanel [value]="1" class="flex flex-column gap-5">
        <form [formGroup]="socialLinksForm">
          <div formArrayName="links" class="flex flex-column row-gap-4 social">
            @for (
              link of links.controls;
              track link.value.id;
              let index = $index
            ) {
              <div
                [formGroupName]="index"
                class="flex flex-column border-1 border-round-lg p-3 sm:p-5 name-container row-gap-4"
              >
                <div class="flex flex-row">
                  <h2>Social Link {{ index + 1 }}</h2>
                  @if (index !== 0) {
                    <div class="ml-auto remove-button">
                      <p-button class="ml-auto" (click)="removeLink(index)"
                        >Remove</p-button
                      >
                    </div>
                  }
                </div>

                <div
                  class="flex flex-column row-gap-4 w-full md:flex-row md:align-items-end md:column-gap-3"
                >
                  <div class="w-full md:w-4">
                    <p class="font-light mb-1">Social output</p>
                    <p-dropdown
                      formControlName="socialOutput"
                      [options]="socials"
                      optionLabel="label"
                      class="w-full"
                    ></p-dropdown>
                  </div>

                  <div class="w-full md:w-8">
                    <p class="font-light mb-1">Web Address</p>
                    <p-inputgroup class="addon-input">
                      <p-inputgroup-addon>{{
                        getDomain(index)
                      }}</p-inputgroup-addon>
                      <input
                        pInputText
                        placeholder="{{ getPlaceholder(index) }}"
                        formControlName="webAddress"
                      />
                    </p-inputgroup>
                  </div>
                </div>
              </div>
            }
          </div>
        </form>

        <p-button
          label="Add One More"
          severity="secondary"
          class="ml-auto"
          (click)="addLink()"
        />

        <div
          class="flex flex-row align-items-end column-gap-2 ml-auto h-3rem mt-2"
        >
          <p-button label="Discard Changes" severity="info" disabled="true" />
          <div class="wide-m-button">
            <p-button label="Save" disabled="true" />
          </div>
        </div>
      </p-tabpanel>

      <!--Employment-->
      <p-tabpanel [value]="2" class="flex flex-column gap-5">
        employment
      </p-tabpanel>

      <!--Education-->
      <p-tabpanel [value]="3" class="flex flex-column gap-5">
        education
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
