@use "assets/styles/variables" as var;

:host {
  .name-container {
    border: 1px solid var.$grey-2;
    border-radius: 8px;

    h3 {
      text-transform: none;
    }

    label {
      font-weight: 300;
      color: var.$dark-blue-1;
    }

    .name-input {
      width: 100%;
      height: 2.77rem;
      border: 1px solid var.$grey-2;
      border-radius: 8px;
    }

    .styles-container {
      column-gap: 8.5rem;

      h3 {
        font-weight: 400;
      }

      .style-wrapper {
        row-gap: 0.85rem;
      }
    }
  }
}
