<section class="flex-column flex flex-1">
  <osf-sub-header
    class="pt-6"
    [description]="'institutions.description' | translate"
    [title]="'institutions.title' | translate"
    [icon]="'custom-icon-institutions-dark'"
  />

  @if (institutionsLoading()) {
    <div class="flex-1 mt-4 bg-white md:mt-8 lg:pt-5">
      <osf-loading-spinner />
    </div>
  } @else {
    <div class="flex-column flex flex-1 w-full bg-white p-5">
      <osf-search-input [control]="searchControl" [placeholder]="'institutions.searchInstitutions' | translate" />

      <div class="py-5 flex flex-column gap-3">
        @for (institution of institutions(); track $index) {
          <a class="dark-blue-link" [routerLink]="[institution.id]">
            <div class="border-1 border-round-xl grey-border-color px-5 py-4 flex align-items-center gap-4">
              <img
                class="fit-contain"
                [ngSrc]="institution.assets.logo"
                [alt]="institution.name"
                width="60"
                height="60"
              />

              <h2>{{ institution.name }}</h2>
            </div>
          </a>
        }

        @if (!institutions().length) {
          <p class="text-center">{{ 'common.search.noResultsFound' | translate }}</p>
        }
      </div>

      @if (totalInstitutionsCount() > 10) {
        <osf-custom-paginator
          [first]="first()"
          [totalCount]="totalInstitutionsCount()"
          (pageChanged)="onPageChange($event)"
        ></osf-custom-paginator>
      }
    </div>
  }
</section>
