<osf-sub-header
  [title]="'meetings.landing.title' | translate"
  [icon]="'meetings'"
  [description]="'meetings.landing.description' | translate"
/>

<section class="flex-1 flex flex-column bg-white p-4">
  <section class="mt-2">
    <p>{{ 'meetings.landing.submissionsNote' | translate }}</p>
  </section>

  <osf-search-input
    class="w-full mt-4"
    [control]="searchControl"
    [placeholder]="'meetings.landing.searchPlaceholder' | translate"
  />

  <p-table
    class="mt-4"
    [value]="isMeetingsLoading() ? skeletonData : meetings()"
    [rows]="tableParams().rows"
    [first]="tableParams().firstRowIndex"
    [rowsPerPageOptions]="tableParams().rowsPerPageOptions"
    [paginator]="true"
    [totalRecords]="tableParams().totalRecords"
    paginatorDropdownAppendTo="body"
    [resizableColumns]="true"
    [autoLayout]="true"
    [scrollable]="true"
    [sortMode]="'single'"
    [lazy]="true"
    [lazyLoadOnInit]="true"
    (onPage)="onPageChange($event)"
    (onSort)="onSort($event)"
    [sortField]="sortColumn()"
    [sortOrder]="sortOrder() === 0 ? 1 : -1"
    [customSort]="true"
    [resetPageOnSort]="false"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">
          {{ 'meetings.landing.table.columns.title' | translate }}
          <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="submissionsCount">
          {{ 'meetings.landing.table.columns.submissions' | translate }}
          <p-sortIcon field="submissionsCount" />
        </th>
        <th pSortableColumn="location">
          {{ 'meetings.landing.table.columns.location' | translate }}
          <p-sortIcon field="location" />
        </th>
        <th pSortableColumn="startDate">
          {{ 'meetings.landing.table.columns.date' | translate }}
          <p-sortIcon field="startDate" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      @if (item?.id) {
        <tr class="cursor-pointer" (click)="navigateToMeeting(item)">
          <td>{{ item.name }}</td>
          <td>{{ item.submissionsCount }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.startDate | date: 'MMM d, y, h:mm a' }}</td>
        </tr>
      } @else {
        <tr class="loading-row">
          <td colspan="4">
            <p-skeleton width="100%" height="3.3rem" borderRadius="0" />
          </td>
        </tr>
      }
    </ng-template>
  </p-table>

  <section class="flex flex-column gap-3 w-full mt-6 lg:flex-row">
    @for (card of meetingsFeatureCards; track $index) {
      <div class="w-12 lg:w-4">
        <osf-meetings-feature-card
          [iconSrc]="card.iconSrc"
          [iconAlt]="card.iconAlt"
          [titleKey]="card.titleKey"
          [descriptionKey]="card.descriptionKey"
        ></osf-meetings-feature-card>
      </div>
    }
  </section>

  <section class="mt-6 flex flex-column gap-5 justify-content-center align-items-center">
    <h2 class="text-2xl text-center">{{ 'meetings.landing.users.title' | translate }}</h2>

    <section class="flex flex-row justify-content-center align-items-start gap-7 flex-wrap">
      @for (org of partnerOrganizations; track $index) {
        <a [href]="org.url">
          <img [src]="org.imageSrc" [alt]="org.alt" [height]="org.height" />
        </a>
      }
    </section>
  </section>
</section>
