<div class="resource accordion-auto-height">
  <p-accordion (onOpen)="onOpen()">
    <p-accordion-panel value="0">
      <p-accordion-header class="flex flex-row column-gap-3 align-items-start">
        <div class="flex flex-column row-gap-3">
          @if (item()?.resourceType && item()?.resourceType === ResourceType.Agent) {
            <p class="type">User</p>
          } @else if (item()?.resourceType) {
            <p class="type">{{ ResourceType[item()?.resourceType!] }}</p>
          }

          <div class="flex align-items-center column-gap-1">
            @if (item()?.resourceType === ResourceType.File && item()?.fileName) {
              <a class="title" [href]="item()?.id">{{ item()?.fileName }}</a>
            } @else if (item()?.title && item()?.title) {
              @let id = item()?.id;
              @let url = id ? '/my-projects/' + id.split('/')?.pop() + '/overview' : '';
              <a class="title" [routerLink]="url">{{ item()?.title }}</a>
            }
            @if (item()?.orcid) {
              <a [href]="item()?.orcid" class="orcid-icon">
                <img ngSrc="assets/icons/system/orchid.svg" width="16" height="16" alt="orcid" />
              </a>
            }
          </div>

          @if (item()?.creators?.length) {
            <div>
              @for (creator of item()?.creators!.slice(0, 4); track creator.id; let i = $index) {
                <a [href]="creator.id" target="_blank">{{ creator.name }}</a>
                @if (i < (item()?.creators)!.length - 1 && i < 3) {
                  <a>, </a>
                }
              }
              @if ((item()?.creators)!.length > 4) {
                <p class="inline">&nbsp;and {{ (item()?.creators)!.length - 4 }} more</p>
              }
            </div>
          }

          @if (item()?.from?.id && item()?.from?.name) {
            <div>
              <p class="inline mr-1">From:</p>
              <a class="inline" [href]="item()?.from?.id">{{ item()?.from?.name }}</a>
            </div>
          }

          @if (item()?.dateCreated && item()?.dateModified) {
            <p class="date">
              @if (!isSmall()) {
                Date created: {{ item()?.dateCreated | date: 'MMMM d, y' }} | Date modified:
                {{ item()?.dateModified | date: 'MMMM d, y' }}
              } @else {
                <div class="flex flex-column row-gap-1">
                  <p>Date created: {{ item()?.dateCreated | date: 'MMMM d, y' }}</p>
                  <p>
                    Date modified:
                    {{ item()?.dateModified | date: 'MMMM d, y' }}
                  </p>
                </div>
              }
            </p>
          }

          @if (item()?.resourceType === ResourceType.Registration) {
            <div class="flex column-gap-5 row-gap-3 mt-1 flex-wrap">
              <a class="icon-container" [href]="item()?.id + '/resources'">
                @if (item()?.hasDataResource) {
                  <i class="osf-icon-data-colored text-4xl"></i>
                } @else {
                  <i class="osf-icon-data text-4xl"></i>
                }
                <p>Data</p>
              </a>
              <a class="icon-container" [href]="item()?.id + '/resources'">
                @if (item()?.hasAnalyticCodeResource) {
                  <i class="osf-icon-code-colored text-4xl"></i>
                } @else {
                  <i class="osf-icon-code text-4xl"></i>
                }
                <p>Analytic Code</p>
              </a>
              <a class="icon-container" [href]="item()?.id + '/resources'">
                @if (item()?.hasMaterialsResource) {
                  <i class="osf-icon-materials-colored text-4xl"></i>
                } @else {
                  <i class="osf-icon-materials text-4xl"></i>
                }
                <p>Materials</p>
              </a>
              <a class="icon-container" [href]="item()?.id + '/resources'">
                @if (item()?.hasPapersResource) {
                  <i class="osf-icon-papers-colored text-4xl"></i>
                } @else {
                  <i class="osf-icon-papers text-4xl"></i>
                }
                <p>Papers</p>
              </a>
              <a class="icon-container" [href]="item()?.id + '/resources'">
                @if (item()?.hasPapersResource) {
                  <i class="osf-icon-supplements-colored text-4xl"></i>
                } @else {
                  <i class="osf-icon-supplements text-4xl"></i>
                }
                <p>Supplements</p>
              </a>
            </div>
          }
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <div class="content">
          @if (item()?.description) {
            <p class="description">Description: {{ item()?.description }}</p>
          }

          @if (item()?.provider?.id) {
            <span>
              <p>Registration provider:&nbsp;</p>
              <a [href]="item()?.provider?.id">{{ item()?.provider?.name }}</a>
            </span>
          }

          @if (item()?.license?.id) {
            <span>
              <p>License:&nbsp;</p>
              <a [href]="item()?.license?.id">{{ item()?.license?.name }}</a>
            </span>
          }

          @if (item()?.registrationTemplate) {
            <p class="description">Registration Template: {{ item()?.registrationTemplate }}</p>
          }

          @if (item()?.provider?.id) {
            <span>
              <p>Provider:&nbsp;</p>
              <a [href]="item()?.provider?.id">{{ item()?.provider?.name }}</a>
            </span>
          }

          @if (item()?.conflictOfInterestResponse && item()?.conflictOfInterestResponse === 'no-conflict-of-interest') {
            <p class="description">Conflict of Interest response: Author asserted no Conflict of Interest</p>
          }

          @if (item()?.resourceType !== ResourceType.Agent && item()?.id) {
            <span>
              <p>URL:&nbsp;</p>
              <a [href]="item()?.id">{{ item()?.id }}</a>
            </span>
          }

          @if (item()?.doi) {
            <span>
              <p>DOI:&nbsp;</p>
              <a [href]="item()?.doi">{{ item()?.doi }}</a>
            </span>
          }

          @if (item()?.resourceType === ResourceType.Agent) {
            @if (loading) {
              <p-skeleton width="8rem" height="19px" />
              <p-skeleton width="10rem" height="19px" />
              <p-skeleton width="9rem" height="19px" />
            } @else {
              <p>Public projects: {{ item()?.publicProjects ?? 0 }}</p>
              <p>Public registrations: {{ item()?.publicRegistrations ?? 0 }}</p>
              <p>Public preprints: {{ item()?.publicPreprints ?? 0 }}</p>
            }
          }

          @if (item()?.employment) {
            <p>Employment: {{ item()?.employment }}</p>
          }

          @if (item()?.education) {
            <p>Education: {{ item()?.education }}</p>
          }
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
