@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  @include mix.flex-center;
  flex: 1;
  background: var(--gradient-3);
}

.container {
  position: relative;
  background: var.$white;
  border-radius: mix.rem(12px);
  box-shadow: 0 2px 4px var.$grey-outline;
  color: var.$dark-blue-1;
  max-width: mix.rem(448px);
}
