@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  height: auto;
  display: block;

  .footer-nav,
  .footer-secondary-nav {
    @include mix.flex-center-between;
    color: var.$dark-blue-1;
    padding: 0 1.5rem;

    .footer-links,
    .footer-socials {
      @include mix.flex-center;

      a {
        color: var.$dark-blue-1;
        text-align: center;
      }
    }

    .separator {
      margin: 0 0.5rem;
    }
  }

  .footer-nav {
    height: 4.2rem;
    background-color: var.$bg-blue-3;

    .footer-socials {
      @include mix.flex-center;
      gap: 0.4285rem;
    }
  }

  .footer-secondary-nav {
    height: 2.6rem;
    background: var.$bg-blue-2;

    .footer-copyright {
      @include mix.flex-center;
      text-align: center;
    }
  }

  .portrait {
    .footer-nav {
      flex-direction: column-reverse;
      gap: 1.5rem;
      height: auto;
      padding: 2.5rem;

      .footer-links {
        justify-content: space-evenly;
        width: 100%;

        .separator {
          margin: 0.1rem;
        }
      }
    }

    .footer-secondary-nav {
      padding: 0.5rem 2.5rem;
    }
  }

  .mobile {
    .footer-nav {
      .footer-links {
        justify-content: center;
        gap: 0.3rem;
        flex-wrap: wrap;
      }
    }

    .footer-secondary-nav {
      flex-direction: column;
      gap: 1rem;
      height: auto;
      padding: 1rem;

      .footer-links {
        row-gap: 1rem;
        flex-wrap: wrap;
      }
    }
  }
}
