@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  display: block;
  height: auto;

  .footer-nav,
  .footer-secondary-nav {
    color: var.$dark-blue-1;
    padding: 0 1.5rem;

    .separator {
      margin: 0 mix.rem(6px);
    }

    a {
      color: var.$dark-blue-1;
      text-align: center;
    }
  }

  .footer-links {
    gap: mix.rem(6px);
  }

  .footer-nav {
    background-color: var.$bg-blue-3;

    .footer-socials {
      gap: mix.rem(8px);
    }
  }

  .footer-secondary-nav {
    background: var.$bg-blue-2;
  }
}
