@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  height: auto;
  display: block;

  .footer-nav,
  .footer-secondary-nav {
    @include mix.flex-center-between;
    color: var.$dark-blue-1;
    padding: 0 1.5rem;

    .footer-links,
    .footer-socials {
      @include mix.flex-center;

      a {
        color: var.$dark-blue-1;
      }
    }

    .separator {
      margin: 0 0.5rem;
    }
  }

  .footer-nav {
    height: 4.2rem;
    background-color: var.$bg-blue-3;

    .footer-socials {
      @include mix.flex-center;
      gap: 0.5rem;

      .icon-link {
        @include mix.flex-center;
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 0.5rem;
        background-color: var.$pr-blue-1;
        text-decoration: none;

        i {
          color: white;
          font-size: 1.4rem;
        }
      }
    }
  }

  .footer-secondary-nav {
    height: 2.6rem;
    background: var.$bg-blue-2;

    .footer-copyright {
      @include mix.flex-center;
    }
  }
}
