<footer [class.portrait]="isPortrait()" [class.mobile]="isXSmall()">
  <div class="footer-content">
    <div class="footer-nav">
      <div class="footer-links">
        <a href="https://cos.io/">{{ 'footer.links.centerForOpenScience' | translate }}</a>
        <span class="separator">|</span>
        <a>{{ 'footer.links.reproducibilityProjectPsychology' | translate }}</a>
        <span class="separator">|</span>
        <a>{{ 'footer.links.reproducibilityProjectCancerBiology' | translate }}</a>
      </div>

      <div class="footer-socials">
        @for (icon of socialIcons; track icon.name) {
          <a [href]="icon.url" [attr.aria-label]="'footer.socials.' + icon.name | translate">
            <img
              alt="social media icon"
              width="37"
              height="37"
              [ngSrc]="'assets/icons/socials/' + icon.name + '.svg'"
            />
          </a>
        }
      </div>
    </div>

    <div class="footer-secondary-nav">
      <div class="footer-links">
        <a routerLink="/terms-of-use">{{ 'footer.links.termsOfUse' | translate }}</a>
        <span class="separator">|</span>
        <a routerLink="/privacy-policy">{{ 'footer.links.privacyPolicy' | translate }}</a>
        <span class="separator">|</span>
        <a href="https://status.cos.io/">{{ 'footer.links.status' | translate }}</a>
        <span class="separator">|</span>
        <a href="https://developer.osf.io/">{{ 'footer.links.api' | translate }}</a>
        <span class="separator">|</span>
        <a href="https://www.cos.io/initiatives/top-guidelines">{{ 'footer.links.topGuidelines' | translate }}</a>
      </div>

      <div class="footer-copyright">{{ 'footer.copyright' | translate }}</div>
    </div>
  </div>
</footer>
