@use "styles/mixins" as mix;

.footer-nav,
.footer-secondary-nav {
  color: var(--dark-blue-1);
  padding: 0 1.5rem;

  a {
    color: var(--dark-blue-1);
    text-align: center;
  }

  .social-link {
    background-color: var(--pr-blue-1);
    border-radius: mix.rem(6px);
    color: var(--white);
    padding: mix.rem(6px);
    width: mix.rem(36px);
    height: mix.rem(36px);

    &:hover {
      background-color: var(--pr-blue-3);
      text-decoration: none;
    }
  }
}

.footer-links {
  gap: mix.rem(6px);
}

.footer-nav {
  background-color: var(--bg-blue-3);

  .footer-socials {
    gap: 0.5rem;
  }
}

.footer-secondary-nav {
  background: var(--bg-blue-2);
}
