<footer [class.portrait]="isPortrait()" [class.mobile]="isXSmall()">
  <div class="footer-content">
    <div class="footer-nav">
      <div class="footer-links">
        <a href="#">Center for Open Science</a>
        <span class="separator">|</span>
        <a href="#">Reproducibility Project: Psychology</a>
        <span class="separator">|</span>
        <a href="#">Reproducibility Project: Cancer Biology</a>
      </div>

      <div class="footer-socials">
        @for (icon of socialIcons; track icon.name) {
          <a [href]="icon.url" [attr.aria-label]="icon.ariaLabel">
            <img
              alt="social media icon"
              width="37"
              height="37"
              [ngSrc]="'assets/icons/socials/' + icon.name + '.svg'"
            />
          </a>
        }
      </div>
    </div>

    <div class="footer-secondary-nav">
      <div class="footer-links">
        <a routerLink="/terms-of-use">Terms of Use</a>
        <span class="separator">|</span>
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <span class="separator">|</span>
        <a href="#">Status</a>
        <span class="separator">|</span>
        <a href="#">API</a>
        <span class="separator">|</span>
        <a href="#">TOP Guidelines</a>
      </div>

      <div class="footer-copyright">Copyright © 2011-2025</div>
    </div>
  </div>
</footer>
