<p-card>
  <h2>{{ 'settings.accountSettings.deactivateAccount.title' | translate }}</h2>

  <p-message class="block mt-4" icon="fas fa-circle-exclamation" severity="error">
    {{ 'settings.accountSettings.deactivateAccount.warning.title' | translate }}
  </p-message>

  <p class="mt-4">
    {{ 'settings.accountSettings.deactivateAccount.description.main' | translate }}
  </p>

  <p>
    {{ 'settings.accountSettings.deactivateAccount.description.secondary' | translate }}
  </p>

  @if (accountSettings()?.deactivationRequested) {
    <p class="font-bold">{{ 'settings.accountSettings.deactivateAccount.pendingDeactivation' | translate }}</p>
    <div class="flex justify-content-end mt-4">
      <p-button
        [label]="'settings.accountSettings.deactivateAccount.actions.undoDeactivation' | translate"
        (click)="cancelDeactivation()"
      >
      </p-button>
    </div>
  } @else {
    <div class="flex justify-content-end mt-4">
      <p-button
        [label]="'settings.accountSettings.deactivateAccount.actions.requestDeactivation' | translate"
        (click)="deactivateAccount()"
      ></p-button>
    </div>
  }
</p-card>
