<section class="account-setting">
  <h2 class="account-setting-header">{{ 'settings.accountSettings.deactivateAccount.title' | translate }}</h2>

  <p-message icon="fas fa-circle-exclamation" severity="error">
    {{ 'settings.accountSettings.deactivateAccount.warning.title' | translate }}
  </p-message>

  <div class="account-setting-description">
    {{ 'settings.accountSettings.deactivateAccount.description.main' | translate }}
  </div>

  <div class="account-setting-description">
    {{ 'settings.accountSettings.deactivateAccount.description.secondary' | translate }}
  </div>

  @if (accountSettings()?.deactivationRequested) {
    <p class="font-bold">{{ 'settings.accountSettings.deactivateAccount.pendingDeactivation' | translate }}</p>
    <div class="account-setting-action">
      <p-button
        [label]="'settings.accountSettings.deactivateAccount.actions.undoDeactivation' | translate"
        (click)="cancelDeactivation()"
      >
      </p-button>
    </div>
  } @else {
    <div class="account-setting-action">
      <p-button
        [label]="'settings.accountSettings.deactivateAccount.actions.requestDeactivation' | translate"
        (click)="deactivateAccount()"
      ></p-button>
    </div>
  }
</section>
