<section
  class="home-container"
  [class.tablet]="isMedium()"
  [class.mobile]="isMobile()"
>
  <osf-sub-header
    [showButton]="true"
    [title]="'home.loggedIn.dashboard.title' | translate"
    [icon]="'home'"
    [buttonLabel]="'home.loggedIn.dashboard.createProject' | translate"
    (buttonClick)="createProject()"
  />

  <div class="quick-search-container">
    <p class="text-center">
      {{ "home.loggedIn.dashboard.quickSearch.goTo" | translate }}
      <a routerLink="/my-projects">
        {{ "home.loggedIn.dashboard.quickSearch.myProjects" | translate }}
      </a>
      {{ "home.loggedIn.dashboard.quickSearch.toOrganize" | translate }}
      <a routerLink="/search">
        {{ "home.loggedIn.dashboard.quickSearch.search" | translate }}
      </a>
      {{ "home.loggedIn.dashboard.quickSearch.osf" | translate }}
    </p>

    <osf-my-projects-table
      [items]="filteredProjects()"
      [tableParams]="tableParams()"
      [searchValue]="searchValue()"
      [sortColumn]="sortColumn()"
      [sortOrder]="sortOrder()"
      [isLoading]="isLoading()"
      [searchPlaceholder]="
        'home.loggedIn.dashboard.quickSearch.searchPlaceholder' | translate
      "
      (searchValueChange)="onSearchChange($event)"
      (pageChange)="onPageChange($event)"
      (sort)="onSort($event)"
      (itemClick)="navigateToProject($event)"
    />
  </div>

  <div class="public-projects-container">
    <i class="osf-icon-search"></i>
    <div class="title-container">
      <h1>{{ "home.loggedIn.publicProjects.title" | translate }}</h1>
    </div>
  </div>

  <div class="latest-research-container">
    <div class="content">
      <div class="text-container">
        <h1>{{ "home.loggedIn.latestResearch.title" | translate }}</h1>
        <h2>{{ "home.loggedIn.latestResearch.subtitle" | translate }}</h2>
      </div>
      <p-button
        [label]="'home.loggedIn.latestResearch.button' | translate"
        severity="success"
      />
    </div>
  </div>

  <div class="hosting-container">
    <div class="content">
      <div class="text-container">
        <h1>{{ "home.loggedIn.hosting.title" | translate }}</h1>
        <h2>{{ "home.loggedIn.hosting.subtitle" | translate }}</h2>
      </div>
      <p-button
        [label]="'home.loggedIn.hosting.button' | translate"
        severity="success"
      />
    </div>
  </div>
</section>
