.home-container {
  background-color: var(--white);

  .research-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .discover-research-container {
    background: var(--gradient-1);
  }

  .arrow-down {
    color: var(--grey-1);
  }

  .youtube-frame {
    border: none;
    width: 100%;
    aspect-ratio: 2 / 1;
  }

  .carousel-container {
    background: var(--bg-blue-3);

    .quote-icon {
      color: var(--pr-blue-1);
      width: 2rem;
      height: 2rem;
    }
  }
}
