@if (accountSettings()) {
  <section class="account-setting">
    <h2 class="account-setting-header">{{ 'settings.accountSettings.twoFactorAuth.title' | translate }}</h2>

    @if (accountSettings()?.twoFactorEnabled && !accountSettings()?.twoFactorConfirmed) {
      <h3 class="account-setting-description">
        {{ 'settings.accountSettings.twoFactorAuth.description.enabled' | translate }}
      </h3>

      <h3 class="account-setting-description font-bold">
        {{ 'settings.accountSettings.twoFactorAuth.description.warning' | translate }}
      </h3>

      <h3 class="account-setting-description">
        {{ 'settings.accountSettings.twoFactorAuth.description.setup' | translate }}
      </h3>

      <h3 class="account-setting-description">
        {{ 'settings.accountSettings.twoFactorAuth.description.verification' | translate }}
      </h3>

      <h3
        class="account-setting-description"
        [innerHTML]="
          'settings.accountSettings.twoFactorAuth.description.scan' | translate: { secret: accountSettings()?.secret }
        "
      ></h3>
      <qrcode [qrdata]="qrCodeLink()" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      <h3 class="account-setting-description font-bold" id="verification-code-help">
        {{ 'settings.accountSettings.twoFactorAuth.verification.label' | translate }}
      </h3>

      <input
        [formControl]="verificationCode"
        pInputText
        id="verification-code"
        aria-describedby="verification-code-help"
      />
      @if (errorMessage()) {
        <small class="text-red-500">{{ errorMessage() }}</small>
      }

      <div class="flex gap-2">
        <p-button
          [label]="'settings.accountSettings.common.buttons.enable' | translate"
          (click)="enableTwoFactor()"
          [disabled]="verificationCode.invalid"
        >
        </p-button>

        <p-button
          [label]="'settings.accountSettings.common.buttons.cancel' | translate"
          (click)="disableTwoFactor()"
          severity="secondary"
        >
        </p-button>
      </div>
    } @else if (accountSettings()?.twoFactorEnabled && accountSettings()?.twoFactorConfirmed) {
      <div class="account-setting-description">
        {{ 'settings.accountSettings.twoFactorAuth.description.enabled' | translate }}
      </div>

      <div>
        <p-button
          [label]="'settings.accountSettings.common.buttons.disable' | translate"
          severity="danger"
          (click)="openDisableDialog()"
        ></p-button>
      </div>
    } @else {
      <div class="account-setting-description">
        {{ 'settings.accountSettings.twoFactorAuth.description.disabled' | translate }}
      </div>

      <div class="account-setting-action">
        <p-button
          [label]="'settings.accountSettings.common.buttons.configure' | translate"
          (click)="configureTwoFactorAuth()"
        >
        </p-button>
      </div>
    }
  </section>
}
