<section class="subheader flex flex-column">
  <div class="flex flex-column align-items-start">
    <osf-sub-header
      [title]="'navigation.registriesSubRoutes.myRegistrations' | translate"
      [icon]="'registries'"
      [showButton]="true"
      [buttonLabel]="'registries.addRegistration' | translate"
      (buttonClick)="goToCreateRegistration()"
    />
  </div>
  <div class="flex-column flex flex-1 w-full">
    <p-tabs [value]="selectedTab()" (valueChange)="selectedTab.set(+$event)" class="flex-1">
      @if (!isMobile()) {
        <p-tablist class="px-4">
          @for (tab of tabOptions; track tab.value) {
            <p-tab [value]="tab.value"> {{ tab.label | translate }}</p-tab>
          }
        </p-tablist>
      }

      <p-tabpanels class="p-3 sm:p-5 flex-1">
        @if (isMobile()) {
          <osf-select
            class="block mb-4"
            [options]="tabOptions"
            [fullWidth]="true"
            [(selectedValue)]="selectedTab"
          ></osf-select>
        }
        <!--Drafts-->
        <p-tabpanel [value]="0" class="flex flex-column gap-4 flex-1">
          @if (isDraftRegistrationsLoading()) {
            @for (item of skeletons; track $index) {
              <p-skeleton width="100%" height="1.5rem" borderRadius="0" />
            }
          } @else {
            @if (draftRegistrationsTotalCount() === 0) {
              <ng-container *ngTemplateOutlet="noRegistration"></ng-container>
            }
            @for (registration of draftRegistrations(); track registration.id) {
              <osf-registration-card [registrationData]="registration" (deleteDraft)="onDeleteDraft($event)" />
            }
            @if (draftRegistrationsTotalCount() > itemsPerPage) {
              <osf-custom-paginator
                [first]="draftFirst"
                [totalCount]="draftRegistrationsTotalCount()"
                (pageChanged)="onDraftsPageChange($event)"
              />
            }
          }
        </p-tabpanel>

        <!--Submitted-->
        <p-tabpanel [value]="1" class="flex flex-column gap-4 flex-1">
          @if (isSubmittedRegistrationsLoading()) {
            @for (item of skeletons; track $index) {
              <p-skeleton width="100%" height="1.5rem" borderRadius="0" />
            }
          } @else {
            @if (submittedRegistrationsTotalCount() === 0) {
              <ng-container *ngTemplateOutlet="noRegistration"></ng-container>
            }
            @for (registration of submittedRegistrations(); track registration.registry) {
              <osf-registration-card [registrationData]="registration" />
            }
            @if (submittedRegistrationsTotalCount() > itemsPerPage) {
              <osf-custom-paginator
                [first]="submittedFirst"
                [totalCount]="draftRegistrationsTotalCount()"
                (pageChanged)="onSubmittedPageChange($event)"
              />
            }
          }
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>

<ng-template #noRegistration>
  <div class="flex flex-column align-items-center justify-content-center p-5">
    {{ 'registries.noRegistrations' | translate }}
    <p-button
      class="mt-3"
      [label]="'registries.addRegistration' | translate"
      [routerLink]="[`../${provider}/new`]"
      routerLinkActive="router-link-active"
    >
    </p-button>
  </div>
</ng-template>
