@use "assets/styles/mixins" as mix;

:host {
  @include mix.flex-column;
  flex: 1;
}

.content-container {
  background-color: var(--white);
}

.token-link {
  color: var(--dark-blue-1);
  font-size: 1.125rem;
  font-weight: 700;
}
