<div class="p-4 flex flex-column gap-2">
  <div class="flex justify-content-between">
    <h2>{{ 'project.files.detail.revisions.title' | translate }}</h2>
  </div>

  <p-accordion [multiple]="true">
    @for (item of fileRevisions().data; track item.version) {
      <p-accordion-panel value="{{ item.version }}" class="border-none">
        <p-accordion-header class="h-3rem font-normal"
          >{{ item.version }}. {{ item.dateTime | date: 'MMM d, yyyy HH:mm' }}</p-accordion-header
        >
        <p-accordion-content>
          <ul class="flex flex-column gap-2 ml-4">
            <li class="flex justify-content-between">
              <osf-copy-button
                class="copy-button"
                [label]="'project.files.detail.revisions.actions.copyMd5' | translate"
                [copyItem]="item.hashes.md5"
              ></osf-copy-button>
              <i
                class="osf-icon-information blue-icon cursor-pointer"
                pTooltip="{{ 'project.files.detail.revisions.tooltips.md5' | translate }}"
                tooltipPosition="left"
              ></i>
            </li>
            <li class="flex gap-2">
              <osf-copy-button
                class="copy-button"
                [label]="'project.files.detail.revisions.actions.copySha2' | translate"
                [copyItem]="item.hashes.sha256"
              ></osf-copy-button>
              <i
                class="osf-icon-information ml-auto blue-icon cursor-pointer"
                pTooltip="{{ 'project.files.detail.revisions.tooltips.sha2' | translate }}"
                tooltipPosition="left"
              ></i>
            </li>
            <li class="flex gap-2">
              <i
                class="osf-icon-download blue-icon cursor-pointer"
                tabindex="0"
                (click)="downloadRevision(item.version)"
                (keydown.enter)="downloadRevision(item.version)"
                ><p class="action-item">{{ 'project.files.detail.revisions.actions.download' | translate }}</p></i
              >
              <p class="ml-auto mr-1">{{ item.downloads }}</p>
            </li>
          </ul>
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</div>
