<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.publication' | translate }}</h2>

    @if (!hideEditDoi()) {
      <p-button
        severity="secondary"
        [label]="'common.buttons.edit' | translate"
        (onClick)="openEditPublicationDoiDialog.emit()"
      ></p-button>
    }
  </div>
  @if (resourceType() === ResourceType.Project) {
    @if (identifiers() && identifiers().length) {
      <div class="pt-4">
        @for (identifier of identifiers()!; track identifier.id) {
          @if (identifier.category === 'doi') {
            <a class="font-bold" href="{{ doiHost + identifier.value }}" target="_blank">
              {{ doiHost + identifier.value }}
            </a>
          }
        }
      </div>
    } @else {
      <div class="pt-4">
        <p class="text-color-secondary">{{ 'project.overview.metadata.noPublicationDoi' | translate }}</p>
      </div>
    }
  } @else {
    <div class="pt-4">
      @if (publicationDoi()) {
        <a class="font-bold" href="{{ doiHost + publicationDoi() }}" target="_blank">
          {{ doiHost + publicationDoi() }}
        </a>
      } @else {
        <p class="text-color-secondary">{{ 'project.overview.metadata.noPublicationDoi' | translate }}</p>
      }
    </div>
  }
</p-card>
