<p-card>
  <h3 class="text-xl pb-4">{{ 'myProjects.settings.emailNotifications' | translate }}</h3>

  <p class="pb-4">{{ 'myProjects.settings.emailNotificationsText' | translate }}</p>

  <osf-project-detail-setting-accordion
    (emitValueChange)="changeEmittedValue($event)"
    [rightControls]="allAccordionData"
    [title]="title()"
  >
    <div class="flex align-items-baseline gap-2">
      <i class="pi pi-minus text-sm icon-space"></i>
      <span>
        {{ subscriptionEvent.Comments | notificationDescription: notifications()?.[0]?.frequency | translate }}
      </span>
    </div>

    <div class="flex align-items-baseline gap-2 mt-2">
      <i class="pi pi-minus text-sm icon-space"></i>
      <span>
        {{ subscriptionEvent.FileUpdated | notificationDescription: notifications()?.[1]?.frequency | translate }}
      </span>
    </div>
  </osf-project-detail-setting-accordion>
</p-card>
