<section class="flex flex-column xl:mt-6">
  @if (isInstitutionLoading()) {
    <div class="flex-1 mt-4 md:mt-8 lg:pt-5">
      <osf-loading-spinner />
    </div>
  } @else {
    <div class="flex flex-column gap-5 p-5">
      <div class="flex align-items-center gap-2">
        <img
          [ngSrc]="institution().assets.logo"
          [alt]="institution().name"
          width="60"
          height="60"
          class="fit-contain"
        />

        <h1>{{ institution().name }}</h1>
      </div>

      <p [innerHtml]="institution().description | safeHtml"></p>
    </div>

    <div class="flex flex-1 flex-column h-full w-full">
      <div class="mt-5 mx-3 md:mx-4">
        <osf-search-input
          [control]="searchControl"
          [showHelpIcon]="true"
          [placeholder]="'collections.searchInput.placeholder' | translate"
          (helpClicked)="showTutorial()"
        />
      </div>

      <div class="flex-column flex-1 flex w-full pt-6">
        <p-tabs [value]="selectedTab" (valueChange)="onTabChange(+$event)" class="flex-1 px-3 md:px-5 xl:px-4">
          <p-tablist>
            @for (item of resourceTabOptions; track $index) {
              <p-tab [value]="item.value">{{ item.label | translate }}</p-tab>
            }
          </p-tablist>
        </p-tabs>

        <div class="py-4 px-3 md:px-5 xl:px-4 bg-white">
          <osf-search-results-container
            [resources]="resources()"
            [searchCount]="resourcesCount()"
            [selectedSort]="selectedSort()"
            [selectedTab]="resourceType()"
            [selectedValues]="selectedValues()"
            [first]="first()"
            [prev]="previous()"
            [next]="next()"
            [isFiltersOpen]="isFiltersOpen()"
            [isSortingOpen]="isSortingOpen()"
            (sortChanged)="onSortChanged($event)"
            (tabChanged)="onTabChanged($event)"
            (pageChanged)="onPageChanged($event)"
            (filtersToggled)="onFiltersToggled()"
            (sortingToggled)="onSortingToggled()"
          >
            <div slot="filter-chips">
              <osf-filter-chips
                [selectedValues]="selectedValues()"
                [filterLabels]="filterLabels()"
                [filterOptions]="filterOptions()"
                (filterRemoved)="onFilterChipRemoved($event)"
                (allFiltersCleared)="onAllFiltersCleared()"
              />
            </div>

            <div class="sm:w-3">
              <osf-reusable-filters
                [filters]="filters()"
                [selectedValues]="selectedValues()"
                [isLoading]="isResourcesLoading()"
                [showEmptyState]="true"
                (loadFilterOptions)="onLoadFilterOptions($event)"
                (filterValueChanged)="onFilterChanged($event)"
              />
            </div>
          </osf-search-results-container>

          <osf-search-help-tutorial [(currentStep)]="currentStep"></osf-search-help-tutorial>
        </div>
      </div>
    </div>
  }
</section>
