<p-card class="w-full" (focusout)="onFocusOut()">
  <h2 class="mb-2">{{ 'project.overview.metadata.contributors' | translate }}</h2>

  <osf-contributors-list
    class="w-full"
    [contributors]="contributors()"
    [isLoading]="isContributorsLoading()"
    [currentUserId]="currentUser()?.id"
    [isCurrentUserAdminContributor]="isCurrentUserAdminContributor()"
    (remove)="removeContributor($event)"
  />

  <div class="flex justify-content-end mt-3">
    @if (hasChanges) {
      <div class="flex gap-2 mr-4">
        <p-button (click)="cancel()" severity="info" [label]="'common.buttons.cancel' | translate" />
        <p-button (click)="save()" [label]="'common.buttons.save' | translate" />
      </div>
    }
    <p-button [label]="'registries.metadata.addContributors' | translate" (click)="openAddContributorDialog()" />
  </div>
</p-card>
