<osf-sub-header [title]="'project.metadata.addMetadata.title' | translate" />

@if (!selectedTemplate) {
  <section class="flex flex-column bg-white flex-1 h-full p-3 gap-4 sm:p-5">
    <section class="flex flex-column gap-2">
      <section class="flex flex-column gap-2">
        <h2>{{ 'project.metadata.addMetadata.selectTemplate' | translate }}</h2>
        <div [innerHTML]="'project.metadata.addMetadata.cedarInfo' | translate"></div>
      </section>

      <div class="flex gap-2 flex-wrap sm:gap-4">
        @for (meta of cedarTemplates()?.data; track meta.id) {
          <div
            class="flex flex-column gap-4 metadata p-4 align-items-center"
            [class.cursor-pointer]="!hasExistingRecord(meta.id)"
            [class.cursor-not-allowed]="hasExistingRecord(meta.id)"
            (click)="onSelect(meta)"
            (keydown.enter)="onSelect(meta)"
            [tabindex]="hasExistingRecord(meta.id) ? -1 : 0"
            role="button"
          >
            <div class="flex flex-row gap-4">
              <h2>{{ meta.attributes.template.title }}</h2>
            </div>

            <div class="flex flex-column">
              <p>{{ meta.attributes.template.description }}</p>
            </div>

            @if (hasExistingRecord(meta.id)) {
              <p-button
                severity="secondary"
                [pTooltip]="'project.metadata.addMetadata.youAlreadyAddedText' | translate"
                [label]="'project.metadata.addMetadata.youAlreadyAdded' | translate"
                [disabled]="true"
              ></p-button>
            } @else {
              <p-button
                severity="secondary"
                [label]="'project.metadata.addMetadata.select' | translate"
                (click)="onSelect(meta)"
              ></p-button>
            }
          </div>
        }
      </div>

      <div class="flex justify-content-end flex-0 mt-auto gap-2">
        <p-button
          [label]="'common.buttons.cancel' | translate"
          [link]="true"
          severity="info"
          class="w-10rem"
          (click)="onCancel()"
        ></p-button>
        @if (hasMultiplePages()) {
          <p-button
            [label]="'common.buttons.next' | translate"
            class="w-10rem"
            [disabled]="!hasNextPage()"
            (click)="onNext()"
            type="button"
          ></p-button>
        }
      </div>
    </section>
  </section>
} @else {
  <osf-cedar-template-form
    (editMode)="toggleEditMode()"
    (emitData)="createRecordMetadata($event)"
    (changeTemplate)="disableSelect()"
    [template]="selectedTemplate"
    [existingRecord]="existingRecord"
    [readonly]="!isEditMode"
    [showEditButton]="!!existingRecord"
  />
}
