<section class="flex flex-column py-5 px-3 gap-4 md:py-6 md:px-4">
  <div class="flex flex-column gap-3 md:flex-row">
    @if (isPreprintProviderLoading() || isPreprintLoading()) {
      <p-skeleton width="3rem" height="1.5rem" />
      <p-skeleton width="12rem" height="1.5rem" />
    } @else {
      <img alt="Provider Logo" height="36" [src]="preprintProvider()!.brand.heroLogoImageUrl" />
      <h1>{{ preprint()!.title }}</h1>
    }
  </div>

  <div class="flex flex-column justify-content-end gap-2 md:flex-row">
    <p-button class="w-full md:w-11rem" styleClass="w-full" label="Edit" (click)="editPreprintClicked()" />
    <p-button
      class="w-full md:w-11rem"
      styleClass="w-full"
      label="Create New Version"
      (click)="createNewVersionClicked()"
    />
    <p-button class="w-full md:w-11rem" styleClass="w-full" label="Withdraw" severity="danger" />
  </div>
</section>

<section class="flex-1 flex flex-column gap-2 bg-white py-2 px-3 md:px-4">
  <section class="w-full bg-yellow-100 p-3">
    <!-- TODO: implement status banner component -->
    <p>Status banner here</p>
  </section>

  <section class="flex-1 flex flex-column gap-4 align-items-start md:flex-row">
    <section class="w-12 md:w-6">
      <osf-preprint-file-section />
    </section>

    <section class="flex flex-column gap-4 w-12 md:flex-1 md:w-6">
      <p-card>
        <p>section with download</p>
      </p-card>
      <p-card>
        <p>section with abstract</p>
      </p-card>
      <p-card>
        <p>section with license</p>
      </p-card>
    </section>
  </section>
</section>
