<div class="flex flex-column xl:mt-6 flex-1">
  <section class="flex flex-column py-5 px-3 gap-4 md:py-6 md:px-4">
    <div class="flex flex-column justify-content-between md:flex-row">
      @if (isPreprintProviderLoading() || isPreprintLoading()) {
        <div class="flex flex-column gap-3 md:flex-row">
          <p-skeleton width="4rem" height="2.25rem" />
          <p-skeleton width="12rem" height="2.25rem" />
        </div>
      } @else {
        <a
          class="flex flex-column gap-3 custom-light-hover dark-blue-link md:flex-row"
          [routerLink]="['/preprints', preprintProvider()?.id, 'discover']"
        >
          <img
            class="fit-contain"
            alt="Provider Logo"
            height="36"
            [src]="preprintProvider()?.brand?.heroLogoImageUrl"
          />
          <h1>{{ preprint()?.title }}</h1>
        </a>
      }

      @if (moderationMode()) {
        @if (
          isPreprintLoading() ||
          areReviewActionsLoading() ||
          areWithdrawalRequestsLoading() ||
          areRequestActionsLoading()
        ) {
          <p-skeleton width="10rem" height="2.25rem" />
        } @else {
          <osf-make-decision
            [provider]="preprintProvider()!"
            [isPendingWithdrawal]="isPendingWithdrawal()"
            [latestAction]="latestAction()"
            [latestWithdrawalRequest]="latestWithdrawalRequest()"
          />
        }
      }
    </div>

    <div class="flex flex-column justify-content-end gap-2 md:flex-row">
      @if (isPreprintLoading() || isPreprintProviderLoading() || areContributorsLoading()) {
        <p-skeleton width="10rem" height="2.25rem" />
        <p-skeleton width="10rem" height="2.25rem" />
        <p-skeleton width="10rem" height="2.25rem" />
      } @else {
        @if (editButtonVisible()) {
          <p-button
            class="w-full md:w-11rem"
            styleClass="w-full"
            [label]="editButtonLabel() | translate"
            (click)="editPreprintClicked()"
          />
        }
        @if (createNewVersionButtonVisible()) {
          <p-button
            class="w-full md:w-11rem"
            styleClass="w-full"
            [label]="'common.buttons.createNewVersion' | translate"
            (click)="createNewVersionClicked()"
          />
        }
        @if (withdrawalButtonVisible()) {
          <p-button
            class="w-full md:w-11rem"
            styleClass="w-full"
            [label]="'common.buttons.withdraw' | translate"
            severity="danger"
            (click)="handleWithdrawClicked()"
          />
        }
      }
    </div>
  </section>

  <section class="flex-1 flex flex-column gap-2 bg-white py-2 px-3 md:px-4">
    @if (isOsfPreprint()) {
      <osf-preprint-warning-banner />
    }
    @if (moderationStatusBannerVisible()) {
      <osf-moderation-status-banner
        [provider]="preprintProvider()!"
        [isPendingWithdrawal]="isPendingWithdrawal()"
        [latestAction]="latestAction()"
        [latestWithdrawalRequest]="latestWithdrawalRequest()"
      />
    }
    @if (statusBannerVisible()) {
      <osf-preprint-status-banner
        [provider]="preprintProvider()!"
        [latestAction]="latestAction()"
        [latestRequestAction]="latestRequestAction()"
        [isPendingWithdrawal]="isPendingWithdrawal()"
        [isWithdrawalRejected]="isWithdrawalRejected()"
      />
    }

    @if (!preprint()?.dateWithdrawn) {
      <section class="flex-1 flex flex-column gap-4 align-items-start lg:flex-row">
        <section class="w-12 lg:w-6">
          <osf-preprint-file-section [providerReviewsWorkflow]="preprintProvider()?.reviewsWorkflow || null" />
        </section>

        <section class="flex flex-column gap-4 w-12 lg:w-6">
          <osf-preprint-share-and-download [preprintProvider]="preprintProvider()" />
          <osf-preprint-general-information
            [preprintProvider]="preprintProvider()"
            (preprintVersionSelected)="fetchPreprint($event)"
          />
          <osf-preprint-additional-info [preprintProviderId]="providerId()" />
        </section>
      </section>
    } @else {
      <osf-preprint-tombstone
        class="lg:w-6"
        [preprintProvider]="preprintProvider()"
        (preprintVersionSelected)="fetchPreprint($event)"
      />
    }
  </section>
</div>
