<p-card>
  <div>
    <h2>{{ 'common.labels.affiliatedInstitutions' | translate }}</h2>

    <p class="mt-3">
      {{ 'project.overview.metadata.affiliatedInstitutionsDescription' | translate }}
    </p>

    @if (userInstitutions().length) {
      <div class="mt-4">
        <osf-affiliated-institution-select
          [institutions]="userInstitutions()"
          [isLoading]="
            areUserInstitutionsLoading() || areResourceInstitutionsLoading() || areResourceInstitutionsSubmitting()
          "
          [selectedInstitutions]="selectedInstitutions()"
          (selectedInstitutionsChange)="institutionsSelected($event)"
        />
      </div>
    } @else {
      <p class="mt-4">{{ 'common.labels.noAffiliatedInstitutions' | translate }}</p>
    }
  </div>
</p-card>
