<div class="metadata p-4 flex flex-column gap-5">
  <div class="flex justify-content-between">
    <h2>{{ 'project.files.detail.projectMetadata.title' | translate }}</h2>
  </div>

  @for (funder of projectMetadata()?.funders; track $index) {
    <div class="flex flex-column gap-2">
      @if (funder.funderName) {
        <div class="flex flex-column gap-1">
          <h3>{{ 'project.files.detail.projectMetadata.fields.funder' | translate }}</h3>
          <span>{{ funder.funderName }}</span>
        </div>
      }
      @if (funder.awardTitle) {
        <div class="flex flex-column gap-1">
          <h3>{{ 'project.files.detail.projectMetadata.fields.awardTitle' | translate }}</h3>
          <span>{{ funder.awardTitle }}</span>
        </div>
      }
      @if (funder.awardTitle) {
        <div class="flex flex-column gap-1">
          <h3>{{ 'project.files.detail.projectMetadata.fields.awardNumber' | translate }}</h3>
          <span>{{ funder.awardTitle }}</span>
        </div>
      }
      @if (funder.awardUri) {
        <div class="flex flex-column gap-1">
          <h3>{{ 'project.files.detail.projectMetadata.fields.awardUri' | translate }}</h3>
          <span>{{ funder.awardUri }}</span>
        </div>
      }
    </div>
  }

  <div class="flex flex-column gap-2">
    <h3>{{ 'project.files.detail.projectMetadata.fields.title' | translate }}</h3>

    <span>{{ projectMetadata()?.title }}</span>
  </div>

  @if (projectMetadata()?.description) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.projectMetadata.fields.description' | translate }}</h3>

      <div>
        {{ projectMetadata()?.description }}
      </div>
    </div>
  }

  @if (projectMetadata()?.resourceTypeGeneral) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.projectMetadata.fields.resourceType' | translate }}</h3>

      <div>
        {{ projectMetadata()?.resourceTypeGeneral }}
      </div>
    </div>
  }

  @if (projectMetadata()?.language) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.projectMetadata.fields.resourceLanguage' | translate }}</h3>

      <div>
        {{ projectMetadata()?.language }}
      </div>
    </div>
  }

  @if (projectMetadata()?.dateCreated) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.projectMetadata.fields.dateCreated' | translate }}</h3>

      <div>
        {{ projectMetadata()?.dateCreated | date: 'MMMM d, y' }}
      </div>
    </div>
  }

  @if (projectMetadata()?.dateModified) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.projectMetadata.fields.dateModified' | translate }}</h3>

      <div>
        {{ projectMetadata()?.dateModified | date: 'MMMM d, y' }}
      </div>
    </div>
  }

  @if (contributors()?.length) {
    <div class="flex flex-column gap-2">
      <h3>{{ 'project.files.detail.projectMetadata.fields.contributors' | translate }}</h3>

      <div class="flex flex-wrap">
        @for (contributor of contributors(); track $index) {
          <a [href]="contributor.id" class="font-bold">{{ contributor.name }}</a>
          @if (!$last) {
            <span>,&nbsp;</span>
          }
        }
      </div>
    </div>
  }
</div>
