@if (this.shouldShowBanner()) {
  <div
    [style.background-color]="this.currentBanner()?.color"
    class="flex w-full justify-content-center align-items flex-row"
  >
    <a [href]="this.currentBanner()?.link" target="_blank" rel="noopener noreferrer">
      @if (this.isMobile()) {
        <img
          class="block w-full"
          [src]="this.currentBanner()?.mobilePhoto"
          [alt]="this.currentBanner()?.mobileAltText"
        />
      } @else {
        <img
          class="block w-full"
          [src]="this.currentBanner()?.defaultPhoto"
          [alt]="this.currentBanner()?.defaultAltText"
        />
      }
    </a>
  </div>
}
