<section class="forgot-password-container">
  <h2>Forgot Your Password?</h2>
  <p>Enter your email address and we'll send a link to reset your password</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input
      class="email-input"
      id="email"
      type="email"
      pInputText
      formControlName="email"
      placeholder="email@example.com"
      autocomplete="off"
    />

    <p-button
      class="btn-full-width"
      type="submit"
      label="Reset Password"
      [disabled]="!forgotPasswordForm.valid"
    ></p-button>
  </form>

  <div class="message-container">
    @if (message()) {
      <p-message
        [severity]="message()?.severity"
        closable="true"
        [text]="message()?.content"
        (onClose)="onCloseMessage()"
      />
    }
  </div>
</section>
