<section class="forgot-password-container" [class.mobile]="isMobile()">
  <h2>{{ 'auth.forgotPassword.title' | translate }}</h2>
  <p>{{ 'auth.forgotPassword.description' | translate }}</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <label for="email">{{ 'auth.common.email' | translate }}</label>
    <input
      class="email-input"
      id="email"
      type="email"
      pInputText
      formControlName="email"
      [placeholder]="'auth.common.emailPlaceholder' | translate"
      autocomplete="off"
    />

    <p-button
      class="btn-full-width"
      type="submit"
      [label]="'auth.forgotPassword.submit' | translate"
      [disabled]="!forgotPasswordForm.valid"
    ></p-button>
  </form>

  <div class="message-container">
    @if (message()) {
      <p-message
        [severity]="message()?.severity"
        closable="true"
        [text]="message()!.content | translate"
        (onClose)="onCloseMessage()"
      />
    }
  </div>
</section>
