@if (filters().creator.value) {
  @let creator = filters().creator.filterName + ': ' + filters().creator.label;
  <p-chip [label]="creator" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.Creator)"></p-chip>
}

@if (filters().subject.value) {
  @let subject = filters().subject.filterName + ': ' + filters().subject.label;
  <p-chip [label]="subject" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.Subject)"></p-chip>
}

@if (filters().license.value) {
  @let license = filters().license.filterName + ': ' + filters().license.label;
  <p-chip [label]="license" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.License)"></p-chip>
}

@if (filters().institution.value) {
  @let institution = filters().institution.filterName + ': ' + filters().institution.label;
  <p-chip
    [label]="institution"
    removeIcon="fas fa-close"
    removable
    (onRemove)="clearFilter(FilterType.Institution)"
  ></p-chip>
}
