<div class="filters">
  <p-accordion>
    @for (filterEntry of availableFilterEntries(); track filterEntry.key) {
      <p-accordion-panel [value]="filterEntry.value">
        <p-accordion-header>{{ filterEntry.translationKeys.label | translate }}</p-accordion-header>
        <p-accordion-content>
          <div class="content-body filter dropdown-filter">
            <p>{{ filterEntry.translationKeys.description | translate }}</p>
            <p-multi-select
              [id]="filterEntry.key"
              [options]="filterEntry.options"
              [ngModel]="filterEntry.selectedFilters"
              [placeholder]="filterEntry.translationKeys.placeholder | translate"
              appendTo="body"
              [maxSelectedLabels]="1"
              (onChange)="setFilters(filterEntry.key, $event)"
              (onClear)="clearFilters(filterEntry.key)"
              [showClear]="filterEntry.selectedFilters.length"
            ></p-multi-select>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</div>
