<p-panel>
  <ng-template #header>
    <h2 class="mr-2">{{ 'project.wiki.view' | translate }}</h2>
  </ng-template>
  <div class="flex align-items-center mb-2">
    <span class="mr-2">Version</span>
    <p-select
      [options]="versions"
      [(ngModel)]="selectedVersion"
      optionLabel="name"
      placeholder="Version"
      class="w-full"
    />
  </div>
  <p-panel showHeader="false">
    <div class="editor-view-mode mt-3">
      <div class="md-editor-container" [innerHTML]="currentContent()"></div>
    </div>
  </p-panel>
</p-panel>
