@use "/styles/mixins" as mix;

.activities {
  border: 1px solid var(--grey-2);
  border-radius: mix.rem(12px);

  &-activity {
    border-bottom: 1px solid var(--grey-2);

    .activity-date {
      min-width: 27%;
    }
  }

  &-description {
    line-height: mix.rem(24px);
  }
}
