.activities {
  border: 1px solid var(--grey-2);
  border-radius: 0.75rem;

  &-activity {
    border-bottom: 1px solid var(--grey-2);

    .activity-date {
      min-width: 27%;
    }
  }

  &-description {
    line-height: 1.5rem;
  }
}
