<div class="activities p-4 flex flex-column gap-3">
  <h2>{{ 'project.overview.recentActivity.title' | translate }}</h2>

  <div class="activities-activity flex justify-content-between align-items-center">
    <div>
      <a class="font-bold">Jeremy Wolfe</a> removed <a class="font-bold">tag example</a> from
      <a class="font-bold">Project name example</a>
    </div>

    <div class="hidden sm:block">Feb 5, 2025 04:37 AM</div>
  </div>

  <div class="activities-activity flex justify-content-between align-items-center">
    <div>
      <a class="font-bold">Jeremy Wolfe</a> removed <a class="font-bold">tag example</a> from
      <a class="font-bold">Project name example</a>
    </div>

    <div class="hidden sm:block">Feb 5, 2025 04:37 AM</div>
  </div>

  <div class="activities-activity flex justify-content-between align-items-center">
    <div>
      <a class="font-bold">Jeremy Wolfe</a> removed <a class="font-bold">tag example</a> from
      <a class="font-bold">Project name example</a>
    </div>

    <div class="hidden sm:block">Feb 5, 2025 04:37 AM</div>
  </div>
</div>
