@use "styles/mixins" as mix;

.cookie-consent-container {
  padding: 1rem !important;
  display: block !important;

  .p-message {
    background-color: #886d3f;
    color: var(--white);
    width: 100%;
    border-radius: var(--p-message-border-radius, 6px);
    outline-width: var(--p-message-border-width, 1px);
    outline-style: solid;

    .p-message-content {
      display: flex;
      align-items: center;
      padding: var(--p-message-content-padding, 1.5rem);
      gap: var(--p-message-content-gap, 0.5rem);
      height: 100%;
    }
  }
}
