.p-accordion {
  --p-accordion-header-color: var(--dark-blue-1);
  --p-accordion-header-font-weight: 700;
  --p-accordion-header-padding: 1.5rem 0;
  --p-accordion-panel-header-color: var(--grey-2);
  --p-accordion-panel-border-color: var(--grey-2);
  --p-accordion-content-padding: 0;

  .p-accordionheader {
    .p-iconwrapper {
      transform: rotate(180deg);
      color: var(--grey-1);
    }
  }
}

.resource,
.license {
  .p-accordion {
    --p-accordion-panel-border-width: 0;

    .p-accordionheader {
      .p-iconwrapper {
        background: var(--bg-blue-3);
        height: 2rem;
        min-width: 2rem;
        border-radius: 50%;

        svg {
          color: var(--pr-blue-1);
        }
      }
    }
  }
}

.filters {
  .p-accordion {
    .p-accordioncontent-content {
      padding-bottom: 1.5rem;

      .content-body {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

        p {
          font-weight: 300;
        }
      }
    }
  }
}

.card-accordion.p-accordion {
  --p-accordion-panel-border-width: 0;
  --p-accordion-header-padding: 0;

  .p-accordioncontent-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.4rem 0 0.1rem 0;
    border: none;
  }

  .p-iconwrapper {
    background: var(--bg-blue-3);
    height: 2rem;
    min-width: 2rem;
    border-radius: 50%;

    svg {
      color: var(--pr-blue-1);
    }
  }
}
