@use "assets/styles/variables" as var;

.p-autocomplete {
  height: 3.125rem;
  border: 1px solid var(--grey-2);
  border-radius: 0.57rem;
  outline: none;

  .p-inputtext {
    border: none;
    outline: none;
    height: 3rem;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
  }

  .p-autocomplete-dropdown {
    border: none;
    background-color: transparent;
  }

  .p-icon {
    color: var.$grey-1;
  }
}

.p-autocomplete.p-inputwrapper {
  width: 100%;
}
