@use "../variables" as var;
@use "../mixins" as mix;

.p-button {
  font-size: 0.875rem;
  line-height: 1.5rem;

  &.p-button-info {
    --p-button-label-font-weight: 400;
  }

  &.p-button-secondary {
    font-weight: 700;
  }
}

.p-button-outlined {
  &.p-button-raised {
    border: none;
  }
}

.p-button-icon-only,
.btn-icon-only .p-button {
  padding: mix.rem(15px) mix.rem(22px);
}

.btn-icon-text,
.btn-icon {
  .p-button {
    background-color: transparent;
    color: var.$pr-blue-1;
    font-weight: 600;
    @include mix.flex-center;
    box-shadow: 0 0 4px 0 var.$grey-outline;
    border: none;

    &:hover {
      color: var.$pr-blue-3;
    }

    &:disabled {
      color: var.$grey-1;
    }
  }
}

.btn-icon {
  .p-button {
    color: var.$dark-blue-1;
    padding: 0.7rem;

    &:hover {
      color: var.$pr-blue-1;
    }

    &:disabled {
      color: var.$grey-1;
    }
  }
}

.btn-full-width {
  width: 100%;

  .p-button {
    width: 100%;
  }
}

:root {
  --p-button-padding-x: 1rem;
  --p-button-padding-y: 0.5625rem;

  --p-button-label-font-weight: 700;

  --p-button-raised-shadow: 0 0 4px 0 var(--grey-outline);
}
