@use "../mixins" as mix;

:root {
  --p-button-padding-x: 1rem;
  --p-button-padding-y: 0.5625rem;

  --p-button-label-font-weight: 700;

  --p-button-raised-shadow: 0 0 4px 0 var(--grey-outline);
}

.p-button {
  &:not(.p-button-icon-only) {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &.p-button-info {
    --p-button-label-font-weight: 400;
  }

  &.p-button-secondary {
    font-weight: 700;
  }
}

.p-button-outlined {
  &.p-button-raised {
    border: none;
  }
}

.btn-icon-only .p-button {
  padding: mix.rem(13px) mix.rem(20px);
}

.btn-full-width {
  width: 100%;

  .p-button {
    width: 100%;
  }
}

.danger-icon-btn {
  --p-button-text-danger-hover-background: transparent;
  --p-button-text-danger-active-background: transparent;

  &:hover {
    --p-button-text-danger-color: var(--red-3);
  }
}
