@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

.p-card {
  border: 1px solid var(--grey-2);
  --p-card-shadow: none;
  --p-card-color: var(--dark-blue-1);
  --p-card-border-radius: 0.5rem;
}

.mobile .p-card .p-card-body {
  --p-card-body-padding: 0.85rem;
}
