@use "../variables" as var;
@use "../mixins" as mix;

.p-card {
  color: var.$dark-blue-1;
  box-shadow: none;
  border-radius: 8px;
  border-width: 1px;
  border-color: var.$grey-2;
  border-style: solid;

  .p-card-body {
    padding: 1.7rem;
  }
}
