@use "../variables" as var;
@use "../mixins" as mix;

.p-card {
  color: var.$dark-blue-1;
  box-shadow: none;
  border-radius: 8px;
  border: 1px solid var.$grey-2;

  .p-card-body {
    padding: 1.7rem;
  }
}
