@use "../variables" as var;

.p-carousel {
  --p-carousel-indicator-width: 1rem;
  --p-carousel-indicator-height: 1rem;
  --p-carousel-indicator-border-radius: 50%;
  --p-carousel-indicator-list-gap: 1.5rem;
}
