@use "../variables" as var;

.p-drawer.p-drawer-active.p-drawer-left {
  width: 100%;
  background-color: var.$dark-blue-1;
  padding-left: 1.6rem;
  border: none;
}

.p-drawer-header {
  height: 6.17rem;
  padding: 0;
}

.p-drawer-content {
  padding: 0;
}
