@use "../variables" as var;

.p-inputtext {
  color: var.$dark-blue-1;
  background: white;
  border-color: var.$grey-2;
}

.p-password,
.p-inputtext {
  width: 100%;
  height: 3.125rem;
  font-size: 16px;
  border-radius: 0.57rem;
  box-shadow: none;
}

label {
  display: block;
  color: var.$grey-1;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.p-inputtext.ng-touched.ng-invalid,
.p-inputtext.ng-dirty.ng-invalid {
  border: 1px solid var.$red-1;
}

p-password.ng-touched.ng-invalid {
  .p-password-input {
    border: 1px solid var.$red-1;
  }
}

.p-inputtext.ng-touched.ng-invalid::placeholder,
.p-inputtext.ng-dirty.ng-invalid::placeholder {
  color: var.$grey-1;
}

.input-search {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  i {
    position: absolute;
    left: 0.86rem;
    color: var.$dark-blue-1;
    font-size: 1.1rem;
  }

  .p-inputtext {
    height: 3.2rem;
    padding-left: 2.86rem;
  }
}

.addon-input {
  .p-inputtext {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-style: none;
  }

  .p-inputtext.ng-touched.ng-invalid,
  .p-inputtext.ng-dirty.ng-invalid {
    border-color: var.$grey-2;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-style: none;
  }
}
