.p-menu {
  --p-menu-item-color: var(--dark-blue-1);
  --p-menu-item-focus-color: var(--dark-blue-1);
  --p-menu-item-focus-background: var(--bg-blue-3);
}

.p-menu {
  margin-top: 0.6rem;
  min-width: fit-content;
}
