@use "../variables" as var;
@use "../mixins" as mix;

.p-menu-item-content {
  a {
    color: var.$dark-blue-2;
  }

  a:hover {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background: var.$bg-blue-3;
  }
}

.p-menu {
  margin-top: mix.rem(7px);
  min-width: fit-content;
}

.share-menu {
  .p-menu-list {
    .p-menu-item {
      padding: 0.5rem;
    }
  }
}
