@use "../variables" as var;

.p-menu-overlay {
  top: 2rem !important;
  left: 0 !important;
}

.p-menu-item-content {
  a {
    color: var.$dark-blue-2;
  }
  a:hover {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background: var.$bg-blue-3;
  }
}

.p-menu {
  min-width: 7rem;
  width: 100%;
}
