.p-message:not(.p-message-simple) {
  width: fit-content;
  height: fit-content;

  --p-message-content-padding: 1.5rem;

  --p-message-text-font-weight: 700;
  --p-message-text-font-size: 0.875rem;

  --p-message-error-color: var(--red-1);
  --p-message-error-background: var(--red-2);
  --p-message-error-border-color: var(--red-2);

  --p-message-warn-color: var(--yellow-1);
  --p-message-warn-background: var(--yellow-2);
  --p-message-warn-border-color: var(--yellow-2);

  --p-message-success-color: var(--green-1);
  --p-message-success-background: var(--green-2);
  --p-message-success-border-color: var(--green-2);
}

.p-message-simple {
  --p-message-text-font-weight: 400;
}
