@use "../variables" as var;

.p-message:not(.p-message-simple) {
  border: none;
  color: var.$white;
  height: 3rem;
}

.p-message-success {
  background-color: var.$green-1;
}

.p-message-warn {
  background-color: var.$yellow-1;
}

.p-message-error:not(.p-message-simple) {
  background-color: var.$red-1;
}

.warning-message {
  .p-message {
    width: fit-content;
    height: fit-content;
    color: var.$red-1;
    background: var.$red-2;
    padding: 1rem;

    .p-message-text {
      font-weight: 700;
    }
  }
}

.p-message-simple {
  --p-message-text-font-weight: 400;
}
