.p-paginator {
  --p-paginator-gap: 0.75rem;
  --p-select-overlay-color: var(--dark-blue-1);
  --p-select-overlay-border-color: var(--grey-2);
  --p-select-option-focus-background: var(--bg-blue-3);
  --p-select-option-focus-color: var(--dark-blue-1);
  --p-select-option-selected-focus-background: var(--bg-blue-2);
  --p-select-option-selected-color: var(--dark-blue-1);
  --p-paginator-nav-button-background: var(--white);
  --p-paginator-nav-button-color: var(--dark-blue-1);
  --p-paginator-nav-button-border-radius: 0.25rem;
  --p-paginator-nav-button-selected-background: var(--pr-blue-1);
  --p-paginator-nav-button-selected-color: var(--white);
  --p-paginator-nav-button-hover-background: var(--bg-blue-2);
  --p-paginator-nav-button-hover-color: var(--dark-blue-1);
}

.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev {
  --p-paginator-nav-button-color: var(--grey-1);
  --p-paginator-nav-button-hover-background: transparent;
  --p-paginator-nav-button-hover-color: var(--dark-blue-1);
}

.collections-paginator {
  .p-paginator {
    justify-content: end;
  }
}
