.nav-menu {
  .p-panelmenu {
    --p-panelmenu-item-focus-background: var(--dark-blue-2);

    .nav-link {
      color: var(--white);
      gap: 0.5rem;
      text-decoration: none;
      padding: 0.75rem;
      width: 100%;

      .nav-icon {
        font-size: 1.25rem;
      }
    }

    .p-panelmenu-panel {
      --p-panelmenu-panel-background: transparent;
      --p-panelmenu-panel-padding: 0;
      border: none;
      outline: none;
      cursor: pointer;

      .p-panelmenu-header-link {
        display: none;
      }
    }

    .p-panelmenu-item-content:focus-visible {
      outline: none;
      background-color: var(--dark-blue-2);
    }

    .p-panelmenu-submenu {
      --p-panelmenu-submenu-indent: 1.5rem;
      margin-top: 0.5rem;

      .p-panelmenu-item {
        border-left: 1px solid var(--grey-2);
        padding: 0 0 0.25rem 0.5rem;

        .nav-link {
          height: 2.5rem;
        }
      }
    }
  }
}

.wiki-page {
  .view-panel {
    height: 100%;
  }

  p-panel,
  .p-panel {
    height: 100%;
  }

  .p-panel {
    display: flex;
    flex-direction: column;
  }

  .p-panel-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .p-panel-content-container {
    display: flex;
    flex-direction: column;

    flex: 1;
  }

  .wiki-list {
    .p-panelmenu {
      flex: 1;
    }

    .p-panelmenu-header-label {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .edit-section {
    display: block;
    min-height: 300px;

    .md-editor-container {
      border-radius: var(--p-panel-border-radius);
    }
  }
}
