@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.p-select {
  height: mix.rem(44px);
  border: 1px solid var(--grey-2);
  border-radius: mix.rem(8px);
  outline: none;
  font-size: mix.rem(16px);
  color: var.$dark-blue-1;

  .p-placeholder {
    color: var.$grey-1;
  }

  &.accordion-dropdown {
    border: none;
    box-shadow: none;
    min-width: 120px;
    width: max-content;
    max-width: 300px;
    font-size: 1rem;
  }
}

.p-select-label {
  @include mix.flex-align-center;
  width: 100%;

  &::placeholder {
    color: var.$grey-1;
  }
}

.p-select-option {
  color: var.$dark-blue-1;

  span {
    white-space: wrap;
  }

  &:hover {
    background: var.$bg-blue-3;
  }

  &.p-select-option-selected {
    background: var.$bg-blue-2;
  }
}

.p-select-header {
  width: 100%;

  .p-iconfield {
    width: 100%;
  }
}

.p-select.mobile {
  .p-select-label {
    justify-content: center;
    padding-left: 2.6rem;
    font-weight: 700;
  }
}

.no-border-dropdown {
  .p-select-option {
    span {
      white-space: nowrap;
    }
  }

  .p-select {
    border: none;
    font-size: mix.rem(14px);
    box-shadow: none;
    height: 2rem;

    .p-select-label {
      padding: 0;
      font-weight: 700;
    }

    .p-select-overlay {
      position: absolute;
      right: 0;
      left: auto;
    }
  }
}

.select-font-normal {
  &.no-border-dropdown {
    --p-icon-size: 0.875rem;

    .p-select {
      .p-select-label {
        font-weight: 400;
      }
    }
  }
}

.filter {
  .p-select {
    .p-select-label {
      font-size: mix.rem(16px);
      font-weight: 400;
      color: var.$dark-blue-1;
      padding-right: 0.5rem;
    }

    .p-select-clear-icon {
      right: 1rem;
      margin-left: 0.5rem;
    }
  }
}

.dropdown-filter {
  .p-select {
    .p-select-clear-icon {
      right: 2.2rem;
    }
  }
}

.centered-select {
  .p-select {
    .p-select-label {
      justify-content: center;
    }

    .p-select-option {
      justify-content: center;
    }
  }
}

.grey-placeholder {
  .p-select .p-placeholder span {
    color: var.$grey-1;
  }
}
