@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

p-table {
  .p-datatable {
    border: 1px solid var.$grey-2;
    border-radius: mix.rem(8px);
    padding: mix.rem(12px) mix.rem(24px) mix.rem(24px) mix.rem(24px);
  }

  table {
    tr:hover {
      background: var.$bg-blue-2;

      td {
        background: var.$bg-blue-2;
      }
    }

    tr.loading-row {
      td {
        background: transparent;
        border: none;
        padding: 0;
        width: 100%;
      }
    }

    th,
    td {
      color: var.$dark-blue-1;
      border: none;
      height: mix.rem(65px);
    }

    th {
      background-color: var.$white;
      font-weight: 700;
      padding-top: 0;

      .p-sortable-column-icon {
        color: var.$grey-1;
        margin-left: mix.rem(8px);
      }
    }

    td {
      background-color: var.$bg-blue-3;
      border-bottom: mix.rem(12px) solid var.$white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.my-projects-table {
  tr:not(.loading-row) {
    cursor: pointer;
  }

  &.loading {
    table {
      tr.loading-row {
        td {
          background: transparent;
          border: none;
          padding: 0;
          width: 100%;
        }
      }

      tr:hover {
        background: inherit;

        td {
          background: inherit;
        }
      }
    }
  }
}

.addon-table {
  tr {
    &.background-warning td {
      background-color: var.$yellow-2;
    }

    &.background-success td {
      background-color: var.$green-2;
    }

    &.background-danger td {
      background-color: var.$red-2;
    }

    td {
      white-space: wrap;
    }
  }
}

@media (max-width: var.$breakpoint-xl) {
  .home-table {
    .p-datatable {
      padding: 1.71rem 0.85rem 1.71rem 0.85rem;
    }
  }

  .addon-table,
  .my-projects-table {
    .p-datatable {
      padding: mix.rem(16px);
      overflow-x: auto;
    }
  }

  .my-projects-table,
  .home-table {
    .p-datatable {
      overflow-x: auto;
    }

    td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc((100vw - 6.85rem - 2px) / 3);

      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
        overflow: hidden;

        i {
          flex-shrink: 0;
        }

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: var.$breakpoint-sm) {
  .home-table {
    .p-datatable {
      padding: 0.4rem;
    }

    table {
      thead {
        display: none;
      }

      tr {
        max-width: calc(100vw - 3.14rem - 2px);
        display: flex;
        flex-direction: column;
        padding: mix.rem(16px);
        background: var.$bg-blue-3;

        td {
          max-width: calc(100vw - 3.14rem - 2px);
          height: 2rem;
          line-height: 2rem;
          padding: 0;
          border: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      tbody {
        display: flex;
        flex-direction: column;
        row-gap: 0.42rem;
      }
    }
  }

  .addon-table {
    width: 100%;
    overflow-x: auto;
    display: block;

    .p-datatable {
      padding: mix.rem(16px);
      width: 100%;

      table {
        width: 100%;
        table-layout: auto;
      }

      td {
        white-space: wrap;
        overflow: visible;
        text-overflow: unset;
        max-width: max-content;
      }

      td:nth-child(2) {
        white-space: nowrap;
      }
    }
  }

  .my-projects-table {
    .p-datatable {
      overflow-x: auto;
      width: 100%;
    }

    table {
      width: 100%;
      min-width: 100%;
    }

    td {
      white-space: normal;
      max-width: none;
      min-width: 50vw;

      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
        overflow: visible;

        i {
          flex-shrink: 0;
        }

        span {
          overflow: visible;
          text-overflow: unset;
          white-space: normal;
        }
      }
    }
  }
}

.view-only-table {
  .p-datatable {
    padding: 2px;

    td,
    th {
      background-color: transparent;
      border-bottom: 1px solid var.$grey-2;
    }

    tr {
      &:hover {
        background: transparent;
      }

      &:last-of-type {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
