@use "assets/styles/variables" as var;

@layer reset {
  p-table {
    .p-datatable {
      margin-top: 24px;
      border: 1px solid var.$grey-2;
      border-radius: 8px;
      padding: 24px;
    }
    table {
      width: 100%;
      min-width: 50rem;

      th,
      td {
        color: var.$dark-blue-1;
        border: none;
        height: 60px;
      }

      th {
        background-color: white;
        font-weight: 700;
        padding-top: 0;

        .p-sortable-column-icon {
          color: var.$grey-1;
          margin-left: 6px;
        }
      }

      td {
        background-color: var.$bg-blue-3;
        border-bottom: 12px solid white;
        max-width: 450px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .p-paginator {
      background: white;
      padding: 12px 0 0 0;

      button {
        //height: 24px;
        //width: 24px;
      }
    }

    .p-paginator-page {
      color: var.$dark-blue-1;
      border-radius: 4px;
      background: white;

      &:hover {
        background: var.$bg-blue-2;
      }
    }

    .p-paginator-page-selected {
      color: white;
      border-radius: 4px;
      background: var.$pr-blue-1;

      &:hover {
        background: var.$pr-blue-1;
      }
    }

    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
      color: var.$grey-1;
      border-radius: 4px;
    }

    .p-paginator-next:hover,
    .p-paginator-last:hover,
    .p-paginator-first:hover,
    .p-paginator-prev:hover {
      color: var.$dark-blue-1;
    }

    .p-paginator-next:not(.p-disabled):hover,
    .p-paginator-last:not(.p-disabled):hover,
    .p-paginator-first:not(.p-disabled):hover,
    .p-paginator-prev:not(.p-disabled):hover {
      background: white;
    }

    .p-select-overlay {
      background: white;
      border: 1px solid var.$grey-2;
      color: var.$dark-blue-1;
    }

    .p-select-option {
      &.p-select-option-selected {
        background-color: white;
        color: var.$dark-blue-1;

        &:hover {
          background: var.$bg-blue-3;
          color: var.$dark-blue-1;
        }
      }

      &:not(.p-select-option-selected):not(.p-disabled).p-focus {
        background: var.$bg-blue-3;
        color: var.$dark-blue-1;
      }
    }

    p-select {
      background: white;
      border: 1px solid var.$grey-2;

      span {
        color: var.$dark-blue-1;
      }
    }
  }
}
