@use "assets/styles/variables" as var;

@layer reset {
  p-table {
    .p-datatable {
      margin-top: 24px;
      border: 1px solid var.$grey-2;
      border-radius: 8px;
      padding: 24px;
    }

    table {
      th,
      td {
        color: var.$dark-blue-1;
        border: none;
        height: 60px;
        max-width: calc((100vw - 27rem) / 3);
      }

      th {
        background-color: white;
        font-weight: 700;
        padding-top: 0;

        .p-sortable-column-icon {
          color: var.$grey-1;
          margin-left: 6px;
        }
      }

      td {
        background-color: var.$bg-blue-3;
        border-bottom: 12px solid white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .p-paginator {
      background: white;
      padding: 0.8rem 0 0 0;
      row-gap: 0.8rem;
    }

    .p-paginator-page {
      color: var.$dark-blue-1;
      border-radius: 4px;
      background: white;

      &:hover {
        background: var.$bg-blue-2;
      }
    }

    .p-paginator-page-selected {
      color: white;
      border-radius: 4px;
      background: var.$pr-blue-1;

      &:hover {
        background: var.$pr-blue-1;
      }
    }

    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
      color: var.$grey-1;
      border-radius: 4px;
    }

    .p-paginator-next:hover,
    .p-paginator-last:hover,
    .p-paginator-first:hover,
    .p-paginator-prev:hover {
      color: var.$dark-blue-1;
    }

    .p-paginator-next:not(.p-disabled):hover,
    .p-paginator-last:not(.p-disabled):hover,
    .p-paginator-first:not(.p-disabled):hover,
    .p-paginator-prev:not(.p-disabled):hover {
      background: white;
    }

    .p-select-overlay {
      background: white;
      border: 1px solid var.$grey-2;
      color: var.$dark-blue-1;
    }

    .p-select-option {
      &.p-select-option-selected {
        background-color: white;
        color: var.$dark-blue-1;

        &:hover {
          background: var.$bg-blue-3;
          color: var.$dark-blue-1;
        }
      }

      &:not(.p-select-option-selected):not(.p-disabled).p-focus {
        background: var.$bg-blue-3;
        color: var.$dark-blue-1;
      }
    }

    p-select {
      background: white;
      border: 1px solid var.$grey-2;

      span {
        color: var.$dark-blue-1;
      }
    }
  }

  .addon-table {
    tr {
      &.background-warning td {
        background-color: var.$red-2;
      }

      &.background-success td {
        background-color: var.$green-2;
      }
    }
  }
}

@media (max-width: 1279.99px) {
  .home-table {
    .p-datatable {
      padding: 1.71rem 0.85rem 1.71rem 0.85rem;
    }

    table {
      th,
      td {
        max-width: calc((100vw - 6.85rem - 2px) / 3);
      }
    }
  }

  .addon-table {
    .p-datatable {
      padding: 0.85rem;
      overflow-x: auto;
    }
  }
}

@media (max-width: 599.99px) {
  .home-table {
    .p-datatable {
      padding: 0.4rem;
    }

    table {
      thead {
        display: none;
      }

      tr {
        max-width: calc(100vw - 3.14rem - 2px);
        display: flex;
        flex-direction: column;
        padding: 0.85rem;
        background: var.$bg-blue-3;

        td {
          max-width: calc(100vw - 3.14rem - 2px);
          height: 2rem;
          line-height: 2rem;
          padding: 0;
          border: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      tbody {
        display: flex;
        flex-direction: column;
        row-gap: 0.42rem;
      }
    }
  }

  .addon-table {
    width: 100%;
    overflow-x: auto;
    display: block;

    .p-datatable {
      padding: 0.85rem;
      width: 100%;

      table {
        width: 100%;
        table-layout: auto;
      }

      td {
        white-space: wrap;
        overflow: visible;
        text-overflow: unset;
        max-width: max-content;
      }

      td:nth-child(2) {
        white-space: nowrap;
      }
    }
  }
}
