@use "assets/styles/variables" as var;

@layer reset {
  p-table {
    .p-datatable {
      margin-top: 24px;
      border: 1px solid var.$grey-2;
      border-radius: 8px;
      padding: 24px;
    }

    table {
      th,
      td {
        color: var.$dark-blue-1;
        border: none;
        height: 60px;
        max-width: calc((100vw - 27rem) / 3);
      }

      th {
        background-color: white;
        font-weight: 700;
        padding-top: 0;

        .p-sortable-column-icon {
          color: var.$grey-1;
          margin-left: 6px;
        }
      }

      td {
        background-color: var.$bg-blue-3;
        border-bottom: 12px solid white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .addon-table {
    tr {
      &.background-warning td {
        background-color: var.$red-2;
      }

      &.background-success td {
        background-color: var.$green-2;
      }
    }
  }
}

@media (max-width: 1279.99px) {
  .home-table {
    .p-datatable {
      padding: 1.71rem 0.85rem 1.71rem 0.85rem;
    }

    table {
      th,
      td {
        max-width: calc((100vw - 6.85rem - 2px) / 3);
      }
    }
  }

  .addon-table {
    .p-datatable {
      padding: 0.85rem;
      overflow-x: auto;
    }
  }
}

@media (max-width: 599.99px) {
  .home-table {
    .p-datatable {
      padding: 0.4rem;
    }

    table {
      thead {
        display: none;
      }

      tr {
        max-width: calc(100vw - 3.14rem - 2px);
        display: flex;
        flex-direction: column;
        padding: 0.85rem;
        background: var.$bg-blue-3;

        td {
          max-width: calc(100vw - 3.14rem - 2px);
          height: 2rem;
          line-height: 2rem;
          padding: 0;
          border: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      tbody {
        display: flex;
        flex-direction: column;
        row-gap: 0.42rem;
      }
    }
  }

  .addon-table {
    width: 100%;
    overflow-x: auto;
    display: block;

    .p-datatable {
      padding: 0.85rem;
      width: 100%;

      table {
        width: 100%;
        table-layout: auto;
      }

      td {
        white-space: wrap;
        overflow: visible;
        text-overflow: unset;
        max-width: max-content;
      }

      td:nth-child(2) {
        white-space: nowrap;
      }
    }
  }
}
