@use "assets/styles/variables" as var;

.p-tab {
  padding: 1rem 1.7rem 1rem 1.7rem;

  &:not(.p-tab-active):hover {
    background: var.$white-60;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.p-tabpanels {
  padding: 1.71rem;
}

.p-tablist-tab-list {
  background: transparent;
  border: none;

  .p-tab {
    color: var.$dark-blue-1;
    border: none;
  }

  .p-tab-active {
    background: white;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-color: transparent;
  }

  .p-tablist-active-bar {
    display: none;
  }
}

.resources-tab-panel {
  .p-tabpanels {
    padding: 0 !important;
  }
}
