@use "assets/styles/variables" as var;
@use "../mixins" as mix;

.p-tab {
  padding: mix.rem(12px) mix.rem(24px);

  &:not(.p-tab-active):hover {
    background: var.$white-60;
    border-top-left-radius: mix.rem(12px);
    border-top-right-radius: mix.rem(12px);
  }
}

.p-tabpanels {
  padding: mix.rem(24px);
}

.p-tablist-tab-list {
  background: transparent;
  border: none;

  .p-tab {
    color: var.$dark-blue-1;
    border: none;
  }

  .p-tab-active {
    background: var.$white;
    border-top-left-radius: mix.rem(12px);
    border-top-right-radius: mix.rem(12px);
    border-color: transparent;
  }

  .p-tablist-active-bar {
    display: none;
  }
}

.resources-tab-panel {
  .p-tabpanels {
    padding: 0 !important;
  }

  .p-tablist {
    padding: mix.rem(48px) mix.rem(24px) 0;
  }
}
