@use "assets/styles/variables" as var;

.p-tag {
  height: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 4px;
}

.p-tag-warn {
  background: var.$yellow-2;
  color: var.$yellow-1;
}

.p-tag-secondary {
  background: var.$grey-1;
  color: var.$white;
}

.p-tag-info {
  color: var.$dark-blue-1;
  background: var.$bg-blue-3;
  font-weight: normal;
}
