.p-toast-message-content {
  align-items: center;
}

.p-toast-message-icon {
  display: none;
}

.p-toast-detail {
  display: none;
}

.p-toast-message-success {
  --p-toast-success-border-color: transparent;
  --p-toast-success-color: var(--white);
  --p-toast-success-background: var(--green-1);
  --p-toast-success-close-button-hover-background: var(--green-2);
}

.p-toast-message-warn {
  --p-toast-warn-border-color: transparent;
  --p-toast-warn-color: var(--white);
  --p-toast-warn-background: var(--yellow-1);
  --p-toast-warn-close-button-hover-background: var(--yellow-2);
}

.p-toast-message-error {
  --p-toast-error-border-color: transparent;
  --p-toast-error-color: var(--white);
  --p-toast-error-background: var(--red-1);
  --p-toast-error-close-button-hover-background: var(--red-2);
}
