@use "../variables" as var;
@use "../mixins" as mix;

.p-toast-message-success {
  --p-toast-success-border-color: transparent;
  --p-toast-success-color: var(--green-1);
  --p-toast-success-background: var(--green-2);
}

.p-toast-message-info {
  --p-toast-info-border-color: transparent;
  --p-toast-info-color: var(--green-1);
  --p-toast-info-background: var(--green-2);
}

.p-toast-message-warn {
  --p-toast-warn-border-color: transparent;
  --p-toast-warn-color: var(--yellow-1);
  --p-toast-warn-background: var(--yellow-2);
}

.p-toast-message-error {
  --p-toast-error-border-color: transparent;
  --p-toast-error-color: var(--red-1);
  --p-toast-error-background: var(--red-2);
}

.p-toast-detail {
  display: none;
}

.p-toast-close-button {
  margin: -10% 0 0 0;
}
