<div class="flex flex-wrap gap-2">
  @if (isLoading()) {
    <p-skeleton height="45px" width="45px" />
  } @else {
    @for (institution of institutions(); track institution.id) {
      <a
        [routerLink]="['/institutions', institution.id]"
        target="_blank"
        rel="noopener noreferrer"
        [pTooltip]="institution.name"
        tooltipPosition="top"
      >
        <img [src]="institution.assets.logo" height="45" alt="Institution logo" />
      </a>
    } @empty {
      <p>{{ 'common.labels.noAffiliatedInstitutions' | translate }}</p>
    }
  }
</div>
