<div
  [formGroup]="group()"
  class="flex flex-column row-gap-4 border-1 border-round-lg grey-border-color p-3 md:p-4 xl:p-5"
>
  <div class="flex flex-row justify-content-between">
    <h2>
      {{ 'settings.profileSettings.social.title' | translate: { index: index() + 1 } }}
    </h2>
  </div>

  <div class="flex flex-column row-gap-4 w-full md:flex-row md:align-items-end md:column-gap-3">
    <div class="w-full md:w-12">
      <label for="id">{{ label() | translate }}</label>

      <p-inputgroup class="addon-input flex-wrap">
        @if (domain()) {
          <p-inputgroup-addon class="border-1 grey-border-color md:border-0">
            {{ domain() }}
          </p-inputgroup-addon>
        }

        <input pInputText [placeholder]="placeholder()" formControlName="webAddress" [maxlength]="socialMaxLength" />

        @if (hasLinkedField()) {
          <p-inputgroup-addon class="border-1 grey-border-color md:border-0"> {{ linkedDomain() }} </p-inputgroup-addon>

          <input
            pInputText
            [placeholder]="linkedPlaceholder()"
            formControlName="linkedWebAddress"
            [maxlength]="socialMaxLength"
          />
        }
      </p-inputgroup>
    </div>
  </div>
</div>
