.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--grey-3) var(--dark-blue-1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--dark-blue-1);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--grey-3);
  border-radius: 4px;
  border: 2px solid var(--dark-blue-1);
}
