.p-06 {
  padding: 0.6rem;
}

.hover-group {
  .icon-button {
    opacity: 0;
    transition: opacity;
  }

  &:hover {
    .icon-button {
      opacity: 100;
    }
  }
}

.download-button {
  --p-button-outlined-color: var(--grey-2);
  --p-button-padding-y: 0.625rem;
}

.child-button-0-padding {
  --p-button-padding-y: 0;
  --p-button-icon-only-width: max-content;
}
