<div class="flex justify-content-between align-items-center py-2 px-0 md:py-3 md:px-3">
  <div class="hidden md:block">
    <ng-content select="[slot=amount]"></ng-content>
  </div>

  <p-menu #downloadMenu [model]="downloadMenuItems" appendTo="body" popup>
    <ng-template #item let-item>
      <a
        class="p-menu-item-link ml-1"
        osfStopPropagation
        (click)="downloadClicked.emit(item.value)"
        (keydown.enter)="downloadClicked.emit(item.value)"
        tabindex="0"
      >
        <i [class]="item.icon"></i>

        {{ item.label }}
      </a>
    </ng-template>
  </p-menu>

  <div class="flex align-items-center gap-2 flex-column w-full md:flex-row md:w-fit">
    <ng-content select="[slot=otherFilters]"></ng-content>

    <div class="flex align-items-center gap-2 justify-content-between w-full md:justify-content-start md:w-fit">
      <p-multiselect
        class="w-9 md:w-fit"
        [options]="tableColumns()"
        [(ngModel)]="selectedColumns"
        (onChange)="onColumnSelectionChange($event.value)"
        optionLabel="header"
        [showToggleAll]="false"
        [showClear]="false"
        [dropdownIcon]="'hidden'"
      >
        <ng-template let-values pTemplate="selectedItems">
          <div class="flex align-items-center gap-2">
            <i class="fa fa-table-columns text-primary font-bold"></i>
            <span>{{ 'adminInstitutions.institutionUsers.customize' | translate }}</span>
          </div>
        </ng-template>

        <ng-template #item let-item>
          {{ item.header | translate }}
        </ng-template>
      </p-multiselect>

      <p-button
        icon="fa fa-download text-primary text-xl"
        outlined
        class="grey-border-color download-button"
        severity="info"
        (click)="downloadMenu.toggle($event)"
      />

      @if (reportsLink()) {
        <a
          pButton
          [href]="reportsLink()"
          class="p-button p-button-outlined p-button-sm p-06 font-bold grey-border-color child-button-0-padding no-underline"
          target="_blank"
        >
          <i class="fa fa-chart-pie text-xl"></i>
        </a>
      }
    </div>
  </div>
</div>

<p-table
  [columns]="selectedColumnsComputed()"
  [value]="tableData()"
  [autoLayout]="true"
  [scrollable]="true"
  [sortMode]="'single'"
  (onSort)="onSort($event)"
  [sortField]="sortColumn()"
  [sortOrder]="currentSortOrder()"
  [customSort]="true"
  [resetPageOnSort]="false"
  class="institution-admin-table"
>
  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track col.field) {
        <th [pSortableColumn]="col.sortable ? col.field : null" (click)="onHeaderClick(col)">
          <div class="flex align-items-center gap-2">
            <span>{{ col.header | translate }}</span>
            @if (col.sortable) {
              <p-sortIcon [field]="col.field"></p-sortIcon>
            }
          </div>
        </th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-rowData let-columns="columns">
    <tr>
      @for (col of columns; track col.field) {
        <td class="relative">
          <div class="flex align-items-center hover-group">
            @if (col.isLink && isLink(rowData[col.field])) {
              <a
                [href]="getLinkUrl(rowData[col.field])"
                [target]="getLinkTarget(rowData[col.field], col)"
                class="text-primary no-underline hover:underline"
              >
                @if (col.dateFormat) {
                  {{ getCellValue(rowData[col.field]) | date: col.dateFormat }}
                } @else {
                  {{ getCellValue(rowData[col.field]) }}
                }
              </a>
            } @else {
              @if (col.dateFormat) {
                {{ getCellValue(rowData[col.field]) | date: col.dateFormat }}
              } @else {
                {{ getCellValue(rowData[col.field]) }}
              }
            }

            @if (col.showIcon) {
              <p-button
                [pTooltip]="col.iconTooltip | translate"
                class="icon-button pl-3"
                [icon]="col.iconClass"
                variant="text"
                severity="info"
                (click)="onIconClick(rowData, col)"
              />
            }
          </div>
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="15" class="text-center">{{ 'adminInstitutions.institutionUsers.noData' | translate }}</td>
    </tr>
  </ng-template>
</p-table>

@if (isNextPreviousPagination()) {
  <div class="flex column-gap-2 w-full justify-content-center pt-2">
    @if (firstLink() && prevLink()) {
      <p-button icon="fas fa-angles-left" severity="contrast" text (click)="switchPage(firstLink())"></p-button>
    }

    <p-button
      icon="fas fa-angle-left"
      severity="contrast"
      text
      [disabled]="!prevLink()"
      (click)="switchPage(prevLink())"
    >
    </p-button>

    <p-button
      icon="fas fa-angle-right"
      severity="contrast"
      text
      [disabled]="!nextLink()"
      (click)="switchPage(nextLink())"
    >
    </p-button>
  </div>
} @else {
  @if (enablePagination() && totalCount() > pageSize()) {
    <div class="p-3">
      <osf-custom-paginator
        [first]="first()"
        [totalCount]="totalCount()"
        [rows]="pageSize()"
        (pageChanged)="onPageChange($event)"
      ></osf-custom-paginator>
    </div>
  }
}
