.hover-group {
  .icon-button {
    opacity: 0;
    transition: opacity;
  }

  &:hover {
    .icon-button {
      opacity: 100;
    }
  }
}

.max-w-link-with-icon {
  max-width: 16rem;
}

.max-w-full-link {
  max-width: 20rem;
}

.child-button-0-padding {
  --p-button-padding-y: 0;
  --p-button-icon-only-width: max-content;
}
