<div [formGroup]="group()" class="flex flex-column border-1 border-round-lg p-4 grey-border-color row-gap-4">
  <div class="flex flex-row justify-content-between">
    <h2>
      {{ 'settings.profileSettings.employment.title' | translate: { index: index() + 1 } }}
    </h2>

    @if (index() !== 0) {
      <div>
        <p-button
          [label]="'common.buttons.remove' | translate"
          severity="danger"
          variant="text"
          (click)="remove.emit()"
        />
      </div>
    }
  </div>

  <div class="flex flex-column row-gap-4">
    <div class="w-full">
      <osf-text-input
        [control]="titleControl"
        [label]="'settings.profileSettings.employment.jobTitle'"
        [maxLength]="institutionMaxLength"
      ></osf-text-input>
    </div>

    <div class="flex w-full column-gap-3 row-gap-4 flex-wrap lg:flex-nowrap">
      <div class="w-full lg:w-6">
        <label for="department-{{ index() }}" class="mb-1">
          {{ 'settings.profileSettings.employment.department' | translate }}
        </label>

        <input pInputText [id]="'department-' + index()" class="w-full" formControlName="department" />
      </div>

      <div class="w-full lg:w-6">
        <label for="institution-{{ index() }}" class="mb-1">
          {{ 'settings.profileSettings.employment.institution' | translate }}
        </label>

        <input pInputText [id]="'institution-' + index()" class="w-full" formControlName="institution" />
      </div>
    </div>

    <div class="flex gap-5 flex-column align-items-start md:flex-row md:align-items-end lg:align-items-center lg:gap-3">
      <div class="flex column-gap-3 row-gap-4 flex-wrap w-full md:w-6 lg:flex-nowrap">
        <div class="w-full lg:w-6">
          <label for="start-date-{{ index() }}" class="mb-1">
            {{ 'settings.profileSettings.employment.startDate' | translate }}
          </label>

          <p-datepicker
            [id]="'start-date-' + index"
            formControlName="startDate"
            [dateFormat]="dateFormat"
            [iconDisplay]="'input'"
            [showIcon]="true"
            [maxDate]="maxDate"
            [minDate]="minDate"
          ></p-datepicker>
        </div>

        @if (!group().controls['ongoing'].value) {
          <div class="w-full lg:w-6">
            <label for="end-date-{{ index() }}" class="mb-1">
              {{ 'settings.profileSettings.employment.endDate' | translate }}
            </label>

            <p-datepicker
              [id]="'end-date-' + index"
              formControlName="endDate"
              [dateFormat]="dateFormat"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [maxDate]="maxDate"
              [minDate]="minDate"
            ></p-datepicker>
          </div>
        }
      </div>

      <div class="flex align-items-center w-full md:w-6 md:mb-3 lg:mb-0 lg:mt-4">
        <p-checkbox
          [binary]="true"
          formControlName="ongoing"
          [inputId]="'ongoing-' + index"
          name="ongoing"
        ></p-checkbox>

        <label [for]="'ongoing-' + index" class="ml-2 mb-0 cursor-pointer">
          {{ 'settings.profileSettings.employment.presentlyEmployed' | translate }}
        </label>
      </div>
    </div>

    @if (isDateError) {
      <p-message class="simple-variant flex" severity="error" variant="simple" size="small">
        {{ 'settings.profileSettings.endDateError' | translate }}
      </p-message>
    }
  </div>
</div>
