<osf-sub-header title="File Name" />

<!-- [KP] TODO: wait for cedar be done by Volodymyr -->
<!--<div class="flex gap-4 bg-white flex-column h-full flex-1 p-4">-->
<!--  <h1 class="font-normal text-no-transform">Select a Metadata Template</h1>-->
<!--  <p>OSF has partnered with <a href="https://metadatacenter.org/">CEDAR</a> to provide more ways to annotate your research with domain or community-specific metadata records. If you would like to request the addition of a new metadata template, contact us at <a href="support@osf.io">support&#64;osf.io</a></p>-->
<!--  <h3>Available Templates from CEDAR</h3>-->

<!--  <div class="flex flex-column align-items-center md:flex-row md:flex-wrap gap-4">-->
<!--    @for (template of templates(); track template.id) {-->
<!--      <p-card class="w-full md:w-25rem">-->
<!--        <div class="flex flex-column gap-3 align-items-center justify-content-center">-->
<!--          <h2>{{template.title}}</h2>-->
<!--          <p class="text-center">{{template.description}}</p>-->
<!--          <p-button [label]="'Select'"></p-button>-->
<!--        </div>-->
<!--      </p-card>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->
