<osf-sub-header [title]="'navigation.wiki' | translate" [tooltip]="'project.wiki.tooltip' | translate">
  <p-buttongroup class="ml-auto">
    <p-button
      [label]="'project.wiki.view' | translate"
      [variant]="wikiModes().view ? undefined : 'outlined'"
      (onClick)="toggleMode(WikiModes.View)"
    />
    <p-button
      [label]="'project.wiki.compare' | translate"
      [variant]="wikiModes().compare ? undefined : 'outlined'"
      (onClick)="toggleMode(WikiModes.Compare)"
    />
  </p-buttongroup>
</osf-sub-header>

<section class="flex flex-column lg:flex-row bg-white flex-1 h-full p-5 gap-4 w-full overflow-auto wiki-page">
  <osf-wiki-list
    [viewOnly]="true"
    [list]="wikiList()"
    [resourceId]="resourceId"
    [isLoading]="isWikiListLoading()"
    [componentsList]="[]"
    [currentWikiId]="currentWikiId()"
  ></osf-wiki-list>
  @if (wikiModes().view) {
    <osf-view-section
      [viewOnly]="true"
      [versions]="wikiVersions()"
      [previewContent]="previewContent()"
      [versionContent]="versionContent()"
      [isLoading]="isWikiVersionLoading()"
      (selectVersion)="onSelectVersion($event)"
    ></osf-view-section>
  }
  @if (wikiModes().compare) {
    <osf-compare-section
      [versions]="wikiVersions()"
      [previewContent]="previewContent()"
      [versionContent]="compareVersionContent()"
      [isLoading]="isWikiVersionLoading()"
      (selectVersion)="onSelectCompareVersion($event)"
    ></osf-compare-section>
  }
</section>
