<div class="flex justify-content-between align-items-center mb-4 column-gap-3">
  <div class="flex flex-1 flex-column gap-7 results-count-heading">
    @if (collectionSubmissions().length) {
      <h3 class="highlight">
        {{ collectionSubmissions().length }} {{ 'collections.searchResults.results' | translate }}
      </h3>
    } @else if (collectionSubmissions().length > 10000) {
      <h3 class="highlight">{{ 'collections.searchResults.10000results' | translate }}</h3>
    } @else {
      <h3 class="highlight">{{ 'collections.searchResults.noResults' | translate }}</h3>
    }
  </div>

  <div class="flex align-items-center gap-2">
    @if (isWeb()) {
      <p>{{ 'collections.filters.sort.label' | translate }}</p>
      <p-select
        class="no-border-dropdown font-bold"
        [options]="sortOptions"
        optionLabel="label"
        optionValue="value"
        [ngModel]="selectedSort()"
        (ngModelChange)="handleSortBy($event)"
        appendTo="body"
      >
        <ng-template #selectedItem let-selectedOption>
          {{ selectedOption.label | translate }}
        </ng-template>
        <ng-template #item let-option>
          {{ option.label | translate }}
        </ng-template>
      </p-select>
    } @else {
      <p-button severity="secondary" icon="fas fa-sliders" size="large" (click)="openFilters()"></p-button>

      <p-button severity="secondary" icon="fas fa-filter" size="large" (click)="openSorting()"></p-button>
    }
  </div>
</div>

@if (isFiltersOpen()) {
  <div class="pb-5">
    <osf-collections-filters />
  </div>
} @else if (isSortingOpen()) {
  <div class="flex flex-column pb-5 gap-3">
    @for (option of sortOptions; track option.value) {
      <div
        class="sort-card"
        tabindex="0"
        role="button"
        [class]="{ 'card-selected': selectedSort() === option.value }"
        (click)="handleSortBy(option.value)"
        (keydown.enter)="handleSortBy(option.value)"
      >
        {{ option.label | translate }}
      </div>
    }
  </div>
} @else {
  @if (hasAnySelectedFilters()) {
    <osf-collections-filter-chips />
  }
}

<div class="flex column-gap-4 filters-resources-web">
  @if (isWeb()) {
    @if (!isCollectionLoading()) {
      <osf-collections-filters />
    } @else {
      <p-skeleton width="22rem" height="30rem" />
    }
  }

  <osf-collections-search-results />
</div>
