<p-panel>
  <ng-template #header>
    <div class="flex align-items-center justify-content-between w-full">
      <h2 class="mr-2">{{ 'project.wiki.edit' | translate }}</h2>
      <div class="ml-auto flex">
        <p-button label="Save" severity="success" class="mr-2"></p-button>
        <p-button label="Revert" severity="danger"></p-button>
      </div>
    </div>
  </ng-template>
  <div class="flex align-items-center mb-2"></div>

  <p-panel showHeader="false">
    <p class="mt-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt aspernatur natus esse sit iste dolor animi,
      maiores eius porro aliquid. Facere at voluptatem ducimus modi sed hic voluptatibus fuga magni?
    </p>
  </p-panel>
</p-panel>
