<p-panel>
  <ng-template #header>
    <div class="flex align-items-center justify-content-between w-full">
      <h2 class="mr-2">{{ 'project.wiki.edit' | translate }}</h2>
      <div class="ml-auto flex">
        <p-button label="Save" severity="success" class="mr-2" (click)="save()"></p-button>
        <p-button label="Revert" severity="danger" (click)="revert()"></p-button>
      </div>
    </div>
  </ng-template>

  <div class="mt-3 h-full">
    <md-editor
      id="md-editor"
      name="Content"
      [ngModel]="content"
      (ngModelChange)="onContentChanged($event)"
      [options]="options"
      (onEditorLoaded)="onEditorLoaded($event)"
      (onPreviewDomChanged)="onPreviewDomChanged($event)"
      required
      maxlength="600"
      height="100%"
    >
      <slot custom-btns>
        <button class="btn btn-sm btn-default" (click)="undo()">
          <i class="fas fa-rotate-left"></i>
        </button>
        <button class="btn btn-sm btn-default" (click)="redo()">
          <i class="fas fa-rotate-right"></i>
        </button>
        <div class="btn-group">
          <button class="btn btn-sm btn-default" (click)="doHorizontalRule()">
            <i class="fas fa-grip-lines"></i>
          </button>
        </div>
      </slot>
    </md-editor>
  </div>
</p-panel>
