@let rowItem = item();

<div class="files-table-row flex align-items-center py-2" [class]="isIndented() ? 'pl-6' : 'px-3'">
  <div class="flex align-items-center gap-2 w-full">
    @if (isFile()) {
      <osf-icon class="disabled-icon" iconClass="fas fa-file disabled-icon"></osf-icon>
      <div class="filename-link overflow-ellipsis disabled">{{ rowItem.name }}</div>
    } @else if (isBlocked()) {
      <osf-icon class="disabled-icon" iconClass="fas fa-folder disabled-icon"></osf-icon>

      <div class="filename-link overflow-ellipsis" [pTooltip]="'files.dialogs.moveFile.cannotMove' | translate">
        {{ rowItem.name }}
      </div>
    } @else {
      <p-button
        class="filename-link link-btn-no-padding overflow-ellipsis font-normal"
        icon="fas fa-folder"
        severity="secondary"
        [link]="true"
        [label]="rowItem.name"
        (onClick)="openFolder.emit(rowItem)"
      />
    }
  </div>
</div>
