<section class="flex flex-column p-4 gap-4">
  <h2>{{ 'project.overview.files.filesPreview' | translate }}</h2>
  <osf-select
    class="w-full"
    [options]="options()"
    [(selectedValue)]="selectedRoot"
    (changeValue)="onChangeProject($event)"
    [fullWidth]="true"
    [disabled]="isStorageLoading()"
  />
  @if (isStorageLoading()) {
    <div class="flex pl-1 gap-3">
      <p-skeleton width="6rem" height="2.5rem" />
      <p-skeleton width="6rem" height="2.5rem" />
      <p-skeleton width="6rem" height="2.5rem" />
    </div>
  } @else {
    <p-tabs [value]="currentRootFolder()?.folder?.id" (valueChange)="onStorageChange($event)" scrollable>
      <p-tablist>
        @for (option of storageAddons(); track option.folder.id) {
          <p-tab class="addon-tab p-2" [value]="option.folder.id" [disabled]="isFilesLoading()">
            <div
              class="addon-option border-round-lg font-bold"
              [class.p-button-raised]="option.folder.id === currentRootFolder()?.folder?.id"
              [class.selected]="option.folder.id === currentRootFolder()?.folder?.id"
            >
              {{ option.label }}
            </div>
          </p-tab>
        }
      </p-tablist>
    </p-tabs>

    <div class="flex">
      <p-button
        raised
        outlined
        [icon]="'fas fa-download'"
        [label]="'files.actions.downloadAsZip' | translate"
        [disabled]="isButtonDisabled()"
        (onClick)="downloadFolder()"
      />
    </div>
  }

  <osf-files-tree
    [files]="files()"
    [totalCount]="filesTotalCount()"
    [currentFolder]="currentFolder()!"
    [storage]="currentRootFolder()!"
    [isLoading]="isFilesLoading() || isStorageLoading()"
    [scrollHeight]="'300px'"
    (fileOpened)="navigateToFile($event)"
    (loadFiles)="onLoadFiles($event)"
    (currentFolderChanged)="setCurrentFolder($event)"
  >
  </osf-files-tree>
</section>
