<form
  [formGroup]="tokenForm"
  (ngSubmit)="submitForm()"
  class="flex flex-column gap-4"
>
  <div class="flex flex-column">
    <label for="token-name">Token Name</label>
    <input
      pInputText
      id="token-name"
      type="text"
      autocomplete="off"
      [formControlName]="TokenFormControls.TokenName"
    />
  </div>

  <div class="flex flex-column gap-4">
    <div class="flex flex-column gap-2">
      <h3 class="scope-label">Scopes</h3>
      <p class="scope-description">
        Scopes limit access for personal access tokens.
      </p>
    </div>

    <div class="flex flex-column gap-4">
      @for (scope of availableScopes; track scope.name) {
        <div class="flex align-items-start gap-2">
          <p-checkbox
            [value]="scope.name"
            [formControlName]="TokenFormControls.Scopes"
            [inputId]="scope.name"
          />
          <div class="flex flex-column gap-1">
            <label [for]="scope.name" class="scope-name">
              <h3>{{ scope.name }}</h3>
            </label>
            <span>{{ scope.description }}</span>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="flex justify-content-end gap-2">
    @if (isEditMode()) {
      <p-button
        [class.w-10rem.btn-full-width]="!isXSmall()"
        [ngClass]="isXSmall() ? 'btn-half-width' : 'w-10rem btn-full-width'"
        label="Save"
        type="submit"
        [disabled]="!tokenForm.valid"
      />
    } @else {
      <p-button label="Cancel" severity="info" (click)="dialogRef.close()" />
      <p-button
        label="Create Token"
        type="submit"
        [disabled]="!tokenForm.valid"
      />
    }
  </div>
</form>
