<section class="nav-container">
  <img ngSrc="assets/images/logo.svg" alt="OSF Logo" height="36" width="106" />
  <p-drawer
    [modal]="true"
    [visible]="isDrawerVisible()"
    (visibleChange)="isDrawerVisible.set($event)"
    [closable]="false"
  >
    <osf-nav-menu (closeMenu)="toggleMenuVisibility()" />
  </p-drawer>
  <p-button class="topnav-btn" severity="contrast" (onClick)="toggleMenuVisibility()">
    <i [class]="!isDrawerVisible() ? 'osf-icon-menu' : 'osf-icon-close'" class="topnav-icon"></i>
  </p-button>
</section>
