@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

:host {
  z-index: 1300;

  .nav-container {
    @include mix.flex-center-between;
    background: var.$dark-blue-1;
    padding: 1.8rem 1.6rem;
    color: var.$white;

    .topnav-icon {
      font-size: 2.1rem;
    }
  }
}
