@if (filters().dateCreated.value) {
  @let dateCreated = filters().dateCreated.filterName + ': ' + filters().dateCreated.label;
  <p-chip
    [label]="dateCreated"
    removeIcon="fas fa-close"
    removable
    (onRemove)="clearFilter(FilterType.DateCreated)"
  ></p-chip>
}

@if (filters().funder.value) {
  @let funder = filters().funder.filterName + ': ' + filters().funder.label;

  <p-chip [label]="funder" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.Funder)"></p-chip>
}

@if (filters().subject.value) {
  @let subject = filters().subject.filterName + ': ' + filters().subject.label;
  <p-chip [label]="subject" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.Subject)"></p-chip>
}

@if (filters().license.value) {
  @let license = filters().license.filterName + ': ' + filters().license.label;
  <p-chip [label]="license" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.License)"></p-chip>
}

@if (filters().resourceType.value) {
  @let resourceType = filters().resourceType.filterName + ': ' + filters().resourceType.label;
  <p-chip
    [label]="resourceType"
    removeIcon="fas fa-close"
    removable
    (onRemove)="clearFilter(FilterType.ResourceType)"
  ></p-chip>
}

@if (filters().institution.value) {
  @let institution = filters().institution.filterName + ': ' + filters().institution.label;
  <p-chip
    [label]="institution"
    removeIcon="fas fa-close"
    removable
    (onRemove)="clearFilter(FilterType.Institution)"
  ></p-chip>
}

@if (filters().provider.value) {
  @let provider = filters().provider.filterName + ': ' + filters().provider.label;
  <p-chip [label]="provider" removeIcon="fas fa-close" removable (onRemove)="clearFilter(FilterType.Provider)"></p-chip>
}

@if (filters().partOfCollection.value) {
  @let partOfCollection = filters().partOfCollection.filterName + ': ' + filters().partOfCollection.label;
  <p-chip
    [label]="partOfCollection"
    removeIcon="fas fa-close"
    removable
    (onRemove)="clearFilter(FilterType.PartOfCollection)"
  ></p-chip>
}
