<div class="flex-column flex flex-1 w-full bg-white lg:flex-row">
  <div class="col-12 lg:col-6 flex flex-column gap-4">
    <p-card>
      <div class="flex justify-content-between flex-wrap gap-4">
        <div class="flex flex-column gap-2 flex-1">
          <h2>
            {{ 'project.overview.metadata.dateCreated' | translate }}
          </h2>

          <p class="m-0">
            {{ metadata()?.dateCreated | date: 'MMM d, y, h:mm a' }}
          </p>
        </div>

        <div class="flex flex-column gap-2 flex-1">
          <h2>
            {{ 'project.overview.metadata.dateUpdated' | translate }}
          </h2>

          <p class="m-0">
            {{ metadata()?.dateModified | date: 'MMM d, y, h:mm a' }}
          </p>
        </div>
      </div>
    </p-card>

    <osf-metadata-contributors
      [readonly]="readonly()"
      (openEditContributorDialog)="openEditContributorDialog.emit()"
      [contributors]="metadata()?.contributors || []"
    />

    <osf-metadata-description
      [readonly]="readonly()"
      (openEditDescriptionDialog)="openEditDescriptionDialog.emit()"
      [description]="metadata()?.description!"
    />

    <osf-metadata-resource-information
      [readonly]="readonly()"
      (openEditResourceInformationDialog)="openEditResourceInformationDialog.emit()"
      (showResourceInfo)="showResourceInfo.emit()"
      [customItemMetadata]="customItemMetadata()!"
    />

    <osf-metadata-funding
      [readonly]="readonly()"
      (openEditFundingDialog)="openEditFundingDialog.emit()"
      [funders]="customItemMetadata()?.funders!"
    />

    <osf-metadata-affiliated-institutions
      [readonly]="readonly()"
      (openEditAffiliatedInstitutionsDialog)="openEditAffiliatedInstitutionsDialog.emit()"
      [affiliatedInstitutions]="affiliatedInstitutions()"
    />
  </div>

  <div class="col-12 lg:col-6 flex flex-column gap-4">
    <osf-metadata-license
      (openEditLicenseDialog)="openEditLicenseDialog.emit()"
      [hideEditLicense]="hideEditLicence() || readonly()"
      [license]="metadata()?.license!"
    />

    <osf-metadata-publication-doi
      (openEditPublicationDoiDialog)="handleEditDoi.emit()"
      [hideEditDoi]="hideEditDoi() || readonly()"
      [identifiers]="metadata()?.identifiers!"
      [publicationDoi]="metadata()?.publicationDoi || null"
      [resourceType]="resourceType()"
    />

    <p-card>
      <div class="flex flex-column gap-3">
        <h2>{{ 'project.overview.metadata.tags' | translate }}</h2>

        <osf-tags-input
          [readonly]="readonly()"
          (tagsChanged)="tagsChanged.emit($event)"
          [tags]="metadata()?.tags || []"
        />
      </div>
    </p-card>

    <osf-metadata-subjects
      [readonly]="readonly()"
      (getSubjectChildren)="getSubjectChildren.emit($event)"
      (searchSubjects)="searchSubjects.emit($event)"
      (updateSelectedSubjects)="updateSelectedSubjects.emit($event)"
      [isSubjectsUpdating]="isSubjectsUpdating()!"
      [selectedSubjects]="selectedSubjects()"
    />
  </div>
</div>
