<p-card>
  <div class="flex justify-content-between align-items-center">
    <h2>{{ 'project.overview.metadata.description' | translate }}</h2>

    @if (!readonly()) {
      <p-button
        severity="secondary"
        [label]="'common.buttons.edit' | translate"
        (onClick)="openEditDescriptionDialog.emit()"
      ></p-button>
    }
  </div>

  <p data-test-display-node-description class="mt-4">
    {{ description() || ('project.overview.metadata.noDescription' | translate) }}
  </p>
</p-card>
