<section class="flex flex-column bg-white flex-1 h-full p-5 gap-4 w-full">
  <div>
    <h2 class="mb-2">{{ 'registries.metadata.title' | translate }}</h2>
    <p class="mb-4">{{ 'registries.metadata.description' | translate }}</p>
  </div>
  <form [formGroup]="metadataForm" (ngSubmit)="submitMetadata()" class="flex flex-column gap-4">
    <section data-test-registration-title-section>
      <p-card class="w-full">
        <label for="registration-title-id">
          <h2 class="mb-2">{{ 'common.labels.title' | translate }}</h2>
        </label>
        <p class="mb-1">{{ 'shared.title.description' | translate }}</p>
        <osf-text-input
          [inputId]="'registration-title-id'"
          [control]="metadataForm.controls['title']"
          [maxLength]="inputLimits.fullName.maxLength"
        >
        </osf-text-input>
      </p-card>
    </section>
    <section data-test-registration-description-section>
      <p-card>
        <div class="mt-2">
          <label for="registration-description-id" class="mb-2">
            <h2>{{ 'common.labels.description' | translate }}</h2>
          </label>
          <p class="mb-1">{{ 'shared.description.message' | translate }}</p>
          <textarea
            data-test-metadata-description
            id="project-description-id"
            formControlName="description"
            class="w-full"
            rows="5"
            cols="30"
            pTextarea
            [ariaLabel]="'common.labels.description' | translate"
          ></textarea>
          @if (
            metadataForm.controls['description'].errors?.['required'] &&
            (metadataForm.controls['description'].touched || metadataForm.controls['description'].dirty)
          ) {
            <p-message class="simple-variant flex mt-1" severity="error" variant="simple" size="small">
              {{ INPUT_VALIDATION_MESSAGES.required | translate }}
            </p-message>
          }
        </div>
        <div class="flex justify-content-end"></div>
      </p-card>
    </section>
    <osf-contributors [control]="metadataForm.controls['contributors']"></osf-contributors>
    <osf-registries-affiliated-institution></osf-registries-affiliated-institution>
    <osf-registries-license [control]="metadataForm.controls['license']"></osf-registries-license>
    <osf-registries-subjects [control]="metadataForm.controls['subjects']"></osf-registries-subjects>
    <osf-registries-tags></osf-registries-tags>
    <div class="flex justify-content-end">
      <p-button [label]="'registries.deleteDraft' | translate" severity="danger" (click)="deleteDraft()" class="mr-2">
      </p-button>
      <p-button data-test-goto-next-page [label]="'common.buttons.next' | translate" type="submit"></p-button>
    </div>
  </form>
</section>
