@use "assets/styles/variables" as var;

:host {
  .nav-menu {
    width: 100%;
    max-width: 15.5rem;

    .active {
      font-weight: 700;
      background-color: var.$dark-blue-2;
      border-radius: 0.5rem;
    }
  }
}
