@use "assets/styles/mixins" as mix;

.nav-menu {
  width: 250px;
  max-width: 250px;

  .active {
    background-color: var(--dark-blue-2);
    border-radius: mix.rem(8px);
    font-weight: 700;
  }
}
