<nav class="nav-menu">
  <p-panelMenu [model]="mainMenuItems" [multiple]="false">
    <ng-template #item let-item>
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: item.label !== 'My Projects' ? item.useExactMatch : true,
        }"
        class="nav-link flex"
        [class.mt-5]="item.label === 'Settings' || item.label === 'My Projects'"
        (click)="goToLink()"
      >
        @if (item.icon) {
          <i [class]="item.icon" class="nav-icon"></i>
        }
        <span>{{ item.label }}</span>
        @if (item.items) {
          <i
            [class]="item.expanded ? 'osf-icon-arrow-down' : 'osf-icon-arrow'"
            class="nav-icon ml-auto pt-1"
          ></i>
        }
      </a>

      @if (item.label === "My Projects" && isProjectRoute()) {
        <div class="ml-4">
          <p-panelMenu [model]="myProjectMenuItems" [multiple]="false">
            <ng-template #item let-item>
              <a
                [routerLink]="
                  item.routerLink
                    ? ['/my-projects', currentProjectId(), item.routerLink]
                    : null
                "
                [routerLinkActive]="item.routerLink ? 'active' : ''"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link flex"
              >
                @if (item.icon) {
                  <i [class]="item.icon" class="nav-icon"></i>
                }
                <span>{{ item.label }}</span>
                @if (item.items) {
                  <i
                    [class]="
                      item.expanded ? 'osf-icon-arrow-down' : 'osf-icon-arrow'
                    "
                    class="nav-icon ml-auto pt-1"
                  ></i>
                }
              </a>
            </ng-template>
          </p-panelMenu>
        </div>
      }
    </ng-template>
  </p-panelMenu>
</nav>
